In [1]:
import os
import pandas as pd
import numpy as np
import geopandas as gpd
from IPython.display import display
import googlemaps
from datetime import datetime
import time
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import geopy
from geopy.exc import GeocoderTimedOut

In [2]:
# read and check datasets in the raw file
external = pd.DataFrame()
path = os.getcwd().replace("notebooks","") + "data/raw/"
os.listdir(path)

['income.xlsx',
 'shapefile.zip',
 '.DS_Store',
 'covid_test.csv',
 'cemetery.csv',
 'shapefiles',
 'Median_Suburb_Quarterly_2020.xls',
 'Median_Suburb_Time_2021.xls',
 'Rental_Report_Quarterly_Median_2020.xlsx',
 '.gitkeep',
 'school_2021.csv',
 'functional.xlsx',
 'Rental_Report_Quarterly_Median_2021.xlsx',
 'school_2020.csv',
 'school_2022.csv',
 'Affordable_Lettings_2020.xlsx',
 'Gaming_Expenditure.xls',
 'Population_density_gaming_expenditures.xls',
 'datalink.txt',
 'Rental_Report_Quarterly.xlsx',
 '~$Rental_Report_Quarterly_Median_2021.xlsx',
 'Government_Organisations.xlsx',
 'GNR.csv',
 'Sport_Recreational_Facilities_list.xlsx',
 'Affordable_Lettings_2021.xlsx',
 'Median_Suburb_Quarterly_2021.xlsx',
 'australian_postcodes.csv',
 'property.json',
 'ambulance.csv',
 'crime.xlsx',
 'population.xlsx']

In [3]:
# read Australian_postcodes
postcode = pd.read_csv("../data/raw/australian_postcodes.csv")
display(postcode.head(5))
postcode.columns

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,MMM_2015,MMM_2019,ced,altitude,chargezone,phn_code,phn_name,lgaregion,electorate,electoraterating
0,230,200,ANU,ACT,149.11900,-35.277700,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
1,21820,200,Australian National University,ACT,149.11890,-35.277700,NaN,NaN,Added 19-Jan-2020,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
2,232,800,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
3,24049,800,DARWIN CITY,NT,130.83668,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
4,233,801,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 25-Mar-2020 SA3,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,NaN,NaN,Lingiari,Rural

Index(['id', 'postcode', 'locality', 'state', 'long', 'lat', 'dc', 'type',
       'status', 'sa3', 'sa3name', 'sa4', 'sa4name', 'region', 'Lat_precise',
       'Long_precise', 'SA1_MAINCODE_2011', 'SA1_MAINCODE_2016',
       'SA2_MAINCODE_2016', 'SA2_NAME_2016', 'SA3_CODE_2016', 'SA3_NAME_2016',
       'SA4_CODE_2016', 'SA4_NAME_2016', 'RA_2011', 'RA_2016', 'MMM_2015',
       'MMM_2019', 'ced', 'altitude', 'chargezone', 'phn_code', 'phn_name',
       'lgaregion', 'electorate', 'electoraterating'],
      dtype='object')

In [4]:
# extract postcode, SA2_MAINCODE_2016, SA2_NAME_2016 from postcode to external
external['postcode'] = postcode['postcode']
external['locality'] = postcode['locality']
external['state'] = postcode['state']
external['LGA'] = postcode['lgaregion']
external['SA3_NAME_2016'] = postcode['SA3_NAME_2016']
external['SA2_Code'] = postcode['SA2_MAINCODE_2016']
external['SA2_Name'] = postcode['SA2_NAME_2016']
external = external[external['state'] == "VIC"]
external.reset_index(drop=True, inplace=True)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank
...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne

In [5]:
# read data, Table 1 in population
population = pd.read_excel("../data/raw/population.xlsx",sheet_name="Table 1",header=7)
#population.columns
population = population.drop(columns=['SA2 name','S/T code', 'S/T name', 'GCCSA code', 'GCCSA name', 'SA4 code','SA4 name',
                                      'SA3 code', 'SA3 name',"Unnamed: 31","Unnamed: 34"])
population.head(5)

,SA2 code,no.,no..1,no..2,no..3,no..4,no..5,no..6,no..7,no..8,...,no..15,no..16,no..17,no..18,no..19,no..20,no..21,%,km2,persons/km2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101021007.0,2760.0,2811.0,2835.0,2844.0,2847.0,2965.0,3102.0,3181.0,3308.0,...,3950.0,4039.0,4140.0,4211.0,4273.0,4330.0,872.0,25.2,3418.4,1.3
2,101021008.0,9129.0,9199.0,9263.0,9277.0,9209.0,9212.0,9033.0,8994.0,9030.0,...,8531.0,8526.0,8507.0,8488.0,8519.0,8546.0,-546.0,-6.0,7.0,1223.9
3,101021009.0,9717.0,9513.0,9522.0,9400.0,9595.0,9682.0,9793.0,10074.0,10288.0,...,11230.0,11355.0,11447.0,11450.0,11437.0,11370.0,655.0,6.1,4.8,2387.7
4,101021010.0,3925.0,4073.0,4219.0,4218.0,4187.0,4319.0,4459.0,4595.0,4712.0,...,4970.0,5013.0,5072.0,5117.0,5077.0,5093.0,142.0,2.9,13.0,391.7

In [6]:
# change the column name
population.columns = ['SA2_Code','2001_population','2002_population','2003_population',
                      '2004_population','2005_population','2006_population', '2007_population','2008_population',
                      '2009_population', '2010_population', '2011_population', '2012_population', '2013_population',
                      '2014_population', '2015_population', '2016_population', '2017_population','2018_population',
                      '2019_population', '2020_population', '2021_population',"Population_Change_no",
                      "Population_Change_percent","Population_Area_km2","Population_density_2021_persons/km2"]

# remove the null columns
population = population.dropna()
display(population)
population.shape

,SA2_Code,2001_population,2002_population,2003_population,2004_population,2005_population,2006_population,2007_population,2008_population,2009_population,...,2016_population,2017_population,2018_population,2019_population,2020_population,2021_population,Population_Change_no,Population_Change_percent,Population_Area_km2,Population_density_2021_persons/km2
1,101021007.0,2760.0,2811.0,2835.0,2844.0,2847.0,2965.0,3102.0,3181.0,3308.0,...,3950.0,4039.0,4140.0,4211.0,4273.0,4330.0,872.0,25.2,3418.4,1.3
2,101021008.0,9129.0,9199.0,9263.0,9277.0,9209.0,9212.0,9033.0,8994.0,9030.0,...,8531.0,8526.0,8507.0,8488.0,8519.0,8546.0,-546.0,-6.0,7.0,1223.9
3,101021009.0,9717.0,9513.0,9522.0,9400.0,9595.0,9682.0,9793.0,10074.0,10288.0,...,11230.0,11355.0,11447.0,11450.0,11437.0,11370.0,655.0,6.1,4.8,2387.7
4,101021010.0,3925.0,4073.0,4219.0,4218.0,4187.0,4319.0,4459.0,4595.0,4712.0,...,4970.0,5013.0,5072.0,5117.0,5077.0,5093.0,142.0,2.9,13.0,391.7
5,101021012.0,9425.0,10257.0,11085.0,11549.0,12046.0,12358.0,12622.0,12798.0,12988.0,...,13150.0,13083.0,13008.0,12935.0,12796.0,12743.0,-480.0,-3.6,13.7,931.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,801111141.0,12.0,11.0,11.0,10.0,10.0,9.0,15.0,22.0,27.0,...,39.0,45.0,50.0,56.0,61.0,67.0,26.0,63.4,1202.8,0.1
2451,901011001.0,1442.0,1365.0,1337.0,1355.0,1380.0,1403.0,1569.0,1745.0,1944.0,...,1903.0,1877.0,1849.0,1801.0,1752.0,1716.0,-451.0,-20.8,136.1,12.6
2452,901021002.0,600.0,568.0,558.0,573.0,588.0,590.0,575.0,568.0,565.0,...,546.0,569.0,571.0,599.0,605.0,602.0,41.0,7.3,13.7,43.9
2453,901031003.0,542.0,464.0,441.0,428.0,413.0,386.0,370.0,370.0,367.0,...,402.0,392.0,376.0,360.0,338.0,310.0,-79.0,-20.3,67.2,4.6
2454,901041004.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1757.0,1827.0,1920.0,1999.0,2096.0,2220.0,2220.0,0.0,38.7,57.4

(2454, 26)

In [7]:
# merge the external and population dataset together, fill null with NaN
external = pd.merge(external, population, on='SA2_Code', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,2016_population,2017_population,2018_population,2019_population,2020_population,2021_population,Population_Change_no,Population_Change_percent,Population_Area_km2,Population_density_2021_persons/km2
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,5475.0,5495.0,5409.0,5413.0,5378.0,4962.0,-276.0,-5.3,2.9,1711.2
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,0.0,0.0,0.0,0.0,6.2,0.0
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# read data, Table 1.4 in income
income = pd.read_excel("../data/raw/income.xlsx",sheet_name="Table 1.4",header=6)
display(income.head(2))
# extract the colunms of year
income = income.drop(columns=['SA2 NAME','2014-15', '2015-16', '2016-17', '2017-18','2018-19', '2014-15.1', 
                              '2015-16.1', '2016-17.1', '2017-18.1','2018-19.1', '2014-15.2', '2015-16.2', 
                              '2016-17.2', '2017-18.2','2018-19.2','Unnamed: 27'])
income.columns = ['SA2_Code','2014-15_median_income','2015-16_median_income','2016-17_median_income',
                  '2017-18_median_income','2018-19_median_income','2014-15_mean_income','2015-16_mean_income',
                  '2016-17_mean_income','2017-18_mean_income','2018-19_mean_income']

# replace np with NaN
income = income.replace('np', np.nan)
income.head(3)

,SA2,SA2 NAME,2014-15,2015-16,2016-17,2017-18,2018-19,2014-15.1,2015-16.1,2016-17.1,...,2015-16.3,2016-17.3,2017-18.3,2018-19.3,2014-15.4,2015-16.4,2016-17.4,2017-18.4,2018-19.4,Unnamed: 27
0,Australia,NaN,13102895,13358252,13678024,14069082,14425037,42,42,42,...,47692,48360,49805,51389,61036,61975,62594,64246,65953,NaN
1,New South Wales,NaN,4091347,4191542,4344997,4466941,4569650,42,42,42,...,48085,48700,50153,51818,62798,64493,65196,67200,68816,NaN

,SA2_Code,2014-15_median_income,2015-16_median_income,2016-17_median_income,2017-18_median_income,2018-19_median_income,2014-15_mean_income,2015-16_mean_income,2016-17_mean_income,2017-18_mean_income,2018-19_mean_income
0,Australia,46854.0,47692.0,48360,49805.0,51389.0,61036.0,61975.0,62594.0,64246.0,65953.0
1,New South Wales,46879.0,48085.0,48700,50153.0,51818.0,62798.0,64493.0,65196.0,67200.0,68816.0
2,101021007,38093.0,39716.0,41288,42003.0,41593.0,47741.0,51074.0,51090.0,51594.0,51149.0

In [9]:
# merge the exrternal with income data
external = pd.merge(external, income, on='SA2_Code', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,2014-15_median_income,2015-16_median_income,2016-17_median_income,2017-18_median_income,2018-19_median_income,2014-15_mean_income,2015-16_mean_income,2016-17_mean_income,2017-18_mean_income,2018-19_mean_income
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,32697.0,31242.0,28068.0,28806.0,30024.0,53183.0,53292.0,51261.0,51528.0,52476.0
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,32697.0,31242.0,28068.0,28806.0,30024.0,53183.0,53292.0,51261.0,51528.0,52476.0
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,67966.0,71551.0,70034.0,71759.0,75755.0,114762.0,122960.0,124057.0,128069.0,132130.0
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,NaN,NaN,58023.0,93272.0,82813.0,NaN,NaN,107800.0,237158.0,112680.0
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,54176.0,54683.0,50643.0,51696.0,53390.0,73998.0,75285.0,72915.0,73634.0,75071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,32697.0,31242.0,28068.0,28806.0,30024.0,53183.0,53292.0,51261.0,51528.0,52476.0
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,32697.0,31242.0,28068.0,28806.0,30024.0,53183.0,53292.0,51261.0,51528.0,52476.0
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,32697.0,31242.0,28068.0,28806.0,30024.0,53183.0,53292.0,51261.0,51528.0,52476.0
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,37000.0,36587.0,37323.0,39276.0,40965.0,41083.0,41195.0,42502.0,44205.0,45908.0
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,32697.0,31242.0,28068.0,28806.0,30024.0,53183.0,53292.0,51261.0,51528.0,52476.0

In [10]:
# helper function for count the total area by SA2 Area
def sum_area(df):
    df["total"] = 0
    col = df.columns
    df["total"] = df[col[1]]+df[col[2]]+df[col[3]]+df[col[4]]+df[col[5]]+df[col[6]]+df[col[7]]
    return df

In [11]:
# read Land and Housing Supply Indicators data and extract the data we needed
residential_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 1",header=5)
residential_area.columns = ['SA2_Code', 'SA2 name', "residential_area<200sqm","residential_area_200-400sqm",
                           "residential_area_400-600sqm","residential_area_600-800sqm","residential_area_800-1000sqm",
                           "residential_area_1000-10000sqm","residential_area>10000sqm"]
residential_area = residential_area.drop(columns=['SA2 name'])
sum_area(residential_area)

primary_production_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 3",header=5)
primary_production_area.columns = ['SA2_Code', 'SA2 name', "primary_production<200sqm","primary_production_200-400sqm",
                           "primary_production_400-600sqm","primary_production_600-800sqm",
                           "primary_production_800-1000sqm","primary_production_1000-10000sqm",
                           "primary_production>10000sqm"]
primary_production_area = primary_production_area.drop(columns=['SA2 name'])
sum_area(primary_production_area)

community_infrastructure_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 3",header=5)
community_infrastructure_area.columns = ['SA2_Code', 'SA2 name', "community_infrastructure<200sqm",
                                         "community_infrastructure_200-400sqm","community_infrastructure_400-600sqm",
                                         "community_infrastructure_600-800sqm","community_infrastructure_800-1000sqm",
                                         "community_infrastructure_1000-10000sqm","community_infrastructure>10000sqm"]
community_infrastructure_area = community_infrastructure_area.drop(columns=['SA2 name'])
sum_area(community_infrastructure_area)

mix_use_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 5",header=5)
mix_use_area.columns = ['SA2_Code', 'SA2 name','mix_area<200sqm', 'mix_area_200-400sqm', 'mix_area_400-600sqm',
                        'mix_area_600-800sqm', 'mix_area_800-1000sqm', 'mix_area_1000-10000sqm', 'mix_area>1000sqm']
mix_use_area = mix_use_area.drop(columns=['SA2 name'])
sum_area(mix_use_area)

industrial_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 6",header=5)
industrial_area.columns = ['SA2_Code', 'SA2 name','industrial_area<200sqm', 'industrial_area_200-400sqm',
                           'industrial_area_400-600sqm', 'industrial_area_600-800sqm', 'industrial_area_800-1000sqm',
                           'industrial_area_1000-10000sqm', 'industrial_area>1000sqm']
industrial_area = industrial_area.drop(columns=['SA2 name'])
sum_area(industrial_area)

scenic_spot_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 7",header=5)
scenic_spot_area.columns = ['SA2_Code', 'SA2 name','scenic_spot<200sqm', 'scenic_spot_200-400sqm',
                             'scenic_spot_400-600sqm', 'scenic_spot_600-800sqm', 'scenic_spot_800-1000sqm',
                             'scenic_spot_1000-10000sqm', 'scenic_spot>1000sqm']
scenic_spot_area = scenic_spot_area.drop(columns=['SA2 name'])
sum_area(scenic_spot_area)

commerical_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 8",header=5)
commerical_area.columns = ['SA2_Code', 'SA2 name','commerical_area<200sqm', 'commerical_area_200-400sqm',
                           'commerical_area_400-600sqm', 'commerical_area_600-800sqm', 'commerical_area_800-1000sqm',
                           'commerical_area_1000-10000sqm', 'commerical_area>1000sqm']
commerical_area = commerical_area.drop(columns=['SA2 name'])
sum_area(commerical_area)

utilities_area = pd.read_excel("../data/raw/functional.xlsx",sheet_name="Table 10",header=5)
utilities_area.columns = ['SA2_Code', 'SA2 name','utilities_area<200sqm', 'utilities_area_200-400sqm',
                          'utilities_area_400-600sqm', 'utilities_area_600-800sqm', 'utilities_area_800-1000sqm',
                          'utilities_area_1000-10000sqm', 'utilities_area>1000sqm']
utilities_area = utilities_area.drop(columns=['SA2 name'])
sum_area(utilities_area)

,SA2_Code,utilities_area<200sqm,utilities_area_200-400sqm,utilities_area_400-600sqm,utilities_area_600-800sqm,utilities_area_800-1000sqm,utilities_area_1000-10000sqm,utilities_area>1000sqm,total
0,4001,21,23,14,13,11,45,114,241
1,403041071,0,0,0,0,0,0,0,0
2,401011001,0,0,0,0,0,0,0,0
3,404031104,0,0,0,0,0,0,0,0
4,401021004,0,0,0,0,0,3,2,5
...,...,...,...,...,...,...,...,...,...
1518,107031143,0,0,4,1,0,4,1,10
1519,107011547,0,0,1,0,0,0,2,3
1520,107041548,4,0,0,0,4,3,4,15
1521,107041549,1,2,0,1,0,3,4,11
1522,107041150,5,9,13,6,3,23,10,69

In [12]:
#sum the functional area by SA2
functional = pd.DataFrame()
functional["SA2_Code"] = residential_area["SA2_Code"]
functional["residential"] = residential_area["total"]
functional["primary_production"] = primary_production_area["total"]
functional["community_infrastructure"] = community_infrastructure_area["total"]
functional["mix_use"] = mix_use_area["total"]
functional["industrial"] = industrial_area["total"]
functional["scenic_spot"] = scenic_spot_area["total"]
functional["commerical"] = commerical_area["total"]
functional["utilities"] = utilities_area["total"]

In [13]:
# merge the exrternal with functional area data
external = pd.merge(external, functional, on='SA2_Code', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,2017-18_mean_income,2018-19_mean_income,residential,primary_production,community_infrastructure,mix_use,industrial,scenic_spot,commerical,utilities
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,51528.0,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,51528.0,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,128069.0,132130.0,632.0,0.0,0.0,35.0,0.0,0.0,153.0,33.0
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,237158.0,112680.0,0.0,0.0,0.0,8.0,81.0,0.0,19.0,74.0
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,73634.0,75071.0,2.0,0.0,0.0,186.0,0.0,0.0,3.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,51528.0,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,51528.0,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,51528.0,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,44205.0,45908.0,4846.0,76.0,76.0,27.0,2286.0,24.0,428.0,221.0
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,51528.0,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0

In [14]:
# calculate the number of cemetery by postcode
cemetery = pd.read_csv("../data/raw/cemetery.csv")
cemetery_count=pd.DataFrame.from_dict(dict(cemetery["Postcode"].value_counts()),orient='index').reset_index()
cemetery_count.columns=["postcode","cemetery_number"]

In [15]:
# merge the exrternal with cemetery data
external = pd.merge(external, cemetery_count, on='postcode', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,2018-19_mean_income,residential,primary_production,community_infrastructure,mix_use,industrial,scenic_spot,commerical,utilities,cemetery_number
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,132130.0,632.0,0.0,0.0,35.0,0.0,0.0,153.0,33.0,NaN
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,112680.0,0.0,0.0,0.0,8.0,81.0,0.0,19.0,74.0,NaN
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,75071.0,2.0,0.0,0.0,186.0,0.0,0.0,3.0,40.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,45908.0,4846.0,76.0,76.0,27.0,2286.0,24.0,428.0,221.0,NaN
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,52476.0,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN

In [16]:
# calculate the number of Sport&Recreational Facilities by postcode
facilities= pd.read_excel("../data/raw/Sport_Recreational_Facilities_list.xlsx")
facilities = facilities[['Facility Name','Pcode']]
facilities=facilities.drop_duplicates()
facilities_count=pd.DataFrame.from_dict(dict(facilities['Pcode'].value_counts()),orient='index').reset_index()
facilities_count.columns=["postcode","Sport&Recreational_facilities_number"]

In [17]:
# merge the exrternal with Sport&Recreational Facilitiesdata
external = pd.merge(external, facilities_count, on='postcode', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,residential,primary_production,community_infrastructure,mix_use,industrial,scenic_spot,commerical,utilities,cemetery_number,Sport&Recreational_facilities_number
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,5.0
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,1.0
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,632.0,0.0,0.0,35.0,0.0,0.0,153.0,33.0,NaN,NaN
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,81.0,0.0,19.0,74.0,NaN,NaN
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,2.0,0.0,0.0,186.0,0.0,0.0,3.0,40.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,4846.0,76.0,76.0,27.0,2286.0,24.0,428.0,221.0,NaN,NaN
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN

In [18]:
# read median house price time series data
house_price_yearly= pd.read_excel("../data/raw/Median_Suburb_Time_2021.xls",sheet_name="Sheet1",header=1)
house_price_yearly.columns =["locality","2010 Median","2011 Median","2012 Median","2013 Median","2014 Median",
                             "2015 Median","2016 Median","2017 Median","2018 Median","2019 Median","2020 Median",
                             "prelim 2021 Median","change 2019-2020","change 2010-2020","Growth PA"]
house_price_yearly = house_price_yearly.iloc[1: , :] #delete first row
# merge the exrternal with median house price
external = pd.merge(external, house_price_yearly, on='locality', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,2015 Median,2016 Median,2017 Median,2018 Median,2019 Median,2020 Median,prelim 2021 Median,change 2019-2020,change 2010-2020,Growth PA
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,2750000,3655000,3585000,2675000,3413500,2350000,3950000,-31,45,3.8
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,1005000,1104500,1350000,1370000,1017500,1215000,1310000,19,49,4.1
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,485000,555500,619000,640000,601000,625000,680000,4,45,3.8
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# read affordable letting data
affordable_1br= pd.read_excel("../data/raw/Affordable_Lettings_2021.xlsx",sheet_name="lga aff 1br",header=2)
affordable_1br.columns = ['LGA', 'Affordable_1r_Mar_2000', 'Percent_1r_Mar_2000', 'Affordable_1r_Jun_2000', 'Percent_1r_Jun_2000', 'Affordable_1r_Sep_2000', 'Percent_1r_Sep_2000', 'Affordable_1r_Dec_2000', 'Percent_1r_Dec_2000', 'Affordable_1r_Mar_2001', 'Percent_1r_Mar_2001', 'Affordable_1r_Jun_2001', 'Percent_1r_Jun_2001', 'Affordable_1r_Sep_2001', 'Percent_1r_Sep_2001', 'Affordable_1r_Dec_2001', 'Percent_1r_Dec_2001', 'Affordable_1r_Mar_2002', 'Percent_1r_Mar_2002', 'Affordable_1r_Jun_2002', 'Percent_1r_Jun_2002', 'Affordable_1r_Sep_2002', 'Percent_1r_Sep_2002', 'Affordable_1r_Dec_2002', 'Percent_1r_Dec_2002', 'Affordable_1r_Mar_2003', 'Percent_1r_Mar_2003', 'Affordable_1r_Jun_2003', 'Percent_1r_Jun_2003', 'Affordable_1r_Sep_2003', 'Percent_1r_Sep_2003', 'Affordable_1r_Dec_2003', 'Percent_1r_Dec_2003', 'Affordable_1r_Mar_2004', 'Percent_1r_Mar_2004', 'Affordable_1r_Jun_2004', 'Percent_1r_Jun_2004', 'Affordable_1r_Sep_2004', 'Percent_1r_Sep_2004', 'Affordable_1r_Dec_2004', 'Percent_1r_Dec_2004', 'Affordable_1r_Mar_2005', 'Percent_1r_Mar_2005', 'Affordable_1r_Jun_2005', 'Percent_1r_Jun_2005', 'Affordable_1r_Sep_2005', 'Percent_1r_Sep_2005', 'Affordable_1r_Dec_2005', 'Percent_1r_Dec_2005', 'Affordable_1r_Mar_2006', 'Percent_1r_Mar_2006', 'Affordable_1r_Jun_2006', 'Percent_1r_Jun_2006', 'Affordable_1r_Sep_2006', 'Percent_1r_Sep_2006', 'Affordable_1r_Dec_2006', 'Percent_1r_Dec_2006', 'Affordable_1r_Mar_2007', 'Percent_1r_Mar_2007', 'Affordable_1r_Jun_2007', 'Percent_1r_Jun_2007', 'Affordable_1r_Sep_2007', 'Percent_1r_Sep_2007', 'Affordable_1r_Dec_2007', 'Percent_1r_Dec_2007', 'Affordable_1r_Mar_2008', 'Percent_1r_Mar_2008', 'Affordable_1r_Jun_2008', 'Percent_1r_Jun_2008', 'Affordable_1r_Sep_2008', 'Percent_1r_Sep_2008', 'Affordable_1r_Dec_2008', 'Percent_1r_Dec_2008', 'Affordable_1r_Mar_2009', 'Percent_1r_Mar_2009', 'Affordable_1r_Jun_2009', 'Percent_1r_Jun_2009', 'Affordable_1r_Sep_2009', 'Percent_1r_Sep_2009', 'Affordable_1r_Dec_2009', 'Percent_1r_Dec_2009', 'Affordable_1r_Mar_2010', 'Percent_1r_Mar_2010', 'Affordable_1r_Jun_2010', 'Percent_1r_Jun_2010', 'Affordable_1r_Sep_2010', 'Percent_1r_Sep_2010', 'Affordable_1r_Dec_2010', 'Percent_1r_Dec_2010', 'Affordable_1r_Mar_2011', 'Percent_1r_Mar_2011', 'Affordable_1r_Jun_2011', 'Percent_1r_Jun_2011', 'Affordable_1r_Sep_2011', 'Percent_1r_Sep_2011', 'Affordable_1r_Dec_2011', 'Percent_1r_Dec_2011', 'Affordable_1r_Mar_2012', 'Percent_1r_Mar_2012', 'Affordable_1r_Jun_2012', 'Percent_1r_Jun_2012', 'Affordable_1r_Sep_2012', 'Percent_1r_Sep_2012', 'Affordable_1r_Dec_2012', 'Percent_1r_Dec_2012', 'Affordable_1r_Mar_2013', 'Percent_1r_Mar_2013', 'Affordable_1r_Jun_2013', 'Percent_1r_Jun_2013', 'Affordable_1r_Sep_2013', 'Percent_1r_Sep_2013', 'Affordable_1r_Dec_2013', 'Percent_1r_Dec_2013', 'Affordable_1r_Mar_2014', 'Percent_1r_Mar_2014', 'Affordable_1r_Jun_2014', 'Percent_1r_Jun_2014', 'Affordable_1r_Sep_2014', 'Percent_1r_Sep_2014', 'Affordable_1r_Dec_2014', 'Percent_1r_Dec_2014', 'Affordable_1r_Mar_2015', 'Percent_1r_Mar_2015', 'Affordable_1r_Jun_2015', 'Percent_1r_Jun_2015', 'Affordable_1r_Sep_2015', 'Percent_1r_Sep_2015', 'Affordable_1r_Dec_2015', 'Percent_1r_Dec_2015', 'Affordable_1r_Mar_2016', 'Percent_1r_Mar_2016', 'Affordable_1r_Jun_2016', 'Percent_1r_Jun_2016', 'Affordable_1r_Sep_2016', 'Percent_1r_Sep_2016', 'Affordable_1r_Dec_2016', 'Percent_1r_Dec_2016', 'Affordable_1r_Mar_2017', 'Percent_1r_Mar_2017', 'Affordable_1r_Jun_2017', 'Percent_1r_Jun_2017', 'Affordable_1r_Sep_2017', 'Percent_1r_Sep_2017', 'Affordable_1r_Dec_2017', 'Percent_1r_Dec_2017', 'Affordable_1r_Mar_2018', 'Percent_1r_Mar_2018', 'Affordable_1r_Jun_2018', 'Percent_1r_Jun_2018', 'Affordable_1r_Sep_2018', 'Percent_1r_Sep_2018', 'Affordable_1r_Dec_2018', 'Percent_1r_Dec_2018', 'Affordable_1r_Mar_2019', 'Percent_1r_Mar_2019', 'Affordable_1r_Jun_2019', 'Percent_1r_Jun_2019', 'Affordable_1r_Sep_2019', 'Percent_1r_Sep_2019', 'Affordable_1r_Dec_2019', 'Percent_1r_Dec_2019', 'Affordable_1r_Mar_2020', 'Percent_1r_Mar_2020', 'Affordable_1r_Jun_2020', 'Percent_1r_Jun_2020', 'Affordable_1r_Sep_2020', 'Percent_1r_Sep_2020', 'Affordable_1r_Dec_2020', 'Percent_1r_Dec_2020', 'Affordable_1r_Mar_2021', 'Percent_1r_Mar_2021', 'Affordable_1r_Jun_2021', 'Percent_1r_Jun_2021', 'Affordable_1r_Sep_2021', 'Percent_1r_Sep_2021']

affordable_2br= pd.read_excel("../data/raw/Affordable_Lettings_2021.xlsx",sheet_name="lga aff 2br",header=2)
affordable_2br.columns = ['LGA', 'Affordable_2r_Mar_2000', 'Percent_2r_Mar_2000', 'Affordable_2r_Jun_2000', 'Percent_2r_Jun_2000', 'Affordable_2r_Sep_2000', 'Percent_2r_Sep_2000', 'Affordable_2r_Dec_2000', 'Percent_2r_Dec_2000', 'Affordable_2r_Mar_2001', 'Percent_2r_Mar_2001', 'Affordable_2r_Jun_2001', 'Percent_2r_Jun_2001', 'Affordable_2r_Sep_2001', 'Percent_2r_Sep_2001', 'Affordable_2r_Dec_2001', 'Percent_2r_Dec_2001', 'Affordable_2r_Mar_2002', 'Percent_2r_Mar_2002', 'Affordable_2r_Jun_2002', 'Percent_2r_Jun_2002', 'Affordable_2r_Sep_2002', 'Percent_2r_Sep_2002', 'Affordable_2r_Dec_2002', 'Percent_2r_Dec_2002', 'Affordable_2r_Mar_2003', 'Percent_2r_Mar_2003', 'Affordable_2r_Jun_2003', 'Percent_2r_Jun_2003', 'Affordable_2r_Sep_2003', 'Percent_2r_Sep_2003', 'Affordable_2r_Dec_2003', 'Percent_2r_Dec_2003', 'Affordable_2r_Mar_2004', 'Percent_2r_Mar_2004', 'Affordable_2r_Jun_2004', 'Percent_2r_Jun_2004', 'Affordable_2r_Sep_2004', 'Percent_2r_Sep_2004', 'Affordable_2r_Dec_2004', 'Percent_2r_Dec_2004', 'Affordable_2r_Mar_2005', 'Percent_2r_Mar_2005', 'Affordable_2r_Jun_2005', 'Percent_2r_Jun_2005', 'Affordable_2r_Sep_2005', 'Percent_2r_Sep_2005', 'Affordable_2r_Dec_2005', 'Percent_2r_Dec_2005', 'Affordable_2r_Mar_2006', 'Percent_2r_Mar_2006', 'Affordable_2r_Jun_2006', 'Percent_2r_Jun_2006', 'Affordable_2r_Sep_2006', 'Percent_2r_Sep_2006', 'Affordable_2r_Dec_2006', 'Percent_2r_Dec_2006', 'Affordable_2r_Mar_2007', 'Percent_2r_Mar_2007', 'Affordable_2r_Jun_2007', 'Percent_2r_Jun_2007', 'Affordable_2r_Sep_2007', 'Percent_2r_Sep_2007', 'Affordable_2r_Dec_2007', 'Percent_2r_Dec_2007', 'Affordable_2r_Mar_2008', 'Percent_2r_Mar_2008', 'Affordable_2r_Jun_2008', 'Percent_2r_Jun_2008', 'Affordable_2r_Sep_2008', 'Percent_2r_Sep_2008', 'Affordable_2r_Dec_2008', 'Percent_2r_Dec_2008', 'Affordable_2r_Mar_2009', 'Percent_2r_Mar_2009', 'Affordable_2r_Jun_2009', 'Percent_2r_Jun_2009', 'Affordable_2r_Sep_2009', 'Percent_2r_Sep_2009', 'Affordable_2r_Dec_2009', 'Percent_2r_Dec_2009', 'Affordable_2r_Mar_2010', 'Percent_2r_Mar_2010', 'Affordable_2r_Jun_2010', 'Percent_2r_Jun_2010', 'Affordable_2r_Sep_2010', 'Percent_2r_Sep_2010', 'Affordable_2r_Dec_2010', 'Percent_2r_Dec_2010', 'Affordable_2r_Mar_2011', 'Percent_2r_Mar_2011', 'Affordable_2r_Jun_2011', 'Percent_2r_Jun_2011', 'Affordable_2r_Sep_2011', 'Percent_2r_Sep_2011', 'Affordable_2r_Dec_2011', 'Percent_2r_Dec_2011', 'Affordable_2r_Mar_2012', 'Percent_2r_Mar_2012', 'Affordable_2r_Jun_2012', 'Percent_2r_Jun_2012', 'Affordable_2r_Sep_2012', 'Percent_2r_Sep_2012', 'Affordable_2r_Dec_2012', 'Percent_2r_Dec_2012', 'Affordable_2r_Mar_2013', 'Percent_2r_Mar_2013', 'Affordable_2r_Jun_2013', 'Percent_2r_Jun_2013', 'Affordable_2r_Sep_2013', 'Percent_2r_Sep_2013', 'Affordable_2r_Dec_2013', 'Percent_2r_Dec_2013', 'Affordable_2r_Mar_2014', 'Percent_2r_Mar_2014', 'Affordable_2r_Jun_2014', 'Percent_2r_Jun_2014', 'Affordable_2r_Sep_2014', 'Percent_2r_Sep_2014', 'Affordable_2r_Dec_2014', 'Percent_2r_Dec_2014', 'Affordable_2r_Mar_2015', 'Percent_2r_Mar_2015', 'Affordable_2r_Jun_2015', 'Percent_2r_Jun_2015', 'Affordable_2r_Sep_2015', 'Percent_2r_Sep_2015', 'Affordable_2r_Dec_2015', 'Percent_2r_Dec_2015', 'Affordable_2r_Mar_2016', 'Percent_2r_Mar_2016', 'Affordable_2r_Jun_2016', 'Percent_2r_Jun_2016', 'Affordable_2r_Sep_2016', 'Percent_2r_Sep_2016', 'Affordable_2r_Dec_2016', 'Percent_2r_Dec_2016', 'Affordable_2r_Mar_2017', 'Percent_2r_Mar_2017', 'Affordable_2r_Jun_2017', 'Percent_2r_Jun_2017', 'Affordable_2r_Sep_2017', 'Percent_2r_Sep_2017', 'Affordable_2r_Dec_2017', 'Percent_2r_Dec_2017', 'Affordable_2r_Mar_2018', 'Percent_2r_Mar_2018', 'Affordable_2r_Jun_2018', 'Percent_2r_Jun_2018', 'Affordable_2r_Sep_2018', 'Percent_2r_Sep_2018', 'Affordable_2r_Dec_2018', 'Percent_2r_Dec_2018', 'Affordable_2r_Mar_2019', 'Percent_2r_Mar_2019', 'Affordable_2r_Jun_2019', 'Percent_2r_Jun_2019', 'Affordable_2r_Sep_2019', 'Percent_2r_Sep_2019', 'Affordable_2r_Dec_2019', 'Percent_2r_Dec_2019', 'Affordable_2r_Mar_2020', 'Percent_2r_Mar_2020', 'Affordable_2r_Jun_2020', 'Percent_2r_Jun_2020', 'Affordable_2r_Sep_2020', 'Percent_2r_Sep_2020', 'Affordable_2r_Dec_2020', 'Percent_2r_Dec_2020', 'Affordable_2r_Mar_2021', 'Percent_2r_Mar_2021', 'Affordable_2r_Jun_2021', 'Percent_2r_Jun_2021', 'Affordable_2r_Sep_2021', 'Percent_2r_Sep_2021']

affordable_3br= pd.read_excel("../data/raw/Affordable_Lettings_2021.xlsx",sheet_name="lga aff 3br",header=2)
affordable_3br.columns = ['LGA', 'Affordable_3r_Mar_2000', 'Percent_3r_Mar_2000', 'Affordable_3r_Jun_2000', 'Percent_3r_Jun_2000', 'Affordable_3r_Sep_2000', 'Percent_3r_Sep_2000', 'Affordable_3r_Dec_2000', 'Percent_3r_Dec_2000', 'Affordable_3r_Mar_2001', 'Percent_3r_Mar_2001', 'Affordable_3r_Jun_2001', 'Percent_3r_Jun_2001', 'Affordable_3r_Sep_2001', 'Percent_3r_Sep_2001', 'Affordable_3r_Dec_2001', 'Percent_3r_Dec_2001', 'Affordable_3r_Mar_2002', 'Percent_3r_Mar_2002', 'Affordable_3r_Jun_2002', 'Percent_3r_Jun_2002', 'Affordable_3r_Sep_2002', 'Percent_3r_Sep_2002', 'Affordable_3r_Dec_2002', 'Percent_3r_Dec_2002', 'Affordable_3r_Mar_2003', 'Percent_3r_Mar_2003', 'Affordable_3r_Jun_2003', 'Percent_3r_Jun_2003', 'Affordable_3r_Sep_2003', 'Percent_3r_Sep_2003', 'Affordable_3r_Dec_2003', 'Percent_3r_Dec_2003', 'Affordable_3r_Mar_2004', 'Percent_3r_Mar_2004', 'Affordable_3r_Jun_2004', 'Percent_3r_Jun_2004', 'Affordable_3r_Sep_2004', 'Percent_3r_Sep_2004', 'Affordable_3r_Dec_2004', 'Percent_3r_Dec_2004', 'Affordable_3r_Mar_2005', 'Percent_3r_Mar_2005', 'Affordable_3r_Jun_2005', 'Percent_3r_Jun_2005', 'Affordable_3r_Sep_2005', 'Percent_3r_Sep_2005', 'Affordable_3r_Dec_2005', 'Percent_3r_Dec_2005', 'Affordable_3r_Mar_2006', 'Percent_3r_Mar_2006', 'Affordable_3r_Jun_2006', 'Percent_3r_Jun_2006', 'Affordable_3r_Sep_2006', 'Percent_3r_Sep_2006', 'Affordable_3r_Dec_2006', 'Percent_3r_Dec_2006', 'Affordable_3r_Mar_2007', 'Percent_3r_Mar_2007', 'Affordable_3r_Jun_2007', 'Percent_3r_Jun_2007', 'Affordable_3r_Sep_2007', 'Percent_3r_Sep_2007', 'Affordable_3r_Dec_2007', 'Percent_3r_Dec_2007', 'Affordable_3r_Mar_2008', 'Percent_3r_Mar_2008', 'Affordable_3r_Jun_2008', 'Percent_3r_Jun_2008', 'Affordable_3r_Sep_2008', 'Percent_3r_Sep_2008', 'Affordable_3r_Dec_2008', 'Percent_3r_Dec_2008', 'Affordable_3r_Mar_2009', 'Percent_3r_Mar_2009', 'Affordable_3r_Jun_2009', 'Percent_3r_Jun_2009', 'Affordable_3r_Sep_2009', 'Percent_3r_Sep_2009', 'Affordable_3r_Dec_2009', 'Percent_3r_Dec_2009', 'Affordable_3r_Mar_2010', 'Percent_3r_Mar_2010', 'Affordable_3r_Jun_2010', 'Percent_3r_Jun_2010', 'Affordable_3r_Sep_2010', 'Percent_3r_Sep_2010', 'Affordable_3r_Dec_2010', 'Percent_3r_Dec_2010', 'Affordable_3r_Mar_2011', 'Percent_3r_Mar_2011', 'Affordable_3r_Jun_2011', 'Percent_3r_Jun_2011', 'Affordable_3r_Sep_2011', 'Percent_3r_Sep_2011', 'Affordable_3r_Dec_2011', 'Percent_3r_Dec_2011', 'Affordable_3r_Mar_2012', 'Percent_3r_Mar_2012', 'Affordable_3r_Jun_2012', 'Percent_3r_Jun_2012', 'Affordable_3r_Sep_2012', 'Percent_3r_Sep_2012', 'Affordable_3r_Dec_2012', 'Percent_3r_Dec_2012', 'Affordable_3r_Mar_2013', 'Percent_3r_Mar_2013', 'Affordable_3r_Jun_2013', 'Percent_3r_Jun_2013', 'Affordable_3r_Sep_2013', 'Percent_3r_Sep_2013', 'Affordable_3r_Dec_2013', 'Percent_3r_Dec_2013', 'Affordable_3r_Mar_2014', 'Percent_3r_Mar_2014', 'Affordable_3r_Jun_2014', 'Percent_3r_Jun_2014', 'Affordable_3r_Sep_2014', 'Percent_3r_Sep_2014', 'Affordable_3r_Dec_2014', 'Percent_3r_Dec_2014', 'Affordable_3r_Mar_2015', 'Percent_3r_Mar_2015', 'Affordable_3r_Jun_2015', 'Percent_3r_Jun_2015', 'Affordable_3r_Sep_2015', 'Percent_3r_Sep_2015', 'Affordable_3r_Dec_2015', 'Percent_3r_Dec_2015', 'Affordable_3r_Mar_2016', 'Percent_3r_Mar_2016', 'Affordable_3r_Jun_2016', 'Percent_3r_Jun_2016', 'Affordable_3r_Sep_2016', 'Percent_3r_Sep_2016', 'Affordable_3r_Dec_2016', 'Percent_3r_Dec_2016', 'Affordable_3r_Mar_2017', 'Percent_3r_Mar_2017', 'Affordable_3r_Jun_2017', 'Percent_3r_Jun_2017', 'Affordable_3r_Sep_2017', 'Percent_3r_Sep_2017', 'Affordable_3r_Dec_2017', 'Percent_3r_Dec_2017', 'Affordable_3r_Mar_2018', 'Percent_3r_Mar_2018', 'Affordable_3r_Jun_2018', 'Percent_3r_Jun_2018', 'Affordable_3r_Sep_2018', 'Percent_3r_Sep_2018', 'Affordable_3r_Dec_2018', 'Percent_3r_Dec_2018', 'Affordable_3r_Mar_2019', 'Percent_3r_Mar_2019', 'Affordable_3r_Jun_2019', 'Percent_3r_Jun_2019', 'Affordable_3r_Sep_2019', 'Percent_3r_Sep_2019', 'Affordable_3r_Dec_2019', 'Percent_3r_Dec_2019', 'Affordable_3r_Mar_2020', 'Percent_3r_Mar_2020', 'Affordable_3r_Jun_2020', 'Percent_3r_Jun_2020', 'Affordable_3r_Sep_2020', 'Percent_3r_Sep_2020', 'Affordable_3r_Dec_2020', 'Percent_3r_Dec_2020', 'Affordable_3r_Mar_2021', 'Percent_3r_Mar_2021', 'Affordable_3r_Jun_2021', 'Percent_3r_Jun_2021', 'Affordable_3r_Sep_2021', 'Percent_3r_Sep_2021']

affordable_4br= pd.read_excel("../data/raw/Affordable_Lettings_2021.xlsx",sheet_name="lga aff 4br",header=2)
affordable_4br.columns = ['LGA', 'Affordable_4r_Mar_2000', 'Percent_4r_Mar_2000', 'Affordable_4r_Jun_2000', 'Percent_4r_Jun_2000', 'Affordable_4r_Sep_2000', 'Percent_4r_Sep_2000', 'Affordable_4r_Dec_2000', 'Percent_4r_Dec_2000', 'Affordable_4r_Mar_2001', 'Percent_4r_Mar_2001', 'Affordable_4r_Jun_2001', 'Percent_4r_Jun_2001', 'Affordable_4r_Sep_2001', 'Percent_4r_Sep_2001', 'Affordable_4r_Dec_2001', 'Percent_4r_Dec_2001', 'Affordable_4r_Mar_2002', 'Percent_4r_Mar_2002', 'Affordable_4r_Jun_2002', 'Percent_4r_Jun_2002', 'Affordable_4r_Sep_2002', 'Percent_4r_Sep_2002', 'Affordable_4r_Dec_2002', 'Percent_4r_Dec_2002', 'Affordable_4r_Mar_2003', 'Percent_4r_Mar_2003', 'Affordable_4r_Jun_2003', 'Percent_4r_Jun_2003', 'Affordable_4r_Sep_2003', 'Percent_4r_Sep_2003', 'Affordable_4r_Dec_2003', 'Percent_4r_Dec_2003', 'Affordable_4r_Mar_2004', 'Percent_4r_Mar_2004', 'Affordable_4r_Jun_2004', 'Percent_4r_Jun_2004', 'Affordable_4r_Sep_2004', 'Percent_4r_Sep_2004', 'Affordable_4r_Dec_2004', 'Percent_4r_Dec_2004', 'Affordable_4r_Mar_2005', 'Percent_4r_Mar_2005', 'Affordable_4r_Jun_2005', 'Percent_4r_Jun_2005', 'Affordable_4r_Sep_2005', 'Percent_4r_Sep_2005', 'Affordable_4r_Dec_2005', 'Percent_4r_Dec_2005', 'Affordable_4r_Mar_2006', 'Percent_4r_Mar_2006', 'Affordable_4r_Jun_2006', 'Percent_4r_Jun_2006', 'Affordable_4r_Sep_2006', 'Percent_4r_Sep_2006', 'Affordable_4r_Dec_2006', 'Percent_4r_Dec_2006', 'Affordable_4r_Mar_2007', 'Percent_4r_Mar_2007', 'Affordable_4r_Jun_2007', 'Percent_4r_Jun_2007', 'Affordable_4r_Sep_2007', 'Percent_4r_Sep_2007', 'Affordable_4r_Dec_2007', 'Percent_4r_Dec_2007', 'Affordable_4r_Mar_2008', 'Percent_4r_Mar_2008', 'Affordable_4r_Jun_2008', 'Percent_4r_Jun_2008', 'Affordable_4r_Sep_2008', 'Percent_4r_Sep_2008', 'Affordable_4r_Dec_2008', 'Percent_4r_Dec_2008', 'Affordable_4r_Mar_2009', 'Percent_4r_Mar_2009', 'Affordable_4r_Jun_2009', 'Percent_4r_Jun_2009', 'Affordable_4r_Sep_2009', 'Percent_4r_Sep_2009', 'Affordable_4r_Dec_2009', 'Percent_4r_Dec_2009', 'Affordable_4r_Mar_2010', 'Percent_4r_Mar_2010', 'Affordable_4r_Jun_2010', 'Percent_4r_Jun_2010', 'Affordable_4r_Sep_2010', 'Percent_4r_Sep_2010', 'Affordable_4r_Dec_2010', 'Percent_4r_Dec_2010', 'Affordable_4r_Mar_2011', 'Percent_4r_Mar_2011', 'Affordable_4r_Jun_2011', 'Percent_4r_Jun_2011', 'Affordable_4r_Sep_2011', 'Percent_4r_Sep_2011', 'Affordable_4r_Dec_2011', 'Percent_4r_Dec_2011', 'Affordable_4r_Mar_2012', 'Percent_4r_Mar_2012', 'Affordable_4r_Jun_2012', 'Percent_4r_Jun_2012', 'Affordable_4r_Sep_2012', 'Percent_4r_Sep_2012', 'Affordable_4r_Dec_2012', 'Percent_4r_Dec_2012', 'Affordable_4r_Mar_2013', 'Percent_4r_Mar_2013', 'Affordable_4r_Jun_2013', 'Percent_4r_Jun_2013', 'Affordable_4r_Sep_2013', 'Percent_4r_Sep_2013', 'Affordable_4r_Dec_2013', 'Percent_4r_Dec_2013', 'Affordable_4r_Mar_2014', 'Percent_4r_Mar_2014', 'Affordable_4r_Jun_2014', 'Percent_4r_Jun_2014', 'Affordable_4r_Sep_2014', 'Percent_4r_Sep_2014', 'Affordable_4r_Dec_2014', 'Percent_4r_Dec_2014', 'Affordable_4r_Mar_2015', 'Percent_4r_Mar_2015', 'Affordable_4r_Jun_2015', 'Percent_4r_Jun_2015', 'Affordable_4r_Sep_2015', 'Percent_4r_Sep_2015', 'Affordable_4r_Dec_2015', 'Percent_4r_Dec_2015', 'Affordable_4r_Mar_2016', 'Percent_4r_Mar_2016', 'Affordable_4r_Jun_2016', 'Percent_4r_Jun_2016', 'Affordable_4r_Sep_2016', 'Percent_4r_Sep_2016', 'Affordable_4r_Dec_2016', 'Percent_4r_Dec_2016', 'Affordable_4r_Mar_2017', 'Percent_4r_Mar_2017', 'Affordable_4r_Jun_2017', 'Percent_4r_Jun_2017', 'Affordable_4r_Sep_2017', 'Percent_4r_Sep_2017', 'Affordable_4r_Dec_2017', 'Percent_4r_Dec_2017', 'Affordable_4r_Mar_2018', 'Percent_4r_Mar_2018', 'Affordable_4r_Jun_2018', 'Percent_4r_Jun_2018', 'Affordable_4r_Sep_2018', 'Percent_4r_Sep_2018', 'Affordable_4r_Dec_2018', 'Percent_4r_Dec_2018', 'Affordable_4r_Mar_2019', 'Percent_4r_Mar_2019', 'Affordable_4r_Jun_2019', 'Percent_4r_Jun_2019', 'Affordable_4r_Sep_2019', 'Percent_4r_Sep_2019', 'Affordable_4r_Dec_2019', 'Percent_4r_Dec_2019', 'Affordable_4r_Mar_2020', 'Percent_4r_Mar_2020', 'Affordable_4r_Jun_2020', 'Percent_4r_Jun_2020', 'Affordable_4r_Sep_2020', 'Percent_4r_Sep_2020', 'Affordable_4r_Dec_2020', 'Percent_4r_Dec_2020', 'Affordable_4r_Mar_2021', 'Percent_4r_Mar_2021', 'Affordable_4r_Jun_2021', 'Percent_4r_Jun_2021', 'Affordable_4r_Sep_2021', 'Percent_4r_Sep_2021']

affordable_total= pd.read_excel("../data/raw/Affordable_Lettings_2021.xlsx",sheet_name="lga aff total",header=2)
affordable_total.columns = ['LGA', 'Affordable_total_Mar_2000', 'Percent_total_Mar_2000', 'Affordable_total_Jun_2000', 'Percent_total_Jun_2000', 'Affordable_total_Sep_2000', 'Percent_total_Sep_2000', 'Affordable_total_Dec_2000', 'Percent_total_Dec_2000', 'Affordable_total_Mar_2001', 'Percent_total_Mar_2001', 'Affordable_total_Jun_2001', 'Percent_total_Jun_2001', 'Affordable_total_Sep_2001', 'Percent_total_Sep_2001', 'Affordable_total_Dec_2001', 'Percent_total_Dec_2001', 'Affordable_total_Mar_2002', 'Percent_total_Mar_2002', 'Affordable_total_Jun_2002', 'Percent_total_Jun_2002', 'Affordable_total_Sep_2002', 'Percent_total_Sep_2002', 'Affordable_total_Dec_2002', 'Percent_total_Dec_2002', 'Affordable_total_Mar_2003', 'Percent_total_Mar_2003', 'Affordable_total_Jun_2003', 'Percent_total_Jun_2003', 'Affordable_total_Sep_2003', 'Percent_total_Sep_2003', 'Affordable_total_Dec_2003', 'Percent_total_Dec_2003', 'Affordable_total_Mar_2004', 'Percent_total_Mar_2004', 'Affordable_total_Jun_2004', 'Percent_total_Jun_2004', 'Affordable_total_Sep_2004', 'Percent_total_Sep_2004', 'Affordable_total_Dec_2004', 'Percent_total_Dec_2004', 'Affordable_total_Mar_2005', 'Percent_total_Mar_2005', 'Affordable_total_Jun_2005', 'Percent_total_Jun_2005', 'Affordable_total_Sep_2005', 'Percent_total_Sep_2005', 'Affordable_total_Dec_2005', 'Percent_total_Dec_2005', 'Affordable_total_Mar_2006', 'Percent_total_Mar_2006', 'Affordable_total_Jun_2006', 'Percent_total_Jun_2006', 'Affordable_total_Sep_2006', 'Percent_total_Sep_2006', 'Affordable_total_Dec_2006', 'Percent_total_Dec_2006', 'Affordable_total_Mar_2007', 'Percent_total_Mar_2007', 'Affordable_total_Jun_2007', 'Percent_total_Jun_2007', 'Affordable_total_Sep_2007', 'Percent_total_Sep_2007', 'Affordable_total_Dec_2007', 'Percent_total_Dec_2007', 'Affordable_total_Mar_2008', 'Percent_total_Mar_2008', 'Affordable_total_Jun_2008', 'Percent_total_Jun_2008', 'Affordable_total_Sep_2008', 'Percent_total_Sep_2008', 'Affordable_total_Dec_2008', 'Percent_total_Dec_2008', 'Affordable_total_Mar_2009', 'Percent_total_Mar_2009', 'Affordable_total_Jun_2009', 'Percent_total_Jun_2009', 'Affordable_total_Sep_2009', 'Percent_total_Sep_2009', 'Affordable_total_Dec_2009', 'Percent_total_Dec_2009', 'Affordable_total_Mar_2010', 'Percent_total_Mar_2010', 'Affordable_total_Jun_2010', 'Percent_total_Jun_2010', 'Affordable_total_Sep_2010', 'Percent_total_Sep_2010', 'Affordable_total_Dec_2010', 'Percent_total_Dec_2010', 'Affordable_total_Mar_2011', 'Percent_total_Mar_2011', 'Affordable_total_Jun_2011', 'Percent_total_Jun_2011', 'Affordable_total_Sep_2011', 'Percent_total_Sep_2011', 'Affordable_total_Dec_2011', 'Percent_total_Dec_2011', 'Affordable_total_Mar_2012', 'Percent_total_Mar_2012', 'Affordable_total_Jun_2012', 'Percent_total_Jun_2012', 'Affordable_total_Sep_2012', 'Percent_total_Sep_2012', 'Affordable_total_Dec_2012', 'Percent_total_Dec_2012', 'Affordable_total_Mar_2013', 'Percent_total_Mar_2013', 'Affordable_total_Jun_2013', 'Percent_total_Jun_2013', 'Affordable_total_Sep_2013', 'Percent_total_Sep_2013', 'Affordable_total_Dec_2013', 'Percent_total_Dec_2013', 'Affordable_total_Mar_2014', 'Percent_total_Mar_2014', 'Affordable_total_Jun_2014', 'Percent_total_Jun_2014', 'Affordable_total_Sep_2014', 'Percent_total_Sep_2014', 'Affordable_total_Dec_2014', 'Percent_total_Dec_2014', 'Affordable_total_Mar_2015', 'Percent_total_Mar_2015', 'Affordable_total_Jun_2015', 'Percent_total_Jun_2015', 'Affordable_total_Sep_2015', 'Percent_total_Sep_2015', 'Affordable_total_Dec_2015', 'Percent_total_Dec_2015', 'Affordable_total_Mar_2016', 'Percent_total_Mar_2016', 'Affordable_total_Jun_2016', 'Percent_total_Jun_2016', 'Affordable_total_Sep_2016', 'Percent_total_Sep_2016', 'Affordable_total_Dec_2016', 'Percent_total_Dec_2016', 'Affordable_total_Mar_2017', 'Percent_total_Mar_2017', 'Affordable_total_Jun_2017', 'Percent_total_Jun_2017', 'Affordable_total_Sep_2017', 'Percent_total_Sep_2017', 'Affordable_total_Dec_2017', 'Percent_total_Dec_2017', 'Affordable_total_Mar_2018', 'Percent_total_Mar_2018', 'Affordable_total_Jun_2018', 'Percent_total_Jun_2018', 'Affordable_total_Sep_2018', 'Percent_total_Sep_2018', 'Affordable_total_Dec_2018', 'Percent_total_Dec_2018', 'Affordable_total_Mar_2019', 'Percent_total_Mar_2019', 'Affordable_total_Jun_2019', 'Percent_total_Jun_2019', 'Affordable_total_Sep_2019', 'Percent_total_Sep_2019', 'Affordable_total_Dec_2019', 'Percent_total_Dec_2019', 'Affordable_total_Mar_2020', 'Percent_total_Mar_2020', 'Affordable_total_Jun_2020', 'Percent_total_Jun_2020', 'Affordable_total_Sep_2020', 'Percent_total_Sep_2020', 'Affordable_total_Dec_2020', 'Percent_total_Dec_2020', 'Affordable_total_Mar_2021', 'Percent_total_Mar_2021', 'Affordable_total_Jun_2021', 'Percent_total_Jun_2021', 'Affordable_total_Sep_2021', 'Percent_total_Sep_2021']

In [20]:
affordable_1br = affordable_1br.dropna(how='any',axis=0)
affordable_2br = affordable_2br.dropna(how='any',axis=0)
affordable_3br = affordable_3br.dropna(how='any',axis=0)
affordable_4br = affordable_4br.dropna(how='any',axis=0)
affordable_total = affordable_total.dropna(how='any',axis=0)

In [21]:
# a function used to drop useless columns, only keeps median of house price
def restruct_col(df):
    temp = []
    for col in df.columns:
        if 'Affordable' in col:
            temp.append(col)
    df = df.drop(columns = temp)
    return df

In [22]:
# delete Affordable count number
affordable_1br = restruct_col(affordable_1br)
affordable_2br = restruct_col(affordable_2br)
affordable_3br = restruct_col(affordable_3br)
affordable_4br = restruct_col(affordable_4br)
affordable_total = restruct_col(affordable_total)
# merge the exrternal with affordable letting
external = pd.merge(external, affordable_1br, on='LGA', how='left').fillna(np.nan)
external = pd.merge(external, affordable_2br, on='LGA', how='left').fillna(np.nan)
external = pd.merge(external, affordable_3br, on='LGA', how='left').fillna(np.nan)
external = pd.merge(external, affordable_4br, on='LGA', how='left').fillna(np.nan)
external = pd.merge(external, affordable_total, on='LGA', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,Percent_total_Jun_2019,Percent_total_Sep_2019,Percent_total_Dec_2019,Percent_total_Mar_2020,Percent_total_Jun_2020,Percent_total_Sep_2020,Percent_total_Dec_2020,Percent_total_Mar_2021,Percent_total_Jun_2021,Percent_total_Sep_2021
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.016,0.012,0.014,0.011,0.011,0.012,0.016,0.016,0.026,0.028
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.013,0.021,0.012,0.010,0.023,0.022,0.018,0.013,0.031,0.033
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,0.006,0.007,0.009,0.008,0.008,0.004,0.008,0.007,0.019,0.014
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,0.016,0.012,0.014,0.011,0.011,0.012,0.016,0.016,0.026,0.028
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,0.006,0.007,0.009,0.008,0.008,0.004,0.008,0.007,0.019,0.014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.006,0.007,0.009,0.008,0.008,0.004,0.008,0.007,0.019,0.014
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.006,0.007,0.009,0.008,0.008,0.004,0.008,0.007,0.019,0.014
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.006,0.007,0.009,0.008,0.008,0.004,0.008,0.007,0.019,0.014
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,0.018,0.029,0.020,0.022,0.020,0.027,0.025,0.032,0.033,0.053
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.006,0.007,0.009,0.008,0.008,0.004,0.008,0.007,0.019,0.014

In [23]:
#save external data
path = os.getcwd().replace("notebooks","") + "data/curated/"
external.to_csv(path+'external.csv',index=False)

In [24]:
# a function used to drop useless columns, only keeps median of rental
def restruct_col(df):
    temp = []
    for col in df.columns:
        if 'Count' in col:
            temp.append(col)
    df = df.drop(columns = temp)
    return df
#change dict format from {key:value} to {key:[value]}
def change_dict_format(dic):
    for key in dic.keys():
        dic[key] = [dic[key]]
    return dic
#split combine suburb to individual, e.g. Carlton-Parkville to Carlton and Parkville
def split_suburb(df):
    new_df = pd.DataFrame(columns= df.columns)
    mix = df[df["Suburb"].str.contains('-')].copy()
    for i in range(mix.shape[0]):
        suburb_names = df.iloc[i].to_dict()['Suburb'].split("-")
        for name in suburb_names:
            new_row = df.iloc[i].to_dict()
            new_row['Suburb'] = name
            new_row = change_dict_format(new_row)
            new_df = pd.concat([new_df, pd.DataFrame.from_dict(new_row)]).reset_index(drop=True)
    df = pd.concat([df,new_df]).reset_index(drop=True)
    return df
# split the suburb name and delete the region group total value
def restruct_df(df):
    idx = df[df["Suburb"].str.contains('Group Total')].index.to_list()
    df = df.drop(idx).reset_index(drop=True)
    idx = df[df["Suburb"].str.contains('-')].index.to_list()
    df = split_suburb(df)
    df = df.drop(idx).reset_index(drop=True)
    return df

In [25]:
# read rental report quatterly with median data for 1 bedeoom flat
rental_flat_1_bedroom= pd.read_excel("../data/raw/Rental_Report_Quarterly_Median_2021.xlsx",sheet_name="1 bedroom flat",header=2)
rental_flat_1_bedroom = rental_flat_1_bedroom.drop(columns = ['Region'])
rental_flat_1_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_1b_flat', 'Rental_total_Mar_2000_1b_flat', 'Count_total_Jun_2000_1b_flat', 'Rental_total_Jun_2000_1b_flat', 'Count_total_Sep_2000_1b_flat', 'Rental_total_Sep_2000_1b_flat', 'Count_total_Dec_2000_1b_flat', 'Rental_total_Dec_2000_1b_flat', 'Count_total_Mar_2001_1b_flat', 'Rental_total_Mar_2001_1b_flat', 'Count_total_Jun_2001_1b_flat', 'Rental_total_Jun_2001_1b_flat', 'Count_total_Sep_2001_1b_flat', 'Rental_total_Sep_2001_1b_flat', 'Count_total_Dec_2001_1b_flat', 'Rental_total_Dec_2001_1b_flat', 'Count_total_Mar_2002_1b_flat', 'Rental_total_Mar_2002_1b_flat', 'Count_total_Jun_2002_1b_flat', 'Rental_total_Jun_2002_1b_flat', 'Count_total_Sep_2002_1b_flat', 'Rental_total_Sep_2002_1b_flat', 'Count_total_Dec_2002_1b_flat', 'Rental_total_Dec_2002_1b_flat', 'Count_total_Mar_2003_1b_flat', 'Rental_total_Mar_2003_1b_flat', 'Count_total_Jun_2003_1b_flat', 'Rental_total_Jun_2003_1b_flat', 'Count_total_Sep_2003_1b_flat', 'Rental_total_Sep_2003_1b_flat', 'Count_total_Dec_2003_1b_flat', 'Rental_total_Dec_2003_1b_flat', 'Count_total_Mar_2004_1b_flat', 'Rental_total_Mar_2004_1b_flat', 'Count_total_Jun_2004_1b_flat', 'Rental_total_Jun_2004_1b_flat', 'Count_total_Sep_2004_1b_flat', 'Rental_total_Sep_2004_1b_flat', 'Count_total_Dec_2004_1b_flat', 'Rental_total_Dec_2004_1b_flat', 'Count_total_Mar_2005_1b_flat', 'Rental_total_Mar_2005_1b_flat', 'Count_total_Jun_2005_1b_flat', 'Rental_total_Jun_2005_1b_flat', 'Count_total_Sep_2005_1b_flat', 'Rental_total_Sep_2005_1b_flat', 'Count_total_Dec_2005_1b_flat', 'Rental_total_Dec_2005_1b_flat', 'Count_total_Mar_2006_1b_flat', 'Rental_total_Mar_2006_1b_flat', 'Count_total_Jun_2006_1b_flat', 'Rental_total_Jun_2006_1b_flat', 'Count_total_Sep_2006_1b_flat', 'Rental_total_Sep_2006_1b_flat', 'Count_total_Dec_2006_1b_flat', 'Rental_total_Dec_2006_1b_flat', 'Count_total_Mar_2007_1b_flat', 'Rental_total_Mar_2007_1b_flat', 'Count_total_Jun_2007_1b_flat', 'Rental_total_Jun_2007_1b_flat', 'Count_total_Sep_2007_1b_flat', 'Rental_total_Sep_2007_1b_flat', 'Count_total_Dec_2007_1b_flat', 'Rental_total_Dec_2007_1b_flat', 'Count_total_Mar_2008_1b_flat', 'Rental_total_Mar_2008_1b_flat', 'Count_total_Jun_2008_1b_flat', 'Rental_total_Jun_2008_1b_flat', 'Count_total_Sep_2008_1b_flat', 'Rental_total_Sep_2008_1b_flat', 'Count_total_Dec_2008_1b_flat', 'Rental_total_Dec_2008_1b_flat', 'Count_total_Mar_2009_1b_flat', 'Rental_total_Mar_2009_1b_flat', 'Count_total_Jun_2009_1b_flat', 'Rental_total_Jun_2009_1b_flat', 'Count_total_Sep_2009_1b_flat', 'Rental_total_Sep_2009_1b_flat', 'Count_total_Dec_2009_1b_flat', 'Rental_total_Dec_2009_1b_flat', 'Count_total_Mar_2010_1b_flat', 'Rental_total_Mar_2010_1b_flat', 'Count_total_Jun_2010_1b_flat', 'Rental_total_Jun_2010_1b_flat', 'Count_total_Sep_2010_1b_flat', 'Rental_total_Sep_2010_1b_flat', 'Count_total_Dec_2010_1b_flat', 'Rental_total_Dec_2010_1b_flat', 'Count_total_Mar_2011_1b_flat', 'Rental_total_Mar_2011_1b_flat', 'Count_total_Jun_2011_1b_flat', 'Rental_total_Jun_2011_1b_flat', 'Count_total_Sep_2011_1b_flat', 'Rental_total_Sep_2011_1b_flat', 'Count_total_Dec_2011_1b_flat', 'Rental_total_Dec_2011_1b_flat', 'Count_total_Mar_2012_1b_flat', 'Rental_total_Mar_2012_1b_flat', 'Count_total_Jun_2012_1b_flat', 'Rental_total_Jun_2012_1b_flat', 'Count_total_Sep_2012_1b_flat', 'Rental_total_Sep_2012_1b_flat', 'Count_total_Dec_2012_1b_flat', 'Rental_total_Dec_2012_1b_flat', 'Count_total_Mar_2013_1b_flat', 'Rental_total_Mar_2013_1b_flat', 'Count_total_Jun_2013_1b_flat', 'Rental_total_Jun_2013_1b_flat', 'Count_total_Sep_2013_1b_flat', 'Rental_total_Sep_2013_1b_flat', 'Count_total_Dec_2013_1b_flat', 'Rental_total_Dec_2013_1b_flat', 'Count_total_Mar_2014_1b_flat', 'Rental_total_Mar_2014_1b_flat', 'Count_total_Jun_2014_1b_flat', 'Rental_total_Jun_2014_1b_flat', 'Count_total_Sep_2014_1b_flat', 'Rental_total_Sep_2014_1b_flat', 'Count_total_Dec_2014_1b_flat', 'Rental_total_Dec_2014_1b_flat', 'Count_total_Mar_2015_1b_flat', 'Rental_total_Mar_2015_1b_flat', 'Count_total_Jun_2015_1b_flat', 'Rental_total_Jun_2015_1b_flat', 'Count_total_Sep_2015_1b_flat', 'Rental_total_Sep_2015_1b_flat', 'Count_total_Dec_2015_1b_flat', 'Rental_total_Dec_2015_1b_flat', 'Count_total_Mar_2016_1b_flat', 'Rental_total_Mar_2016_1b_flat', 'Count_total_Jun_2016_1b_flat', 'Rental_total_Jun_2016_1b_flat', 'Count_total_Sep_2016_1b_flat', 'Rental_total_Sep_2016_1b_flat', 'Count_total_Dec_2016_1b_flat', 'Rental_total_Dec_2016_1b_flat', 'Count_total_Mar_2017_1b_flat', 'Rental_total_Mar_2017_1b_flat', 'Count_total_Jun_2017_1b_flat', 'Rental_total_Jun_2017_1b_flat', 'Count_total_Sep_2017_1b_flat', 'Rental_total_Sep_2017_1b_flat', 'Count_total_Dec_2017_1b_flat', 'Rental_total_Dec_2017_1b_flat', 'Count_total_Mar_2018_1b_flat', 'Rental_total_Mar_2018_1b_flat', 'Count_total_Jun_2018_1b_flat', 'Rental_total_Jun_2018_1b_flat', 'Count_total_Sep_2018_1b_flat', 'Rental_total_Sep_2018_1b_flat', 'Count_total_Dec_2018_1b_flat', 'Rental_total_Dec_2018_1b_flat', 'Count_total_Mar_2019_1b_flat', 'Rental_total_Mar_2019_1b_flat', 'Count_total_Jun_2019_1b_flat', 'Rental_total_Jun_2019_1b_flat', 'Count_total_Sep_2019_1b_flat', 'Rental_total_Sep_2019_1b_flat', 'Count_total_Dec_2019_1b_flat', 'Rental_total_Dec_2019_1b_flat', 'Count_total_Mar_2020_1b_flat', 'Rental_total_Mar_2020_1b_flat', 'Count_total_Jun_2020_1b_flat', 'Rental_total_Jun_2020_1b_flat', 'Count_total_Sep_2020_1b_flat', 'Rental_total_Sep_2020_1b_flat', 'Count_total_Dec_2020_1b_flat', 'Rental_total_Dec_2020_1b_flat', 'Count_total_Mar_2021_1b_flat', 'Rental_total_Mar_2021_1b_flat', 'Count_total_Jun_2021_1b_flat', 'Rental_total_Jun_2021_1b_flat']
rental_flat_1_bedroom = restruct_col(rental_flat_1_bedroom)
rental_flat_1_bedroom = restruct_df(rental_flat_1_bedroom)
rental_flat_1_bedroom

,Suburb,Rental_total_Mar_2000_1b_flat,Rental_total_Jun_2000_1b_flat,Rental_total_Sep_2000_1b_flat,Rental_total_Dec_2000_1b_flat,Rental_total_Mar_2001_1b_flat,Rental_total_Jun_2001_1b_flat,Rental_total_Sep_2001_1b_flat,Rental_total_Dec_2001_1b_flat,Rental_total_Mar_2002_1b_flat,...,Rental_total_Mar_2019_1b_flat,Rental_total_Jun_2019_1b_flat,Rental_total_Sep_2019_1b_flat,Rental_total_Dec_2019_1b_flat,Rental_total_Mar_2020_1b_flat,Rental_total_Jun_2020_1b_flat,Rental_total_Sep_2020_1b_flat,Rental_total_Dec_2020_1b_flat,Rental_total_Mar_2021_1b_flat,Rental_total_Jun_2021_1b_flat
0,Armadale,150,150,155,160,160,160,165,165,165,...,360,360,360,360,375,368,350,350,350,350
1,Carlton North,150,155,150,150,160,160,160,160,165,...,360,370,370,370,363,360,350,350,330,320
2,Docklands,-,-,-,-,-,-,-,-,265,...,465,470,470,475,470,460,430,380,350,340
3,East Melbourne,180,180,188,185,190,195,200,210,210,...,400,400,420,418,425,405,400,390,375,370
4,East St Kilda,140,145,145,150,150,150,152,155,160,...,330,330,330,330,330,330,325,320,305,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,100,100,100,100,110,110,110,110,110,...,300,295,305,308,300,300,290,288,280,285
173,Spotswood,100,100,100,100,110,110,110,110,110,...,300,295,305,308,300,300,290,288,280,285
174,St Albans,95,95,99,100,100,100,105,110,105,...,250,250,268,280,280,280,280,280,250,250
175,Deer Park,95,95,99,100,100,100,105,110,105,...,250,250,268,280,280,280,280,280,250,250
176,Sunshine,90,90,95,95,95,95,100,100,100,...,245,245,245,250,250,250,250,250,250,240

In [26]:
# read rental report quatterly with median data for 2 bedeoom flat
rental_flat_2_bedroom= pd.read_excel("../data/raw/Rental_Report_Quarterly_Median_2021.xlsx",sheet_name="2 bedroom flat",header=2)
rental_flat_2_bedroom = rental_flat_2_bedroom.drop(columns = ['Region'])
rental_flat_2_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_2b_flat', 'Rental_total_Mar_2000_2b_flat', 'Count_total_Jun_2000_2b_flat', 'Rental_total_Jun_2000_2b_flat', 'Count_total_Sep_2000_2b_flat', 'Rental_total_Sep_2000_2b_flat', 'Count_total_Dec_2000_2b_flat', 'Rental_total_Dec_2000_2b_flat', 'Count_total_Mar_2001_2b_flat', 'Rental_total_Mar_2001_2b_flat', 'Count_total_Jun_2001_2b_flat', 'Rental_total_Jun_2001_2b_flat', 'Count_total_Sep_2001_2b_flat', 'Rental_total_Sep_2001_2b_flat', 'Count_total_Dec_2001_2b_flat', 'Rental_total_Dec_2001_2b_flat', 'Count_total_Mar_2002_2b_flat', 'Rental_total_Mar_2002_2b_flat', 'Count_total_Jun_2002_2b_flat', 'Rental_total_Jun_2002_2b_flat', 'Count_total_Sep_2002_2b_flat', 'Rental_total_Sep_2002_2b_flat', 'Count_total_Dec_2002_2b_flat', 'Rental_total_Dec_2002_2b_flat', 'Count_total_Mar_2003_2b_flat', 'Rental_total_Mar_2003_2b_flat', 'Count_total_Jun_2003_2b_flat', 'Rental_total_Jun_2003_2b_flat', 'Count_total_Sep_2003_2b_flat', 'Rental_total_Sep_2003_2b_flat', 'Count_total_Dec_2003_2b_flat', 'Rental_total_Dec_2003_2b_flat', 'Count_total_Mar_2004_2b_flat', 'Rental_total_Mar_2004_2b_flat', 'Count_total_Jun_2004_2b_flat', 'Rental_total_Jun_2004_2b_flat', 'Count_total_Sep_2004_2b_flat', 'Rental_total_Sep_2004_2b_flat', 'Count_total_Dec_2004_2b_flat', 'Rental_total_Dec_2004_2b_flat', 'Count_total_Mar_2005_2b_flat', 'Rental_total_Mar_2005_2b_flat', 'Count_total_Jun_2005_2b_flat', 'Rental_total_Jun_2005_2b_flat', 'Count_total_Sep_2005_2b_flat', 'Rental_total_Sep_2005_2b_flat', 'Count_total_Dec_2005_2b_flat', 'Rental_total_Dec_2005_2b_flat', 'Count_total_Mar_2006_2b_flat', 'Rental_total_Mar_2006_2b_flat', 'Count_total_Jun_2006_2b_flat', 'Rental_total_Jun_2006_2b_flat', 'Count_total_Sep_2006_2b_flat', 'Rental_total_Sep_2006_2b_flat', 'Count_total_Dec_2006_2b_flat', 'Rental_total_Dec_2006_2b_flat', 'Count_total_Mar_2007_2b_flat', 'Rental_total_Mar_2007_2b_flat', 'Count_total_Jun_2007_2b_flat', 'Rental_total_Jun_2007_2b_flat', 'Count_total_Sep_2007_2b_flat', 'Rental_total_Sep_2007_2b_flat', 'Count_total_Dec_2007_2b_flat', 'Rental_total_Dec_2007_2b_flat', 'Count_total_Mar_2008_2b_flat', 'Rental_total_Mar_2008_2b_flat', 'Count_total_Jun_2008_2b_flat', 'Rental_total_Jun_2008_2b_flat', 'Count_total_Sep_2008_2b_flat', 'Rental_total_Sep_2008_2b_flat', 'Count_total_Dec_2008_2b_flat', 'Rental_total_Dec_2008_2b_flat', 'Count_total_Mar_2009_2b_flat', 'Rental_total_Mar_2009_2b_flat', 'Count_total_Jun_2009_2b_flat', 'Rental_total_Jun_2009_2b_flat', 'Count_total_Sep_2009_2b_flat', 'Rental_total_Sep_2009_2b_flat', 'Count_total_Dec_2009_2b_flat', 'Rental_total_Dec_2009_2b_flat', 'Count_total_Mar_2010_2b_flat', 'Rental_total_Mar_2010_2b_flat', 'Count_total_Jun_2010_2b_flat', 'Rental_total_Jun_2010_2b_flat', 'Count_total_Sep_2010_2b_flat', 'Rental_total_Sep_2010_2b_flat', 'Count_total_Dec_2010_2b_flat', 'Rental_total_Dec_2010_2b_flat', 'Count_total_Mar_2011_2b_flat', 'Rental_total_Mar_2011_2b_flat', 'Count_total_Jun_2011_2b_flat', 'Rental_total_Jun_2011_2b_flat', 'Count_total_Sep_2011_2b_flat', 'Rental_total_Sep_2011_2b_flat', 'Count_total_Dec_2011_2b_flat', 'Rental_total_Dec_2011_2b_flat', 'Count_total_Mar_2012_2b_flat', 'Rental_total_Mar_2012_2b_flat', 'Count_total_Jun_2012_2b_flat', 'Rental_total_Jun_2012_2b_flat', 'Count_total_Sep_2012_2b_flat', 'Rental_total_Sep_2012_2b_flat', 'Count_total_Dec_2012_2b_flat', 'Rental_total_Dec_2012_2b_flat', 'Count_total_Mar_2013_2b_flat', 'Rental_total_Mar_2013_2b_flat', 'Count_total_Jun_2013_2b_flat', 'Rental_total_Jun_2013_2b_flat', 'Count_total_Sep_2013_2b_flat', 'Rental_total_Sep_2013_2b_flat', 'Count_total_Dec_2013_2b_flat', 'Rental_total_Dec_2013_2b_flat', 'Count_total_Mar_2014_2b_flat', 'Rental_total_Mar_2014_2b_flat', 'Count_total_Jun_2014_2b_flat', 'Rental_total_Jun_2014_2b_flat', 'Count_total_Sep_2014_2b_flat', 'Rental_total_Sep_2014_2b_flat', 'Count_total_Dec_2014_2b_flat', 'Rental_total_Dec_2014_2b_flat', 'Count_total_Mar_2015_2b_flat', 'Rental_total_Mar_2015_2b_flat', 'Count_total_Jun_2015_2b_flat', 'Rental_total_Jun_2015_2b_flat', 'Count_total_Sep_2015_2b_flat', 'Rental_total_Sep_2015_2b_flat', 'Count_total_Dec_2015_2b_flat', 'Rental_total_Dec_2015_2b_flat', 'Count_total_Mar_2016_2b_flat', 'Rental_total_Mar_2016_2b_flat', 'Count_total_Jun_2016_2b_flat', 'Rental_total_Jun_2016_2b_flat', 'Count_total_Sep_2016_2b_flat', 'Rental_total_Sep_2016_2b_flat', 'Count_total_Dec_2016_2b_flat', 'Rental_total_Dec_2016_2b_flat', 'Count_total_Mar_2017_2b_flat', 'Rental_total_Mar_2017_2b_flat', 'Count_total_Jun_2017_2b_flat', 'Rental_total_Jun_2017_2b_flat', 'Count_total_Sep_2017_2b_flat', 'Rental_total_Sep_2017_2b_flat', 'Count_total_Dec_2017_2b_flat', 'Rental_total_Dec_2017_2b_flat', 'Count_total_Mar_2018_2b_flat', 'Rental_total_Mar_2018_2b_flat', 'Count_total_Jun_2018_2b_flat', 'Rental_total_Jun_2018_2b_flat', 'Count_total_Sep_2018_2b_flat', 'Rental_total_Sep_2018_2b_flat', 'Count_total_Dec_2018_2b_flat', 'Rental_total_Dec_2018_2b_flat', 'Count_total_Mar_2019_2b_flat', 'Rental_total_Mar_2019_2b_flat', 'Count_total_Jun_2019_2b_flat', 'Rental_total_Jun_2019_2b_flat', 'Count_total_Sep_2019_2b_flat', 'Rental_total_Sep_2019_2b_flat', 'Count_total_Dec_2019_2b_flat', 'Rental_total_Dec_2019_2b_flat', 'Count_total_Mar_2020_2b_flat', 'Rental_total_Mar_2020_2b_flat', 'Count_total_Jun_2020_2b_flat', 'Rental_total_Jun_2020_2b_flat', 'Count_total_Sep_2020_2b_flat', 'Rental_total_Sep_2020_2b_flat', 'Count_total_Dec_2020_2b_flat', 'Rental_total_Dec_2020_2b_flat', 'Count_total_Mar_2021_2b_flat', 'Rental_total_Mar_2021_2b_flat', 'Count_total_Jun_2021_2b_flat', 'Rental_total_Jun_2021_2b_flat']
rental_flat_2_bedroom = restruct_col(rental_flat_2_bedroom)
rental_flat_2_bedroom = restruct_df(rental_flat_2_bedroom)
rental_flat_2_bedroom

,Suburb,Rental_total_Mar_2000_2b_flat,Rental_total_Jun_2000_2b_flat,Rental_total_Sep_2000_2b_flat,Rental_total_Dec_2000_2b_flat,Rental_total_Mar_2001_2b_flat,Rental_total_Jun_2001_2b_flat,Rental_total_Sep_2001_2b_flat,Rental_total_Dec_2001_2b_flat,Rental_total_Mar_2002_2b_flat,...,Rental_total_Mar_2019_2b_flat,Rental_total_Jun_2019_2b_flat,Rental_total_Sep_2019_2b_flat,Rental_total_Dec_2019_2b_flat,Rental_total_Mar_2020_2b_flat,Rental_total_Jun_2020_2b_flat,Rental_total_Sep_2020_2b_flat,Rental_total_Dec_2020_2b_flat,Rental_total_Mar_2021_2b_flat,Rental_total_Jun_2021_2b_flat
0,Armadale,200,205,210,210,220,220,225,230,230,...,490,485,495,490,500,500,495,480,450,450
1,Carlton North,215,218,220,220,230,240,250,250,250,...,493,490,480,490,490,490,490,480,440,438
2,Docklands,-,-,-,-,-,-,-,-,350,...,640,650,650,645,640,610,560,500,460,450
3,East Melbourne,305,310,320,330,330,330,330,340,340,...,580,585,600,620,630,620,595,550,523,520
4,East St Kilda,180,185,185,190,190,195,200,200,205,...,440,440,440,450,450,440,438,425,400,399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,138,140,140,143,145,145,150,150,150,...,360,378,375,380,383,390,390,395,395,380
173,Spotswood,138,140,140,143,145,145,150,150,150,...,360,378,375,380,383,390,390,395,395,380
174,St Albans,125,130,130,130,130,130,130,130,130,...,320,320,320,325,330,330,330,328,320,320
175,Deer Park,125,130,130,130,130,130,130,130,130,...,320,320,320,325,330,330,330,328,320,320
176,Sunshine,115,120,120,120,120,120,125,125,130,...,320,330,325,330,330,330,330,330,320,320

In [27]:
# read rental report quatterly with median data for 3 bedeoom flat
rental_flat_3_bedroom= pd.read_excel("../data/raw/Rental_Report_Quarterly_Median_2021.xlsx",sheet_name="3 bedroom flat",header=2)
rental_flat_3_bedroom = rental_flat_3_bedroom.drop(columns = ['Region'])
rental_flat_3_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_3b_flat', 'Rental_total_Mar_2000_3b_flat', 'Count_total_Jun_2000_3b_flat', 'Rental_total_Jun_2000_3b_flat', 'Count_total_Sep_2000_3b_flat', 'Rental_total_Sep_2000_3b_flat', 'Count_total_Dec_2000_3b_flat', 'Rental_total_Dec_2000_3b_flat', 'Count_total_Mar_2001_3b_flat', 'Rental_total_Mar_2001_3b_flat', 'Count_total_Jun_2001_3b_flat', 'Rental_total_Jun_2001_3b_flat', 'Count_total_Sep_2001_3b_flat', 'Rental_total_Sep_2001_3b_flat', 'Count_total_Dec_2001_3b_flat', 'Rental_total_Dec_2001_3b_flat', 'Count_total_Mar_2002_3b_flat', 'Rental_total_Mar_2002_3b_flat', 'Count_total_Jun_2002_3b_flat', 'Rental_total_Jun_2002_3b_flat', 'Count_total_Sep_2002_3b_flat', 'Rental_total_Sep_2002_3b_flat', 'Count_total_Dec_2002_3b_flat', 'Rental_total_Dec_2002_3b_flat', 'Count_total_Mar_2003_3b_flat', 'Rental_total_Mar_2003_3b_flat', 'Count_total_Jun_2003_3b_flat', 'Rental_total_Jun_2003_3b_flat', 'Count_total_Sep_2003_3b_flat', 'Rental_total_Sep_2003_3b_flat', 'Count_total_Dec_2003_3b_flat', 'Rental_total_Dec_2003_3b_flat', 'Count_total_Mar_2004_3b_flat', 'Rental_total_Mar_2004_3b_flat', 'Count_total_Jun_2004_3b_flat', 'Rental_total_Jun_2004_3b_flat', 'Count_total_Sep_2004_3b_flat', 'Rental_total_Sep_2004_3b_flat', 'Count_total_Dec_2004_3b_flat', 'Rental_total_Dec_2004_3b_flat', 'Count_total_Mar_2005_3b_flat', 'Rental_total_Mar_2005_3b_flat', 'Count_total_Jun_2005_3b_flat', 'Rental_total_Jun_2005_3b_flat', 'Count_total_Sep_2005_3b_flat', 'Rental_total_Sep_2005_3b_flat', 'Count_total_Dec_2005_3b_flat', 'Rental_total_Dec_2005_3b_flat', 'Count_total_Mar_2006_3b_flat', 'Rental_total_Mar_2006_3b_flat', 'Count_total_Jun_2006_3b_flat', 'Rental_total_Jun_2006_3b_flat', 'Count_total_Sep_2006_3b_flat', 'Rental_total_Sep_2006_3b_flat', 'Count_total_Dec_2006_3b_flat', 'Rental_total_Dec_2006_3b_flat', 'Count_total_Mar_2007_3b_flat', 'Rental_total_Mar_2007_3b_flat', 'Count_total_Jun_2007_3b_flat', 'Rental_total_Jun_2007_3b_flat', 'Count_total_Sep_2007_3b_flat', 'Rental_total_Sep_2007_3b_flat', 'Count_total_Dec_2007_3b_flat', 'Rental_total_Dec_2007_3b_flat', 'Count_total_Mar_2008_3b_flat', 'Rental_total_Mar_2008_3b_flat', 'Count_total_Jun_2008_3b_flat', 'Rental_total_Jun_2008_3b_flat', 'Count_total_Sep_2008_3b_flat', 'Rental_total_Sep_2008_3b_flat', 'Count_total_Dec_2008_3b_flat', 'Rental_total_Dec_2008_3b_flat', 'Count_total_Mar_2009_3b_flat', 'Rental_total_Mar_2009_3b_flat', 'Count_total_Jun_2009_3b_flat', 'Rental_total_Jun_2009_3b_flat', 'Count_total_Sep_2009_3b_flat', 'Rental_total_Sep_2009_3b_flat', 'Count_total_Dec_2009_3b_flat', 'Rental_total_Dec_2009_3b_flat', 'Count_total_Mar_2010_3b_flat', 'Rental_total_Mar_2010_3b_flat', 'Count_total_Jun_2010_3b_flat', 'Rental_total_Jun_2010_3b_flat', 'Count_total_Sep_2010_3b_flat', 'Rental_total_Sep_2010_3b_flat', 'Count_total_Dec_2010_3b_flat', 'Rental_total_Dec_2010_3b_flat', 'Count_total_Mar_2011_3b_flat', 'Rental_total_Mar_2011_3b_flat', 'Count_total_Jun_2011_3b_flat', 'Rental_total_Jun_2011_3b_flat', 'Count_total_Sep_2011_3b_flat', 'Rental_total_Sep_2011_3b_flat', 'Count_total_Dec_2011_3b_flat', 'Rental_total_Dec_2011_3b_flat', 'Count_total_Mar_2012_3b_flat', 'Rental_total_Mar_2012_3b_flat', 'Count_total_Jun_2012_3b_flat', 'Rental_total_Jun_2012_3b_flat', 'Count_total_Sep_2012_3b_flat', 'Rental_total_Sep_2012_3b_flat', 'Count_total_Dec_2012_3b_flat', 'Rental_total_Dec_2012_3b_flat', 'Count_total_Mar_2013_3b_flat', 'Rental_total_Mar_2013_3b_flat', 'Count_total_Jun_2013_3b_flat', 'Rental_total_Jun_2013_3b_flat', 'Count_total_Sep_2013_3b_flat', 'Rental_total_Sep_2013_3b_flat', 'Count_total_Dec_2013_3b_flat', 'Rental_total_Dec_2013_3b_flat', 'Count_total_Mar_2014_3b_flat', 'Rental_total_Mar_2014_3b_flat', 'Count_total_Jun_2014_3b_flat', 'Rental_total_Jun_2014_3b_flat', 'Count_total_Sep_2014_3b_flat', 'Rental_total_Sep_2014_3b_flat', 'Count_total_Dec_2014_3b_flat', 'Rental_total_Dec_2014_3b_flat', 'Count_total_Mar_2015_3b_flat', 'Rental_total_Mar_2015_3b_flat', 'Count_total_Jun_2015_3b_flat', 'Rental_total_Jun_2015_3b_flat', 'Count_total_Sep_2015_3b_flat', 'Rental_total_Sep_2015_3b_flat', 'Count_total_Dec_2015_3b_flat', 'Rental_total_Dec_2015_3b_flat', 'Count_total_Mar_2016_3b_flat', 'Rental_total_Mar_2016_3b_flat', 'Count_total_Jun_2016_3b_flat', 'Rental_total_Jun_2016_3b_flat', 'Count_total_Sep_2016_3b_flat', 'Rental_total_Sep_2016_3b_flat', 'Count_total_Dec_2016_3b_flat', 'Rental_total_Dec_2016_3b_flat', 'Count_total_Mar_2017_3b_flat', 'Rental_total_Mar_2017_3b_flat', 'Count_total_Jun_2017_3b_flat', 'Rental_total_Jun_2017_3b_flat', 'Count_total_Sep_2017_3b_flat', 'Rental_total_Sep_2017_3b_flat', 'Count_total_Dec_2017_3b_flat', 'Rental_total_Dec_2017_3b_flat', 'Count_total_Mar_2018_3b_flat', 'Rental_total_Mar_2018_3b_flat', 'Count_total_Jun_2018_3b_flat', 'Rental_total_Jun_2018_3b_flat', 'Count_total_Sep_2018_3b_flat', 'Rental_total_Sep_2018_3b_flat', 'Count_total_Dec_2018_3b_flat', 'Rental_total_Dec_2018_3b_flat', 'Count_total_Mar_2019_3b_flat', 'Rental_total_Mar_2019_3b_flat', 'Count_total_Jun_2019_3b_flat', 'Rental_total_Jun_2019_3b_flat', 'Count_total_Sep_2019_3b_flat', 'Rental_total_Sep_2019_3b_flat', 'Count_total_Dec_2019_3b_flat', 'Rental_total_Dec_2019_3b_flat', 'Count_total_Mar_2020_3b_flat', 'Rental_total_Mar_2020_3b_flat', 'Count_total_Jun_2020_3b_flat', 'Rental_total_Jun_2020_3b_flat', 'Count_total_Sep_2020_3b_flat', 'Rental_total_Sep_2020_3b_flat', 'Count_total_Dec_2020_3b_flat', 'Rental_total_Dec_2020_3b_flat', 'Count_total_Mar_2021_3b_flat', 'Rental_total_Mar_2021_3b_flat', 'Count_total_Jun_2021_3b_flat', 'Rental_total_Jun_2021_3b_flat']
rental_flat_3_bedroom = restruct_col(rental_flat_3_bedroom)
rental_flat_3_bedroom = restruct_df(rental_flat_3_bedroom)
rental_flat_3_bedroom

,Suburb,Rental_total_Mar_2000_3b_flat,Rental_total_Jun_2000_3b_flat,Rental_total_Sep_2000_3b_flat,Rental_total_Dec_2000_3b_flat,Rental_total_Mar_2001_3b_flat,Rental_total_Jun_2001_3b_flat,Rental_total_Sep_2001_3b_flat,Rental_total_Dec_2001_3b_flat,Rental_total_Mar_2002_3b_flat,...,Rental_total_Mar_2019_3b_flat,Rental_total_Jun_2019_3b_flat,Rental_total_Sep_2019_3b_flat,Rental_total_Dec_2019_3b_flat,Rental_total_Mar_2020_3b_flat,Rental_total_Jun_2020_3b_flat,Rental_total_Sep_2020_3b_flat,Rental_total_Dec_2020_3b_flat,Rental_total_Mar_2021_3b_flat,Rental_total_Jun_2021_3b_flat
0,Armadale,305,310,300,300,330,305,350,350,330,...,730,750,760,800,800,800,750,715,700,700
1,Carlton North,296,300,300,305,330,331,340,348,340,...,650,640,645,620,640,650,670,688,650,600
2,Docklands,-,-,-,-,-,-,-,-,-,...,950,1000,1000,998,950,905,850,800,750,750
3,East Melbourne,401,405,408,405,418,425,430,435,440,...,875,878,900,910,910,895,948,866,840,850
4,East St Kilda,250,250,250,250,250,250,255,283,300,...,583,580,580,600,600,600,580,550,525,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,223,245,240,240,240,240,245,250,250,...,540,550,530,540,560,558,560,565,520,520
173,Spotswood,223,245,240,240,240,240,245,250,250,...,540,550,530,540,560,558,560,565,520,520
174,St Albans,165,168,170,170,175,175,180,180,180,...,350,360,360,360,360,365,363,360,360,350
175,Deer Park,165,168,170,170,175,175,180,180,180,...,350,360,360,360,360,365,363,360,360,350
176,Sunshine,160,160,170,170,180,180,180,180,180,...,380,383,385,380,380,380,380,370,370,370

In [28]:
# read rental report quatterly with median data for 2 bedeoom house
rental_house_2_bedroom= pd.read_excel("../data/raw/Rental_Report_Quarterly_Median_2021.xlsx",sheet_name="2 bedroom house",header=2)
rental_house_2_bedroom = rental_house_2_bedroom.drop(columns = ['Region'])
rental_house_2_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_2b_house', 'Rental_total_Mar_2000_2b_house', 'Count_total_Jun_2000_2b_house', 'Rental_total_Jun_2000_2b_house', 'Count_total_Sep_2000_2b_house', 'Rental_total_Sep_2000_2b_house', 'Count_total_Dec_2000_2b_house', 'Rental_total_Dec_2000_2b_house', 'Count_total_Mar_2001_2b_house', 'Rental_total_Mar_2001_2b_house', 'Count_total_Jun_2001_2b_house', 'Rental_total_Jun_2001_2b_house', 'Count_total_Sep_2001_2b_house', 'Rental_total_Sep_2001_2b_house', 'Count_total_Dec_2001_2b_house', 'Rental_total_Dec_2001_2b_house', 'Count_total_Mar_2002_2b_house', 'Rental_total_Mar_2002_2b_house', 'Count_total_Jun_2002_2b_house', 'Rental_total_Jun_2002_2b_house', 'Count_total_Sep_2002_2b_house', 'Rental_total_Sep_2002_2b_house', 'Count_total_Dec_2002_2b_house', 'Rental_total_Dec_2002_2b_house', 'Count_total_Mar_2003_2b_house', 'Rental_total_Mar_2003_2b_house', 'Count_total_Jun_2003_2b_house', 'Rental_total_Jun_2003_2b_house', 'Count_total_Sep_2003_2b_house', 'Rental_total_Sep_2003_2b_house', 'Count_total_Dec_2003_2b_house', 'Rental_total_Dec_2003_2b_house', 'Count_total_Mar_2004_2b_house', 'Rental_total_Mar_2004_2b_house', 'Count_total_Jun_2004_2b_house', 'Rental_total_Jun_2004_2b_house', 'Count_total_Sep_2004_2b_house', 'Rental_total_Sep_2004_2b_house', 'Count_total_Dec_2004_2b_house', 'Rental_total_Dec_2004_2b_house', 'Count_total_Mar_2005_2b_house', 'Rental_total_Mar_2005_2b_house', 'Count_total_Jun_2005_2b_house', 'Rental_total_Jun_2005_2b_house', 'Count_total_Sep_2005_2b_house', 'Rental_total_Sep_2005_2b_house', 'Count_total_Dec_2005_2b_house', 'Rental_total_Dec_2005_2b_house', 'Count_total_Mar_2006_2b_house', 'Rental_total_Mar_2006_2b_house', 'Count_total_Jun_2006_2b_house', 'Rental_total_Jun_2006_2b_house', 'Count_total_Sep_2006_2b_house', 'Rental_total_Sep_2006_2b_house', 'Count_total_Dec_2006_2b_house', 'Rental_total_Dec_2006_2b_house', 'Count_total_Mar_2007_2b_house', 'Rental_total_Mar_2007_2b_house', 'Count_total_Jun_2007_2b_house', 'Rental_total_Jun_2007_2b_house', 'Count_total_Sep_2007_2b_house', 'Rental_total_Sep_2007_2b_house', 'Count_total_Dec_2007_2b_house', 'Rental_total_Dec_2007_2b_house', 'Count_total_Mar_2008_2b_house', 'Rental_total_Mar_2008_2b_house', 'Count_total_Jun_2008_2b_house', 'Rental_total_Jun_2008_2b_house', 'Count_total_Sep_2008_2b_house', 'Rental_total_Sep_2008_2b_house', 'Count_total_Dec_2008_2b_house', 'Rental_total_Dec_2008_2b_house', 'Count_total_Mar_2009_2b_house', 'Rental_total_Mar_2009_2b_house', 'Count_total_Jun_2009_2b_house', 'Rental_total_Jun_2009_2b_house', 'Count_total_Sep_2009_2b_house', 'Rental_total_Sep_2009_2b_house', 'Count_total_Dec_2009_2b_house', 'Rental_total_Dec_2009_2b_house', 'Count_total_Mar_2010_2b_house', 'Rental_total_Mar_2010_2b_house', 'Count_total_Jun_2010_2b_house', 'Rental_total_Jun_2010_2b_house', 'Count_total_Sep_2010_2b_house', 'Rental_total_Sep_2010_2b_house', 'Count_total_Dec_2010_2b_house', 'Rental_total_Dec_2010_2b_house', 'Count_total_Mar_2011_2b_house', 'Rental_total_Mar_2011_2b_house', 'Count_total_Jun_2011_2b_house', 'Rental_total_Jun_2011_2b_house', 'Count_total_Sep_2011_2b_house', 'Rental_total_Sep_2011_2b_house', 'Count_total_Dec_2011_2b_house', 'Rental_total_Dec_2011_2b_house', 'Count_total_Mar_2012_2b_house', 'Rental_total_Mar_2012_2b_house', 'Count_total_Jun_2012_2b_house', 'Rental_total_Jun_2012_2b_house', 'Count_total_Sep_2012_2b_house', 'Rental_total_Sep_2012_2b_house', 'Count_total_Dec_2012_2b_house', 'Rental_total_Dec_2012_2b_house', 'Count_total_Mar_2013_2b_house', 'Rental_total_Mar_2013_2b_house', 'Count_total_Jun_2013_2b_house', 'Rental_total_Jun_2013_2b_house', 'Count_total_Sep_2013_2b_house', 'Rental_total_Sep_2013_2b_house', 'Count_total_Dec_2013_2b_house', 'Rental_total_Dec_2013_2b_house', 'Count_total_Mar_2014_2b_house', 'Rental_total_Mar_2014_2b_house', 'Count_total_Jun_2014_2b_house', 'Rental_total_Jun_2014_2b_house', 'Count_total_Sep_2014_2b_house', 'Rental_total_Sep_2014_2b_house', 'Count_total_Dec_2014_2b_house', 'Rental_total_Dec_2014_2b_house', 'Count_total_Mar_2015_2b_house', 'Rental_total_Mar_2015_2b_house', 'Count_total_Jun_2015_2b_house', 'Rental_total_Jun_2015_2b_house', 'Count_total_Sep_2015_2b_house', 'Rental_total_Sep_2015_2b_house', 'Count_total_Dec_2015_2b_house', 'Rental_total_Dec_2015_2b_house', 'Count_total_Mar_2016_2b_house', 'Rental_total_Mar_2016_2b_house', 'Count_total_Jun_2016_2b_house', 'Rental_total_Jun_2016_2b_house', 'Count_total_Sep_2016_2b_house', 'Rental_total_Sep_2016_2b_house', 'Count_total_Dec_2016_2b_house', 'Rental_total_Dec_2016_2b_house', 'Count_total_Mar_2017_2b_house', 'Rental_total_Mar_2017_2b_house', 'Count_total_Jun_2017_2b_house', 'Rental_total_Jun_2017_2b_house', 'Count_total_Sep_2017_2b_house', 'Rental_total_Sep_2017_2b_house', 'Count_total_Dec_2017_2b_house', 'Rental_total_Dec_2017_2b_house', 'Count_total_Mar_2018_2b_house', 'Rental_total_Mar_2018_2b_house', 'Count_total_Jun_2018_2b_house', 'Rental_total_Jun_2018_2b_house', 'Count_total_Sep_2018_2b_house', 'Rental_total_Sep_2018_2b_house', 'Count_total_Dec_2018_2b_house', 'Rental_total_Dec_2018_2b_house', 'Count_total_Mar_2019_2b_house', 'Rental_total_Mar_2019_2b_house', 'Count_total_Jun_2019_2b_house', 'Rental_total_Jun_2019_2b_house', 'Count_total_Sep_2019_2b_house', 'Rental_total_Sep_2019_2b_house', 'Count_total_Dec_2019_2b_house', 'Rental_total_Dec_2019_2b_house', 'Count_total_Mar_2020_2b_house', 'Rental_total_Mar_2020_2b_house', 'Count_total_Jun_2020_2b_house', 'Rental_total_Jun_2020_2b_house', 'Count_total_Sep_2020_2b_house', 'Rental_total_Sep_2020_2b_house', 'Count_total_Dec_2020_2b_house', 'Rental_total_Dec_2020_2b_house', 'Count_total_Mar_2021_2b_house', 'Rental_total_Mar_2021_2b_house', 'Count_total_Jun_2021_2b_house', 'Rental_total_Jun_2021_2b_house']
rental_house_2_bedroom = restruct_col(rental_house_2_bedroom)
rental_house_2_bedroom = restruct_df(rental_house_2_bedroom)
rental_house_2_bedroom

,Suburb,Rental_total_Mar_2000_2b_house,Rental_total_Jun_2000_2b_house,Rental_total_Sep_2000_2b_house,Rental_total_Dec_2000_2b_house,Rental_total_Mar_2001_2b_house,Rental_total_Jun_2001_2b_house,Rental_total_Sep_2001_2b_house,Rental_total_Dec_2001_2b_house,Rental_total_Mar_2002_2b_house,...,Rental_total_Mar_2019_2b_house,Rental_total_Jun_2019_2b_house,Rental_total_Sep_2019_2b_house,Rental_total_Dec_2019_2b_house,Rental_total_Mar_2020_2b_house,Rental_total_Jun_2020_2b_house,Rental_total_Sep_2020_2b_house,Rental_total_Dec_2020_2b_house,Rental_total_Mar_2021_2b_house,Rental_total_Jun_2021_2b_house
0,Armadale,290,290,298,300,300,300,310,300,300,...,620,615,633,650,650,633,620,620,600,650
1,Carlton North,250,258,255,260,268,270,275,280,290,...,580,578,583,593,610,603,600,588,580,580
2,Docklands,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,East Melbourne,305,370,300,-,-,-,-,440,-,...,-,-,-,825,-,-,-,-,-,-
4,East St Kilda,255,260,270,263,260,270,280,280,295,...,600,595,615,615,620,600,585,565,555,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,190,190,185,190,190,200,210,210,215,...,450,450,450,450,465,465,465,460,450,450
173,Spotswood,190,190,185,190,190,200,210,210,215,...,450,450,450,450,465,465,465,460,450,450
174,St Albans,140,145,140,140,140,145,145,145,150,...,330,330,330,335,330,340,330,330,330,320
175,Deer Park,140,145,140,140,140,145,145,145,150,...,330,330,330,335,330,340,330,330,330,320
176,Sunshine,140,145,150,150,150,150,150,150,150,...,340,340,340,343,350,350,350,340,340,350

In [29]:
# read rental report quatterly with median data for 3 bedeoom house
rental_house_3_bedroom= pd.read_excel("../data/raw/Rental_Report_Quarterly_Median_2021.xlsx",sheet_name="3 bedroom house",header=2)
rental_house_3_bedroom = rental_house_3_bedroom.drop(columns = ['Region'])
rental_house_3_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_3b_house', 'Rental_total_Mar_2000_3b_house', 'Count_total_Jun_2000_3b_house', 'Rental_total_Jun_2000_3b_house', 'Count_total_Sep_2000_3b_house', 'Rental_total_Sep_2000_3b_house', 'Count_total_Dec_2000_3b_house', 'Rental_total_Dec_2000_3b_house', 'Count_total_Mar_2001_3b_house', 'Rental_total_Mar_2001_3b_house', 'Count_total_Jun_2001_3b_house', 'Rental_total_Jun_2001_3b_house', 'Count_total_Sep_2001_3b_house', 'Rental_total_Sep_2001_3b_house', 'Count_total_Dec_2001_3b_house', 'Rental_total_Dec_2001_3b_house', 'Count_total_Mar_2002_3b_house', 'Rental_total_Mar_2002_3b_house', 'Count_total_Jun_2002_3b_house', 'Rental_total_Jun_2002_3b_house', 'Count_total_Sep_2002_3b_house', 'Rental_total_Sep_2002_3b_house', 'Count_total_Dec_2002_3b_house', 'Rental_total_Dec_2002_3b_house', 'Count_total_Mar_2003_3b_house', 'Rental_total_Mar_2003_3b_house', 'Count_total_Jun_2003_3b_house', 'Rental_total_Jun_2003_3b_house', 'Count_total_Sep_2003_3b_house', 'Rental_total_Sep_2003_3b_house', 'Count_total_Dec_2003_3b_house', 'Rental_total_Dec_2003_3b_house', 'Count_total_Mar_2004_3b_house', 'Rental_total_Mar_2004_3b_house', 'Count_total_Jun_2004_3b_house', 'Rental_total_Jun_2004_3b_house', 'Count_total_Sep_2004_3b_house', 'Rental_total_Sep_2004_3b_house', 'Count_total_Dec_2004_3b_house', 'Rental_total_Dec_2004_3b_house', 'Count_total_Mar_2005_3b_house', 'Rental_total_Mar_2005_3b_house', 'Count_total_Jun_2005_3b_house', 'Rental_total_Jun_2005_3b_house', 'Count_total_Sep_2005_3b_house', 'Rental_total_Sep_2005_3b_house', 'Count_total_Dec_2005_3b_house', 'Rental_total_Dec_2005_3b_house', 'Count_total_Mar_2006_3b_house', 'Rental_total_Mar_2006_3b_house', 'Count_total_Jun_2006_3b_house', 'Rental_total_Jun_2006_3b_house', 'Count_total_Sep_2006_3b_house', 'Rental_total_Sep_2006_3b_house', 'Count_total_Dec_2006_3b_house', 'Rental_total_Dec_2006_3b_house', 'Count_total_Mar_2007_3b_house', 'Rental_total_Mar_2007_3b_house', 'Count_total_Jun_2007_3b_house', 'Rental_total_Jun_2007_3b_house', 'Count_total_Sep_2007_3b_house', 'Rental_total_Sep_2007_3b_house', 'Count_total_Dec_2007_3b_house', 'Rental_total_Dec_2007_3b_house', 'Count_total_Mar_2008_3b_house', 'Rental_total_Mar_2008_3b_house', 'Count_total_Jun_2008_3b_house', 'Rental_total_Jun_2008_3b_house', 'Count_total_Sep_2008_3b_house', 'Rental_total_Sep_2008_3b_house', 'Count_total_Dec_2008_3b_house', 'Rental_total_Dec_2008_3b_house', 'Count_total_Mar_2009_3b_house', 'Rental_total_Mar_2009_3b_house', 'Count_total_Jun_2009_3b_house', 'Rental_total_Jun_2009_3b_house', 'Count_total_Sep_2009_3b_house', 'Rental_total_Sep_2009_3b_house', 'Count_total_Dec_2009_3b_house', 'Rental_total_Dec_2009_3b_house', 'Count_total_Mar_2010_3b_house', 'Rental_total_Mar_2010_3b_house', 'Count_total_Jun_2010_3b_house', 'Rental_total_Jun_2010_3b_house', 'Count_total_Sep_2010_3b_house', 'Rental_total_Sep_2010_3b_house', 'Count_total_Dec_2010_3b_house', 'Rental_total_Dec_2010_3b_house', 'Count_total_Mar_2011_3b_house', 'Rental_total_Mar_2011_3b_house', 'Count_total_Jun_2011_3b_house', 'Rental_total_Jun_2011_3b_house', 'Count_total_Sep_2011_3b_house', 'Rental_total_Sep_2011_3b_house', 'Count_total_Dec_2011_3b_house', 'Rental_total_Dec_2011_3b_house', 'Count_total_Mar_2012_3b_house', 'Rental_total_Mar_2012_3b_house', 'Count_total_Jun_2012_3b_house', 'Rental_total_Jun_2012_3b_house', 'Count_total_Sep_2012_3b_house', 'Rental_total_Sep_2012_3b_house', 'Count_total_Dec_2012_3b_house', 'Rental_total_Dec_2012_3b_house', 'Count_total_Mar_2013_3b_house', 'Rental_total_Mar_2013_3b_house', 'Count_total_Jun_2013_3b_house', 'Rental_total_Jun_2013_3b_house', 'Count_total_Sep_2013_3b_house', 'Rental_total_Sep_2013_3b_house', 'Count_total_Dec_2013_3b_house', 'Rental_total_Dec_2013_3b_house', 'Count_total_Mar_2014_3b_house', 'Rental_total_Mar_2014_3b_house', 'Count_total_Jun_2014_3b_house', 'Rental_total_Jun_2014_3b_house', 'Count_total_Sep_2014_3b_house', 'Rental_total_Sep_2014_3b_house', 'Count_total_Dec_2014_3b_house', 'Rental_total_Dec_2014_3b_house', 'Count_total_Mar_2015_3b_house', 'Rental_total_Mar_2015_3b_house', 'Count_total_Jun_2015_3b_house', 'Rental_total_Jun_2015_3b_house', 'Count_total_Sep_2015_3b_house', 'Rental_total_Sep_2015_3b_house', 'Count_total_Dec_2015_3b_house', 'Rental_total_Dec_2015_3b_house', 'Count_total_Mar_2016_3b_house', 'Rental_total_Mar_2016_3b_house', 'Count_total_Jun_2016_3b_house', 'Rental_total_Jun_2016_3b_house', 'Count_total_Sep_2016_3b_house', 'Rental_total_Sep_2016_3b_house', 'Count_total_Dec_2016_3b_house', 'Rental_total_Dec_2016_3b_house', 'Count_total_Mar_2017_3b_house', 'Rental_total_Mar_2017_3b_house', 'Count_total_Jun_2017_3b_house', 'Rental_total_Jun_2017_3b_house', 'Count_total_Sep_2017_3b_house', 'Rental_total_Sep_2017_3b_house', 'Count_total_Dec_2017_3b_house', 'Rental_total_Dec_2017_3b_house', 'Count_total_Mar_2018_3b_house', 'Rental_total_Mar_2018_3b_house', 'Count_total_Jun_2018_3b_house', 'Rental_total_Jun_2018_3b_house', 'Count_total_Sep_2018_3b_house', 'Rental_total_Sep_2018_3b_house', 'Count_total_Dec_2018_3b_house', 'Rental_total_Dec_2018_3b_house', 'Count_total_Mar_2019_3b_house', 'Rental_total_Mar_2019_3b_house', 'Count_total_Jun_2019_3b_house', 'Rental_total_Jun_2019_3b_house', 'Count_total_Sep_2019_3b_house', 'Rental_total_Sep_2019_3b_house', 'Count_total_Dec_2019_3b_house', 'Rental_total_Dec_2019_3b_house', 'Count_total_Mar_2020_3b_house', 'Rental_total_Mar_2020_3b_house', 'Count_total_Jun_2020_3b_house', 'Rental_total_Jun_2020_3b_house', 'Count_total_Sep_2020_3b_house', 'Rental_total_Sep_2020_3b_house', 'Count_total_Dec_2020_3b_house', 'Rental_total_Dec_2020_3b_house', 'Count_total_Mar_2021_3b_house', 'Rental_total_Mar_2021_3b_house', 'Count_total_Jun_2021_3b_house', 'Rental_total_Jun_2021_3b_house']
rental_house_3_bedroom = restruct_col(rental_house_3_bedroom)
rental_house_3_bedroom = restruct_df(rental_house_3_bedroom)
rental_house_3_bedroom

,Suburb,Rental_total_Mar_2000_3b_house,Rental_total_Jun_2000_3b_house,Rental_total_Sep_2000_3b_house,Rental_total_Dec_2000_3b_house,Rental_total_Mar_2001_3b_house,Rental_total_Jun_2001_3b_house,Rental_total_Sep_2001_3b_house,Rental_total_Dec_2001_3b_house,Rental_total_Mar_2002_3b_house,...,Rental_total_Mar_2019_3b_house,Rental_total_Jun_2019_3b_house,Rental_total_Sep_2019_3b_house,Rental_total_Dec_2019_3b_house,Rental_total_Mar_2020_3b_house,Rental_total_Jun_2020_3b_house,Rental_total_Sep_2020_3b_house,Rental_total_Dec_2020_3b_house,Rental_total_Mar_2021_3b_house,Rental_total_Jun_2021_3b_house
0,Armadale,373,395,415,395,415,440,475,478,475,...,950,900,925,913,925,938,900,870,860,898
1,Carlton North,300,300,310,315,323,330,340,340,340,...,800,785,780,763,770,768,770,770,750,750
2,Docklands,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,East Melbourne,500,500,490,465,450,450,470,500,430,...,-,-,958,995,1000,1225,1225,1025,1025,900
4,East St Kilda,300,300,300,318,330,345,350,350,350,...,750,750,750,750,755,750,750,718,680,695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,200,200,210,211,220,211,218,220,230,...,530,530,540,550,555,550,550,550,550,550
173,Spotswood,200,200,210,211,220,211,218,220,230,...,530,530,540,550,555,550,550,550,550,550
174,St Albans,160,160,165,165,165,170,170,170,170,...,350,360,360,355,360,360,355,350,350,350
175,Deer Park,160,160,165,165,165,170,170,170,170,...,350,360,360,355,360,360,355,350,350,350
176,Sunshine,155,160,160,160,160,165,165,170,170,...,360,360,360,360,370,370,370,370,360,360

In [30]:
# read rental report quatterly with median data for 4 bedeoom house
rental_house_4_bedroom= pd.read_excel("../data/raw/Rental_Report_Quarterly_Median_2021.xlsx",sheet_name="4 bedroom house",header=2)
rental_house_4_bedroom = rental_house_4_bedroom.drop(columns = ['Region'])
rental_house_4_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_4b_house', 'Rental_total_Mar_2000_4b_house', 'Count_total_Jun_2000_4b_house', 'Rental_total_Jun_2000_4b_house', 'Count_total_Sep_2000_4b_house', 'Rental_total_Sep_2000_4b_house', 'Count_total_Dec_2000_4b_house', 'Rental_total_Dec_2000_4b_house', 'Count_total_Mar_2001_4b_house', 'Rental_total_Mar_2001_4b_house', 'Count_total_Jun_2001_4b_house', 'Rental_total_Jun_2001_4b_house', 'Count_total_Sep_2001_4b_house', 'Rental_total_Sep_2001_4b_house', 'Count_total_Dec_2001_4b_house', 'Rental_total_Dec_2001_4b_house', 'Count_total_Mar_2002_4b_house', 'Rental_total_Mar_2002_4b_house', 'Count_total_Jun_2002_4b_house', 'Rental_total_Jun_2002_4b_house', 'Count_total_Sep_2002_4b_house', 'Rental_total_Sep_2002_4b_house', 'Count_total_Dec_2002_4b_house', 'Rental_total_Dec_2002_4b_house', 'Count_total_Mar_2003_4b_house', 'Rental_total_Mar_2003_4b_house', 'Count_total_Jun_2003_4b_house', 'Rental_total_Jun_2003_4b_house', 'Count_total_Sep_2003_4b_house', 'Rental_total_Sep_2003_4b_house', 'Count_total_Dec_2003_4b_house', 'Rental_total_Dec_2003_4b_house', 'Count_total_Mar_2004_4b_house', 'Rental_total_Mar_2004_4b_house', 'Count_total_Jun_2004_4b_house', 'Rental_total_Jun_2004_4b_house', 'Count_total_Sep_2004_4b_house', 'Rental_total_Sep_2004_4b_house', 'Count_total_Dec_2004_4b_house', 'Rental_total_Dec_2004_4b_house', 'Count_total_Mar_2005_4b_house', 'Rental_total_Mar_2005_4b_house', 'Count_total_Jun_2005_4b_house', 'Rental_total_Jun_2005_4b_house', 'Count_total_Sep_2005_4b_house', 'Rental_total_Sep_2005_4b_house', 'Count_total_Dec_2005_4b_house', 'Rental_total_Dec_2005_4b_house', 'Count_total_Mar_2006_4b_house', 'Rental_total_Mar_2006_4b_house', 'Count_total_Jun_2006_4b_house', 'Rental_total_Jun_2006_4b_house', 'Count_total_Sep_2006_4b_house', 'Rental_total_Sep_2006_4b_house', 'Count_total_Dec_2006_4b_house', 'Rental_total_Dec_2006_4b_house', 'Count_total_Mar_2007_4b_house', 'Rental_total_Mar_2007_4b_house', 'Count_total_Jun_2007_4b_house', 'Rental_total_Jun_2007_4b_house', 'Count_total_Sep_2007_4b_house', 'Rental_total_Sep_2007_4b_house', 'Count_total_Dec_2007_4b_house', 'Rental_total_Dec_2007_4b_house', 'Count_total_Mar_2008_4b_house', 'Rental_total_Mar_2008_4b_house', 'Count_total_Jun_2008_4b_house', 'Rental_total_Jun_2008_4b_house', 'Count_total_Sep_2008_4b_house', 'Rental_total_Sep_2008_4b_house', 'Count_total_Dec_2008_4b_house', 'Rental_total_Dec_2008_4b_house', 'Count_total_Mar_2009_4b_house', 'Rental_total_Mar_2009_4b_house', 'Count_total_Jun_2009_4b_house', 'Rental_total_Jun_2009_4b_house', 'Count_total_Sep_2009_4b_house', 'Rental_total_Sep_2009_4b_house', 'Count_total_Dec_2009_4b_house', 'Rental_total_Dec_2009_4b_house', 'Count_total_Mar_2010_4b_house', 'Rental_total_Mar_2010_4b_house', 'Count_total_Jun_2010_4b_house', 'Rental_total_Jun_2010_4b_house', 'Count_total_Sep_2010_4b_house', 'Rental_total_Sep_2010_4b_house', 'Count_total_Dec_2010_4b_house', 'Rental_total_Dec_2010_4b_house', 'Count_total_Mar_2011_4b_house', 'Rental_total_Mar_2011_4b_house', 'Count_total_Jun_2011_4b_house', 'Rental_total_Jun_2011_4b_house', 'Count_total_Sep_2011_4b_house', 'Rental_total_Sep_2011_4b_house', 'Count_total_Dec_2011_4b_house', 'Rental_total_Dec_2011_4b_house', 'Count_total_Mar_2012_4b_house', 'Rental_total_Mar_2012_4b_house', 'Count_total_Jun_2012_4b_house', 'Rental_total_Jun_2012_4b_house', 'Count_total_Sep_2012_4b_house', 'Rental_total_Sep_2012_4b_house', 'Count_total_Dec_2012_4b_house', 'Rental_total_Dec_2012_4b_house', 'Count_total_Mar_2013_4b_house', 'Rental_total_Mar_2013_4b_house', 'Count_total_Jun_2013_4b_house', 'Rental_total_Jun_2013_4b_house', 'Count_total_Sep_2013_4b_house', 'Rental_total_Sep_2013_4b_house', 'Count_total_Dec_2013_4b_house', 'Rental_total_Dec_2013_4b_house', 'Count_total_Mar_2014_4b_house', 'Rental_total_Mar_2014_4b_house', 'Count_total_Jun_2014_4b_house', 'Rental_total_Jun_2014_4b_house', 'Count_total_Sep_2014_4b_house', 'Rental_total_Sep_2014_4b_house', 'Count_total_Dec_2014_4b_house', 'Rental_total_Dec_2014_4b_house', 'Count_total_Mar_2015_4b_house', 'Rental_total_Mar_2015_4b_house', 'Count_total_Jun_2015_4b_house', 'Rental_total_Jun_2015_4b_house', 'Count_total_Sep_2015_4b_house', 'Rental_total_Sep_2015_4b_house', 'Count_total_Dec_2015_4b_house', 'Rental_total_Dec_2015_4b_house', 'Count_total_Mar_2016_4b_house', 'Rental_total_Mar_2016_4b_house', 'Count_total_Jun_2016_4b_house', 'Rental_total_Jun_2016_4b_house', 'Count_total_Sep_2016_4b_house', 'Rental_total_Sep_2016_4b_house', 'Count_total_Dec_2016_4b_house', 'Rental_total_Dec_2016_4b_house', 'Count_total_Mar_2017_4b_house', 'Rental_total_Mar_2017_4b_house', 'Count_total_Jun_2017_4b_house', 'Rental_total_Jun_2017_4b_house', 'Count_total_Sep_2017_4b_house', 'Rental_total_Sep_2017_4b_house', 'Count_total_Dec_2017_4b_house', 'Rental_total_Dec_2017_4b_house', 'Count_total_Mar_2018_4b_house', 'Rental_total_Mar_2018_4b_house', 'Count_total_Jun_2018_4b_house', 'Rental_total_Jun_2018_4b_house', 'Count_total_Sep_2018_4b_house', 'Rental_total_Sep_2018_4b_house', 'Count_total_Dec_2018_4b_house', 'Rental_total_Dec_2018_4b_house', 'Count_total_Mar_2019_4b_house', 'Rental_total_Mar_2019_4b_house', 'Count_total_Jun_2019_4b_house', 'Rental_total_Jun_2019_4b_house', 'Count_total_Sep_2019_4b_house', 'Rental_total_Sep_2019_4b_house', 'Count_total_Dec_2019_4b_house', 'Rental_total_Dec_2019_4b_house', 'Count_total_Mar_2020_4b_house', 'Rental_total_Mar_2020_4b_house', 'Count_total_Jun_2020_4b_house', 'Rental_total_Jun_2020_4b_house', 'Count_total_Sep_2020_4b_house', 'Rental_total_Sep_2020_4b_house', 'Count_total_Dec_2020_4b_house', 'Rental_total_Dec_2020_4b_house', 'Count_total_Mar_2021_4b_house', 'Rental_total_Mar_2021_4b_house', 'Count_total_Jun_2021_4b_house', 'Rental_total_Jun_2021_4b_house']
rental_house_4_bedroom = restruct_col(rental_house_4_bedroom)
rental_house_4_bedroom = restruct_df(rental_house_4_bedroom)
rental_house_4_bedroom

,Suburb,Rental_total_Mar_2000_4b_house,Rental_total_Jun_2000_4b_house,Rental_total_Sep_2000_4b_house,Rental_total_Dec_2000_4b_house,Rental_total_Mar_2001_4b_house,Rental_total_Jun_2001_4b_house,Rental_total_Sep_2001_4b_house,Rental_total_Dec_2001_4b_house,Rental_total_Mar_2002_4b_house,...,Rental_total_Mar_2019_4b_house,Rental_total_Jun_2019_4b_house,Rental_total_Sep_2019_4b_house,Rental_total_Dec_2019_4b_house,Rental_total_Mar_2020_4b_house,Rental_total_Jun_2020_4b_house,Rental_total_Sep_2020_4b_house,Rental_total_Dec_2020_4b_house,Rental_total_Mar_2021_4b_house,Rental_total_Jun_2021_4b_house
0,Armadale,615,695,850,695,760,650,565,588,550,...,1500,1500,1450,1200,1025,1100,1150,1070,1000,990
1,Carlton North,380,380,383,385,403,418,420,420,430,...,930,950,950,960,1020,985,995,950,925,940
2,Docklands,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,East Melbourne,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,East St Kilda,363,360,363,363,450,450,480,480,500,...,915,925,950,950,980,900,850,850,780,850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,220,248,250,250,255,275,250,260,260,...,690,700,715,725,725,695,708,720,728,745
173,Spotswood,220,248,250,250,255,275,250,260,260,...,690,700,715,725,725,695,708,720,728,745
174,St Albans,175,175,175,175,175,175,180,190,190,...,403,410,415,420,418,420,420,420,420,417
175,Deer Park,175,175,175,175,175,175,180,190,190,...,403,410,415,420,418,420,420,420,420,417
176,Sunshine,170,180,180,175,170,170,170,185,190,...,420,420,420,420,415,413,420,420,440,420

In [31]:
# read rental report quatterly with median data for all property
rental_total_bedroom= pd.read_excel("../data/raw/Rental_Report_Quarterly_Median_2021.xlsx",sheet_name="All properties",header=2)
rental_total_bedroom = rental_total_bedroom.drop(columns = ['Region'])
rental_total_bedroom.columns= ['Suburb', 'Count_total_Mar_2000', 'Rental_total_Mar_2000', 'Count_total_Jun_2000', 'Rental_total_Jun_2000', 'Count_total_Sep_2000', 'Rental_total_Sep_2000', 'Count_total_Dec_2000', 'Rental_total_Dec_2000', 'Count_total_Mar_2001', 'Rental_total_Mar_2001', 'Count_total_Jun_2001', 'Rental_total_Jun_2001', 'Count_total_Sep_2001', 'Rental_total_Sep_2001', 'Count_total_Dec_2001', 'Rental_total_Dec_2001', 'Count_total_Mar_2002', 'Rental_total_Mar_2002', 'Count_total_Jun_2002', 'Rental_total_Jun_2002', 'Count_total_Sep_2002', 'Rental_total_Sep_2002', 'Count_total_Dec_2002', 'Rental_total_Dec_2002', 'Count_total_Mar_2003', 'Rental_total_Mar_2003', 'Count_total_Jun_2003', 'Rental_total_Jun_2003', 'Count_total_Sep_2003', 'Rental_total_Sep_2003', 'Count_total_Dec_2003', 'Rental_total_Dec_2003', 'Count_total_Mar_2004', 'Rental_total_Mar_2004', 'Count_total_Jun_2004', 'Rental_total_Jun_2004', 'Count_total_Sep_2004', 'Rental_total_Sep_2004', 'Count_total_Dec_2004', 'Rental_total_Dec_2004', 'Count_total_Mar_2005', 'Rental_total_Mar_2005', 'Count_total_Jun_2005', 'Rental_total_Jun_2005', 'Count_total_Sep_2005', 'Rental_total_Sep_2005', 'Count_total_Dec_2005', 'Rental_total_Dec_2005', 'Count_total_Mar_2006', 'Rental_total_Mar_2006', 'Count_total_Jun_2006', 'Rental_total_Jun_2006', 'Count_total_Sep_2006', 'Rental_total_Sep_2006', 'Count_total_Dec_2006', 'Rental_total_Dec_2006', 'Count_total_Mar_2007', 'Rental_total_Mar_2007', 'Count_total_Jun_2007', 'Rental_total_Jun_2007', 'Count_total_Sep_2007', 'Rental_total_Sep_2007', 'Count_total_Dec_2007', 'Rental_total_Dec_2007', 'Count_total_Mar_2008', 'Rental_total_Mar_2008', 'Count_total_Jun_2008', 'Rental_total_Jun_2008', 'Count_total_Sep_2008', 'Rental_total_Sep_2008', 'Count_total_Dec_2008', 'Rental_total_Dec_2008', 'Count_total_Mar_2009', 'Rental_total_Mar_2009', 'Count_total_Jun_2009', 'Rental_total_Jun_2009', 'Count_total_Sep_2009', 'Rental_total_Sep_2009', 'Count_total_Dec_2009', 'Rental_total_Dec_2009', 'Count_total_Mar_2010', 'Rental_total_Mar_2010', 'Count_total_Jun_2010', 'Rental_total_Jun_2010', 'Count_total_Sep_2010', 'Rental_total_Sep_2010', 'Count_total_Dec_2010', 'Rental_total_Dec_2010', 'Count_total_Mar_2011', 'Rental_total_Mar_2011', 'Count_total_Jun_2011', 'Rental_total_Jun_2011', 'Count_total_Sep_2011', 'Rental_total_Sep_2011', 'Count_total_Dec_2011', 'Rental_total_Dec_2011', 'Count_total_Mar_2012', 'Rental_total_Mar_2012', 'Count_total_Jun_2012', 'Rental_total_Jun_2012', 'Count_total_Sep_2012', 'Rental_total_Sep_2012', 'Count_total_Dec_2012', 'Rental_total_Dec_2012', 'Count_total_Mar_2013', 'Rental_total_Mar_2013', 'Count_total_Jun_2013', 'Rental_total_Jun_2013', 'Count_total_Sep_2013', 'Rental_total_Sep_2013', 'Count_total_Dec_2013', 'Rental_total_Dec_2013', 'Count_total_Mar_2014', 'Rental_total_Mar_2014', 'Count_total_Jun_2014', 'Rental_total_Jun_2014', 'Count_total_Sep_2014', 'Rental_total_Sep_2014', 'Count_total_Dec_2014', 'Rental_total_Dec_2014', 'Count_total_Mar_2015', 'Rental_total_Mar_2015', 'Count_total_Jun_2015', 'Rental_total_Jun_2015', 'Count_total_Sep_2015', 'Rental_total_Sep_2015', 'Count_total_Dec_2015', 'Rental_total_Dec_2015', 'Count_total_Mar_2016', 'Rental_total_Mar_2016', 'Count_total_Jun_2016', 'Rental_total_Jun_2016', 'Count_total_Sep_2016', 'Rental_total_Sep_2016', 'Count_total_Dec_2016', 'Rental_total_Dec_2016', 'Count_total_Mar_2017', 'Rental_total_Mar_2017', 'Count_total_Jun_2017', 'Rental_total_Jun_2017', 'Count_total_Sep_2017', 'Rental_total_Sep_2017', 'Count_total_Dec_2017', 'Rental_total_Dec_2017', 'Count_total_Mar_2018', 'Rental_total_Mar_2018', 'Count_total_Jun_2018', 'Rental_total_Jun_2018', 'Count_total_Sep_2018', 'Rental_total_Sep_2018', 'Count_total_Dec_2018', 'Rental_total_Dec_2018', 'Count_total_Mar_2019', 'Rental_total_Mar_2019', 'Count_total_Jun_2019', 'Rental_total_Jun_2019', 'Count_total_Sep_2019', 'Rental_total_Sep_2019', 'Count_total_Dec_2019', 'Rental_total_Dec_2019', 'Count_total_Mar_2020', 'Rental_total_Mar_2020', 'Count_total_Jun_2020', 'Rental_total_Jun_2020', 'Count_total_Sep_2020', 'Rental_total_Sep_2020', 'Count_total_Dec_2020', 'Rental_total_Dec_2020', 'Count_total_Mar_2021', 'Rental_total_Mar_2021', 'Count_total_Jun_2021', 'Rental_total_Jun_2021']
rental_total_bedroom = restruct_col(rental_total_bedroom)
rental_total_bedroom = restruct_df(rental_total_bedroom)
rental_total_bedroom

,Suburb,Rental_total_Mar_2000,Rental_total_Jun_2000,Rental_total_Sep_2000,Rental_total_Dec_2000,Rental_total_Mar_2001,Rental_total_Jun_2001,Rental_total_Sep_2001,Rental_total_Dec_2001,Rental_total_Mar_2002,...,Rental_total_Mar_2019,Rental_total_Jun_2019,Rental_total_Sep_2019,Rental_total_Dec_2019,Rental_total_Mar_2020,Rental_total_Jun_2020,Rental_total_Sep_2020,Rental_total_Dec_2020,Rental_total_Mar_2021,Rental_total_Jun_2021
0,Armadale,200,200,205,210,215,220,225,230,235,...,480,480,480,485,500,500,500,495,450,440
1,Carlton North,260,260,265,270,270,275,280,280,290,...,580,577,580,580,585,590,590,590,580,580
2,Docklands,-,340,-,-,-,-,-,-,320,...,570,580,575,580,570,550,500,460,420,400
3,East Melbourne,265,268,280,273,290,295,300,320,320,...,495,500,520,550,550,550,515,495,450,450
4,East St Kilda,180,180,180,185,185,190,195,195,200,...,420,420,425,425,425,425,420,410,395,385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,170,175,180,180,180,185,190,190,200,...,480,480,495,495,500,495,495,500,495,490
173,Spotswood,170,175,180,180,180,185,190,190,200,...,480,480,495,495,500,495,495,500,495,490
174,St Albans,150,155,155,160,160,160,160,160,165,...,350,350,355,360,360,360,360,355,350,350
175,Deer Park,150,155,155,160,160,160,160,160,165,...,350,350,355,360,360,360,360,355,350,350
176,Sunshine,135,140,140,145,150,145,150,150,150,...,350,350,360,360,360,360,360,360,350,350

In [32]:
# merge the all property rental data
rental = pd.DataFrame()
#rental = combine_df(df_lis)
rental = pd.concat([rental,rental_flat_1_bedroom,rental_flat_2_bedroom,rental_flat_3_bedroom,rental_house_2_bedroom,
                           rental_house_3_bedroom,rental_house_4_bedroom,rental_total_bedroom], axis=1)
rental

,Suburb,Rental_total_Mar_2000_1b_flat,Rental_total_Jun_2000_1b_flat,Rental_total_Sep_2000_1b_flat,Rental_total_Dec_2000_1b_flat,Rental_total_Mar_2001_1b_flat,Rental_total_Jun_2001_1b_flat,Rental_total_Sep_2001_1b_flat,Rental_total_Dec_2001_1b_flat,Rental_total_Mar_2002_1b_flat,...,Rental_total_Mar_2019,Rental_total_Jun_2019,Rental_total_Sep_2019,Rental_total_Dec_2019,Rental_total_Mar_2020,Rental_total_Jun_2020,Rental_total_Sep_2020,Rental_total_Dec_2020,Rental_total_Mar_2021,Rental_total_Jun_2021
0,Armadale,150,150,155,160,160,160,165,165,165,...,480,480,480,485,500,500,500,495,450,440
1,Carlton North,150,155,150,150,160,160,160,160,165,...,580,577,580,580,585,590,590,590,580,580
2,Docklands,-,-,-,-,-,-,-,-,265,...,570,580,575,580,570,550,500,460,420,400
3,East Melbourne,180,180,188,185,190,195,200,210,210,...,495,500,520,550,550,550,515,495,450,450
4,East St Kilda,140,145,145,150,150,150,152,155,160,...,420,420,425,425,425,425,420,410,395,385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Newport,100,100,100,100,110,110,110,110,110,...,480,480,495,495,500,495,495,500,495,490
173,Spotswood,100,100,100,100,110,110,110,110,110,...,480,480,495,495,500,495,495,500,495,490
174,St Albans,95,95,99,100,100,100,105,110,105,...,350,350,355,360,360,360,360,355,350,350
175,Deer Park,95,95,99,100,100,100,105,110,105,...,350,350,355,360,360,360,360,355,350,350
176,Sunshine,90,90,95,95,95,95,100,100,100,...,350,350,360,360,360,360,360,360,350,350

In [33]:
#save external data
path = os.getcwd().replace("notebooks","") + "data/curated/"
rental.to_csv(path+'rental_median.csv',index=False)

#### Preprocess for GNR external dataset

In [34]:
# read GNR shapefile
GNR = gpd.read_file('../data/raw/shapefiles/gda2020_vicgrid/esrishape/whole_of_dataset/victoria/VMFOI/GNR.shp')
display(GNR.head(5))
GNR = GNR.drop(columns=['UFI', 'NAME_ID', 'VICMAP_ID', 'FEATUREC', 'NAMESTATC', 'NAMESTAT','REG_DATE','CRDATE_UFI'])
display(GNR.head(5))
path = os.getcwd().replace("notebooks","") + "data/raw/"
GNR.to_csv(path+"GNR.csv",index=False)

,UFI,PLACE_ID,NAME_ID,VICMAP_ID,PLACE_NAME,FEATUREC,FEATURE,NAMESTATC,NAMESTAT,LONGITUDE,LATITUDE,REG_DATE,CRDATE_UFI,geometry
0,416079,338,1064,655117.0,BALLARAT FIRE STATION,FIST,FIRE STATION,REG,REGISTERED,143.8686,-37.563,2018-08-13,2022-02-11,POINT (2400054.382 2436830.207)
1,416080,1256,4074,621722.0,BUNINYONG CREEK,WACO,WATERCOURSE,H,HISTORICAL,143.8582,-37.659,2002-05-24,2022-02-11,POINT (2399261.401 2426265.924)
2,416081,1257,4075,1167467.0,BUNINYONG FIRE STATION,FIST,FIRE STATION,REG,REGISTERED,143.8851,-37.650,2018-08-13,2022-02-11,POINT (2401628.205 2427218.508)
3,416082,3223,10605,727803.0,GRAND STAIRWAY,CLIF,CLIFF,REG,REGISTERED,142.5034,-37.191,1966-05-02,2022-02-11,POINT (2278388.543 2475893.428)
4,416083,3728,12332,655565.0,INVERMAY FIRE STATION,FIST,FIRE STATION,REG,REGISTERED,143.8724,-37.521,2018-08-13,2022-02-11,POINT (2400342.015 2441487.169)

,PLACE_ID,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,338,BALLARAT FIRE STATION,FIRE STATION,143.8686,-37.563,POINT (2400054.382 2436830.207)
1,1256,BUNINYONG CREEK,WATERCOURSE,143.8582,-37.659,POINT (2399261.401 2426265.924)
2,1257,BUNINYONG FIRE STATION,FIRE STATION,143.8851,-37.650,POINT (2401628.205 2427218.508)
3,3223,GRAND STAIRWAY,CLIFF,142.5034,-37.191,POINT (2278388.543 2475893.428)
4,3728,INVERMAY FIRE STATION,FIRE STATION,143.8724,-37.521,POINT (2400342.015 2441487.169)

In [35]:
# read GNR csv
gnr = pd.read_csv('../data/raw/GNR.csv')

# extract each useful feature (59 needed features)
fire_st = gnr[gnr['FEATURE']=='FIRE STATION']
sec_sch = gnr[gnr['FEATURE']=='SECONDARY SCHOOL']
PRIMARY_SCHOOL = gnr[gnr['FEATURE']=='PRIMARY SCHOOL']
SHOPPING_CENTRE = gnr[gnr['FEATURE']=='SHOPPING CENTRE']
PARK = gnr[gnr['FEATURE']=='PARK']
KINDERGARTEN = gnr[gnr['FEATURE']=='KINDERGARTEN']
POST_OFFICE = gnr[gnr['FEATURE']=='POST OFFICE']
SPECIAL_SCHOOL = gnr[gnr['FEATURE']=='SPECIAL SCHOOL']
PRIMARY_AND_SECONDARY_SCHOOL = gnr[gnr['FEATURE']=='PRIMARY AND SECONDARY SCHOOL']
CHILD_CARE= gnr[gnr['FEATURE']=='CHILD CARE']
RAILWAY= gnr[gnr['FEATURE']=='RAILWAY']
LOCAL_GOVERNMENT_AREA = gnr[gnr['FEATURE']=='LOCAL GOVERNMENT AREA']
SPORTS_COMPLEX = gnr[gnr['FEATURE']=='SPORTS COMPLEX']
EDUCATION_COMPLEX = gnr[gnr['FEATURE']=='EDUCATION COMPLEX']
CEMETERY = gnr[gnr['FEATURE']=='CEMETERY']
LIBRARY = gnr[gnr['FEATURE']=='LIBRARY']
UNIVERSITY = gnr[gnr['FEATURE']=='UNIVERSITY']
GENERAL_HOSPITAL = gnr[gnr['FEATURE']=='GENERAL HOSPITAL']
POLICE_STATION = gnr[gnr['FEATURE']=='POLICE STATION']
FURTHER_EDUCATION = gnr[gnr['FEATURE']=='FURTHER EDUCATION']
PLAYGROUND = gnr[gnr['FEATURE']=='PLAYGROUND']
PLANTATION = gnr[gnr['FEATURE']=='PLANTATION']
WINERY = gnr[gnr['FEATURE']=='WINERY']
BAR = gnr[gnr['FEATURE']=='BAR']
FARM = gnr[gnr['FEATURE']=='FARM']
VINEYARD= gnr[gnr['FEATURE']=='VINEYARD']
TENNIS_COURT= gnr[gnr['FEATURE']=='TENNIS COURT']
BOWLING_GREEN= gnr[gnr['FEATURE']=='BOWLING GREEN']
BAY= gnr[gnr['FEATURE']=='BAY']
PIER= gnr[gnr['FEATURE']=='PIER']
SWIMMING_POOL= gnr[gnr['FEATURE']=='SWIMMING POOL']
ART_GALLERY= gnr[gnr['FEATURE']=='ART GALLERY']
HARBOUR= gnr[gnr['FEATURE']=='HARBOUR']
WHARF= gnr[gnr['FEATURE']=='WHARF']
COMMUNITY_HEALTH_CENTRE = gnr[gnr['FEATURE']=='COMMUNITY HEALTH CENTRE']
MATERNAL_AND_CHILD_HEALTH_CENTRE= gnr[gnr['FEATURE']=='MATERNAL AND CHILD HEALTH CENTRE']
MARKET= gnr[gnr['FEATURE']=='MARKET']
PRISON= gnr[gnr['FEATURE']=='PRISON']
BOTANIC_GARDENS= gnr[gnr['FEATURE']=='BOTANIC GARDENS']
SPECIALISED_HOSPITAL= gnr[gnr['FEATURE']=='SPECIALISED HOSPITAL']
BANK= gnr[gnr['FEATURE']=='BANK']
TERTIARY_INSTITUTION= gnr[gnr['FEATURE']=='TERTIARY INSTITUTION']
AGED_CARE= gnr[gnr['FEATURE']=='AGED CARE']
SURFING_SPOT= gnr[gnr['FEATURE']=='SURFING SPOT']
AMBULANCE_STATION= gnr[gnr['FEATURE']=='AMBULANCE STATION']
COAST= gnr[gnr['FEATURE']=='COAST']
ARBORETUM= gnr[gnr['FEATURE']=='ARBORETUM']
VELODROME= gnr[gnr['FEATURE']=='VELODROME']
GOLF_COURSE= gnr[gnr['FEATURE']=='GOLF COURSE']
EQUESTRIAN_CENTRE  = gnr[gnr['FEATURE']=='EQUESTRIAN CENTRE']        
LIGHT_RAIL_STATION= gnr[gnr['FEATURE']=='LIGHT RAIL STATION']
HELIPORT= gnr[gnr['FEATURE']=='HELIPORT']
AIRPORT= gnr[gnr['FEATURE']=='AIRPORT']
FIRING_RANGE= gnr[gnr['FEATURE']=='FIRING RANGE']
IRON_ORE_PROCESSOR= gnr[gnr['FEATURE']=='IRON ORE PROCESSOR']
MILL_TIMBER_OPERATIONS= gnr[gnr['FEATURE']=='MILL/TIMBER OPERATIONS']
FERRY_STATION= gnr[gnr['FEATURE']=='FERRY STATION']
BEACH= gnr[gnr['FEATURE']=='BEACH']
MARINA = gnr[gnr['FEATURE']=='MARINA']

In [36]:
# create a new list to put all extrated features
d_lst=[fire_st,sec_sch, PRIMARY_AND_SECONDARY_SCHOOL, PRIMARY_SCHOOL, SHOPPING_CENTRE, PARK, KINDERGARTEN, POST_OFFICE, SPECIAL_SCHOOL, CHILD_CARE, RAILWAY,
BAR, LOCAL_GOVERNMENT_AREA, SPORTS_COMPLEX, EDUCATION_COMPLEX, CEMETERY, LIBRARY, UNIVERSITY, GENERAL_HOSPITAL, POLICE_STATION, FURTHER_EDUCATION, PLAYGROUND, 
PLANTATION, WINERY, BAR, FARM, VINEYARD, TENNIS_COURT, BOWLING_GREEN, BAY, PIER, SWIMMING_POOL, ART_GALLERY, HARBOUR, WHARF, COMMUNITY_HEALTH_CENTRE,
MATERNAL_AND_CHILD_HEALTH_CENTRE, MARKET, PRISON, BOTANIC_GARDENS, SPECIALISED_HOSPITAL, BANK, TERTIARY_INSTITUTION, AGED_CARE, SURFING_SPOT,
AMBULANCE_STATION, COAST, ARBORETUM, VELODROME, GOLF_COURSE, EQUESTRIAN_CENTRE, LIGHT_RAIL_STATION, HELIPORT, AIRPORT, FIRING_RANGE, IRON_ORE_PROCESSOR,
MILL_TIMBER_OPERATIONS, FERRY_STATION, BEACH, MARINA]

# combine all the features into one dataframe and remove the useless colunms
clean_GNR = pd.concat(d_lst)

# replace marina(4) and wharf(11) into harbour(18 +4+11)
clean_GNR = clean_GNR.replace('MARINA', 'HARBOUR')
clean_GNR = clean_GNR.replace('WHARF', 'HARBOUR')

clean_GNR

,PLACE_ID,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,338,BALLARAT FIRE STATION,FIRE STATION,143.8686,-37.563,POINT (2400054.3815129786 2436830.206961736)
2,1257,BUNINYONG FIRE STATION,FIRE STATION,143.8851,-37.650,POINT (2401628.205143962 2427218.507639693)
4,3728,INVERMAY FIRE STATION,FIRE STATION,143.8724,-37.521,POINT (2400342.014512663 2441487.1685158536)
7,5179,MINERS REST FIRE STATION,FIRE STATION,143.7989,-37.479,POINT (2393779.920422106 2446072.6229931023)
17,8520,WENDOUREE FIRE STATION,FIRE STATION,143.8197,-37.535,POINT (2395699.25464796 2439932.6145284288)
...,...,...,...,...,...,...
47751,30554,Sandy Waterhole Beach,BEACH,145.4372,-38.540,POINT (2538127.531405735 2328989.9504498467)
11672,6022,No 2 Quay,HARBOUR,141.6193,-38.353,POINT (2204521.130760126 2344540.8413202157)
31009,13511,CORIO QUAY,HARBOUR,144.3644,-38.106,POINT (2444259.0841065953 2377028.919269247)
39662,126171,Bay City Marina,HARBOUR,144.3677,-38.143,POINT (2444573.5666416646 2372862.7450707434)
39663,126171,Yarra Wharf,HARBOUR,144.3677,-38.143,POINT (2444573.5666416646 2372862.7450707434)

In [37]:
# reverse the coordinates to address
def reverse_coord_geopy(coordinates):
    #access server
    geopy.geocoders.options.default_user_agent = "my"
    geolocator = Nominatim(user_agent="my")
    try:
        reverse = RateLimiter(geolocator.reverse, min_delay_seconds=2)
        location=reverse(coordinates,language='en',exactly_one=True, timeout=60)  #find location
        address = location.raw["address"]   #extract address
        return address
    except GeocoderTimedOut as e:    #if meet time out, wait for 2 second and reverse again
        time.sleep(2)
        return reverse_coord_geopy(coordinates)
    
def generate_suburb_postcode_geopy(df):
    # combine longtitude and latitude
    df["coordinates"] = df["LATITUDE"].astype(str) + ", " + df["LONGITUDE"].astype(str)
    #reverse
    df["Reverse_Coord"]= df["coordinates"].apply(reverse_coord_geopy)
    return df

In [ ]:
# reverse geolocation and get address
GNR_suburb = pd.DataFrame()
#reverse the coordinates by small size due to request limitation
i = 0
while i < 14000:
    if i < 13000:
        GNR_suburb _i = generate_suburb_postcode_geopy(clean_GNR.copy().iloc[i:i+1000])
        GNR_suburb  = pd.concat([GNR_suburb ,GNR_suburb _i],ignore_index=True)
    else:
        GNR_suburb _i = generate_suburb_postcode_geopy(clean_GNR.copy().iloc[i:])
        GNR_suburb  = pd.concat([GNR_suburb ,GNR_suburb _i],ignore_index=True)
    print(i)
    i+=1000
GNR_suburb["Reverse_Coord"] = GNR_suburb["Reverse_Coord"].apply(eval)

In [ ]:
def generate_suburb(reverse):
    if "suburb" in reverse.keys():
        return reverse["suburb"]
    else:
        return np.nan
GNR_suburb["Suburb"]= GNR_suburb["Reverse_Coord"].apply(generate_suburb)

In [ ]:
def generate_postcode(reverse):
    if "postcode" in reverse.keys():
        return reverse["postcode"]
    else:
        return np.nan
GNR_suburb["postcode"]= GNR_suburb["Reverse_Coord"].apply(generate_postcode)

In [ ]:
def generate_city(reverse):
    if "city" in reverse.keys():
        return reverse["city"]
    else:
        return np.nan
GNR_suburb["City"]= GNR_suburb["Reverse_Coord"].apply(generate_city)

In [ ]:
def generate_road(reverse):
    if "road" in reverse.keys():
        return reverse["road"]
    else:
        return np.nan
GNR_suburb["Road"]= GNR_suburb["Reverse_Coord"].apply(generate_road)

In [ ]:
def generate_city_district(reverse):
    if "city_district" in reverse.keys():
        return reverse["city_district"]
    else:
        return np.nan
GNR_suburb["city_district"]= GNR_suburb["Reverse_Coord"].apply(generate_city_district)

In [ ]:
def generate_municipality(reverse):
    if "municipality" in reverse.keys():
        return reverse["municipality"]
    else:
        return np.nan
GNR_suburb["municipality"]= GNR_suburb["Reverse_Coord"].apply(generate_municipality)

In [ ]:
def generate_town(reverse):
    if "town" in reverse.keys():
        return reverse["town"]
    else:
        return np.nan
GNR_suburb["Town"]= GNR_suburb["Reverse_Coord"].apply(generate_town)

In [ ]:
#save GNR Data
path = os.getcwd().replace("notebooks","") + "data/curated/"
GNR_suburb.to_csv(path+'GNR_suburb.csv',index=False)