In [31]:
# import required library
import os
import json
import time
import geopy
import googlemaps
import numpy as np
import pandas as pd
import haversine as hs
import geopandas as gpd
from datetime import datetime
from difflib import SequenceMatcher
from IPython.display import display
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from pandas.io.json import json_normalize
from geopy.extra.rate_limiter import RateLimiter

In [2]:
# read and check all datasets in the raw file
external = pd.DataFrame()
path = os.getcwd().replace('notebooks','') + 'data/raw/'
os.listdir(path)

['tram.zip',
 'income.xlsx',
 'shapefile.zip',
 '.DS_Store',
 'bus.zip',
 'APIkeys.txt',
 'cemetery.csv',
 'shapefiles',
 'Median_Suburb_Time_2021.xls',
 '.gitkeep',
 'functional.xlsx',
 'Rental_Report_Quarterly_Median_2021.xlsx',
 'bus',
 'tram',
 'postcode_match_suburb.json',
 'datalink.txt',
 'train',
 'Sport_Recreational_Facilities_list.xlsx',
 'Affordable_Lettings_2021.xlsx',
 'australian_postcodes.csv',
 'property.json',
 'train.zip',
 'population.xlsx']

## Merge suburb with postcode and SA2

In [3]:
# read postcode match suburb
with open('../data/raw/postcode_match_suburb.json') as json_data:
    data = json.load(json_data)
postcode_match = pd.DataFrame.from_dict({'postcode':data.keys(), 'suburb':data.values()})
postcode_match['postcode'] = pd.to_numeric(postcode_match['postcode'])
postcode_match

     postcode                                             suburb
0        3000                                        [MELBOURNE]
1        3001                                        [MELBOURNE]
2        3002                                   [EAST MELBOURNE]
3        3003                                   [WEST MELBOURNE]
4        3004  [MELBOURNE, ST KILDA ROAD CENTRAL, ST KILDA RO...
..        ...                                                ...
714      3990                                      [GLEN FORBES]
715      3991                                             [BASS]
716      3992  [BLACKWOOD FOREST, DALYSTON, RYANSTON, WEST CR...
717      3995  [ANDERSON, ARCHIES CREEK, CAPE PATERSON, HARME...
718      3996                           [INVERLOCH, POUND CREEK]

[719 rows x 2 columns]

In [4]:
def suburb_match_postcode(df):    
    '''Use suburb to match postcode
    Args:
        df: dataframe for postcode_match
    Return:
        dataframe of result
    '''
    # creat a new df
    result = pd.DataFrame(columns=['suburb','postcode'])

    # get all suburb
    result['suburb'] = list(set(df.suburb.sum()))
    col = []

    # find the corresponding postcode
    for suburb in result['suburb']:
        lis = []
        
        # search in each row
        for row in range(df.shape[0]):
            if suburb in df.loc[row, 'suburb']:
                lis.append(df.loc[row, 'postcode'])
        col.append(lis)
    result['postcode'] = col
    return result

In [5]:
suburb_match = suburb_match_postcode(postcode_match)

In [6]:
# save as csv file
postcode_match.to_csv('../data/curated/postcode_match.csv',index=False)
suburb_match.to_csv('../data/curated/suburb_match.csv',index=False)

In [7]:
# read Australian_postcodes
postcode = pd.read_csv('../data/raw/australian_postcodes.csv')
display(postcode.head(5))

# extract postcode, SA2_MAINCODE_2016, SA2_NAME_2016 from postcode to external
external['postcode'] = postcode['postcode']
external['locality'] = postcode['locality']
external['state'] = postcode['state']
external['LGA'] = postcode['lgaregion']
external['SA3_NAME_2016'] = postcode['SA3_NAME_2016']
external['SA2_Code'] = postcode['SA2_MAINCODE_2016']
external['SA2_Name'] = postcode['SA2_NAME_2016']
external = external[external['state'] == 'VIC']
external.reset_index(drop=True, inplace=True)
external

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,MMM_2015,MMM_2019,ced,altitude,chargezone,phn_code,phn_name,lgaregion,electorate,electoraterating
0,230,200,ANU,ACT,149.11900,-35.277700,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
1,21820,200,Australian National University,ACT,149.11890,-35.277700,NaN,NaN,Added 19-Jan-2020,NaN,...,1.0,1.0,NaN,NaN,N2,NaN,NaN,NaN,Durack,NaN
2,232,800,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
3,24049,800,DARWIN CITY,NT,130.83668,-12.458684,NaN,NaN,Updated 6-Feb-2020,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin,Solomon,Inner Metropolitan
4,233,801,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 25-Mar-2020 SA3,70101.0,...,2.0,2.0,NaN,NaN,NT1,PHN701,NaN,NaN,Lingiari,Rural

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank
...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne

In [8]:
# merge the external and suburb name together, fill null with NaN
external = pd.merge(external, postcode_match, on='postcode', how='left').fillna(np.nan)
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,suburb
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,[MELBOURNE]
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,[MELBOURNE]
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,[EAST MELBOURNE]
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,[WEST MELBOURNE]
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,"[MELBOURNE, ST KILDA ROAD CENTRAL, ST KILDA RO..."
...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN

In [9]:
# delete empty suburb row
external = external[external['suburb'].notna()]
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,suburb
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,[MELBOURNE]
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,[MELBOURNE]
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,[EAST MELBOURNE]
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,[WEST MELBOURNE]
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,"[MELBOURNE, ST KILDA ROAD CENTRAL, ST KILDA RO..."
...,...,...,...,...,...,...,...,...
3504,3995,WATTLE BANK,VIC,South Gippsland,Gippsland - South West,205031093.0,Wonthaggi - Inverloch,"[ANDERSON, ARCHIES CREEK, CAPE PATERSON, HARME..."
3505,3995,WONTHAGGI,VIC,South Gippsland,Gippsland - South West,205031093.0,Wonthaggi - Inverloch,"[ANDERSON, ARCHIES CREEK, CAPE PATERSON, HARME..."
3506,3995,WOOLAMAI,VIC,South Gippsland,Gippsland - South West,205031093.0,Wonthaggi - Inverloch,"[ANDERSON, ARCHIES CREEK, CAPE PATERSON, HARME..."
3507,3996,INVERLOCH,VIC,South Gippsland,Gippsland - South West,205031093.0,Wonthaggi - Inverloch,"[INVERLOCH, POUND CREEK]"
3508,3996,POUND CREEK,VIC,South Gippsland,Gippsland - South West,205031087.0,Foster,"[INVERLOCH, POUND CREEK]"

In [92]:
# save as csv file
external.to_csv('../data/curated/match.csv',index=False)

## Merge all SA2 Dataset

In [27]:
# read data, Table 1 in population and clean the data
population = pd.read_excel('../data/raw/population.xlsx',sheet_name='Table 1',header=7)
population = population.drop(columns=['S/T code', 'S/T name', 'GCCSA code', 'GCCSA name', 'SA4 code','SA4 name',
                                        'SA3 code', 'SA3 name','Unnamed: 31','Unnamed: 34'])
# change the column name
population.columns = ['SA2_Code','SA2_name','2001_population','2002_population','2003_population',
                        '2004_population','2005_population','2006_population', '2007_population','2008_population',
                        '2009_population', '2010_population', '2011_population', '2012_population', '2013_population',
                        '2014_population', '2015_population', '2016_population', '2017_population','2018_population',
                        '2019_population', '2020_population', '2021_population','Population_Change_no',
                        'Population_Change_percent','Population_Area_km2','Population_density_2021_persons/km2']

# remove the null columns
population = population.dropna()
display(population)
population.shape

,SA2_Code,SA2_name,2001_population,2002_population,2003_population,2004_population,2005_population,2006_population,2007_population,2008_population,...,2016_population,2017_population,2018_population,2019_population,2020_population,2021_population,Population_Change_no,Population_Change_percent,Population_Area_km2,Population_density_2021_persons/km2
1,101021007.0,Braidwood,2760.0,2811.0,2835.0,2844.0,2847.0,2965.0,3102.0,3181.0,...,3950.0,4039.0,4140.0,4211.0,4273.0,4330.0,872.0,25.2,3418.4,1.3
2,101021008.0,Karabar,9129.0,9199.0,9263.0,9277.0,9209.0,9212.0,9033.0,8994.0,...,8531.0,8526.0,8507.0,8488.0,8519.0,8546.0,-546.0,-6.0,7.0,1223.9
3,101021009.0,Queanbeyan,9717.0,9513.0,9522.0,9400.0,9595.0,9682.0,9793.0,10074.0,...,11230.0,11355.0,11447.0,11450.0,11437.0,11370.0,655.0,6.1,4.8,2387.7
4,101021010.0,Queanbeyan - East,3925.0,4073.0,4219.0,4218.0,4187.0,4319.0,4459.0,4595.0,...,4970.0,5013.0,5072.0,5117.0,5077.0,5093.0,142.0,2.9,13.0,391.7
5,101021012.0,Queanbeyan West - Jerrabomberra,9425.0,10257.0,11085.0,11549.0,12046.0,12358.0,12622.0,12798.0,...,13150.0,13083.0,13008.0,12935.0,12796.0,12743.0,-480.0,-3.6,13.7,931.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,801111141.0,Namadgi,12.0,11.0,11.0,10.0,10.0,9.0,15.0,22.0,...,39.0,45.0,50.0,56.0,61.0,67.0,26.0,63.4,1202.8,0.1
2451,901011001.0,Christmas Island,1442.0,1365.0,1337.0,1355.0,1380.0,1403.0,1569.0,1745.0,...,1903.0,1877.0,1849.0,1801.0,1752.0,1716.0,-451.0,-20.8,136.1,12.6
2452,901021002.0,Cocos (Keeling) Islands,600.0,568.0,558.0,573.0,588.0,590.0,575.0,568.0,...,546.0,569.0,571.0,599.0,605.0,602.0,41.0,7.3,13.7,43.9
2453,901031003.0,Jervis Bay,542.0,464.0,441.0,428.0,413.0,386.0,370.0,370.0,...,402.0,392.0,376.0,360.0,338.0,310.0,-79.0,-20.3,67.2,4.6
2454,901041004.0,Norfolk Island,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1757.0,1827.0,1920.0,1999.0,2096.0,2220.0,2220.0,0.0,38.7,57.4

(2454, 27)

In [28]:
# extract VIC sa2
population = population[population['SA2_Code'] >= 200000000]
population = population[population['SA2_Code'] < 300000000]

# save as csv file
population.to_csv('../data/curated/population.csv',index=False)

In [36]:
# read data, Table 1.4 in income
income = pd.read_excel('../data/raw/income.xlsx',sheet_name='Table 1.4',header=6)
display(income)

# extract the colunms of year
income = income.drop(columns=['2014-15', '2015-16', '2016-17', '2017-18','2018-19', '2014-15.1', 
                              '2015-16.1', '2016-17.1', '2017-18.1','2018-19.1', '2014-15.2', '2015-16.2', 
                              '2016-17.2', '2017-18.2','2018-19.2','Unnamed: 27'])
income.columns = ['SA2_Code','SA2_name','2014-15_median_income','2015-16_median_income','2016-17_median_income',
                  '2017-18_median_income','2018-19_median_income','2014-15_mean_income','2015-16_mean_income',
                  '2016-17_mean_income','2017-18_mean_income','2018-19_mean_income']

# replace np with NaN
income = income.dropna()
income = income.replace('np',np.nan)
income = income.fillna(0)
income

,SA2,SA2 NAME,2014-15,2015-16,2016-17,2017-18,2018-19,2014-15.1,2015-16.1,2016-17.1,...,2015-16.3,2016-17.3,2017-18.3,2018-19.3,2014-15.4,2015-16.4,2016-17.4,2017-18.4,2018-19.4,Unnamed: 27
0,Australia,NaN,13102895,13358252,13678024,14069082,14425037,42,42,42,...,47692,48360,49805,51389,61036,61975,62594,64246,65953,NaN
1,New South Wales,NaN,4091347,4191542,4344997,4466941,4569650,42,42,42,...,48085,48700,50153,51818,62798,64493,65196,67200,68816,NaN
2,101021007,Braidwood,2133,2153,2262,2315,2361,50,50,50,...,39716,41288,42003,41593,47741,51074,51090,51594,51149,NaN
3,101021008,Karabar,4866,4937,4988,5059,5100,43,42,42,...,55870,57880,59295,61777,59548,61093,62535,63790,66335,NaN
4,101021009,Queanbeyan,6194,6419,6486,6595,6697,40,39,39,...,54999,55376,57848,60119,59310,60764,60958,62863,65874,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,801111140,ACT - South West,349,289,347,364,355,40,39,39,...,62592,55384,61096,64227,62505,72858,70503,67445,73435,NaN
2296,801111141,Namadgi,np,np,21,19,18,np,np,34,...,np,49981,58498,40479,np,np,57309,56357,39278,NaN
2297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2298,Totals may not align with the sum of their com...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2299,np - not published to protect the confidential...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,SA2_Code,SA2_name,2014-15_median_income,2015-16_median_income,2016-17_median_income,2017-18_median_income,2018-19_median_income,2014-15_mean_income,2015-16_mean_income,2016-17_mean_income,2017-18_mean_income,2018-19_mean_income
2,101021007,Braidwood,38093.0,39716.0,41288,42003.0,41593.0,47741.0,51074.0,51090.0,51594.0,51149.0
3,101021008,Karabar,54942.0,55870.0,57880,59295.0,61777.0,59548.0,61093.0,62535.0,63790.0,66335.0
4,101021009,Queanbeyan,54716.0,54999.0,55376,57848.0,60119.0,59310.0,60764.0,60958.0,62863.0,65874.0
5,101021010,Queanbeyan - East,55268.0,55650.0,57380,60166.0,63051.0,62897.0,64123.0,65486.0,68576.0,69860.0
6,101021011,Queanbeyan Region,62857.0,65366.0,66227,67998.0,71420.0,73449.0,76102.0,75929.0,78966.0,81919.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2292,801101137,Molonglo,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2293,801101138,Molonglo - North,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2294,801101139,Wright,74718.0,75496.0,74670,76754.0,79150.0,77432.0,79709.0,79610.0,82688.0,86007.0
2295,801111140,ACT - South West,55294.0,62592.0,55384,61096.0,64227.0,62505.0,72858.0,70503.0,67445.0,73435.0
2296,801111141,Namadgi,0.0,0.0,49981,58498.0,40479.0,0.0,0.0,57309.0,56357.0,39278.0

In [37]:
# extract VIC sa2
income = income[income['SA2_Code'] >= 200000000]
income = income[income['SA2_Code'] < 300000000]

# save as csv file
income.to_csv('../data/curated/income.csv',index=False)

In [95]:
def sum_area(df):
    '''Define a helper function to count the total area by SA2 Area
    Args:
        df: dataframe for residential_area
    Return:
        dataframe after change
    '''
    df['total'] = 0
    col = df.columns
    df['total'] = df[col[1]]+df[col[2]]+df[col[3]]+df[col[4]]+df[col[5]]+df[col[6]]+df[col[7]]
    return df

In [96]:
# read Land and Housing Supply Indicators data and extract the data we needed
# read residential area table 1 and extract the useful columns
residential_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 1',header=5)
residential_area.columns = ['SA2_Code', 'SA2 name', 'residential_area<200sqm','residential_area_200-400sqm',
                           'residential_area_400-600sqm','residential_area_600-800sqm','residential_area_800-1000sqm',
                           'residential_area_1000-10000sqm','residential_area>10000sqm']
residential_area = residential_area.drop(columns=['SA2 name'])
residential_area = sum_area(residential_area)

# read primary production area table 3 and extract the useful columns
primary_production_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 3',header=5)
primary_production_area.columns = ['SA2_Code', 'SA2 name', 'primary_production<200sqm','primary_production_200-400sqm',
                           'primary_production_400-600sqm','primary_production_600-800sqm',
                           'primary_production_800-1000sqm','primary_production_1000-10000sqm',
                           'primary_production>10000sqm']
primary_production_area = primary_production_area.drop(columns=['SA2 name'])
primary_production_area = sum_area(primary_production_area)

# read community infrastructure area table 4 and extract the useful columns
community_infrastructure_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 4',header=5)
community_infrastructure_area.columns = ['SA2_Code', 'SA2 name', 'community_infrastructure<200sqm',
                                         'community_infrastructure_200-400sqm','community_infrastructure_400-600sqm',
                                         'community_infrastructure_600-800sqm','community_infrastructure_800-1000sqm',
                                         'community_infrastructure_1000-10000sqm','community_infrastructure>10000sqm']
community_infrastructure_area = community_infrastructure_area.drop(columns=['SA2 name'])
community_infrastructure_area = sum_area(community_infrastructure_area)

# read mix used area table 5 and extract the useful columns
mix_use_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 5',header=5)
mix_use_area.columns = ['SA2_Code', 'SA2 name','mix_area<200sqm', 'mix_area_200-400sqm', 'mix_area_400-600sqm',
                        'mix_area_600-800sqm', 'mix_area_800-1000sqm', 'mix_area_1000-10000sqm', 'mix_area>1000sqm']
mix_use_area = mix_use_area.drop(columns=['SA2 name'])
mix_use_area = sum_area(mix_use_area)

# read indsutrial area table 6 and extract the useful columns
industrial_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 6',header=5)
industrial_area.columns = ['SA2_Code', 'SA2 name','industrial_area<200sqm', 'industrial_area_200-400sqm',
                           'industrial_area_400-600sqm', 'industrial_area_600-800sqm', 'industrial_area_800-1000sqm',
                           'industrial_area_1000-10000sqm', 'industrial_area>1000sqm']
industrial_area = industrial_area.drop(columns=['SA2 name'])
industrial_area = sum_area(industrial_area)

# read scenic spot area table 7 and extract the useful columns
scenic_spot_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 7',header=5)
scenic_spot_area.columns = ['SA2_Code', 'SA2 name','scenic_spot<200sqm', 'scenic_spot_200-400sqm',
                             'scenic_spot_400-600sqm', 'scenic_spot_600-800sqm', 'scenic_spot_800-1000sqm',
                             'scenic_spot_1000-10000sqm', 'scenic_spot>1000sqm']
scenic_spot_area = scenic_spot_area.drop(columns=['SA2 name'])
scenic_spot_area = sum_area(scenic_spot_area)

# read commerical area table 8 and extract the useful columns
commerical_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 8',header=5)
commerical_area.columns = ['SA2_Code', 'SA2 name','commerical_area<200sqm', 'commerical_area_200-400sqm',
                           'commerical_area_400-600sqm', 'commerical_area_600-800sqm', 'commerical_area_800-1000sqm',
                           'commerical_area_1000-10000sqm', 'commerical_area>1000sqm']
commerical_area = commerical_area.drop(columns=['SA2 name'])
commerical_area = sum_area(commerical_area)

# read utilities area table 10 and extract the useful columns
utilities_area = pd.read_excel('../data/raw/functional.xlsx',sheet_name='Table 10',header=5)
utilities_area.columns = ['SA2_Code', 'SA2 name','utilities_area<200sqm', 'utilities_area_200-400sqm',
                          'utilities_area_400-600sqm', 'utilities_area_600-800sqm', 'utilities_area_800-1000sqm',
                          'utilities_area_1000-10000sqm', 'utilities_area>1000sqm']
utilities_area = utilities_area.drop(columns=['SA2 name'])
utilities_area = sum_area(utilities_area)

In [97]:
# summarise the functional area by SA2
functional = pd.DataFrame()
functional['SA2_Code'] = residential_area['SA2_Code']
functional['residential'] = residential_area['total']
functional['primary_production'] = primary_production_area['total']
functional['community_infrastructure'] = community_infrastructure_area['total']
functional['mix_use'] = mix_use_area['total']
functional['industrial'] = industrial_area['total']
functional['scenic_spot'] = scenic_spot_area['total']
functional['commerical'] = commerical_area['total']
functional['utilities'] = utilities_area['total']

In [98]:
# merge the all SA2 dataset
SA2 = pd.merge(population, income, on='SA2_Code', how='left').fillna(0)
SA2 = pd.merge(SA2, functional, on='SA2_Code', how='left').fillna(0)
SA2

,SA2_Code,2001_population,2002_population,2003_population,2004_population,2005_population,2006_population,2007_population,2008_population,2009_population,...,2017-18_mean_income,2018-19_mean_income,residential,primary_production,community_infrastructure,mix_use,industrial,scenic_spot,commerical,utilities
0,101021007.0,2760.0,2811.0,2835.0,2844.0,2847.0,2965.0,3102.0,3181.0,3308.0,...,51594.0,51149.0,0,0,0,0,0,0,0,0
1,101021008.0,9129.0,9199.0,9263.0,9277.0,9209.0,9212.0,9033.0,8994.0,9030.0,...,63790.0,66335.0,2795,3,92,13,0,24,0,1
2,101021009.0,9717.0,9513.0,9522.0,9400.0,9595.0,9682.0,9793.0,10074.0,10288.0,...,62863.0,65874.0,2524,0,78,33,74,1,215,3
3,101021010.0,3925.0,4073.0,4219.0,4218.0,4187.0,4319.0,4459.0,4595.0,4712.0,...,68576.0,69860.0,965,0,132,16,365,661,9,1
4,101021012.0,9425.0,10257.0,11085.0,11549.0,12046.0,12358.0,12622.0,12798.0,12988.0,...,82000.0,85607.0,3842,0,114,10,258,691,12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,801111141.0,12.0,11.0,11.0,10.0,10.0,9.0,15.0,22.0,27.0,...,56357.0,39278.0,0,0,0,0,0,0,0,0
2450,901011001.0,1442.0,1365.0,1337.0,1355.0,1380.0,1403.0,1569.0,1745.0,1944.0,...,0.0,0.0,0,0,0,0,0,0,0,0
2451,901021002.0,600.0,568.0,558.0,573.0,588.0,590.0,575.0,568.0,565.0,...,0.0,0.0,0,0,0,0,0,0,0,0
2452,901031003.0,542.0,464.0,441.0,428.0,413.0,386.0,370.0,370.0,367.0,...,0.0,0.0,0,0,0,0,0,0,0,0
2453,901041004.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0,0,0,0

In [99]:
# save as csv file
SA2.to_csv('../data/curated/sa2.csv',index=False)

## Merge all postcode Dataset

In [100]:
# calculate the number of cemetery by postcode
cemetery = pd.read_csv('../data/raw/cemetery.csv')
cemetery_count=pd.DataFrame.from_dict(dict(cemetery['Postcode'].value_counts()),orient='index').reset_index()
cemetery_count.columns=['postcode','cemetery_number']

In [101]:
# calculate the number of Sport&Recreational Facilities by postcode
facilities= pd.read_excel('../data/raw/Sport_Recreational_Facilities_list.xlsx')
facilities = facilities[['Facility Name','Pcode']]
facilities=facilities.drop_duplicates()
facilities_count=pd.DataFrame.from_dict(dict(facilities['Pcode'].value_counts()),orient='index').reset_index()
facilities_count.columns=['postcode','Sport&Recreational_facilities_number']

In [102]:
# merge the exrternal with cemetery data
postcode_data = pd.merge(cemetery_count, facilities_count, on='postcode', how='left').fillna(0)

# save as csv file
postcode_data.to_csv('../data/curated/postcode_data.csv',index=False)

## Affordable letting base on LGA

In [103]:
# read affordable letting data
# read 1 bedroom table and rename the columns
affordable_1br= pd.read_excel('../data/raw/Affordable_Lettings_2021.xlsx',sheet_name='lga aff 1br',header=2)
affordable_1br.columns = ['LGA', 'Affordable_1r_Mar_2000', 'Percent_1r_Mar_2000', 'Affordable_1r_Jun_2000', 'Percent_1r_Jun_2000', 'Affordable_1r_Sep_2000', 'Percent_1r_Sep_2000', 'Affordable_1r_Dec_2000', 'Percent_1r_Dec_2000', 'Affordable_1r_Mar_2001', 'Percent_1r_Mar_2001', 'Affordable_1r_Jun_2001', 'Percent_1r_Jun_2001', 'Affordable_1r_Sep_2001', 'Percent_1r_Sep_2001', 'Affordable_1r_Dec_2001', 'Percent_1r_Dec_2001', 'Affordable_1r_Mar_2002', 'Percent_1r_Mar_2002', 'Affordable_1r_Jun_2002', 'Percent_1r_Jun_2002', 'Affordable_1r_Sep_2002', 'Percent_1r_Sep_2002', 'Affordable_1r_Dec_2002', 'Percent_1r_Dec_2002', 'Affordable_1r_Mar_2003', 'Percent_1r_Mar_2003', 'Affordable_1r_Jun_2003', 'Percent_1r_Jun_2003', 'Affordable_1r_Sep_2003', 'Percent_1r_Sep_2003', 'Affordable_1r_Dec_2003', 'Percent_1r_Dec_2003', 'Affordable_1r_Mar_2004', 'Percent_1r_Mar_2004', 'Affordable_1r_Jun_2004', 'Percent_1r_Jun_2004', 'Affordable_1r_Sep_2004', 'Percent_1r_Sep_2004', 'Affordable_1r_Dec_2004', 'Percent_1r_Dec_2004', 'Affordable_1r_Mar_2005', 'Percent_1r_Mar_2005', 'Affordable_1r_Jun_2005', 'Percent_1r_Jun_2005', 'Affordable_1r_Sep_2005', 'Percent_1r_Sep_2005', 'Affordable_1r_Dec_2005', 'Percent_1r_Dec_2005', 'Affordable_1r_Mar_2006', 'Percent_1r_Mar_2006', 'Affordable_1r_Jun_2006', 'Percent_1r_Jun_2006', 'Affordable_1r_Sep_2006', 'Percent_1r_Sep_2006', 'Affordable_1r_Dec_2006', 'Percent_1r_Dec_2006', 'Affordable_1r_Mar_2007', 'Percent_1r_Mar_2007', 'Affordable_1r_Jun_2007', 'Percent_1r_Jun_2007', 'Affordable_1r_Sep_2007', 'Percent_1r_Sep_2007', 'Affordable_1r_Dec_2007', 'Percent_1r_Dec_2007', 'Affordable_1r_Mar_2008', 'Percent_1r_Mar_2008', 'Affordable_1r_Jun_2008', 'Percent_1r_Jun_2008', 'Affordable_1r_Sep_2008', 'Percent_1r_Sep_2008', 'Affordable_1r_Dec_2008', 'Percent_1r_Dec_2008', 'Affordable_1r_Mar_2009', 'Percent_1r_Mar_2009', 'Affordable_1r_Jun_2009', 'Percent_1r_Jun_2009', 'Affordable_1r_Sep_2009', 'Percent_1r_Sep_2009', 'Affordable_1r_Dec_2009', 'Percent_1r_Dec_2009', 'Affordable_1r_Mar_2010', 'Percent_1r_Mar_2010', 'Affordable_1r_Jun_2010', 'Percent_1r_Jun_2010', 'Affordable_1r_Sep_2010', 'Percent_1r_Sep_2010', 'Affordable_1r_Dec_2010', 'Percent_1r_Dec_2010', 'Affordable_1r_Mar_2011', 'Percent_1r_Mar_2011', 'Affordable_1r_Jun_2011', 'Percent_1r_Jun_2011', 'Affordable_1r_Sep_2011', 'Percent_1r_Sep_2011', 'Affordable_1r_Dec_2011', 'Percent_1r_Dec_2011', 'Affordable_1r_Mar_2012', 'Percent_1r_Mar_2012', 'Affordable_1r_Jun_2012', 'Percent_1r_Jun_2012', 'Affordable_1r_Sep_2012', 'Percent_1r_Sep_2012', 'Affordable_1r_Dec_2012', 'Percent_1r_Dec_2012', 'Affordable_1r_Mar_2013', 'Percent_1r_Mar_2013', 'Affordable_1r_Jun_2013', 'Percent_1r_Jun_2013', 'Affordable_1r_Sep_2013', 'Percent_1r_Sep_2013', 'Affordable_1r_Dec_2013', 'Percent_1r_Dec_2013', 'Affordable_1r_Mar_2014', 'Percent_1r_Mar_2014', 'Affordable_1r_Jun_2014', 'Percent_1r_Jun_2014', 'Affordable_1r_Sep_2014', 'Percent_1r_Sep_2014', 'Affordable_1r_Dec_2014', 'Percent_1r_Dec_2014', 'Affordable_1r_Mar_2015', 'Percent_1r_Mar_2015', 'Affordable_1r_Jun_2015', 'Percent_1r_Jun_2015', 'Affordable_1r_Sep_2015', 'Percent_1r_Sep_2015', 'Affordable_1r_Dec_2015', 'Percent_1r_Dec_2015', 'Affordable_1r_Mar_2016', 'Percent_1r_Mar_2016', 'Affordable_1r_Jun_2016', 'Percent_1r_Jun_2016', 'Affordable_1r_Sep_2016', 'Percent_1r_Sep_2016', 'Affordable_1r_Dec_2016', 'Percent_1r_Dec_2016', 'Affordable_1r_Mar_2017', 'Percent_1r_Mar_2017', 'Affordable_1r_Jun_2017', 'Percent_1r_Jun_2017', 'Affordable_1r_Sep_2017', 'Percent_1r_Sep_2017', 'Affordable_1r_Dec_2017', 'Percent_1r_Dec_2017', 'Affordable_1r_Mar_2018', 'Percent_1r_Mar_2018', 'Affordable_1r_Jun_2018', 'Percent_1r_Jun_2018', 'Affordable_1r_Sep_2018', 'Percent_1r_Sep_2018', 'Affordable_1r_Dec_2018', 'Percent_1r_Dec_2018', 'Affordable_1r_Mar_2019', 'Percent_1r_Mar_2019', 'Affordable_1r_Jun_2019', 'Percent_1r_Jun_2019', 'Affordable_1r_Sep_2019', 'Percent_1r_Sep_2019', 'Affordable_1r_Dec_2019', 'Percent_1r_Dec_2019', 'Affordable_1r_Mar_2020', 'Percent_1r_Mar_2020', 'Affordable_1r_Jun_2020', 'Percent_1r_Jun_2020', 'Affordable_1r_Sep_2020', 'Percent_1r_Sep_2020', 'Affordable_1r_Dec_2020', 'Percent_1r_Dec_2020', 'Affordable_1r_Mar_2021', 'Percent_1r_Mar_2021', 'Affordable_1r_Jun_2021', 'Percent_1r_Jun_2021', 'Affordable_1r_Sep_2021', 'Percent_1r_Sep_2021']

# read 2 bedroom table and rename the columns
affordable_2br= pd.read_excel('../data/raw/Affordable_Lettings_2021.xlsx',sheet_name='lga aff 2br',header=2)
affordable_2br.columns = ['LGA', 'Affordable_2r_Mar_2000', 'Percent_2r_Mar_2000', 'Affordable_2r_Jun_2000', 'Percent_2r_Jun_2000', 'Affordable_2r_Sep_2000', 'Percent_2r_Sep_2000', 'Affordable_2r_Dec_2000', 'Percent_2r_Dec_2000', 'Affordable_2r_Mar_2001', 'Percent_2r_Mar_2001', 'Affordable_2r_Jun_2001', 'Percent_2r_Jun_2001', 'Affordable_2r_Sep_2001', 'Percent_2r_Sep_2001', 'Affordable_2r_Dec_2001', 'Percent_2r_Dec_2001', 'Affordable_2r_Mar_2002', 'Percent_2r_Mar_2002', 'Affordable_2r_Jun_2002', 'Percent_2r_Jun_2002', 'Affordable_2r_Sep_2002', 'Percent_2r_Sep_2002', 'Affordable_2r_Dec_2002', 'Percent_2r_Dec_2002', 'Affordable_2r_Mar_2003', 'Percent_2r_Mar_2003', 'Affordable_2r_Jun_2003', 'Percent_2r_Jun_2003', 'Affordable_2r_Sep_2003', 'Percent_2r_Sep_2003', 'Affordable_2r_Dec_2003', 'Percent_2r_Dec_2003', 'Affordable_2r_Mar_2004', 'Percent_2r_Mar_2004', 'Affordable_2r_Jun_2004', 'Percent_2r_Jun_2004', 'Affordable_2r_Sep_2004', 'Percent_2r_Sep_2004', 'Affordable_2r_Dec_2004', 'Percent_2r_Dec_2004', 'Affordable_2r_Mar_2005', 'Percent_2r_Mar_2005', 'Affordable_2r_Jun_2005', 'Percent_2r_Jun_2005', 'Affordable_2r_Sep_2005', 'Percent_2r_Sep_2005', 'Affordable_2r_Dec_2005', 'Percent_2r_Dec_2005', 'Affordable_2r_Mar_2006', 'Percent_2r_Mar_2006', 'Affordable_2r_Jun_2006', 'Percent_2r_Jun_2006', 'Affordable_2r_Sep_2006', 'Percent_2r_Sep_2006', 'Affordable_2r_Dec_2006', 'Percent_2r_Dec_2006', 'Affordable_2r_Mar_2007', 'Percent_2r_Mar_2007', 'Affordable_2r_Jun_2007', 'Percent_2r_Jun_2007', 'Affordable_2r_Sep_2007', 'Percent_2r_Sep_2007', 'Affordable_2r_Dec_2007', 'Percent_2r_Dec_2007', 'Affordable_2r_Mar_2008', 'Percent_2r_Mar_2008', 'Affordable_2r_Jun_2008', 'Percent_2r_Jun_2008', 'Affordable_2r_Sep_2008', 'Percent_2r_Sep_2008', 'Affordable_2r_Dec_2008', 'Percent_2r_Dec_2008', 'Affordable_2r_Mar_2009', 'Percent_2r_Mar_2009', 'Affordable_2r_Jun_2009', 'Percent_2r_Jun_2009', 'Affordable_2r_Sep_2009', 'Percent_2r_Sep_2009', 'Affordable_2r_Dec_2009', 'Percent_2r_Dec_2009', 'Affordable_2r_Mar_2010', 'Percent_2r_Mar_2010', 'Affordable_2r_Jun_2010', 'Percent_2r_Jun_2010', 'Affordable_2r_Sep_2010', 'Percent_2r_Sep_2010', 'Affordable_2r_Dec_2010', 'Percent_2r_Dec_2010', 'Affordable_2r_Mar_2011', 'Percent_2r_Mar_2011', 'Affordable_2r_Jun_2011', 'Percent_2r_Jun_2011', 'Affordable_2r_Sep_2011', 'Percent_2r_Sep_2011', 'Affordable_2r_Dec_2011', 'Percent_2r_Dec_2011', 'Affordable_2r_Mar_2012', 'Percent_2r_Mar_2012', 'Affordable_2r_Jun_2012', 'Percent_2r_Jun_2012', 'Affordable_2r_Sep_2012', 'Percent_2r_Sep_2012', 'Affordable_2r_Dec_2012', 'Percent_2r_Dec_2012', 'Affordable_2r_Mar_2013', 'Percent_2r_Mar_2013', 'Affordable_2r_Jun_2013', 'Percent_2r_Jun_2013', 'Affordable_2r_Sep_2013', 'Percent_2r_Sep_2013', 'Affordable_2r_Dec_2013', 'Percent_2r_Dec_2013', 'Affordable_2r_Mar_2014', 'Percent_2r_Mar_2014', 'Affordable_2r_Jun_2014', 'Percent_2r_Jun_2014', 'Affordable_2r_Sep_2014', 'Percent_2r_Sep_2014', 'Affordable_2r_Dec_2014', 'Percent_2r_Dec_2014', 'Affordable_2r_Mar_2015', 'Percent_2r_Mar_2015', 'Affordable_2r_Jun_2015', 'Percent_2r_Jun_2015', 'Affordable_2r_Sep_2015', 'Percent_2r_Sep_2015', 'Affordable_2r_Dec_2015', 'Percent_2r_Dec_2015', 'Affordable_2r_Mar_2016', 'Percent_2r_Mar_2016', 'Affordable_2r_Jun_2016', 'Percent_2r_Jun_2016', 'Affordable_2r_Sep_2016', 'Percent_2r_Sep_2016', 'Affordable_2r_Dec_2016', 'Percent_2r_Dec_2016', 'Affordable_2r_Mar_2017', 'Percent_2r_Mar_2017', 'Affordable_2r_Jun_2017', 'Percent_2r_Jun_2017', 'Affordable_2r_Sep_2017', 'Percent_2r_Sep_2017', 'Affordable_2r_Dec_2017', 'Percent_2r_Dec_2017', 'Affordable_2r_Mar_2018', 'Percent_2r_Mar_2018', 'Affordable_2r_Jun_2018', 'Percent_2r_Jun_2018', 'Affordable_2r_Sep_2018', 'Percent_2r_Sep_2018', 'Affordable_2r_Dec_2018', 'Percent_2r_Dec_2018', 'Affordable_2r_Mar_2019', 'Percent_2r_Mar_2019', 'Affordable_2r_Jun_2019', 'Percent_2r_Jun_2019', 'Affordable_2r_Sep_2019', 'Percent_2r_Sep_2019', 'Affordable_2r_Dec_2019', 'Percent_2r_Dec_2019', 'Affordable_2r_Mar_2020', 'Percent_2r_Mar_2020', 'Affordable_2r_Jun_2020', 'Percent_2r_Jun_2020', 'Affordable_2r_Sep_2020', 'Percent_2r_Sep_2020', 'Affordable_2r_Dec_2020', 'Percent_2r_Dec_2020', 'Affordable_2r_Mar_2021', 'Percent_2r_Mar_2021', 'Affordable_2r_Jun_2021', 'Percent_2r_Jun_2021', 'Affordable_2r_Sep_2021', 'Percent_2r_Sep_2021']

# read 3 bedroom table and rename the columns
affordable_3br= pd.read_excel('../data/raw/Affordable_Lettings_2021.xlsx',sheet_name='lga aff 3br',header=2)
affordable_3br.columns = ['LGA', 'Affordable_3r_Mar_2000', 'Percent_3r_Mar_2000', 'Affordable_3r_Jun_2000', 'Percent_3r_Jun_2000', 'Affordable_3r_Sep_2000', 'Percent_3r_Sep_2000', 'Affordable_3r_Dec_2000', 'Percent_3r_Dec_2000', 'Affordable_3r_Mar_2001', 'Percent_3r_Mar_2001', 'Affordable_3r_Jun_2001', 'Percent_3r_Jun_2001', 'Affordable_3r_Sep_2001', 'Percent_3r_Sep_2001', 'Affordable_3r_Dec_2001', 'Percent_3r_Dec_2001', 'Affordable_3r_Mar_2002', 'Percent_3r_Mar_2002', 'Affordable_3r_Jun_2002', 'Percent_3r_Jun_2002', 'Affordable_3r_Sep_2002', 'Percent_3r_Sep_2002', 'Affordable_3r_Dec_2002', 'Percent_3r_Dec_2002', 'Affordable_3r_Mar_2003', 'Percent_3r_Mar_2003', 'Affordable_3r_Jun_2003', 'Percent_3r_Jun_2003', 'Affordable_3r_Sep_2003', 'Percent_3r_Sep_2003', 'Affordable_3r_Dec_2003', 'Percent_3r_Dec_2003', 'Affordable_3r_Mar_2004', 'Percent_3r_Mar_2004', 'Affordable_3r_Jun_2004', 'Percent_3r_Jun_2004', 'Affordable_3r_Sep_2004', 'Percent_3r_Sep_2004', 'Affordable_3r_Dec_2004', 'Percent_3r_Dec_2004', 'Affordable_3r_Mar_2005', 'Percent_3r_Mar_2005', 'Affordable_3r_Jun_2005', 'Percent_3r_Jun_2005', 'Affordable_3r_Sep_2005', 'Percent_3r_Sep_2005', 'Affordable_3r_Dec_2005', 'Percent_3r_Dec_2005', 'Affordable_3r_Mar_2006', 'Percent_3r_Mar_2006', 'Affordable_3r_Jun_2006', 'Percent_3r_Jun_2006', 'Affordable_3r_Sep_2006', 'Percent_3r_Sep_2006', 'Affordable_3r_Dec_2006', 'Percent_3r_Dec_2006', 'Affordable_3r_Mar_2007', 'Percent_3r_Mar_2007', 'Affordable_3r_Jun_2007', 'Percent_3r_Jun_2007', 'Affordable_3r_Sep_2007', 'Percent_3r_Sep_2007', 'Affordable_3r_Dec_2007', 'Percent_3r_Dec_2007', 'Affordable_3r_Mar_2008', 'Percent_3r_Mar_2008', 'Affordable_3r_Jun_2008', 'Percent_3r_Jun_2008', 'Affordable_3r_Sep_2008', 'Percent_3r_Sep_2008', 'Affordable_3r_Dec_2008', 'Percent_3r_Dec_2008', 'Affordable_3r_Mar_2009', 'Percent_3r_Mar_2009', 'Affordable_3r_Jun_2009', 'Percent_3r_Jun_2009', 'Affordable_3r_Sep_2009', 'Percent_3r_Sep_2009', 'Affordable_3r_Dec_2009', 'Percent_3r_Dec_2009', 'Affordable_3r_Mar_2010', 'Percent_3r_Mar_2010', 'Affordable_3r_Jun_2010', 'Percent_3r_Jun_2010', 'Affordable_3r_Sep_2010', 'Percent_3r_Sep_2010', 'Affordable_3r_Dec_2010', 'Percent_3r_Dec_2010', 'Affordable_3r_Mar_2011', 'Percent_3r_Mar_2011', 'Affordable_3r_Jun_2011', 'Percent_3r_Jun_2011', 'Affordable_3r_Sep_2011', 'Percent_3r_Sep_2011', 'Affordable_3r_Dec_2011', 'Percent_3r_Dec_2011', 'Affordable_3r_Mar_2012', 'Percent_3r_Mar_2012', 'Affordable_3r_Jun_2012', 'Percent_3r_Jun_2012', 'Affordable_3r_Sep_2012', 'Percent_3r_Sep_2012', 'Affordable_3r_Dec_2012', 'Percent_3r_Dec_2012', 'Affordable_3r_Mar_2013', 'Percent_3r_Mar_2013', 'Affordable_3r_Jun_2013', 'Percent_3r_Jun_2013', 'Affordable_3r_Sep_2013', 'Percent_3r_Sep_2013', 'Affordable_3r_Dec_2013', 'Percent_3r_Dec_2013', 'Affordable_3r_Mar_2014', 'Percent_3r_Mar_2014', 'Affordable_3r_Jun_2014', 'Percent_3r_Jun_2014', 'Affordable_3r_Sep_2014', 'Percent_3r_Sep_2014', 'Affordable_3r_Dec_2014', 'Percent_3r_Dec_2014', 'Affordable_3r_Mar_2015', 'Percent_3r_Mar_2015', 'Affordable_3r_Jun_2015', 'Percent_3r_Jun_2015', 'Affordable_3r_Sep_2015', 'Percent_3r_Sep_2015', 'Affordable_3r_Dec_2015', 'Percent_3r_Dec_2015', 'Affordable_3r_Mar_2016', 'Percent_3r_Mar_2016', 'Affordable_3r_Jun_2016', 'Percent_3r_Jun_2016', 'Affordable_3r_Sep_2016', 'Percent_3r_Sep_2016', 'Affordable_3r_Dec_2016', 'Percent_3r_Dec_2016', 'Affordable_3r_Mar_2017', 'Percent_3r_Mar_2017', 'Affordable_3r_Jun_2017', 'Percent_3r_Jun_2017', 'Affordable_3r_Sep_2017', 'Percent_3r_Sep_2017', 'Affordable_3r_Dec_2017', 'Percent_3r_Dec_2017', 'Affordable_3r_Mar_2018', 'Percent_3r_Mar_2018', 'Affordable_3r_Jun_2018', 'Percent_3r_Jun_2018', 'Affordable_3r_Sep_2018', 'Percent_3r_Sep_2018', 'Affordable_3r_Dec_2018', 'Percent_3r_Dec_2018', 'Affordable_3r_Mar_2019', 'Percent_3r_Mar_2019', 'Affordable_3r_Jun_2019', 'Percent_3r_Jun_2019', 'Affordable_3r_Sep_2019', 'Percent_3r_Sep_2019', 'Affordable_3r_Dec_2019', 'Percent_3r_Dec_2019', 'Affordable_3r_Mar_2020', 'Percent_3r_Mar_2020', 'Affordable_3r_Jun_2020', 'Percent_3r_Jun_2020', 'Affordable_3r_Sep_2020', 'Percent_3r_Sep_2020', 'Affordable_3r_Dec_2020', 'Percent_3r_Dec_2020', 'Affordable_3r_Mar_2021', 'Percent_3r_Mar_2021', 'Affordable_3r_Jun_2021', 'Percent_3r_Jun_2021', 'Affordable_3r_Sep_2021', 'Percent_3r_Sep_2021']

# read 4 bedroom table and rename the columns
affordable_4br= pd.read_excel('../data/raw/Affordable_Lettings_2021.xlsx',sheet_name='lga aff 4br',header=2)
affordable_4br.columns = ['LGA', 'Affordable_4r_Mar_2000', 'Percent_4r_Mar_2000', 'Affordable_4r_Jun_2000', 'Percent_4r_Jun_2000', 'Affordable_4r_Sep_2000', 'Percent_4r_Sep_2000', 'Affordable_4r_Dec_2000', 'Percent_4r_Dec_2000', 'Affordable_4r_Mar_2001', 'Percent_4r_Mar_2001', 'Affordable_4r_Jun_2001', 'Percent_4r_Jun_2001', 'Affordable_4r_Sep_2001', 'Percent_4r_Sep_2001', 'Affordable_4r_Dec_2001', 'Percent_4r_Dec_2001', 'Affordable_4r_Mar_2002', 'Percent_4r_Mar_2002', 'Affordable_4r_Jun_2002', 'Percent_4r_Jun_2002', 'Affordable_4r_Sep_2002', 'Percent_4r_Sep_2002', 'Affordable_4r_Dec_2002', 'Percent_4r_Dec_2002', 'Affordable_4r_Mar_2003', 'Percent_4r_Mar_2003', 'Affordable_4r_Jun_2003', 'Percent_4r_Jun_2003', 'Affordable_4r_Sep_2003', 'Percent_4r_Sep_2003', 'Affordable_4r_Dec_2003', 'Percent_4r_Dec_2003', 'Affordable_4r_Mar_2004', 'Percent_4r_Mar_2004', 'Affordable_4r_Jun_2004', 'Percent_4r_Jun_2004', 'Affordable_4r_Sep_2004', 'Percent_4r_Sep_2004', 'Affordable_4r_Dec_2004', 'Percent_4r_Dec_2004', 'Affordable_4r_Mar_2005', 'Percent_4r_Mar_2005', 'Affordable_4r_Jun_2005', 'Percent_4r_Jun_2005', 'Affordable_4r_Sep_2005', 'Percent_4r_Sep_2005', 'Affordable_4r_Dec_2005', 'Percent_4r_Dec_2005', 'Affordable_4r_Mar_2006', 'Percent_4r_Mar_2006', 'Affordable_4r_Jun_2006', 'Percent_4r_Jun_2006', 'Affordable_4r_Sep_2006', 'Percent_4r_Sep_2006', 'Affordable_4r_Dec_2006', 'Percent_4r_Dec_2006', 'Affordable_4r_Mar_2007', 'Percent_4r_Mar_2007', 'Affordable_4r_Jun_2007', 'Percent_4r_Jun_2007', 'Affordable_4r_Sep_2007', 'Percent_4r_Sep_2007', 'Affordable_4r_Dec_2007', 'Percent_4r_Dec_2007', 'Affordable_4r_Mar_2008', 'Percent_4r_Mar_2008', 'Affordable_4r_Jun_2008', 'Percent_4r_Jun_2008', 'Affordable_4r_Sep_2008', 'Percent_4r_Sep_2008', 'Affordable_4r_Dec_2008', 'Percent_4r_Dec_2008', 'Affordable_4r_Mar_2009', 'Percent_4r_Mar_2009', 'Affordable_4r_Jun_2009', 'Percent_4r_Jun_2009', 'Affordable_4r_Sep_2009', 'Percent_4r_Sep_2009', 'Affordable_4r_Dec_2009', 'Percent_4r_Dec_2009', 'Affordable_4r_Mar_2010', 'Percent_4r_Mar_2010', 'Affordable_4r_Jun_2010', 'Percent_4r_Jun_2010', 'Affordable_4r_Sep_2010', 'Percent_4r_Sep_2010', 'Affordable_4r_Dec_2010', 'Percent_4r_Dec_2010', 'Affordable_4r_Mar_2011', 'Percent_4r_Mar_2011', 'Affordable_4r_Jun_2011', 'Percent_4r_Jun_2011', 'Affordable_4r_Sep_2011', 'Percent_4r_Sep_2011', 'Affordable_4r_Dec_2011', 'Percent_4r_Dec_2011', 'Affordable_4r_Mar_2012', 'Percent_4r_Mar_2012', 'Affordable_4r_Jun_2012', 'Percent_4r_Jun_2012', 'Affordable_4r_Sep_2012', 'Percent_4r_Sep_2012', 'Affordable_4r_Dec_2012', 'Percent_4r_Dec_2012', 'Affordable_4r_Mar_2013', 'Percent_4r_Mar_2013', 'Affordable_4r_Jun_2013', 'Percent_4r_Jun_2013', 'Affordable_4r_Sep_2013', 'Percent_4r_Sep_2013', 'Affordable_4r_Dec_2013', 'Percent_4r_Dec_2013', 'Affordable_4r_Mar_2014', 'Percent_4r_Mar_2014', 'Affordable_4r_Jun_2014', 'Percent_4r_Jun_2014', 'Affordable_4r_Sep_2014', 'Percent_4r_Sep_2014', 'Affordable_4r_Dec_2014', 'Percent_4r_Dec_2014', 'Affordable_4r_Mar_2015', 'Percent_4r_Mar_2015', 'Affordable_4r_Jun_2015', 'Percent_4r_Jun_2015', 'Affordable_4r_Sep_2015', 'Percent_4r_Sep_2015', 'Affordable_4r_Dec_2015', 'Percent_4r_Dec_2015', 'Affordable_4r_Mar_2016', 'Percent_4r_Mar_2016', 'Affordable_4r_Jun_2016', 'Percent_4r_Jun_2016', 'Affordable_4r_Sep_2016', 'Percent_4r_Sep_2016', 'Affordable_4r_Dec_2016', 'Percent_4r_Dec_2016', 'Affordable_4r_Mar_2017', 'Percent_4r_Mar_2017', 'Affordable_4r_Jun_2017', 'Percent_4r_Jun_2017', 'Affordable_4r_Sep_2017', 'Percent_4r_Sep_2017', 'Affordable_4r_Dec_2017', 'Percent_4r_Dec_2017', 'Affordable_4r_Mar_2018', 'Percent_4r_Mar_2018', 'Affordable_4r_Jun_2018', 'Percent_4r_Jun_2018', 'Affordable_4r_Sep_2018', 'Percent_4r_Sep_2018', 'Affordable_4r_Dec_2018', 'Percent_4r_Dec_2018', 'Affordable_4r_Mar_2019', 'Percent_4r_Mar_2019', 'Affordable_4r_Jun_2019', 'Percent_4r_Jun_2019', 'Affordable_4r_Sep_2019', 'Percent_4r_Sep_2019', 'Affordable_4r_Dec_2019', 'Percent_4r_Dec_2019', 'Affordable_4r_Mar_2020', 'Percent_4r_Mar_2020', 'Affordable_4r_Jun_2020', 'Percent_4r_Jun_2020', 'Affordable_4r_Sep_2020', 'Percent_4r_Sep_2020', 'Affordable_4r_Dec_2020', 'Percent_4r_Dec_2020', 'Affordable_4r_Mar_2021', 'Percent_4r_Mar_2021', 'Affordable_4r_Jun_2021', 'Percent_4r_Jun_2021', 'Affordable_4r_Sep_2021', 'Percent_4r_Sep_2021']

# read total data table and rename the columns
affordable_total= pd.read_excel('../data/raw/Affordable_Lettings_2021.xlsx',sheet_name='lga aff total',header=2)
affordable_total.columns = ['LGA', 'Affordable_total_Mar_2000', 'Percent_total_Mar_2000', 'Affordable_total_Jun_2000', 'Percent_total_Jun_2000', 'Affordable_total_Sep_2000', 'Percent_total_Sep_2000', 'Affordable_total_Dec_2000', 'Percent_total_Dec_2000', 'Affordable_total_Mar_2001', 'Percent_total_Mar_2001', 'Affordable_total_Jun_2001', 'Percent_total_Jun_2001', 'Affordable_total_Sep_2001', 'Percent_total_Sep_2001', 'Affordable_total_Dec_2001', 'Percent_total_Dec_2001', 'Affordable_total_Mar_2002', 'Percent_total_Mar_2002', 'Affordable_total_Jun_2002', 'Percent_total_Jun_2002', 'Affordable_total_Sep_2002', 'Percent_total_Sep_2002', 'Affordable_total_Dec_2002', 'Percent_total_Dec_2002', 'Affordable_total_Mar_2003', 'Percent_total_Mar_2003', 'Affordable_total_Jun_2003', 'Percent_total_Jun_2003', 'Affordable_total_Sep_2003', 'Percent_total_Sep_2003', 'Affordable_total_Dec_2003', 'Percent_total_Dec_2003', 'Affordable_total_Mar_2004', 'Percent_total_Mar_2004', 'Affordable_total_Jun_2004', 'Percent_total_Jun_2004', 'Affordable_total_Sep_2004', 'Percent_total_Sep_2004', 'Affordable_total_Dec_2004', 'Percent_total_Dec_2004', 'Affordable_total_Mar_2005', 'Percent_total_Mar_2005', 'Affordable_total_Jun_2005', 'Percent_total_Jun_2005', 'Affordable_total_Sep_2005', 'Percent_total_Sep_2005', 'Affordable_total_Dec_2005', 'Percent_total_Dec_2005', 'Affordable_total_Mar_2006', 'Percent_total_Mar_2006', 'Affordable_total_Jun_2006', 'Percent_total_Jun_2006', 'Affordable_total_Sep_2006', 'Percent_total_Sep_2006', 'Affordable_total_Dec_2006', 'Percent_total_Dec_2006', 'Affordable_total_Mar_2007', 'Percent_total_Mar_2007', 'Affordable_total_Jun_2007', 'Percent_total_Jun_2007', 'Affordable_total_Sep_2007', 'Percent_total_Sep_2007', 'Affordable_total_Dec_2007', 'Percent_total_Dec_2007', 'Affordable_total_Mar_2008', 'Percent_total_Mar_2008', 'Affordable_total_Jun_2008', 'Percent_total_Jun_2008', 'Affordable_total_Sep_2008', 'Percent_total_Sep_2008', 'Affordable_total_Dec_2008', 'Percent_total_Dec_2008', 'Affordable_total_Mar_2009', 'Percent_total_Mar_2009', 'Affordable_total_Jun_2009', 'Percent_total_Jun_2009', 'Affordable_total_Sep_2009', 'Percent_total_Sep_2009', 'Affordable_total_Dec_2009', 'Percent_total_Dec_2009', 'Affordable_total_Mar_2010', 'Percent_total_Mar_2010', 'Affordable_total_Jun_2010', 'Percent_total_Jun_2010', 'Affordable_total_Sep_2010', 'Percent_total_Sep_2010', 'Affordable_total_Dec_2010', 'Percent_total_Dec_2010', 'Affordable_total_Mar_2011', 'Percent_total_Mar_2011', 'Affordable_total_Jun_2011', 'Percent_total_Jun_2011', 'Affordable_total_Sep_2011', 'Percent_total_Sep_2011', 'Affordable_total_Dec_2011', 'Percent_total_Dec_2011', 'Affordable_total_Mar_2012', 'Percent_total_Mar_2012', 'Affordable_total_Jun_2012', 'Percent_total_Jun_2012', 'Affordable_total_Sep_2012', 'Percent_total_Sep_2012', 'Affordable_total_Dec_2012', 'Percent_total_Dec_2012', 'Affordable_total_Mar_2013', 'Percent_total_Mar_2013', 'Affordable_total_Jun_2013', 'Percent_total_Jun_2013', 'Affordable_total_Sep_2013', 'Percent_total_Sep_2013', 'Affordable_total_Dec_2013', 'Percent_total_Dec_2013', 'Affordable_total_Mar_2014', 'Percent_total_Mar_2014', 'Affordable_total_Jun_2014', 'Percent_total_Jun_2014', 'Affordable_total_Sep_2014', 'Percent_total_Sep_2014', 'Affordable_total_Dec_2014', 'Percent_total_Dec_2014', 'Affordable_total_Mar_2015', 'Percent_total_Mar_2015', 'Affordable_total_Jun_2015', 'Percent_total_Jun_2015', 'Affordable_total_Sep_2015', 'Percent_total_Sep_2015', 'Affordable_total_Dec_2015', 'Percent_total_Dec_2015', 'Affordable_total_Mar_2016', 'Percent_total_Mar_2016', 'Affordable_total_Jun_2016', 'Percent_total_Jun_2016', 'Affordable_total_Sep_2016', 'Percent_total_Sep_2016', 'Affordable_total_Dec_2016', 'Percent_total_Dec_2016', 'Affordable_total_Mar_2017', 'Percent_total_Mar_2017', 'Affordable_total_Jun_2017', 'Percent_total_Jun_2017', 'Affordable_total_Sep_2017', 'Percent_total_Sep_2017', 'Affordable_total_Dec_2017', 'Percent_total_Dec_2017', 'Affordable_total_Mar_2018', 'Percent_total_Mar_2018', 'Affordable_total_Jun_2018', 'Percent_total_Jun_2018', 'Affordable_total_Sep_2018', 'Percent_total_Sep_2018', 'Affordable_total_Dec_2018', 'Percent_total_Dec_2018', 'Affordable_total_Mar_2019', 'Percent_total_Mar_2019', 'Affordable_total_Jun_2019', 'Percent_total_Jun_2019', 'Affordable_total_Sep_2019', 'Percent_total_Sep_2019', 'Affordable_total_Dec_2019', 'Percent_total_Dec_2019', 'Affordable_total_Mar_2020', 'Percent_total_Mar_2020', 'Affordable_total_Jun_2020', 'Percent_total_Jun_2020', 'Affordable_total_Sep_2020', 'Percent_total_Sep_2020', 'Affordable_total_Dec_2020', 'Percent_total_Dec_2020', 'Affordable_total_Mar_2021', 'Percent_total_Mar_2021', 'Affordable_total_Jun_2021', 'Percent_total_Jun_2021', 'Affordable_total_Sep_2021', 'Percent_total_Sep_2021']

In [104]:
# remove NaN from all 5 datasets
affordable_1br = affordable_1br.dropna(how='any',axis=0)
affordable_2br = affordable_2br.dropna(how='any',axis=0)
affordable_3br = affordable_3br.dropna(how='any',axis=0)
affordable_4br = affordable_4br.dropna(how='any',axis=0)
affordable_total = affordable_total.dropna(how='any',axis=0)

In [105]:
def restruct_col(df):
    '''Define a function used to drop useless columns, only keeps median of price
    Args:
        df: df: dataframe for affordable
    Return:
        dataframe after change
    '''
    temp = []
    for col in df.columns:
        if 'Affordable' in col:
            temp.append(col)
    df = df.drop(columns = temp)
    return df

In [106]:
# delete Affordable count number
affordable_1br = restruct_col(affordable_1br)
affordable_2br = restruct_col(affordable_2br)
affordable_3br = restruct_col(affordable_3br)
affordable_4br = restruct_col(affordable_4br)
affordable_total = restruct_col(affordable_total)

# merge the exrternal with affordable letting
affordable = pd.merge(affordable_1br, affordable_2br, on='LGA', how='left').fillna(np.nan)
affordable = pd.merge(affordable, affordable_3br, on='LGA', how='left').fillna(np.nan)
affordable = pd.merge(affordable, affordable_4br, on='LGA', how='left').fillna(np.nan)
affordable = pd.merge(affordable, affordable_total, on='LGA', how='left').fillna(np.nan)

# drop the duplication 
affordable = affordable.drop_duplicates(subset=None, keep='first', inplace=False).reset_index(drop=True)

In [107]:
# save as csv file
affordable.to_csv('../data/curated/affordable.csv',index=False)

## House price base on locality

In [108]:
# read median house price time series data, and rename the columns
house_price_yearly= pd.read_excel('../data/raw/Median_Suburb_Time_2021.xls',sheet_name='Sheet1',header=1)
house_price_yearly.columns =['locality','2010 Median','2011 Median','2012 Median','2013 Median','2014 Median',
                             '2015 Median','2016 Median','2017 Median','2018 Median','2019 Median','2020 Median',
                             'prelim 2021 Median','change 2019-2020','change 2010-2020','Growth PA']

# delete first row
house_price_yearly = house_price_yearly.iloc[1: , :] 

# save as csv file
house_price_yearly.to_csv('../data/curated/house_price.csv',index=False)

## Rental price base on suburb

In [109]:
def restruct_col(df):
    '''A function used to drop useless columns, only keeps median of rental
    Args:
        df: dataframe for rental flat and rental hourse
    Returns:
        dataframe after change
    '''
    temp = []
    for col in df.columns:
        
        # collect the 'Count' columns to temp list
        if 'Count' in col:
            temp.append(col)
    df = df.drop(columns = temp)
    return df

def change_dict_format(dic):
    '''A function changes dict format from {key:value} to {key:[value]}
    Args:
        dic: dictionary to put suburb name
    Returns:
        dictionary after change
    '''
    for key in dic.keys():
        dic[key] = [dic[key]]
    return dic

def split_suburb(df):
    '''A function splits combined suburb to individual, e.g. Carlton-Parkville to Carlton and Parkville
    Args:
        df: dataframe for rental flat and rental hourse
    Returns:
        dataframe after change
    '''    
    new_df = pd.DataFrame(columns= df.columns)

    # find the rows of combined suburb
    mix = df[df['Suburb'].str.contains('-')].index.to_list()
    for i in mix:

        # split each combined suburb by '-'
        suburb_names = df.iloc[i].to_dict()['Suburb'].split('-')

        # change the original combined suburb name into one surburb, and concat the rest suburb name to the dataframe
        for name in suburb_names:
            new_row = df.iloc[i].to_dict()
            new_row['Suburb'] = name
            new_row = change_dict_format(new_row)
            new_df = pd.concat([new_df, pd.DataFrame.from_dict(new_row)]).reset_index(drop=True)
    df = pd.concat([df,new_df]).reset_index(drop=True)
    return df

def restruct_df(df):
    '''a function splits the combined suburb name and delete the region group total value
    Args:
        df: dataframe for rental flat and rental hourse
    Returns:
        dataframe after change
    '''    
    idx = df[df['Suburb'].str.contains('Group Total')].index.to_list()
    df = df.drop(idx).reset_index(drop=True)
    idx = df[df['Suburb'].str.contains('-')].index.to_list()
    df = split_suburb(df)
    df = df.drop(idx).reset_index(drop=True)
    return df

In [110]:
# read rental report quatterly with median data for 1 bedeoom flat
rental_flat_1_bedroom= pd.read_excel('../data/raw/Rental_Report_Quarterly_Median_2021.xlsx',sheet_name='1 bedroom flat',header=2)

# remove the useless column
rental_flat_1_bedroom = rental_flat_1_bedroom.drop(columns = ['Region'])

# rename the coulumns and split the combined suburb name
rental_flat_1_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_1b_flat', 'Rental_total_Mar_2000_1b_flat', 'Count_total_Jun_2000_1b_flat', 'Rental_total_Jun_2000_1b_flat', 'Count_total_Sep_2000_1b_flat', 'Rental_total_Sep_2000_1b_flat', 'Count_total_Dec_2000_1b_flat', 'Rental_total_Dec_2000_1b_flat', 'Count_total_Mar_2001_1b_flat', 'Rental_total_Mar_2001_1b_flat', 'Count_total_Jun_2001_1b_flat', 'Rental_total_Jun_2001_1b_flat', 'Count_total_Sep_2001_1b_flat', 'Rental_total_Sep_2001_1b_flat', 'Count_total_Dec_2001_1b_flat', 'Rental_total_Dec_2001_1b_flat', 'Count_total_Mar_2002_1b_flat', 'Rental_total_Mar_2002_1b_flat', 'Count_total_Jun_2002_1b_flat', 'Rental_total_Jun_2002_1b_flat', 'Count_total_Sep_2002_1b_flat', 'Rental_total_Sep_2002_1b_flat', 'Count_total_Dec_2002_1b_flat', 'Rental_total_Dec_2002_1b_flat', 'Count_total_Mar_2003_1b_flat', 'Rental_total_Mar_2003_1b_flat', 'Count_total_Jun_2003_1b_flat', 'Rental_total_Jun_2003_1b_flat', 'Count_total_Sep_2003_1b_flat', 'Rental_total_Sep_2003_1b_flat', 'Count_total_Dec_2003_1b_flat', 'Rental_total_Dec_2003_1b_flat', 'Count_total_Mar_2004_1b_flat', 'Rental_total_Mar_2004_1b_flat', 'Count_total_Jun_2004_1b_flat', 'Rental_total_Jun_2004_1b_flat', 'Count_total_Sep_2004_1b_flat', 'Rental_total_Sep_2004_1b_flat', 'Count_total_Dec_2004_1b_flat', 'Rental_total_Dec_2004_1b_flat', 'Count_total_Mar_2005_1b_flat', 'Rental_total_Mar_2005_1b_flat', 'Count_total_Jun_2005_1b_flat', 'Rental_total_Jun_2005_1b_flat', 'Count_total_Sep_2005_1b_flat', 'Rental_total_Sep_2005_1b_flat', 'Count_total_Dec_2005_1b_flat', 'Rental_total_Dec_2005_1b_flat', 'Count_total_Mar_2006_1b_flat', 'Rental_total_Mar_2006_1b_flat', 'Count_total_Jun_2006_1b_flat', 'Rental_total_Jun_2006_1b_flat', 'Count_total_Sep_2006_1b_flat', 'Rental_total_Sep_2006_1b_flat', 'Count_total_Dec_2006_1b_flat', 'Rental_total_Dec_2006_1b_flat', 'Count_total_Mar_2007_1b_flat', 'Rental_total_Mar_2007_1b_flat', 'Count_total_Jun_2007_1b_flat', 'Rental_total_Jun_2007_1b_flat', 'Count_total_Sep_2007_1b_flat', 'Rental_total_Sep_2007_1b_flat', 'Count_total_Dec_2007_1b_flat', 'Rental_total_Dec_2007_1b_flat', 'Count_total_Mar_2008_1b_flat', 'Rental_total_Mar_2008_1b_flat', 'Count_total_Jun_2008_1b_flat', 'Rental_total_Jun_2008_1b_flat', 'Count_total_Sep_2008_1b_flat', 'Rental_total_Sep_2008_1b_flat', 'Count_total_Dec_2008_1b_flat', 'Rental_total_Dec_2008_1b_flat', 'Count_total_Mar_2009_1b_flat', 'Rental_total_Mar_2009_1b_flat', 'Count_total_Jun_2009_1b_flat', 'Rental_total_Jun_2009_1b_flat', 'Count_total_Sep_2009_1b_flat', 'Rental_total_Sep_2009_1b_flat', 'Count_total_Dec_2009_1b_flat', 'Rental_total_Dec_2009_1b_flat', 'Count_total_Mar_2010_1b_flat', 'Rental_total_Mar_2010_1b_flat', 'Count_total_Jun_2010_1b_flat', 'Rental_total_Jun_2010_1b_flat', 'Count_total_Sep_2010_1b_flat', 'Rental_total_Sep_2010_1b_flat', 'Count_total_Dec_2010_1b_flat', 'Rental_total_Dec_2010_1b_flat', 'Count_total_Mar_2011_1b_flat', 'Rental_total_Mar_2011_1b_flat', 'Count_total_Jun_2011_1b_flat', 'Rental_total_Jun_2011_1b_flat', 'Count_total_Sep_2011_1b_flat', 'Rental_total_Sep_2011_1b_flat', 'Count_total_Dec_2011_1b_flat', 'Rental_total_Dec_2011_1b_flat', 'Count_total_Mar_2012_1b_flat', 'Rental_total_Mar_2012_1b_flat', 'Count_total_Jun_2012_1b_flat', 'Rental_total_Jun_2012_1b_flat', 'Count_total_Sep_2012_1b_flat', 'Rental_total_Sep_2012_1b_flat', 'Count_total_Dec_2012_1b_flat', 'Rental_total_Dec_2012_1b_flat', 'Count_total_Mar_2013_1b_flat', 'Rental_total_Mar_2013_1b_flat', 'Count_total_Jun_2013_1b_flat', 'Rental_total_Jun_2013_1b_flat', 'Count_total_Sep_2013_1b_flat', 'Rental_total_Sep_2013_1b_flat', 'Count_total_Dec_2013_1b_flat', 'Rental_total_Dec_2013_1b_flat', 'Count_total_Mar_2014_1b_flat', 'Rental_total_Mar_2014_1b_flat', 'Count_total_Jun_2014_1b_flat', 'Rental_total_Jun_2014_1b_flat', 'Count_total_Sep_2014_1b_flat', 'Rental_total_Sep_2014_1b_flat', 'Count_total_Dec_2014_1b_flat', 'Rental_total_Dec_2014_1b_flat', 'Count_total_Mar_2015_1b_flat', 'Rental_total_Mar_2015_1b_flat', 'Count_total_Jun_2015_1b_flat', 'Rental_total_Jun_2015_1b_flat', 'Count_total_Sep_2015_1b_flat', 'Rental_total_Sep_2015_1b_flat', 'Count_total_Dec_2015_1b_flat', 'Rental_total_Dec_2015_1b_flat', 'Count_total_Mar_2016_1b_flat', 'Rental_total_Mar_2016_1b_flat', 'Count_total_Jun_2016_1b_flat', 'Rental_total_Jun_2016_1b_flat', 'Count_total_Sep_2016_1b_flat', 'Rental_total_Sep_2016_1b_flat', 'Count_total_Dec_2016_1b_flat', 'Rental_total_Dec_2016_1b_flat', 'Count_total_Mar_2017_1b_flat', 'Rental_total_Mar_2017_1b_flat', 'Count_total_Jun_2017_1b_flat', 'Rental_total_Jun_2017_1b_flat', 'Count_total_Sep_2017_1b_flat', 'Rental_total_Sep_2017_1b_flat', 'Count_total_Dec_2017_1b_flat', 'Rental_total_Dec_2017_1b_flat', 'Count_total_Mar_2018_1b_flat', 'Rental_total_Mar_2018_1b_flat', 'Count_total_Jun_2018_1b_flat', 'Rental_total_Jun_2018_1b_flat', 'Count_total_Sep_2018_1b_flat', 'Rental_total_Sep_2018_1b_flat', 'Count_total_Dec_2018_1b_flat', 'Rental_total_Dec_2018_1b_flat', 'Count_total_Mar_2019_1b_flat', 'Rental_total_Mar_2019_1b_flat', 'Count_total_Jun_2019_1b_flat', 'Rental_total_Jun_2019_1b_flat', 'Count_total_Sep_2019_1b_flat', 'Rental_total_Sep_2019_1b_flat', 'Count_total_Dec_2019_1b_flat', 'Rental_total_Dec_2019_1b_flat', 'Count_total_Mar_2020_1b_flat', 'Rental_total_Mar_2020_1b_flat', 'Count_total_Jun_2020_1b_flat', 'Rental_total_Jun_2020_1b_flat', 'Count_total_Sep_2020_1b_flat', 'Rental_total_Sep_2020_1b_flat', 'Count_total_Dec_2020_1b_flat', 'Rental_total_Dec_2020_1b_flat', 'Count_total_Mar_2021_1b_flat', 'Rental_total_Mar_2021_1b_flat', 'Count_total_Jun_2021_1b_flat', 'Rental_total_Jun_2021_1b_flat']
rental_flat_1_bedroom = restruct_col(rental_flat_1_bedroom)
rental_flat_1_bedroom = restruct_df(rental_flat_1_bedroom)
rental_flat_1_bedroom = rental_flat_1_bedroom.sort_values(by=['Suburb'], ascending=False)
rental_flat_1_bedroom

,Suburb,Rental_total_Mar_2000_1b_flat,Rental_total_Jun_2000_1b_flat,Rental_total_Sep_2000_1b_flat,Rental_total_Dec_2000_1b_flat,Rental_total_Mar_2001_1b_flat,Rental_total_Jun_2001_1b_flat,Rental_total_Sep_2001_1b_flat,Rental_total_Dec_2001_1b_flat,Rental_total_Mar_2002_1b_flat,...,Rental_total_Mar_2019_1b_flat,Rental_total_Jun_2019_1b_flat,Rental_total_Sep_2019_1b_flat,Rental_total_Dec_2019_1b_flat,Rental_total_Mar_2020_1b_flat,Rental_total_Jun_2020_1b_flat,Rental_total_Sep_2020_1b_flat,Rental_total_Dec_2020_1b_flat,Rental_total_Mar_2021_1b_flat,Rental_total_Jun_2021_1b_flat
145,Yarraville,95,97,100,99,100,100,100,110,110,...,305,305,300,290,298,295,290,300,290,285
54,Yarra Ranges,110,110,110,110,110,110,113,115,115,...,260,257,260,275,273,275,270,270,298,300
86,Wodonga,85,85,85,85,85,88,90,90,90,...,175,175,180,180,180,185,185,185,200,200
103,Windsor,150,155,160,160,165,165,165,165,170,...,355,360,360,360,370,360,350,350,343,330
36,Williamstown,120,120,125,130,130,133,135,140,140,...,335,335,360,350,335,330,330,340,350,360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,Altona,95,100,105,105,105,105,110,110,115,...,295,300,285,290,290,290,295,290,280,280
167,Alphington,120,120,125,127,130,130,130,130,135,...,300,300,300,300,310,300,300,300,300,300
204,Alfredton,80,80,80,80,85,85,85,85,85,...,170,175,180,180,180,180,180,180,180,185
87,Albert Park,165,165,170,175,180,185,190,190,195,...,350,350,360,370,370,355,350,350,340,330
95,Abbotsford,135,145,160,165,190,190,190,195,200,...,410,410,415,415,420,410,405,385,370,360

In [111]:
# remove the duplicate values and reset index
rental_flat_1_bedroom = rental_flat_1_bedroom.drop_duplicates(subset=None, keep='first', inplace=False).reset_index(drop=True)
rental_flat_1_bedroom

,Suburb,Rental_total_Mar_2000_1b_flat,Rental_total_Jun_2000_1b_flat,Rental_total_Sep_2000_1b_flat,Rental_total_Dec_2000_1b_flat,Rental_total_Mar_2001_1b_flat,Rental_total_Jun_2001_1b_flat,Rental_total_Sep_2001_1b_flat,Rental_total_Dec_2001_1b_flat,Rental_total_Mar_2002_1b_flat,...,Rental_total_Mar_2019_1b_flat,Rental_total_Jun_2019_1b_flat,Rental_total_Sep_2019_1b_flat,Rental_total_Dec_2019_1b_flat,Rental_total_Mar_2020_1b_flat,Rental_total_Jun_2020_1b_flat,Rental_total_Sep_2020_1b_flat,Rental_total_Dec_2020_1b_flat,Rental_total_Mar_2021_1b_flat,Rental_total_Jun_2021_1b_flat
0,Yarraville,95,97,100,99,100,100,100,110,110,...,305,305,300,290,298,295,290,300,290,285
1,Yarra Ranges,110,110,110,110,110,110,113,115,115,...,260,257,260,275,273,275,270,270,298,300
2,Wodonga,85,85,85,85,85,88,90,90,90,...,175,175,180,180,180,185,185,185,200,200
3,Windsor,150,155,160,160,165,165,165,165,170,...,355,360,360,360,370,360,350,350,343,330
4,Williamstown,120,120,125,130,130,133,135,140,140,...,335,335,360,350,335,330,330,340,350,360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Altona,95,100,105,105,105,105,110,110,115,...,295,300,285,290,290,290,295,290,280,280
211,Alphington,120,120,125,127,130,130,130,130,135,...,300,300,300,300,310,300,300,300,300,300
212,Alfredton,80,80,80,80,85,85,85,85,85,...,170,175,180,180,180,180,180,180,180,185
213,Albert Park,165,165,170,175,180,185,190,190,195,...,350,350,360,370,370,355,350,350,340,330
214,Abbotsford,135,145,160,165,190,190,190,195,200,...,410,410,415,415,420,410,405,385,370,360

In [112]:
# read rental report quatterly with median data for 2 bedeoom flat
rental_flat_2_bedroom= pd.read_excel('../data/raw/Rental_Report_Quarterly_Median_2021.xlsx',sheet_name='2 bedroom flat',header=2)

# remove the useless column
rental_flat_2_bedroom = rental_flat_2_bedroom.drop(columns = ['Region'])

# rename the coulumns and split the combined suburb name
rental_flat_2_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_2b_flat', 'Rental_total_Mar_2000_2b_flat', 'Count_total_Jun_2000_2b_flat', 'Rental_total_Jun_2000_2b_flat', 'Count_total_Sep_2000_2b_flat', 'Rental_total_Sep_2000_2b_flat', 'Count_total_Dec_2000_2b_flat', 'Rental_total_Dec_2000_2b_flat', 'Count_total_Mar_2001_2b_flat', 'Rental_total_Mar_2001_2b_flat', 'Count_total_Jun_2001_2b_flat', 'Rental_total_Jun_2001_2b_flat', 'Count_total_Sep_2001_2b_flat', 'Rental_total_Sep_2001_2b_flat', 'Count_total_Dec_2001_2b_flat', 'Rental_total_Dec_2001_2b_flat', 'Count_total_Mar_2002_2b_flat', 'Rental_total_Mar_2002_2b_flat', 'Count_total_Jun_2002_2b_flat', 'Rental_total_Jun_2002_2b_flat', 'Count_total_Sep_2002_2b_flat', 'Rental_total_Sep_2002_2b_flat', 'Count_total_Dec_2002_2b_flat', 'Rental_total_Dec_2002_2b_flat', 'Count_total_Mar_2003_2b_flat', 'Rental_total_Mar_2003_2b_flat', 'Count_total_Jun_2003_2b_flat', 'Rental_total_Jun_2003_2b_flat', 'Count_total_Sep_2003_2b_flat', 'Rental_total_Sep_2003_2b_flat', 'Count_total_Dec_2003_2b_flat', 'Rental_total_Dec_2003_2b_flat', 'Count_total_Mar_2004_2b_flat', 'Rental_total_Mar_2004_2b_flat', 'Count_total_Jun_2004_2b_flat', 'Rental_total_Jun_2004_2b_flat', 'Count_total_Sep_2004_2b_flat', 'Rental_total_Sep_2004_2b_flat', 'Count_total_Dec_2004_2b_flat', 'Rental_total_Dec_2004_2b_flat', 'Count_total_Mar_2005_2b_flat', 'Rental_total_Mar_2005_2b_flat', 'Count_total_Jun_2005_2b_flat', 'Rental_total_Jun_2005_2b_flat', 'Count_total_Sep_2005_2b_flat', 'Rental_total_Sep_2005_2b_flat', 'Count_total_Dec_2005_2b_flat', 'Rental_total_Dec_2005_2b_flat', 'Count_total_Mar_2006_2b_flat', 'Rental_total_Mar_2006_2b_flat', 'Count_total_Jun_2006_2b_flat', 'Rental_total_Jun_2006_2b_flat', 'Count_total_Sep_2006_2b_flat', 'Rental_total_Sep_2006_2b_flat', 'Count_total_Dec_2006_2b_flat', 'Rental_total_Dec_2006_2b_flat', 'Count_total_Mar_2007_2b_flat', 'Rental_total_Mar_2007_2b_flat', 'Count_total_Jun_2007_2b_flat', 'Rental_total_Jun_2007_2b_flat', 'Count_total_Sep_2007_2b_flat', 'Rental_total_Sep_2007_2b_flat', 'Count_total_Dec_2007_2b_flat', 'Rental_total_Dec_2007_2b_flat', 'Count_total_Mar_2008_2b_flat', 'Rental_total_Mar_2008_2b_flat', 'Count_total_Jun_2008_2b_flat', 'Rental_total_Jun_2008_2b_flat', 'Count_total_Sep_2008_2b_flat', 'Rental_total_Sep_2008_2b_flat', 'Count_total_Dec_2008_2b_flat', 'Rental_total_Dec_2008_2b_flat', 'Count_total_Mar_2009_2b_flat', 'Rental_total_Mar_2009_2b_flat', 'Count_total_Jun_2009_2b_flat', 'Rental_total_Jun_2009_2b_flat', 'Count_total_Sep_2009_2b_flat', 'Rental_total_Sep_2009_2b_flat', 'Count_total_Dec_2009_2b_flat', 'Rental_total_Dec_2009_2b_flat', 'Count_total_Mar_2010_2b_flat', 'Rental_total_Mar_2010_2b_flat', 'Count_total_Jun_2010_2b_flat', 'Rental_total_Jun_2010_2b_flat', 'Count_total_Sep_2010_2b_flat', 'Rental_total_Sep_2010_2b_flat', 'Count_total_Dec_2010_2b_flat', 'Rental_total_Dec_2010_2b_flat', 'Count_total_Mar_2011_2b_flat', 'Rental_total_Mar_2011_2b_flat', 'Count_total_Jun_2011_2b_flat', 'Rental_total_Jun_2011_2b_flat', 'Count_total_Sep_2011_2b_flat', 'Rental_total_Sep_2011_2b_flat', 'Count_total_Dec_2011_2b_flat', 'Rental_total_Dec_2011_2b_flat', 'Count_total_Mar_2012_2b_flat', 'Rental_total_Mar_2012_2b_flat', 'Count_total_Jun_2012_2b_flat', 'Rental_total_Jun_2012_2b_flat', 'Count_total_Sep_2012_2b_flat', 'Rental_total_Sep_2012_2b_flat', 'Count_total_Dec_2012_2b_flat', 'Rental_total_Dec_2012_2b_flat', 'Count_total_Mar_2013_2b_flat', 'Rental_total_Mar_2013_2b_flat', 'Count_total_Jun_2013_2b_flat', 'Rental_total_Jun_2013_2b_flat', 'Count_total_Sep_2013_2b_flat', 'Rental_total_Sep_2013_2b_flat', 'Count_total_Dec_2013_2b_flat', 'Rental_total_Dec_2013_2b_flat', 'Count_total_Mar_2014_2b_flat', 'Rental_total_Mar_2014_2b_flat', 'Count_total_Jun_2014_2b_flat', 'Rental_total_Jun_2014_2b_flat', 'Count_total_Sep_2014_2b_flat', 'Rental_total_Sep_2014_2b_flat', 'Count_total_Dec_2014_2b_flat', 'Rental_total_Dec_2014_2b_flat', 'Count_total_Mar_2015_2b_flat', 'Rental_total_Mar_2015_2b_flat', 'Count_total_Jun_2015_2b_flat', 'Rental_total_Jun_2015_2b_flat', 'Count_total_Sep_2015_2b_flat', 'Rental_total_Sep_2015_2b_flat', 'Count_total_Dec_2015_2b_flat', 'Rental_total_Dec_2015_2b_flat', 'Count_total_Mar_2016_2b_flat', 'Rental_total_Mar_2016_2b_flat', 'Count_total_Jun_2016_2b_flat', 'Rental_total_Jun_2016_2b_flat', 'Count_total_Sep_2016_2b_flat', 'Rental_total_Sep_2016_2b_flat', 'Count_total_Dec_2016_2b_flat', 'Rental_total_Dec_2016_2b_flat', 'Count_total_Mar_2017_2b_flat', 'Rental_total_Mar_2017_2b_flat', 'Count_total_Jun_2017_2b_flat', 'Rental_total_Jun_2017_2b_flat', 'Count_total_Sep_2017_2b_flat', 'Rental_total_Sep_2017_2b_flat', 'Count_total_Dec_2017_2b_flat', 'Rental_total_Dec_2017_2b_flat', 'Count_total_Mar_2018_2b_flat', 'Rental_total_Mar_2018_2b_flat', 'Count_total_Jun_2018_2b_flat', 'Rental_total_Jun_2018_2b_flat', 'Count_total_Sep_2018_2b_flat', 'Rental_total_Sep_2018_2b_flat', 'Count_total_Dec_2018_2b_flat', 'Rental_total_Dec_2018_2b_flat', 'Count_total_Mar_2019_2b_flat', 'Rental_total_Mar_2019_2b_flat', 'Count_total_Jun_2019_2b_flat', 'Rental_total_Jun_2019_2b_flat', 'Count_total_Sep_2019_2b_flat', 'Rental_total_Sep_2019_2b_flat', 'Count_total_Dec_2019_2b_flat', 'Rental_total_Dec_2019_2b_flat', 'Count_total_Mar_2020_2b_flat', 'Rental_total_Mar_2020_2b_flat', 'Count_total_Jun_2020_2b_flat', 'Rental_total_Jun_2020_2b_flat', 'Count_total_Sep_2020_2b_flat', 'Rental_total_Sep_2020_2b_flat', 'Count_total_Dec_2020_2b_flat', 'Rental_total_Dec_2020_2b_flat', 'Count_total_Mar_2021_2b_flat', 'Rental_total_Mar_2021_2b_flat', 'Count_total_Jun_2021_2b_flat', 'Rental_total_Jun_2021_2b_flat']
rental_flat_2_bedroom = restruct_col(rental_flat_2_bedroom)
rental_flat_2_bedroom = restruct_df(rental_flat_2_bedroom)
rental_flat_2_bedroom

,Suburb,Rental_total_Mar_2000_2b_flat,Rental_total_Jun_2000_2b_flat,Rental_total_Sep_2000_2b_flat,Rental_total_Dec_2000_2b_flat,Rental_total_Mar_2001_2b_flat,Rental_total_Jun_2001_2b_flat,Rental_total_Sep_2001_2b_flat,Rental_total_Dec_2001_2b_flat,Rental_total_Mar_2002_2b_flat,...,Rental_total_Mar_2019_2b_flat,Rental_total_Jun_2019_2b_flat,Rental_total_Sep_2019_2b_flat,Rental_total_Dec_2019_2b_flat,Rental_total_Mar_2020_2b_flat,Rental_total_Jun_2020_2b_flat,Rental_total_Sep_2020_2b_flat,Rental_total_Dec_2020_2b_flat,Rental_total_Mar_2021_2b_flat,Rental_total_Jun_2021_2b_flat
0,Armadale,200,205,210,210,220,220,225,230,230,...,490,485,495,490,500,500,495,480,450,450
1,Carlton North,215,218,220,220,230,240,250,250,250,...,493,490,480,490,490,490,490,480,440,438
2,Docklands,-,-,-,-,-,-,-,-,350,...,640,650,650,645,640,610,560,500,460,450
3,East Melbourne,305,310,320,330,330,330,330,340,340,...,580,585,600,620,630,620,595,550,523,520
4,East St Kilda,180,185,185,190,190,195,200,200,205,...,440,440,440,450,450,440,438,425,400,399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Newborough,85,85,85,85,85,85,85,85,85,...,175,178,180,180,180,190,200,200,220,220
211,Ocean Grove,120,125,125,135,130,130,135,135,140,...,340,345,350,350,350,350,360,375,380,400
212,Barwon Heads,120,125,125,135,130,130,135,135,140,...,340,345,350,350,350,350,360,375,380,400
213,Sale,105,105,105,105,105,110,105,110,110,...,230,230,233,235,240,250,250,260,265,280
214,Maffra,105,105,105,105,105,110,105,110,110,...,230,230,233,235,240,250,250,260,265,280

In [113]:
# read rental report quatterly with median data for 3 bedeoom flat
rental_flat_3_bedroom= pd.read_excel('../data/raw/Rental_Report_Quarterly_Median_2021.xlsx',sheet_name='3 bedroom flat',header=2)

# remove the useless column
rental_flat_3_bedroom = rental_flat_3_bedroom.drop(columns = ['Region'])

# rename the coulumns and split the combined suburb name
rental_flat_3_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_3b_flat', 'Rental_total_Mar_2000_3b_flat', 'Count_total_Jun_2000_3b_flat', 'Rental_total_Jun_2000_3b_flat', 'Count_total_Sep_2000_3b_flat', 'Rental_total_Sep_2000_3b_flat', 'Count_total_Dec_2000_3b_flat', 'Rental_total_Dec_2000_3b_flat', 'Count_total_Mar_2001_3b_flat', 'Rental_total_Mar_2001_3b_flat', 'Count_total_Jun_2001_3b_flat', 'Rental_total_Jun_2001_3b_flat', 'Count_total_Sep_2001_3b_flat', 'Rental_total_Sep_2001_3b_flat', 'Count_total_Dec_2001_3b_flat', 'Rental_total_Dec_2001_3b_flat', 'Count_total_Mar_2002_3b_flat', 'Rental_total_Mar_2002_3b_flat', 'Count_total_Jun_2002_3b_flat', 'Rental_total_Jun_2002_3b_flat', 'Count_total_Sep_2002_3b_flat', 'Rental_total_Sep_2002_3b_flat', 'Count_total_Dec_2002_3b_flat', 'Rental_total_Dec_2002_3b_flat', 'Count_total_Mar_2003_3b_flat', 'Rental_total_Mar_2003_3b_flat', 'Count_total_Jun_2003_3b_flat', 'Rental_total_Jun_2003_3b_flat', 'Count_total_Sep_2003_3b_flat', 'Rental_total_Sep_2003_3b_flat', 'Count_total_Dec_2003_3b_flat', 'Rental_total_Dec_2003_3b_flat', 'Count_total_Mar_2004_3b_flat', 'Rental_total_Mar_2004_3b_flat', 'Count_total_Jun_2004_3b_flat', 'Rental_total_Jun_2004_3b_flat', 'Count_total_Sep_2004_3b_flat', 'Rental_total_Sep_2004_3b_flat', 'Count_total_Dec_2004_3b_flat', 'Rental_total_Dec_2004_3b_flat', 'Count_total_Mar_2005_3b_flat', 'Rental_total_Mar_2005_3b_flat', 'Count_total_Jun_2005_3b_flat', 'Rental_total_Jun_2005_3b_flat', 'Count_total_Sep_2005_3b_flat', 'Rental_total_Sep_2005_3b_flat', 'Count_total_Dec_2005_3b_flat', 'Rental_total_Dec_2005_3b_flat', 'Count_total_Mar_2006_3b_flat', 'Rental_total_Mar_2006_3b_flat', 'Count_total_Jun_2006_3b_flat', 'Rental_total_Jun_2006_3b_flat', 'Count_total_Sep_2006_3b_flat', 'Rental_total_Sep_2006_3b_flat', 'Count_total_Dec_2006_3b_flat', 'Rental_total_Dec_2006_3b_flat', 'Count_total_Mar_2007_3b_flat', 'Rental_total_Mar_2007_3b_flat', 'Count_total_Jun_2007_3b_flat', 'Rental_total_Jun_2007_3b_flat', 'Count_total_Sep_2007_3b_flat', 'Rental_total_Sep_2007_3b_flat', 'Count_total_Dec_2007_3b_flat', 'Rental_total_Dec_2007_3b_flat', 'Count_total_Mar_2008_3b_flat', 'Rental_total_Mar_2008_3b_flat', 'Count_total_Jun_2008_3b_flat', 'Rental_total_Jun_2008_3b_flat', 'Count_total_Sep_2008_3b_flat', 'Rental_total_Sep_2008_3b_flat', 'Count_total_Dec_2008_3b_flat', 'Rental_total_Dec_2008_3b_flat', 'Count_total_Mar_2009_3b_flat', 'Rental_total_Mar_2009_3b_flat', 'Count_total_Jun_2009_3b_flat', 'Rental_total_Jun_2009_3b_flat', 'Count_total_Sep_2009_3b_flat', 'Rental_total_Sep_2009_3b_flat', 'Count_total_Dec_2009_3b_flat', 'Rental_total_Dec_2009_3b_flat', 'Count_total_Mar_2010_3b_flat', 'Rental_total_Mar_2010_3b_flat', 'Count_total_Jun_2010_3b_flat', 'Rental_total_Jun_2010_3b_flat', 'Count_total_Sep_2010_3b_flat', 'Rental_total_Sep_2010_3b_flat', 'Count_total_Dec_2010_3b_flat', 'Rental_total_Dec_2010_3b_flat', 'Count_total_Mar_2011_3b_flat', 'Rental_total_Mar_2011_3b_flat', 'Count_total_Jun_2011_3b_flat', 'Rental_total_Jun_2011_3b_flat', 'Count_total_Sep_2011_3b_flat', 'Rental_total_Sep_2011_3b_flat', 'Count_total_Dec_2011_3b_flat', 'Rental_total_Dec_2011_3b_flat', 'Count_total_Mar_2012_3b_flat', 'Rental_total_Mar_2012_3b_flat', 'Count_total_Jun_2012_3b_flat', 'Rental_total_Jun_2012_3b_flat', 'Count_total_Sep_2012_3b_flat', 'Rental_total_Sep_2012_3b_flat', 'Count_total_Dec_2012_3b_flat', 'Rental_total_Dec_2012_3b_flat', 'Count_total_Mar_2013_3b_flat', 'Rental_total_Mar_2013_3b_flat', 'Count_total_Jun_2013_3b_flat', 'Rental_total_Jun_2013_3b_flat', 'Count_total_Sep_2013_3b_flat', 'Rental_total_Sep_2013_3b_flat', 'Count_total_Dec_2013_3b_flat', 'Rental_total_Dec_2013_3b_flat', 'Count_total_Mar_2014_3b_flat', 'Rental_total_Mar_2014_3b_flat', 'Count_total_Jun_2014_3b_flat', 'Rental_total_Jun_2014_3b_flat', 'Count_total_Sep_2014_3b_flat', 'Rental_total_Sep_2014_3b_flat', 'Count_total_Dec_2014_3b_flat', 'Rental_total_Dec_2014_3b_flat', 'Count_total_Mar_2015_3b_flat', 'Rental_total_Mar_2015_3b_flat', 'Count_total_Jun_2015_3b_flat', 'Rental_total_Jun_2015_3b_flat', 'Count_total_Sep_2015_3b_flat', 'Rental_total_Sep_2015_3b_flat', 'Count_total_Dec_2015_3b_flat', 'Rental_total_Dec_2015_3b_flat', 'Count_total_Mar_2016_3b_flat', 'Rental_total_Mar_2016_3b_flat', 'Count_total_Jun_2016_3b_flat', 'Rental_total_Jun_2016_3b_flat', 'Count_total_Sep_2016_3b_flat', 'Rental_total_Sep_2016_3b_flat', 'Count_total_Dec_2016_3b_flat', 'Rental_total_Dec_2016_3b_flat', 'Count_total_Mar_2017_3b_flat', 'Rental_total_Mar_2017_3b_flat', 'Count_total_Jun_2017_3b_flat', 'Rental_total_Jun_2017_3b_flat', 'Count_total_Sep_2017_3b_flat', 'Rental_total_Sep_2017_3b_flat', 'Count_total_Dec_2017_3b_flat', 'Rental_total_Dec_2017_3b_flat', 'Count_total_Mar_2018_3b_flat', 'Rental_total_Mar_2018_3b_flat', 'Count_total_Jun_2018_3b_flat', 'Rental_total_Jun_2018_3b_flat', 'Count_total_Sep_2018_3b_flat', 'Rental_total_Sep_2018_3b_flat', 'Count_total_Dec_2018_3b_flat', 'Rental_total_Dec_2018_3b_flat', 'Count_total_Mar_2019_3b_flat', 'Rental_total_Mar_2019_3b_flat', 'Count_total_Jun_2019_3b_flat', 'Rental_total_Jun_2019_3b_flat', 'Count_total_Sep_2019_3b_flat', 'Rental_total_Sep_2019_3b_flat', 'Count_total_Dec_2019_3b_flat', 'Rental_total_Dec_2019_3b_flat', 'Count_total_Mar_2020_3b_flat', 'Rental_total_Mar_2020_3b_flat', 'Count_total_Jun_2020_3b_flat', 'Rental_total_Jun_2020_3b_flat', 'Count_total_Sep_2020_3b_flat', 'Rental_total_Sep_2020_3b_flat', 'Count_total_Dec_2020_3b_flat', 'Rental_total_Dec_2020_3b_flat', 'Count_total_Mar_2021_3b_flat', 'Rental_total_Mar_2021_3b_flat', 'Count_total_Jun_2021_3b_flat', 'Rental_total_Jun_2021_3b_flat']
rental_flat_3_bedroom = restruct_col(rental_flat_3_bedroom)
rental_flat_3_bedroom = restruct_df(rental_flat_3_bedroom)
rental_flat_3_bedroom

,Suburb,Rental_total_Mar_2000_3b_flat,Rental_total_Jun_2000_3b_flat,Rental_total_Sep_2000_3b_flat,Rental_total_Dec_2000_3b_flat,Rental_total_Mar_2001_3b_flat,Rental_total_Jun_2001_3b_flat,Rental_total_Sep_2001_3b_flat,Rental_total_Dec_2001_3b_flat,Rental_total_Mar_2002_3b_flat,...,Rental_total_Mar_2019_3b_flat,Rental_total_Jun_2019_3b_flat,Rental_total_Sep_2019_3b_flat,Rental_total_Dec_2019_3b_flat,Rental_total_Mar_2020_3b_flat,Rental_total_Jun_2020_3b_flat,Rental_total_Sep_2020_3b_flat,Rental_total_Dec_2020_3b_flat,Rental_total_Mar_2021_3b_flat,Rental_total_Jun_2021_3b_flat
0,Armadale,305,310,300,300,330,305,350,350,330,...,730,750,760,800,800,800,750,715,700,700
1,Carlton North,296,300,300,305,330,331,340,348,340,...,650,640,645,620,640,650,670,688,650,600
2,Docklands,-,-,-,-,-,-,-,-,-,...,950,1000,1000,998,950,905,850,800,750,750
3,East Melbourne,401,405,408,405,418,425,430,435,440,...,875,878,900,910,910,895,948,866,840,850
4,East St Kilda,250,250,250,250,250,250,255,283,300,...,583,580,580,600,600,600,580,550,525,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Newborough,-,-,-,-,-,-,-,-,-,...,270,-,-,-,-,315,300,300,-,-
211,Ocean Grove,135,145,150,150,158,164,165,165,170,...,410,410,415,415,410,400,400,415,450,468
212,Barwon Heads,135,145,150,150,158,164,165,165,170,...,410,410,415,415,410,400,400,415,450,468
213,Sale,130,130,130,130,130,130,133,140,140,...,295,315,320,320,333,338,345,340,350,350
214,Maffra,130,130,130,130,130,130,133,140,140,...,295,315,320,320,333,338,345,340,350,350

In [114]:
# read rental report quatterly with median data for 2 bedeoom house
rental_house_2_bedroom= pd.read_excel('../data/raw/Rental_Report_Quarterly_Median_2021.xlsx',sheet_name='2 bedroom house',header=2)

# remove the useless column
rental_house_2_bedroom = rental_house_2_bedroom.drop(columns = ['Region'])

# rename the coulumns and split the combined suburb name
rental_house_2_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_2b_house', 'Rental_total_Mar_2000_2b_house', 'Count_total_Jun_2000_2b_house', 'Rental_total_Jun_2000_2b_house', 'Count_total_Sep_2000_2b_house', 'Rental_total_Sep_2000_2b_house', 'Count_total_Dec_2000_2b_house', 'Rental_total_Dec_2000_2b_house', 'Count_total_Mar_2001_2b_house', 'Rental_total_Mar_2001_2b_house', 'Count_total_Jun_2001_2b_house', 'Rental_total_Jun_2001_2b_house', 'Count_total_Sep_2001_2b_house', 'Rental_total_Sep_2001_2b_house', 'Count_total_Dec_2001_2b_house', 'Rental_total_Dec_2001_2b_house', 'Count_total_Mar_2002_2b_house', 'Rental_total_Mar_2002_2b_house', 'Count_total_Jun_2002_2b_house', 'Rental_total_Jun_2002_2b_house', 'Count_total_Sep_2002_2b_house', 'Rental_total_Sep_2002_2b_house', 'Count_total_Dec_2002_2b_house', 'Rental_total_Dec_2002_2b_house', 'Count_total_Mar_2003_2b_house', 'Rental_total_Mar_2003_2b_house', 'Count_total_Jun_2003_2b_house', 'Rental_total_Jun_2003_2b_house', 'Count_total_Sep_2003_2b_house', 'Rental_total_Sep_2003_2b_house', 'Count_total_Dec_2003_2b_house', 'Rental_total_Dec_2003_2b_house', 'Count_total_Mar_2004_2b_house', 'Rental_total_Mar_2004_2b_house', 'Count_total_Jun_2004_2b_house', 'Rental_total_Jun_2004_2b_house', 'Count_total_Sep_2004_2b_house', 'Rental_total_Sep_2004_2b_house', 'Count_total_Dec_2004_2b_house', 'Rental_total_Dec_2004_2b_house', 'Count_total_Mar_2005_2b_house', 'Rental_total_Mar_2005_2b_house', 'Count_total_Jun_2005_2b_house', 'Rental_total_Jun_2005_2b_house', 'Count_total_Sep_2005_2b_house', 'Rental_total_Sep_2005_2b_house', 'Count_total_Dec_2005_2b_house', 'Rental_total_Dec_2005_2b_house', 'Count_total_Mar_2006_2b_house', 'Rental_total_Mar_2006_2b_house', 'Count_total_Jun_2006_2b_house', 'Rental_total_Jun_2006_2b_house', 'Count_total_Sep_2006_2b_house', 'Rental_total_Sep_2006_2b_house', 'Count_total_Dec_2006_2b_house', 'Rental_total_Dec_2006_2b_house', 'Count_total_Mar_2007_2b_house', 'Rental_total_Mar_2007_2b_house', 'Count_total_Jun_2007_2b_house', 'Rental_total_Jun_2007_2b_house', 'Count_total_Sep_2007_2b_house', 'Rental_total_Sep_2007_2b_house', 'Count_total_Dec_2007_2b_house', 'Rental_total_Dec_2007_2b_house', 'Count_total_Mar_2008_2b_house', 'Rental_total_Mar_2008_2b_house', 'Count_total_Jun_2008_2b_house', 'Rental_total_Jun_2008_2b_house', 'Count_total_Sep_2008_2b_house', 'Rental_total_Sep_2008_2b_house', 'Count_total_Dec_2008_2b_house', 'Rental_total_Dec_2008_2b_house', 'Count_total_Mar_2009_2b_house', 'Rental_total_Mar_2009_2b_house', 'Count_total_Jun_2009_2b_house', 'Rental_total_Jun_2009_2b_house', 'Count_total_Sep_2009_2b_house', 'Rental_total_Sep_2009_2b_house', 'Count_total_Dec_2009_2b_house', 'Rental_total_Dec_2009_2b_house', 'Count_total_Mar_2010_2b_house', 'Rental_total_Mar_2010_2b_house', 'Count_total_Jun_2010_2b_house', 'Rental_total_Jun_2010_2b_house', 'Count_total_Sep_2010_2b_house', 'Rental_total_Sep_2010_2b_house', 'Count_total_Dec_2010_2b_house', 'Rental_total_Dec_2010_2b_house', 'Count_total_Mar_2011_2b_house', 'Rental_total_Mar_2011_2b_house', 'Count_total_Jun_2011_2b_house', 'Rental_total_Jun_2011_2b_house', 'Count_total_Sep_2011_2b_house', 'Rental_total_Sep_2011_2b_house', 'Count_total_Dec_2011_2b_house', 'Rental_total_Dec_2011_2b_house', 'Count_total_Mar_2012_2b_house', 'Rental_total_Mar_2012_2b_house', 'Count_total_Jun_2012_2b_house', 'Rental_total_Jun_2012_2b_house', 'Count_total_Sep_2012_2b_house', 'Rental_total_Sep_2012_2b_house', 'Count_total_Dec_2012_2b_house', 'Rental_total_Dec_2012_2b_house', 'Count_total_Mar_2013_2b_house', 'Rental_total_Mar_2013_2b_house', 'Count_total_Jun_2013_2b_house', 'Rental_total_Jun_2013_2b_house', 'Count_total_Sep_2013_2b_house', 'Rental_total_Sep_2013_2b_house', 'Count_total_Dec_2013_2b_house', 'Rental_total_Dec_2013_2b_house', 'Count_total_Mar_2014_2b_house', 'Rental_total_Mar_2014_2b_house', 'Count_total_Jun_2014_2b_house', 'Rental_total_Jun_2014_2b_house', 'Count_total_Sep_2014_2b_house', 'Rental_total_Sep_2014_2b_house', 'Count_total_Dec_2014_2b_house', 'Rental_total_Dec_2014_2b_house', 'Count_total_Mar_2015_2b_house', 'Rental_total_Mar_2015_2b_house', 'Count_total_Jun_2015_2b_house', 'Rental_total_Jun_2015_2b_house', 'Count_total_Sep_2015_2b_house', 'Rental_total_Sep_2015_2b_house', 'Count_total_Dec_2015_2b_house', 'Rental_total_Dec_2015_2b_house', 'Count_total_Mar_2016_2b_house', 'Rental_total_Mar_2016_2b_house', 'Count_total_Jun_2016_2b_house', 'Rental_total_Jun_2016_2b_house', 'Count_total_Sep_2016_2b_house', 'Rental_total_Sep_2016_2b_house', 'Count_total_Dec_2016_2b_house', 'Rental_total_Dec_2016_2b_house', 'Count_total_Mar_2017_2b_house', 'Rental_total_Mar_2017_2b_house', 'Count_total_Jun_2017_2b_house', 'Rental_total_Jun_2017_2b_house', 'Count_total_Sep_2017_2b_house', 'Rental_total_Sep_2017_2b_house', 'Count_total_Dec_2017_2b_house', 'Rental_total_Dec_2017_2b_house', 'Count_total_Mar_2018_2b_house', 'Rental_total_Mar_2018_2b_house', 'Count_total_Jun_2018_2b_house', 'Rental_total_Jun_2018_2b_house', 'Count_total_Sep_2018_2b_house', 'Rental_total_Sep_2018_2b_house', 'Count_total_Dec_2018_2b_house', 'Rental_total_Dec_2018_2b_house', 'Count_total_Mar_2019_2b_house', 'Rental_total_Mar_2019_2b_house', 'Count_total_Jun_2019_2b_house', 'Rental_total_Jun_2019_2b_house', 'Count_total_Sep_2019_2b_house', 'Rental_total_Sep_2019_2b_house', 'Count_total_Dec_2019_2b_house', 'Rental_total_Dec_2019_2b_house', 'Count_total_Mar_2020_2b_house', 'Rental_total_Mar_2020_2b_house', 'Count_total_Jun_2020_2b_house', 'Rental_total_Jun_2020_2b_house', 'Count_total_Sep_2020_2b_house', 'Rental_total_Sep_2020_2b_house', 'Count_total_Dec_2020_2b_house', 'Rental_total_Dec_2020_2b_house', 'Count_total_Mar_2021_2b_house', 'Rental_total_Mar_2021_2b_house', 'Count_total_Jun_2021_2b_house', 'Rental_total_Jun_2021_2b_house']
rental_house_2_bedroom = restruct_col(rental_house_2_bedroom)
rental_house_2_bedroom = restruct_df(rental_house_2_bedroom)
rental_house_2_bedroom

,Suburb,Rental_total_Mar_2000_2b_house,Rental_total_Jun_2000_2b_house,Rental_total_Sep_2000_2b_house,Rental_total_Dec_2000_2b_house,Rental_total_Mar_2001_2b_house,Rental_total_Jun_2001_2b_house,Rental_total_Sep_2001_2b_house,Rental_total_Dec_2001_2b_house,Rental_total_Mar_2002_2b_house,...,Rental_total_Mar_2019_2b_house,Rental_total_Jun_2019_2b_house,Rental_total_Sep_2019_2b_house,Rental_total_Dec_2019_2b_house,Rental_total_Mar_2020_2b_house,Rental_total_Jun_2020_2b_house,Rental_total_Sep_2020_2b_house,Rental_total_Dec_2020_2b_house,Rental_total_Mar_2021_2b_house,Rental_total_Jun_2021_2b_house
0,Armadale,290,290,298,300,300,300,310,300,300,...,620,615,633,650,650,633,620,620,600,650
1,Carlton North,250,258,255,260,268,270,275,280,290,...,580,578,583,593,610,603,600,588,580,580
2,Docklands,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,East Melbourne,305,370,300,-,-,-,-,440,-,...,-,-,-,825,-,-,-,-,-,-
4,East St Kilda,255,260,270,263,260,270,280,280,295,...,600,595,615,615,620,600,585,565,555,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Newborough,90,90,90,90,90,90,90,93,95,...,210,220,220,235,250,250,250,240,235,240
211,Ocean Grove,138,138,138,135,138,140,140,150,148,...,355,370,370,375,365,360,360,373,378,445
212,Barwon Heads,138,138,138,135,138,140,140,150,148,...,355,370,370,375,365,360,360,373,378,445
213,Sale,100,100,100,105,110,110,110,120,110,...,245,250,250,255,260,250,260,260,270,280
214,Maffra,100,100,100,105,110,110,110,120,110,...,245,250,250,255,260,250,260,260,270,280

In [115]:
# read rental report quatterly with median data for 3 bedeoom house
rental_house_3_bedroom= pd.read_excel('../data/raw/Rental_Report_Quarterly_Median_2021.xlsx',sheet_name='3 bedroom house',header=2)

# remove the useless column
rental_house_3_bedroom = rental_house_3_bedroom.drop(columns = ['Region'])

# rename the coulumns and split the combined suburb name
rental_house_3_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_3b_house', 'Rental_total_Mar_2000_3b_house', 'Count_total_Jun_2000_3b_house', 'Rental_total_Jun_2000_3b_house', 'Count_total_Sep_2000_3b_house', 'Rental_total_Sep_2000_3b_house', 'Count_total_Dec_2000_3b_house', 'Rental_total_Dec_2000_3b_house', 'Count_total_Mar_2001_3b_house', 'Rental_total_Mar_2001_3b_house', 'Count_total_Jun_2001_3b_house', 'Rental_total_Jun_2001_3b_house', 'Count_total_Sep_2001_3b_house', 'Rental_total_Sep_2001_3b_house', 'Count_total_Dec_2001_3b_house', 'Rental_total_Dec_2001_3b_house', 'Count_total_Mar_2002_3b_house', 'Rental_total_Mar_2002_3b_house', 'Count_total_Jun_2002_3b_house', 'Rental_total_Jun_2002_3b_house', 'Count_total_Sep_2002_3b_house', 'Rental_total_Sep_2002_3b_house', 'Count_total_Dec_2002_3b_house', 'Rental_total_Dec_2002_3b_house', 'Count_total_Mar_2003_3b_house', 'Rental_total_Mar_2003_3b_house', 'Count_total_Jun_2003_3b_house', 'Rental_total_Jun_2003_3b_house', 'Count_total_Sep_2003_3b_house', 'Rental_total_Sep_2003_3b_house', 'Count_total_Dec_2003_3b_house', 'Rental_total_Dec_2003_3b_house', 'Count_total_Mar_2004_3b_house', 'Rental_total_Mar_2004_3b_house', 'Count_total_Jun_2004_3b_house', 'Rental_total_Jun_2004_3b_house', 'Count_total_Sep_2004_3b_house', 'Rental_total_Sep_2004_3b_house', 'Count_total_Dec_2004_3b_house', 'Rental_total_Dec_2004_3b_house', 'Count_total_Mar_2005_3b_house', 'Rental_total_Mar_2005_3b_house', 'Count_total_Jun_2005_3b_house', 'Rental_total_Jun_2005_3b_house', 'Count_total_Sep_2005_3b_house', 'Rental_total_Sep_2005_3b_house', 'Count_total_Dec_2005_3b_house', 'Rental_total_Dec_2005_3b_house', 'Count_total_Mar_2006_3b_house', 'Rental_total_Mar_2006_3b_house', 'Count_total_Jun_2006_3b_house', 'Rental_total_Jun_2006_3b_house', 'Count_total_Sep_2006_3b_house', 'Rental_total_Sep_2006_3b_house', 'Count_total_Dec_2006_3b_house', 'Rental_total_Dec_2006_3b_house', 'Count_total_Mar_2007_3b_house', 'Rental_total_Mar_2007_3b_house', 'Count_total_Jun_2007_3b_house', 'Rental_total_Jun_2007_3b_house', 'Count_total_Sep_2007_3b_house', 'Rental_total_Sep_2007_3b_house', 'Count_total_Dec_2007_3b_house', 'Rental_total_Dec_2007_3b_house', 'Count_total_Mar_2008_3b_house', 'Rental_total_Mar_2008_3b_house', 'Count_total_Jun_2008_3b_house', 'Rental_total_Jun_2008_3b_house', 'Count_total_Sep_2008_3b_house', 'Rental_total_Sep_2008_3b_house', 'Count_total_Dec_2008_3b_house', 'Rental_total_Dec_2008_3b_house', 'Count_total_Mar_2009_3b_house', 'Rental_total_Mar_2009_3b_house', 'Count_total_Jun_2009_3b_house', 'Rental_total_Jun_2009_3b_house', 'Count_total_Sep_2009_3b_house', 'Rental_total_Sep_2009_3b_house', 'Count_total_Dec_2009_3b_house', 'Rental_total_Dec_2009_3b_house', 'Count_total_Mar_2010_3b_house', 'Rental_total_Mar_2010_3b_house', 'Count_total_Jun_2010_3b_house', 'Rental_total_Jun_2010_3b_house', 'Count_total_Sep_2010_3b_house', 'Rental_total_Sep_2010_3b_house', 'Count_total_Dec_2010_3b_house', 'Rental_total_Dec_2010_3b_house', 'Count_total_Mar_2011_3b_house', 'Rental_total_Mar_2011_3b_house', 'Count_total_Jun_2011_3b_house', 'Rental_total_Jun_2011_3b_house', 'Count_total_Sep_2011_3b_house', 'Rental_total_Sep_2011_3b_house', 'Count_total_Dec_2011_3b_house', 'Rental_total_Dec_2011_3b_house', 'Count_total_Mar_2012_3b_house', 'Rental_total_Mar_2012_3b_house', 'Count_total_Jun_2012_3b_house', 'Rental_total_Jun_2012_3b_house', 'Count_total_Sep_2012_3b_house', 'Rental_total_Sep_2012_3b_house', 'Count_total_Dec_2012_3b_house', 'Rental_total_Dec_2012_3b_house', 'Count_total_Mar_2013_3b_house', 'Rental_total_Mar_2013_3b_house', 'Count_total_Jun_2013_3b_house', 'Rental_total_Jun_2013_3b_house', 'Count_total_Sep_2013_3b_house', 'Rental_total_Sep_2013_3b_house', 'Count_total_Dec_2013_3b_house', 'Rental_total_Dec_2013_3b_house', 'Count_total_Mar_2014_3b_house', 'Rental_total_Mar_2014_3b_house', 'Count_total_Jun_2014_3b_house', 'Rental_total_Jun_2014_3b_house', 'Count_total_Sep_2014_3b_house', 'Rental_total_Sep_2014_3b_house', 'Count_total_Dec_2014_3b_house', 'Rental_total_Dec_2014_3b_house', 'Count_total_Mar_2015_3b_house', 'Rental_total_Mar_2015_3b_house', 'Count_total_Jun_2015_3b_house', 'Rental_total_Jun_2015_3b_house', 'Count_total_Sep_2015_3b_house', 'Rental_total_Sep_2015_3b_house', 'Count_total_Dec_2015_3b_house', 'Rental_total_Dec_2015_3b_house', 'Count_total_Mar_2016_3b_house', 'Rental_total_Mar_2016_3b_house', 'Count_total_Jun_2016_3b_house', 'Rental_total_Jun_2016_3b_house', 'Count_total_Sep_2016_3b_house', 'Rental_total_Sep_2016_3b_house', 'Count_total_Dec_2016_3b_house', 'Rental_total_Dec_2016_3b_house', 'Count_total_Mar_2017_3b_house', 'Rental_total_Mar_2017_3b_house', 'Count_total_Jun_2017_3b_house', 'Rental_total_Jun_2017_3b_house', 'Count_total_Sep_2017_3b_house', 'Rental_total_Sep_2017_3b_house', 'Count_total_Dec_2017_3b_house', 'Rental_total_Dec_2017_3b_house', 'Count_total_Mar_2018_3b_house', 'Rental_total_Mar_2018_3b_house', 'Count_total_Jun_2018_3b_house', 'Rental_total_Jun_2018_3b_house', 'Count_total_Sep_2018_3b_house', 'Rental_total_Sep_2018_3b_house', 'Count_total_Dec_2018_3b_house', 'Rental_total_Dec_2018_3b_house', 'Count_total_Mar_2019_3b_house', 'Rental_total_Mar_2019_3b_house', 'Count_total_Jun_2019_3b_house', 'Rental_total_Jun_2019_3b_house', 'Count_total_Sep_2019_3b_house', 'Rental_total_Sep_2019_3b_house', 'Count_total_Dec_2019_3b_house', 'Rental_total_Dec_2019_3b_house', 'Count_total_Mar_2020_3b_house', 'Rental_total_Mar_2020_3b_house', 'Count_total_Jun_2020_3b_house', 'Rental_total_Jun_2020_3b_house', 'Count_total_Sep_2020_3b_house', 'Rental_total_Sep_2020_3b_house', 'Count_total_Dec_2020_3b_house', 'Rental_total_Dec_2020_3b_house', 'Count_total_Mar_2021_3b_house', 'Rental_total_Mar_2021_3b_house', 'Count_total_Jun_2021_3b_house', 'Rental_total_Jun_2021_3b_house']
rental_house_3_bedroom = restruct_col(rental_house_3_bedroom)
rental_house_3_bedroom = restruct_df(rental_house_3_bedroom)
rental_house_3_bedroom

,Suburb,Rental_total_Mar_2000_3b_house,Rental_total_Jun_2000_3b_house,Rental_total_Sep_2000_3b_house,Rental_total_Dec_2000_3b_house,Rental_total_Mar_2001_3b_house,Rental_total_Jun_2001_3b_house,Rental_total_Sep_2001_3b_house,Rental_total_Dec_2001_3b_house,Rental_total_Mar_2002_3b_house,...,Rental_total_Mar_2019_3b_house,Rental_total_Jun_2019_3b_house,Rental_total_Sep_2019_3b_house,Rental_total_Dec_2019_3b_house,Rental_total_Mar_2020_3b_house,Rental_total_Jun_2020_3b_house,Rental_total_Sep_2020_3b_house,Rental_total_Dec_2020_3b_house,Rental_total_Mar_2021_3b_house,Rental_total_Jun_2021_3b_house
0,Armadale,373,395,415,395,415,440,475,478,475,...,950,900,925,913,925,938,900,870,860,898
1,Carlton North,300,300,310,315,323,330,340,340,340,...,800,785,780,763,770,768,770,770,750,750
2,Docklands,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,East Melbourne,500,500,490,465,450,450,470,500,430,...,-,-,958,995,1000,1225,1225,1025,1025,900
4,East St Kilda,300,300,300,318,330,345,350,350,350,...,750,750,750,750,755,750,750,718,680,695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Newborough,120,120,120,120,120,120,120,120,125,...,270,270,270,270,270,270,276,280,280,300
211,Ocean Grove,155,160,160,160,160,165,170,170,175,...,420,420,420,420,420,418,420,430,438,460
212,Barwon Heads,155,160,160,160,160,165,170,170,175,...,420,420,420,420,420,418,420,430,438,460
213,Sale,128,130,130,130,130,130,130,130,130,...,280,280,290,290,295,300,310,320,330,340
214,Maffra,128,130,130,130,130,130,130,130,130,...,280,280,290,290,295,300,310,320,330,340

In [116]:
# read rental report quatterly with median data for 4 bedeoom house
rental_house_4_bedroom= pd.read_excel('../data/raw/Rental_Report_Quarterly_Median_2021.xlsx',sheet_name='4 bedroom house',header=2)

# remove the useless column
rental_house_4_bedroom = rental_house_4_bedroom.drop(columns = ['Region'])

# rename the coulumns and split the combined suburb name
rental_house_4_bedroom.columns = ['Suburb', 'Count_total_Mar_2000_4b_house', 'Rental_total_Mar_2000_4b_house', 'Count_total_Jun_2000_4b_house', 'Rental_total_Jun_2000_4b_house', 'Count_total_Sep_2000_4b_house', 'Rental_total_Sep_2000_4b_house', 'Count_total_Dec_2000_4b_house', 'Rental_total_Dec_2000_4b_house', 'Count_total_Mar_2001_4b_house', 'Rental_total_Mar_2001_4b_house', 'Count_total_Jun_2001_4b_house', 'Rental_total_Jun_2001_4b_house', 'Count_total_Sep_2001_4b_house', 'Rental_total_Sep_2001_4b_house', 'Count_total_Dec_2001_4b_house', 'Rental_total_Dec_2001_4b_house', 'Count_total_Mar_2002_4b_house', 'Rental_total_Mar_2002_4b_house', 'Count_total_Jun_2002_4b_house', 'Rental_total_Jun_2002_4b_house', 'Count_total_Sep_2002_4b_house', 'Rental_total_Sep_2002_4b_house', 'Count_total_Dec_2002_4b_house', 'Rental_total_Dec_2002_4b_house', 'Count_total_Mar_2003_4b_house', 'Rental_total_Mar_2003_4b_house', 'Count_total_Jun_2003_4b_house', 'Rental_total_Jun_2003_4b_house', 'Count_total_Sep_2003_4b_house', 'Rental_total_Sep_2003_4b_house', 'Count_total_Dec_2003_4b_house', 'Rental_total_Dec_2003_4b_house', 'Count_total_Mar_2004_4b_house', 'Rental_total_Mar_2004_4b_house', 'Count_total_Jun_2004_4b_house', 'Rental_total_Jun_2004_4b_house', 'Count_total_Sep_2004_4b_house', 'Rental_total_Sep_2004_4b_house', 'Count_total_Dec_2004_4b_house', 'Rental_total_Dec_2004_4b_house', 'Count_total_Mar_2005_4b_house', 'Rental_total_Mar_2005_4b_house', 'Count_total_Jun_2005_4b_house', 'Rental_total_Jun_2005_4b_house', 'Count_total_Sep_2005_4b_house', 'Rental_total_Sep_2005_4b_house', 'Count_total_Dec_2005_4b_house', 'Rental_total_Dec_2005_4b_house', 'Count_total_Mar_2006_4b_house', 'Rental_total_Mar_2006_4b_house', 'Count_total_Jun_2006_4b_house', 'Rental_total_Jun_2006_4b_house', 'Count_total_Sep_2006_4b_house', 'Rental_total_Sep_2006_4b_house', 'Count_total_Dec_2006_4b_house', 'Rental_total_Dec_2006_4b_house', 'Count_total_Mar_2007_4b_house', 'Rental_total_Mar_2007_4b_house', 'Count_total_Jun_2007_4b_house', 'Rental_total_Jun_2007_4b_house', 'Count_total_Sep_2007_4b_house', 'Rental_total_Sep_2007_4b_house', 'Count_total_Dec_2007_4b_house', 'Rental_total_Dec_2007_4b_house', 'Count_total_Mar_2008_4b_house', 'Rental_total_Mar_2008_4b_house', 'Count_total_Jun_2008_4b_house', 'Rental_total_Jun_2008_4b_house', 'Count_total_Sep_2008_4b_house', 'Rental_total_Sep_2008_4b_house', 'Count_total_Dec_2008_4b_house', 'Rental_total_Dec_2008_4b_house', 'Count_total_Mar_2009_4b_house', 'Rental_total_Mar_2009_4b_house', 'Count_total_Jun_2009_4b_house', 'Rental_total_Jun_2009_4b_house', 'Count_total_Sep_2009_4b_house', 'Rental_total_Sep_2009_4b_house', 'Count_total_Dec_2009_4b_house', 'Rental_total_Dec_2009_4b_house', 'Count_total_Mar_2010_4b_house', 'Rental_total_Mar_2010_4b_house', 'Count_total_Jun_2010_4b_house', 'Rental_total_Jun_2010_4b_house', 'Count_total_Sep_2010_4b_house', 'Rental_total_Sep_2010_4b_house', 'Count_total_Dec_2010_4b_house', 'Rental_total_Dec_2010_4b_house', 'Count_total_Mar_2011_4b_house', 'Rental_total_Mar_2011_4b_house', 'Count_total_Jun_2011_4b_house', 'Rental_total_Jun_2011_4b_house', 'Count_total_Sep_2011_4b_house', 'Rental_total_Sep_2011_4b_house', 'Count_total_Dec_2011_4b_house', 'Rental_total_Dec_2011_4b_house', 'Count_total_Mar_2012_4b_house', 'Rental_total_Mar_2012_4b_house', 'Count_total_Jun_2012_4b_house', 'Rental_total_Jun_2012_4b_house', 'Count_total_Sep_2012_4b_house', 'Rental_total_Sep_2012_4b_house', 'Count_total_Dec_2012_4b_house', 'Rental_total_Dec_2012_4b_house', 'Count_total_Mar_2013_4b_house', 'Rental_total_Mar_2013_4b_house', 'Count_total_Jun_2013_4b_house', 'Rental_total_Jun_2013_4b_house', 'Count_total_Sep_2013_4b_house', 'Rental_total_Sep_2013_4b_house', 'Count_total_Dec_2013_4b_house', 'Rental_total_Dec_2013_4b_house', 'Count_total_Mar_2014_4b_house', 'Rental_total_Mar_2014_4b_house', 'Count_total_Jun_2014_4b_house', 'Rental_total_Jun_2014_4b_house', 'Count_total_Sep_2014_4b_house', 'Rental_total_Sep_2014_4b_house', 'Count_total_Dec_2014_4b_house', 'Rental_total_Dec_2014_4b_house', 'Count_total_Mar_2015_4b_house', 'Rental_total_Mar_2015_4b_house', 'Count_total_Jun_2015_4b_house', 'Rental_total_Jun_2015_4b_house', 'Count_total_Sep_2015_4b_house', 'Rental_total_Sep_2015_4b_house', 'Count_total_Dec_2015_4b_house', 'Rental_total_Dec_2015_4b_house', 'Count_total_Mar_2016_4b_house', 'Rental_total_Mar_2016_4b_house', 'Count_total_Jun_2016_4b_house', 'Rental_total_Jun_2016_4b_house', 'Count_total_Sep_2016_4b_house', 'Rental_total_Sep_2016_4b_house', 'Count_total_Dec_2016_4b_house', 'Rental_total_Dec_2016_4b_house', 'Count_total_Mar_2017_4b_house', 'Rental_total_Mar_2017_4b_house', 'Count_total_Jun_2017_4b_house', 'Rental_total_Jun_2017_4b_house', 'Count_total_Sep_2017_4b_house', 'Rental_total_Sep_2017_4b_house', 'Count_total_Dec_2017_4b_house', 'Rental_total_Dec_2017_4b_house', 'Count_total_Mar_2018_4b_house', 'Rental_total_Mar_2018_4b_house', 'Count_total_Jun_2018_4b_house', 'Rental_total_Jun_2018_4b_house', 'Count_total_Sep_2018_4b_house', 'Rental_total_Sep_2018_4b_house', 'Count_total_Dec_2018_4b_house', 'Rental_total_Dec_2018_4b_house', 'Count_total_Mar_2019_4b_house', 'Rental_total_Mar_2019_4b_house', 'Count_total_Jun_2019_4b_house', 'Rental_total_Jun_2019_4b_house', 'Count_total_Sep_2019_4b_house', 'Rental_total_Sep_2019_4b_house', 'Count_total_Dec_2019_4b_house', 'Rental_total_Dec_2019_4b_house', 'Count_total_Mar_2020_4b_house', 'Rental_total_Mar_2020_4b_house', 'Count_total_Jun_2020_4b_house', 'Rental_total_Jun_2020_4b_house', 'Count_total_Sep_2020_4b_house', 'Rental_total_Sep_2020_4b_house', 'Count_total_Dec_2020_4b_house', 'Rental_total_Dec_2020_4b_house', 'Count_total_Mar_2021_4b_house', 'Rental_total_Mar_2021_4b_house', 'Count_total_Jun_2021_4b_house', 'Rental_total_Jun_2021_4b_house']
rental_house_4_bedroom = restruct_col(rental_house_4_bedroom)
rental_house_4_bedroom = restruct_df(rental_house_4_bedroom)
rental_house_4_bedroom

,Suburb,Rental_total_Mar_2000_4b_house,Rental_total_Jun_2000_4b_house,Rental_total_Sep_2000_4b_house,Rental_total_Dec_2000_4b_house,Rental_total_Mar_2001_4b_house,Rental_total_Jun_2001_4b_house,Rental_total_Sep_2001_4b_house,Rental_total_Dec_2001_4b_house,Rental_total_Mar_2002_4b_house,...,Rental_total_Mar_2019_4b_house,Rental_total_Jun_2019_4b_house,Rental_total_Sep_2019_4b_house,Rental_total_Dec_2019_4b_house,Rental_total_Mar_2020_4b_house,Rental_total_Jun_2020_4b_house,Rental_total_Sep_2020_4b_house,Rental_total_Dec_2020_4b_house,Rental_total_Mar_2021_4b_house,Rental_total_Jun_2021_4b_house
0,Armadale,615,695,850,695,760,650,565,588,550,...,1500,1500,1450,1200,1025,1100,1150,1070,1000,990
1,Carlton North,380,380,383,385,403,418,420,420,430,...,930,950,950,960,1020,985,995,950,925,940
2,Docklands,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,East Melbourne,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,East St Kilda,363,360,363,363,450,450,480,480,500,...,915,925,950,950,980,900,850,850,780,850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Newborough,135,130,130,138,135,135,135,135,135,...,310,320,320,320,320,320,350,370,365,380
211,Ocean Grove,175,180,185,190,190,197,197,210,208,...,480,495,495,483,480,470,475,500,528,550
212,Barwon Heads,175,180,185,190,190,197,197,210,208,...,480,495,495,483,480,470,475,500,528,550
213,Sale,180,185,188,185,185,190,190,190,190,...,360,360,370,370,370,380,390,400,400,410
214,Maffra,180,185,188,185,185,190,190,190,190,...,360,360,370,370,370,380,390,400,400,410

In [117]:
# read rental report quatterly with median data for all property
rental_total_bedroom= pd.read_excel('../data/raw/Rental_Report_Quarterly_Median_2021.xlsx',sheet_name='All properties',header=2)

# remove the useless column
rental_total_bedroom = rental_total_bedroom.drop(columns = ['Region'])

# rename the coulumns and split the combined suburb name
rental_total_bedroom.columns= ['Suburb', 'Count_total_Mar_2000', 'Rental_total_Mar_2000', 'Count_total_Jun_2000', 'Rental_total_Jun_2000', 'Count_total_Sep_2000', 'Rental_total_Sep_2000', 'Count_total_Dec_2000', 'Rental_total_Dec_2000', 'Count_total_Mar_2001', 'Rental_total_Mar_2001', 'Count_total_Jun_2001', 'Rental_total_Jun_2001', 'Count_total_Sep_2001', 'Rental_total_Sep_2001', 'Count_total_Dec_2001', 'Rental_total_Dec_2001', 'Count_total_Mar_2002', 'Rental_total_Mar_2002', 'Count_total_Jun_2002', 'Rental_total_Jun_2002', 'Count_total_Sep_2002', 'Rental_total_Sep_2002', 'Count_total_Dec_2002', 'Rental_total_Dec_2002', 'Count_total_Mar_2003', 'Rental_total_Mar_2003', 'Count_total_Jun_2003', 'Rental_total_Jun_2003', 'Count_total_Sep_2003', 'Rental_total_Sep_2003', 'Count_total_Dec_2003', 'Rental_total_Dec_2003', 'Count_total_Mar_2004', 'Rental_total_Mar_2004', 'Count_total_Jun_2004', 'Rental_total_Jun_2004', 'Count_total_Sep_2004', 'Rental_total_Sep_2004', 'Count_total_Dec_2004', 'Rental_total_Dec_2004', 'Count_total_Mar_2005', 'Rental_total_Mar_2005', 'Count_total_Jun_2005', 'Rental_total_Jun_2005', 'Count_total_Sep_2005', 'Rental_total_Sep_2005', 'Count_total_Dec_2005', 'Rental_total_Dec_2005', 'Count_total_Mar_2006', 'Rental_total_Mar_2006', 'Count_total_Jun_2006', 'Rental_total_Jun_2006', 'Count_total_Sep_2006', 'Rental_total_Sep_2006', 'Count_total_Dec_2006', 'Rental_total_Dec_2006', 'Count_total_Mar_2007', 'Rental_total_Mar_2007', 'Count_total_Jun_2007', 'Rental_total_Jun_2007', 'Count_total_Sep_2007', 'Rental_total_Sep_2007', 'Count_total_Dec_2007', 'Rental_total_Dec_2007', 'Count_total_Mar_2008', 'Rental_total_Mar_2008', 'Count_total_Jun_2008', 'Rental_total_Jun_2008', 'Count_total_Sep_2008', 'Rental_total_Sep_2008', 'Count_total_Dec_2008', 'Rental_total_Dec_2008', 'Count_total_Mar_2009', 'Rental_total_Mar_2009', 'Count_total_Jun_2009', 'Rental_total_Jun_2009', 'Count_total_Sep_2009', 'Rental_total_Sep_2009', 'Count_total_Dec_2009', 'Rental_total_Dec_2009', 'Count_total_Mar_2010', 'Rental_total_Mar_2010', 'Count_total_Jun_2010', 'Rental_total_Jun_2010', 'Count_total_Sep_2010', 'Rental_total_Sep_2010', 'Count_total_Dec_2010', 'Rental_total_Dec_2010', 'Count_total_Mar_2011', 'Rental_total_Mar_2011', 'Count_total_Jun_2011', 'Rental_total_Jun_2011', 'Count_total_Sep_2011', 'Rental_total_Sep_2011', 'Count_total_Dec_2011', 'Rental_total_Dec_2011', 'Count_total_Mar_2012', 'Rental_total_Mar_2012', 'Count_total_Jun_2012', 'Rental_total_Jun_2012', 'Count_total_Sep_2012', 'Rental_total_Sep_2012', 'Count_total_Dec_2012', 'Rental_total_Dec_2012', 'Count_total_Mar_2013', 'Rental_total_Mar_2013', 'Count_total_Jun_2013', 'Rental_total_Jun_2013', 'Count_total_Sep_2013', 'Rental_total_Sep_2013', 'Count_total_Dec_2013', 'Rental_total_Dec_2013', 'Count_total_Mar_2014', 'Rental_total_Mar_2014', 'Count_total_Jun_2014', 'Rental_total_Jun_2014', 'Count_total_Sep_2014', 'Rental_total_Sep_2014', 'Count_total_Dec_2014', 'Rental_total_Dec_2014', 'Count_total_Mar_2015', 'Rental_total_Mar_2015', 'Count_total_Jun_2015', 'Rental_total_Jun_2015', 'Count_total_Sep_2015', 'Rental_total_Sep_2015', 'Count_total_Dec_2015', 'Rental_total_Dec_2015', 'Count_total_Mar_2016', 'Rental_total_Mar_2016', 'Count_total_Jun_2016', 'Rental_total_Jun_2016', 'Count_total_Sep_2016', 'Rental_total_Sep_2016', 'Count_total_Dec_2016', 'Rental_total_Dec_2016', 'Count_total_Mar_2017', 'Rental_total_Mar_2017', 'Count_total_Jun_2017', 'Rental_total_Jun_2017', 'Count_total_Sep_2017', 'Rental_total_Sep_2017', 'Count_total_Dec_2017', 'Rental_total_Dec_2017', 'Count_total_Mar_2018', 'Rental_total_Mar_2018', 'Count_total_Jun_2018', 'Rental_total_Jun_2018', 'Count_total_Sep_2018', 'Rental_total_Sep_2018', 'Count_total_Dec_2018', 'Rental_total_Dec_2018', 'Count_total_Mar_2019', 'Rental_total_Mar_2019', 'Count_total_Jun_2019', 'Rental_total_Jun_2019', 'Count_total_Sep_2019', 'Rental_total_Sep_2019', 'Count_total_Dec_2019', 'Rental_total_Dec_2019', 'Count_total_Mar_2020', 'Rental_total_Mar_2020', 'Count_total_Jun_2020', 'Rental_total_Jun_2020', 'Count_total_Sep_2020', 'Rental_total_Sep_2020', 'Count_total_Dec_2020', 'Rental_total_Dec_2020', 'Count_total_Mar_2021', 'Rental_total_Mar_2021', 'Count_total_Jun_2021', 'Rental_total_Jun_2021']
rental_total_bedroom = restruct_col(rental_total_bedroom)
rental_total_bedroom = restruct_df(rental_total_bedroom)
rental_total_bedroom

,Suburb,Rental_total_Mar_2000,Rental_total_Jun_2000,Rental_total_Sep_2000,Rental_total_Dec_2000,Rental_total_Mar_2001,Rental_total_Jun_2001,Rental_total_Sep_2001,Rental_total_Dec_2001,Rental_total_Mar_2002,...,Rental_total_Mar_2019,Rental_total_Jun_2019,Rental_total_Sep_2019,Rental_total_Dec_2019,Rental_total_Mar_2020,Rental_total_Jun_2020,Rental_total_Sep_2020,Rental_total_Dec_2020,Rental_total_Mar_2021,Rental_total_Jun_2021
0,Armadale,200,200,205,210,215,220,225,230,235,...,480,480,480,485,500,500,500,495,450,440
1,Carlton North,260,260,265,270,270,275,280,280,290,...,580,577,580,580,585,590,590,590,580,580
2,Docklands,-,340,-,-,-,-,-,-,320,...,570,580,575,580,570,550,500,460,420,400
3,East Melbourne,265,268,280,273,290,295,300,320,320,...,495,500,520,550,550,550,515,495,450,450
4,East St Kilda,180,180,180,185,185,190,195,195,200,...,420,420,425,425,425,425,420,410,395,385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Newborough,95,90,90,90,90,90,90,90,90,...,220,228,230,230,240,248,250,250,250,260
211,Ocean Grove,150,150,150,155,155,160,160,165,170,...,420,420,423,430,430,420,425,435,450,480
212,Barwon Heads,150,150,150,155,155,160,160,165,170,...,420,420,423,430,430,420,425,435,450,480
213,Sale,120,120,120,120,120,120,120,120,120,...,275,280,285,290,290,295,300,310,320,330
214,Maffra,120,120,120,120,120,120,120,120,120,...,275,280,285,290,290,295,300,310,320,330

In [118]:
# merge the all property rental data
rental = pd.merge(rental_flat_1_bedroom,rental_flat_2_bedroom, on='Suburb', how='left').fillna(np.nan)
rental = rental.drop_duplicates(subset=None, keep='first', inplace=False).reset_index(drop=True)
rental

,Suburb,Rental_total_Mar_2000_1b_flat,Rental_total_Jun_2000_1b_flat,Rental_total_Sep_2000_1b_flat,Rental_total_Dec_2000_1b_flat,Rental_total_Mar_2001_1b_flat,Rental_total_Jun_2001_1b_flat,Rental_total_Sep_2001_1b_flat,Rental_total_Dec_2001_1b_flat,Rental_total_Mar_2002_1b_flat,...,Rental_total_Mar_2019_2b_flat,Rental_total_Jun_2019_2b_flat,Rental_total_Sep_2019_2b_flat,Rental_total_Dec_2019_2b_flat,Rental_total_Mar_2020_2b_flat,Rental_total_Jun_2020_2b_flat,Rental_total_Sep_2020_2b_flat,Rental_total_Dec_2020_2b_flat,Rental_total_Mar_2021_2b_flat,Rental_total_Jun_2021_2b_flat
0,Yarraville,95,97,100,99,100,100,100,110,110,...,395,390,390,383,390,390,385,380,380,380
1,Yarra Ranges,110,110,110,110,110,110,113,115,115,...,325,320,320,320,330,330,340,350,348,350
2,Wodonga,85,85,85,85,85,88,90,90,90,...,238,240,240,240,240,245,250,255,260,260
3,Windsor,150,155,160,160,165,165,165,165,170,...,500,500,500,510,520,500,500,485,450,450
4,Williamstown,120,120,125,130,130,133,135,140,140,...,400,405,420,430,438,445,430,420,400,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Altona,95,100,105,105,105,105,110,110,115,...,350,350,360,360,360,360,350,350,350,350
211,Alphington,120,120,125,127,130,130,130,130,135,...,440,430,440,435,430,420,410,410,400,400
212,Alfredton,80,80,80,80,85,85,85,85,85,...,240,250,250,250,250,260,260,270,270,270
213,Albert Park,165,165,170,175,180,185,190,190,195,...,500,500,500,515,520,500,500,490,460,453
214,Abbotsford,135,145,160,165,190,190,190,195,200,...,550,550,550,550,550,540,520,500,478,465

In [119]:
# merge the all property rental data
rental = pd.merge(rental_flat_1_bedroom,rental_flat_2_bedroom, on='Suburb', how='left').fillna(np.nan)
rental = pd.merge(rental,rental_flat_3_bedroom, on='Suburb', how='left').fillna(np.nan)
rental = pd.merge(rental,rental_house_2_bedroom, on='Suburb', how='left').fillna(np.nan)
rental = pd.merge(rental,rental_house_3_bedroom, on='Suburb', how='left').fillna(np.nan)
rental = pd.merge(rental,rental_house_4_bedroom, on='Suburb', how='left').fillna(np.nan)
rental = pd.merge(rental,rental_total_bedroom, on='Suburb', how='left').fillna(np.nan)

# remove the duplicate values and reset index
rental = rental.drop_duplicates(subset=None, keep='first', inplace=False).reset_index(drop=True)

In [120]:
rental = rental[rental['Suburb'] != 'Yarra Ranges']
rental = rental[rental['Suburb'] != 'St Kilda Rd']

# let CBD represent MELBOURNE 3000
rental = rental.replace('CBD', 'MELBOURNE')

# rename the retal columns' names
rental.columns = ['suburb' if x=='Suburb' else x for x in rental.columns]

# make letter upper
rental['suburb'] = rental['suburb'].str.upper()

In [121]:
def change_word_position(suburb):
    '''A function to change the position of 'EAST','WEST','NORTH','SOUTH' for some cases
    Args:
        suburb: series to put suburb
    Returns:
        name which will be the series of suburb
    '''
    # split the suburb by space
    suburb_lis = suburb.split(' ')
    name =''
    # if the suburb name contains more than one word
    # then we need to have check the positions of ['EAST','WEST','NORTH','SOUTH']
    if len(suburb_lis) >= 2:
        if suburb_lis[0] in ['EAST','WEST','NORTH','SOUTH']:
            # if the suburb name contains words below, then doesn't need to change the position
            if suburb_lis[1] not in ['MELBOURNE','GEELONG','BENDIGO','YEOBURN','WANGARATTA','WARBURTON','SALE',
                                     'BAIRNSDALE','YARRA','FOOTSCRAY']:
                # make the word of ['EAST','WEST','NORTH','SOUTH'] at the end of suburb name
                for i in range(1,len(suburb_lis)):
                    name+=(str(suburb_lis[i])+' ')
                name+=str(suburb_lis[0])
            # otherwise, doesn't need to change suburb name
            else:
                name = suburb
        else:
            name = suburb
    else:
        name = suburb
    return name
rental['suburb'] = rental['suburb'].apply(change_word_position)

In [122]:
def similar(a, b):
    '''Calculate the similarity percentage
    Args:
        a: standard suburb name
        b: suburb name from address
    Return:
        match ratio of a and b string
    '''
    return SequenceMatcher(None, a, b).ratio()

def most_similar(df,suburb):
    '''Find the most similar suburb
    Args:
        df: property dataframe
        suburb: standard suburb name
    Return:
        most matchable suburb name
    '''
    if df['suburb'].shape[0] == 1:
        current_match = [100,df['suburb'].iloc[0][0]]
    else:
        # initialize the most similar suburb
        current_match = [0,'None']
        # check similarity for each suburb
        for sub in df['suburb']:
            # get the similarity percentage
            simi_percent = similar(suburb, sub)
            # update most similar suburb
            if simi_percent > current_match[0]:
                current_match = [simi_percent, sub]
    # return the most similar suburb
    return current_match[1]

def correct_suburb(suburb_df, df):
    '''Find the most similar suburb names for rental data
    Args:
        suburb_df: standard postcode suburb match dataframe
        property_df: property dataframe
    Return:
        property dataframe with correct suburb name
    '''
    # check property_df each row's suburb
    for row in range(df.shape[0]):
        # all the suburb names
        sub_lis = list(set(suburb_df.suburb.sum()))
        # if the suburb matched, don't change it
        if df.loc[row, 'suburb'] in sub_lis:
            pass
        # if the suburb don't matched, replace by the most similar suburb by postcode
        else:
            most_match = most_similar(pd.DataFrame.from_dict({'suburb':sub_lis}), df.loc[row, 'suburb'])
            df.at[row, 'suburb'] = most_match
    return df
rental = rental.reset_index(drop=True)
rental = correct_suburb(postcode_match,rental)

In [123]:
# save as csv file
rental.to_csv('../data/curated/rental_median.csv',index=False)

## Preprocess for GNR and Public Transportation external dataset

In [61]:
# read GNR shapefile
GNR = gpd.read_file('../data/raw/shapefiles/gda2020_vicgrid/esrishape/whole_of_dataset/victoria/VMFOI/GNR.shp')
display(GNR.head(5))
GNR = GNR.drop(columns=['UFI', 'NAME_ID', 'VICMAP_ID', 'FEATUREC', 'NAMESTATC', 'NAMESTAT','REG_DATE','CRDATE_UFI'])
display(GNR.head(5))
path = os.getcwd().replace('notebooks','') + 'data/curated/'
GNR.to_csv(path+'GNR.csv',index=False)

,UFI,PLACE_ID,NAME_ID,VICMAP_ID,PLACE_NAME,FEATUREC,FEATURE,NAMESTATC,NAMESTAT,LONGITUDE,LATITUDE,REG_DATE,CRDATE_UFI,geometry
0,416079,338,1064,655117.0,BALLARAT FIRE STATION,FIST,FIRE STATION,REG,REGISTERED,143.8686,-37.563,2018-08-13,2022-02-11,POINT (2400054.382 2436830.207)
1,416080,1256,4074,621722.0,BUNINYONG CREEK,WACO,WATERCOURSE,H,HISTORICAL,143.8582,-37.659,2002-05-24,2022-02-11,POINT (2399261.401 2426265.924)
2,416081,1257,4075,1167467.0,BUNINYONG FIRE STATION,FIST,FIRE STATION,REG,REGISTERED,143.8851,-37.650,2018-08-13,2022-02-11,POINT (2401628.205 2427218.508)
3,416082,3223,10605,727803.0,GRAND STAIRWAY,CLIF,CLIFF,REG,REGISTERED,142.5034,-37.191,1966-05-02,2022-02-11,POINT (2278388.543 2475893.428)
4,416083,3728,12332,655565.0,INVERMAY FIRE STATION,FIST,FIRE STATION,REG,REGISTERED,143.8724,-37.521,2018-08-13,2022-02-11,POINT (2400342.015 2441487.169)

,PLACE_ID,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,338,BALLARAT FIRE STATION,FIRE STATION,143.8686,-37.563,POINT (2400054.382 2436830.207)
1,1256,BUNINYONG CREEK,WATERCOURSE,143.8582,-37.659,POINT (2399261.401 2426265.924)
2,1257,BUNINYONG FIRE STATION,FIRE STATION,143.8851,-37.650,POINT (2401628.205 2427218.508)
3,3223,GRAND STAIRWAY,CLIFF,142.5034,-37.191,POINT (2278388.543 2475893.428)
4,3728,INVERMAY FIRE STATION,FIRE STATION,143.8724,-37.521,POINT (2400342.015 2441487.169)

In [62]:
# check all the features
print(list(GNR['FEATURE'].unique()))

['FIRE STATION', 'WATERCOURSE', 'CLIFF', 'SOAK', 'SECONDARY SCHOOL', 'LOOKOUT', 'ROCK', 'LAKE', 'RANGE', 'CAMP GROUND', 'PLAIN', 'RIDGE', 'POINT', 'PASS', 'PRIMARY SCHOOL', 'GORGE', 'PEAK', 'NEIGHBOURHOOD', 'SHOPPING CENTRE', 'SPORTSGROUND', 'PARK', 'WALKING TRACK', 'ROAD NAME ORIGIN', 'ROAD BRIDGE', 'NEIGHBOURHOOD SAFER PLACE', 'NATIONAL PARK', 'KINDERGARTEN', 'BEACH', 'RAIL BRIDGE', 'CAIRN', 'BOWLING GREEN', 'MONUMENT', 'CONSERVATION PARK', 'CAR PARK', 'COMMUNITY CENTRE', 'POST OFFICE', 'ISLAND', 'SPECIAL SCHOOL', 'LOCALITY', 'SURVEY MARKER', 'WATERFALL', 'PRIMARY AND SECONDARY SCHOOL', 'BAY', 'RAIL STATION', 'CHILD CARE', 'WETLAND', 'PIER', 'ISLAND GROUP', 'VALLEY', 'PLATEAU', 'RAILWAY', 'HILL', 'HALL', 'BEND', 'JUNCTION', 'MOUNTAIN', 'LOCAL GOVERNMENT AREA', 'SPORTS COMPLEX', 'PENINSULA', 'RACECOURSE', 'SPORT FACILITY', 'DESERT', 'RESERVOIR', 'WATERHOLE', 'HISTORIC SITE', 'INLET', 'TELEPHONE EXCHANGE', 'SWIMMING POOL', 'ART GALLERY', 'ANCHORAGE', 'AMPHITHEATRE', 'ABANDONED MINE', 'ABANDONED QUARRY', 'ABATTOIR', 'FOOTBRIDGE', 'MOUNTAIN BIKE TRACK', 'EDUCATION COMPLEX', 'WEIR', 'PARISH', 'IRRIGATION CHANNEL', 'AIRPORT', 'LAGOON', 'MINE (OPEN CUT)', 'STATE FOREST', 'DAM', 'FOREST', 'SHOAL (MARINE)', 'BEACON', 'PASSAGE (MARINE)', 'BREAKWATER', 'BASIN (MARINE)', 'JETTY', 'REEF (MARINE)', 'SEA CHANNEL (MARINE)', 'BANK (MARINE)', 'SLOPE', 'HUT', 'GOLF COURSE', 'DRAIN', 'CEMETERY', 'LIBRARY', 'POPULATION CENTRE', 'UNIVERSITY', 'PUMPING STATION', 'HARBOUR', 'DEPRESSION', 'BORE', 'GENERAL HOSPITAL', 'POLICE STATION', 'CAVE', 'FURTHER EDUCATION', 'PLAYGROUND', 'QUARRY', 'SCHOOL CAMP', 'MULTIUSE TRAIL', 'UNCLASSIFIED', 'SPRING', 'WHARF', 'TELEVISION COMMUNICATION FACILITY', 'ENTRANCE', 'CAPE', 'FORD', 'TRANSFER STATION', 'WATER TANK', 'ROAD CUTTING', 'WATER PIPELINE', 'PLANTATION', 'WINERY', 'LANDING AREA', 'LAW COURT', 'POWER TERMINAL STATION', 'BAR', 'ROAD TUNNEL', 'MOTOR TRACK', 'ROTUNDA', 'HYDRO POWER STATION', 'SOUND', 'VINEYARD', 'FARM', 'REACH', 'TENNIS COURT', 'ISTHMUS', 'PASSAGE', 'DUNE', 'HOMESTEAD', 'COMMUNITY HEALTH CENTRE', 'FIREBREAK', 'CAUSEWAY', 'STOCKYARD', 'COUNTY', 'POWER DISTRIBUTION', 'COMMUNICATION TOWER', 'LANDING PLACE', 'LIGHT RAIL', 'MATERNAL AND CHILD HEALTH CENTRE', 'MILL/TIMBER OPERATIONS', 'LIGHTHOUSE', 'PORT', 'RADIO COMMUNICATION FACILITY', 'IRON ORE PROCESSOR', 'LOCK', 'SIDING', 'GATE', 'COAL POWER STATION', 'DEEP (MARINE)', 'MARKET', 'FIRE LOOKOUT', 'PAN', 'FIRING RANGE', 'BUSH NURSING HOSPITAL', 'CARAVAN PARK', 'MARINA', 'PRISON', 'LIFESAVING CLUB', 'BOTANIC GARDENS', 'SPECIALISED HOSPITAL', 'BANK', 'MISSION', 'RADIO STATION', 'OIL REFINERY', 'SES FACILITY', 'BATTERY', 'TERTIARY INSTITUTION', 'SEWAGE TREATMENT PLANT', 'WATER TREATMENT', 'DOCK', 'RAIL TUNNEL', 'EQUESTRIAN CENTRE', 'NAVAL BASE', 'AIR FORCE BASE', 'HELIPORT', 'AGED CARE', 'FERRY STATION', 'BICYCLE TRACK', 'STATE BORDER', 'SURFING SPOT', 'RAIL YARD', 'TRAINING TRACK', 'AMBULANCE STATION', 'CONTROL TOWER', 'GAS POWER STATION', 'COAST', 'ROCKHOLE', 'BMX TRACK', 'STEEL WORKS', 'ABBEY', 'ARBORETUM', 'MONASTERY', 'COMMUNE', 'GRASSLAND', 'LIGHT RAIL STATION', 'SEA', 'CANAL', 'VELODROME']

In [63]:
# read GNR csv
gnr = pd.read_csv('../data/raw/GNR.csv')

# extract each useful feature (59 needed features)
SECONDARY_SCHOOL = gnr[gnr['FEATURE']=='SECONDARY SCHOOL']
PRIMARY_SCHOOL = gnr[gnr['FEATURE']=='PRIMARY SCHOOL']
SHOPPING_CENTRE = gnr[gnr['FEATURE']=='SHOPPING CENTRE']
PARK = gnr[gnr['FEATURE']=='PARK']
KINDERGARTEN = gnr[gnr['FEATURE']=='KINDERGARTEN']
POST_OFFICE = gnr[gnr['FEATURE']=='POST OFFICE']
SPECIAL_SCHOOL = gnr[gnr['FEATURE']=='SPECIAL SCHOOL']
PRIMARY_AND_SECONDARY_SCHOOL = gnr[gnr['FEATURE']=='PRIMARY AND SECONDARY SCHOOL']
CHILD_CARE= gnr[gnr['FEATURE']=='CHILD CARE']
SPORTS_COMPLEX = gnr[gnr['FEATURE']=='SPORTS COMPLEX']
EDUCATION_COMPLEX = gnr[gnr['FEATURE']=='EDUCATION COMPLEX']
CEMETERY = gnr[gnr['FEATURE']=='CEMETERY']
LIBRARY = gnr[gnr['FEATURE']=='LIBRARY']
UNIVERSITY = gnr[gnr['FEATURE']=='UNIVERSITY']
GENERAL_HOSPITAL = gnr[gnr['FEATURE']=='GENERAL HOSPITAL']
POLICE_STATION = gnr[gnr['FEATURE']=='POLICE STATION']
FURTHER_EDUCATION = gnr[gnr['FEATURE']=='FURTHER EDUCATION']
PLAYGROUND = gnr[gnr['FEATURE']=='PLAYGROUND']
PLANTATION = gnr[gnr['FEATURE']=='PLANTATION']
WINERY = gnr[gnr['FEATURE']=='WINERY']
BAR = gnr[gnr['FEATURE']=='BAR']
FARM = gnr[gnr['FEATURE']=='FARM']
VINEYARD= gnr[gnr['FEATURE']=='VINEYARD']
TENNIS_COURT= gnr[gnr['FEATURE']=='TENNIS COURT']
BAY= gnr[gnr['FEATURE']=='BAY']
PIER= gnr[gnr['FEATURE']=='PIER']
SWIMMING_POOL= gnr[gnr['FEATURE']=='SWIMMING POOL']
ART_GALLERY= gnr[gnr['FEATURE']=='ART GALLERY']
HARBOUR= gnr[gnr['FEATURE']=='HARBOUR']
WHARF= gnr[gnr['FEATURE']=='WHARF']
COMMUNITY_HEALTH_CENTRE = gnr[gnr['FEATURE']=='COMMUNITY HEALTH CENTRE']
MATERNAL_AND_CHILD_HEALTH_CENTRE= gnr[gnr['FEATURE']=='MATERNAL AND CHILD HEALTH CENTRE']
MARKET= gnr[gnr['FEATURE']=='MARKET']
PRISON= gnr[gnr['FEATURE']=='PRISON']
BOTANIC_GARDENS= gnr[gnr['FEATURE']=='BOTANIC GARDENS']
SPECIALISED_HOSPITAL= gnr[gnr['FEATURE']=='SPECIALISED HOSPITAL']
BANK= gnr[gnr['FEATURE']=='BANK']
AGED_CARE= gnr[gnr['FEATURE']=='AGED CARE']
SURFING_SPOT= gnr[gnr['FEATURE']=='SURFING SPOT']
COAST= gnr[gnr['FEATURE']=='COAST']
GOLF_COURSE= gnr[gnr['FEATURE']=='GOLF COURSE']     
HELIPORT= gnr[gnr['FEATURE']=='HELIPORT']
AIRPORT= gnr[gnr['FEATURE']=='AIRPORT']
IRON_ORE_PROCESSOR= gnr[gnr['FEATURE']=='IRON ORE PROCESSOR']
MILL_TIMBER_OPERATIONS= gnr[gnr['FEATURE']=='MILL/TIMBER OPERATIONS']
BEACH= gnr[gnr['FEATURE']=='BEACH']
MARINA = gnr[gnr['FEATURE']=='MARINA']

In [64]:
# create a new list to put all extrated features
d_lst=[SECONDARY_SCHOOL, PRIMARY_AND_SECONDARY_SCHOOL, PRIMARY_SCHOOL, SHOPPING_CENTRE, PARK, KINDERGARTEN,
       POST_OFFICE, SPECIAL_SCHOOL, CHILD_CARE,BAR, SPORTS_COMPLEX, EDUCATION_COMPLEX, CEMETERY, LIBRARY, UNIVERSITY,
       GENERAL_HOSPITAL, POLICE_STATION, FURTHER_EDUCATION, PLAYGROUND, PLANTATION, WINERY, BAR, FARM, VINEYARD,
       TENNIS_COURT, BAY, PIER, SWIMMING_POOL, ART_GALLERY, HARBOUR, WHARF, COMMUNITY_HEALTH_CENTRE,
       MATERNAL_AND_CHILD_HEALTH_CENTRE, MARKET, PRISON, BOTANIC_GARDENS, SPECIALISED_HOSPITAL, BANK, AGED_CARE,
       SURFING_SPOT,COAST, GOLF_COURSE, HELIPORT, AIRPORT, IRON_ORE_PROCESSOR, MILL_TIMBER_OPERATIONS,
       BEACH, MARINA]

# combine all the features into one dataframe and remove the useless colunms
clean_GNR = pd.concat(d_lst)

# replace marina(4) and wharf(11) into harbour(18 +4+11)
clean_GNR = clean_GNR.replace('MARINA', 'HARBOUR')
clean_GNR = clean_GNR.replace('WHARF', 'HARBOUR')
clean_GNR = clean_GNR.replace('IRON_ORE_PROCESSOR', 'FACTORY')
clean_GNR = clean_GNR.replace('MILL_TIMBER_OPERATIONS', 'FACTORY')

clean_GNR

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,MOUNT CLEAR SECONDARY COLLEGE,SECONDARY SCHOOL,143.8766,-37.607,POINT (2400824.055420277 2431949.3066944666)
1,MOUNT CLEAR TECHNICAL ANNEXE,SECONDARY SCHOOL,143.8766,-37.607,POINT (2400824.055420277 2431949.3066944666)
2,MOUNT CLEAR COLLEGE,SECONDARY SCHOOL,143.8766,-37.607,POINT (2400824.055420277 2431949.3066944666)
3,VIEWBANK COLLEGE,SECONDARY SCHOOL,145.0865,-37.741,POINT (2507631.5373240355 2417744.9461323526)
4,Yarram Secondary College - Devon North Campus,SECONDARY SCHOOL,146.6478,-38.519,POINT (2643730.207553347 2330161.818601803)
...,...,...,...,...,...
12955,BIRRELLS BEACH,BEACH,147.7130,-37.922,POINT (2738507.803363471 2394173.06680841)
12956,BURGES BEACH,BEACH,149.7136,-37.428,POINT (2916985.0206180434 2442178.0227478873)
12957,LOGANS BEACH,BEACH,142.5237,-38.403,POINT (2283699.1315960833 2341369.273741659)
12958,THOMSONS BEACH,BEACH,145.6673,-35.912,POINT (2560235.3720069295 2620423.8882505205)
12959,Sandy Waterhole Beach,BEACH,145.4372,-38.540,POINT (2538127.531405735 2328989.9504498467)

In [65]:
# read train station shapefile
train = gpd.read_file('../data/raw/train/gda2020_vicgrid/esrishape/whole_of_dataset/victoria/PTV/PTV_METRO_TRAIN_STATION.shp')

# leave stop name and coordinates only
train = train.drop(columns=['STOP_ID','TICKETZONE','ROUTEUSSP'])

# rename the columns name
train.columns = ['PLACE_NAME','LATITUDE','LONGITUDE','geometry']

# add feature columns
train['FEATURE'] = 'TRAIN STATION'
train = train[['PLACE_NAME','FEATURE','LONGITUDE','LATITUDE','geometry']]
train.head(5)

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,Royal Park Railway Station (Parkville),TRAIN STATION,144.952301,-37.781193,POINT (2495798.848 2413310.211)
1,Flemington Bridge Railway Station (North Melbo...,TRAIN STATION,144.939323,-37.788140,POINT (2494656.139 2412538.540)
2,Macaulay Railway Station (North Melbourne),TRAIN STATION,144.936166,-37.794267,POINT (2494378.511 2411858.344)
3,North Melbourne Railway Station (West Melbourne),TRAIN STATION,144.942570,-37.807419,POINT (2494943.410 2410399.010)
4,Clifton Hill Railway Station (Clifton Hill),TRAIN STATION,144.995417,-37.788657,POINT (2499596.850 2412482.848)

In [66]:
# read tram station shapefile
tram = gpd.read_file('../data/raw/tram/gda2020_vicgrid/esrishape/whole_of_dataset/victoria/PTV/PTV_METRO_TRAM_STOP.shp')

# leave stop name and coordinates only
tram = tram.drop(columns=['STOP_ID','TICKETZONE','ROUTEUSSP'])

# rename the columns name
tram.columns = ['PLACE_NAME','LATITUDE','LONGITUDE','geometry']

# add feature columns
tram['FEATURE'] = 'TRAM STATION'
tram = tram[['PLACE_NAME','FEATURE','LONGITUDE','LATITUDE','geometry']]
tram.head(5)

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,134-Merribell Ave/Nicholson St (Coburg),TRAM STATION,144.977728,-37.744359,POINT (2498037.677 2417399.046)
1,44-Deepdene Park/Whitehorse Rd (Balwyn),TRAM STATION,145.068671,-37.811375,POINT (2506047.180 2409959.284)
2,45-Hardwicke St/Whitehorse Rd (Balwyn),TRAM STATION,145.071785,-37.811750,POINT (2506321.344 2409917.458)
3,46-Balwyn Cinema/Whitehorse Rd (Balwyn),TRAM STATION,145.075930,-37.812242,POINT (2506686.247 2409862.576)
4,47-Balwyn Rd/Whitehorse Rd (Balwyn),TRAM STATION,145.081524,-37.812919,POINT (2507178.746 2409787.032)

In [67]:
# read bus station shapefile
bus = gpd.read_file('../data/raw/bus/gda2020_vicgrid/esrishape/whole_of_dataset/victoria/PTV/PTV_METRO_BUS_STOP.shp')

# leave stop name and coordinates only
bus = bus.drop(columns=['STOP_ID','TICKETZONE','ROUTEUSSP'])

# rename the columns name
bus.columns = ['PLACE_NAME','LATITUDE','LONGITUDE','geometry']

# add feature columns
bus['FEATURE'] = 'BUS'
bus = bus[['PLACE_NAME','FEATURE','LONGITUDE','LATITUDE','geometry']]
bus.head(5)

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,Bonnie View Rd/Maroondah Hwy (Croydon North),BUS,145.288145,-37.780920,POINT (2525382.580 2413303.143)
1,Primrose Rd/Maroondah Hwy (Croydon North),BUS,145.292843,-37.774626,POINT (2525798.564 2414000.417)
2,Exeter Rd/Maroondah Hwy (Croydon North),BUS,145.295459,-37.770446,POINT (2526030.439 2414463.627)
3,Maroondah Golf Park/Maroondah Hwy (Chirnside P...,BUS,145.301775,-37.766346,POINT (2526588.336 2414916.912)
4,Old Melbourne Rd/Maroondah Hwy (Chirnside Park),BUS,145.304410,-37.765276,POINT (2526820.857 2415034.928)

In [68]:
# combine the train, tram, bus to the clean_GNR
clean_GNR = pd.concat([clean_GNR, train],ignore_index=True).reset_index(drop=True)
clean_GNR = pd.concat([clean_GNR, tram],ignore_index=True).reset_index(drop=True)
clean_GNR = pd.concat([clean_GNR, bus],ignore_index=True).reset_index(drop=True)
clean_GNR.head(5)

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,MOUNT CLEAR SECONDARY COLLEGE,SECONDARY SCHOOL,143.8766,-37.607,POINT (2400824.055420277 2431949.3066944666)
1,MOUNT CLEAR TECHNICAL ANNEXE,SECONDARY SCHOOL,143.8766,-37.607,POINT (2400824.055420277 2431949.3066944666)
2,MOUNT CLEAR COLLEGE,SECONDARY SCHOOL,143.8766,-37.607,POINT (2400824.055420277 2431949.3066944666)
3,VIEWBANK COLLEGE,SECONDARY SCHOOL,145.0865,-37.741,POINT (2507631.5373240355 2417744.9461323526)
4,Yarram Secondary College - Devon North Campus,SECONDARY SCHOOL,146.6478,-38.519,POINT (2643730.207553347 2330161.818601803)

In [69]:
# save GNR Data as csv
path = os.getcwd().replace('notebooks','') + 'data/curated/'
clean_GNR.to_csv(path+'GNR.csv',index=False)

In [70]:
def reverse_coord_geopy(coordinates):
    '''Function used to reverse the coordinates to address    
    Args:
        coordinates: longitude and latitude
    Return:
        coordinates after reversed
    Raises:
        TimeError: GeocoderTimedOut
    '''
    # access server
    geopy.geocoders.options.default_user_agent = 'my'
    geolocator = Nominatim(user_agent='my')
    try:
        reverse = RateLimiter(geolocator.reverse, min_delay_seconds=2)
        location=reverse(coordinates,language='en',exactly_one=True, timeout=60)  #find location
        address = location.raw['address']   #extract address
        return address
    except GeocoderTimedOut as e:    #if meet time out, wait for 2 second and reverse again
        time.sleep(2)
        return reverse_coord_geopy(coordinates)
 
def generate_suburb_postcode_geopy(df):
    '''Function used to generate information about the suburb and correlated postcode   
    Args:
        df: clean_GNR
    Return:
        dataframe after combined longtitude and latitude then reversed
    '''
    # combine longtitude and latitude
    df['coordinates'] = df['LATITUDE'].astype(str) + ', ' + df['LONGITUDE'].astype(str)
    #reverse
    df['Reverse_Coord']= df['coordinates'].apply(reverse_coord_geopy)
    return df

In [71]:
# reverse geolocation and get address
GNR_suburb = pd.DataFrame()

# reverse the coordinates by small size due to request limitation
i = 0
while i < 34000:
    if i < 33000:
        GNR_suburb_i = generate_suburb_postcode_geopy(clean_GNR.copy().iloc[i:i+1000])
        GNR_suburb = pd.concat([GNR_suburb ,GNR_suburb_i],ignore_index=True)
    else:
        GNR_suburb_i = generate_suburb_postcode_geopy(clean_GNR.copy().iloc[i:])
        GNR_suburb = pd.concat([GNR_suburb ,GNR_suburb_i],ignore_index=True)
    print(i)
    i+=1000
    
# save GNR Data as csv
path = os.getcwd().replace('notebooks','') + 'data/curated/'
GNR_suburb.to_csv(path+'GNR.csv',index=False)
#GNR_suburb['Reverse_Coord'] = GNR_suburb['Reverse_Coord'].apply(eval)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000

In [72]:
# check one sample
GNR_suburb['Reverse_Coord'][0]

{'amenity': 'Mount Clear College',
 'house_number': '59',
 'road': 'Olympic Avenue',
 'suburb': 'Mount Clear',
 'city_district': 'Mount Clear',
 'city': 'Ballarat',
 'municipality': 'City of Ballarat',
 'state': 'Victoria',
 'ISO3166-2-lvl4': 'AU-VIC',
 'postcode': '3357',
 'country': 'Australia',
 'country_code': 'au'}

In [90]:
# read the data
GNR_suburb = pd.read_csv('../data/curated/GNR.csv', low_memory = False)
GNR_suburb['Reverse_Coord']= GNR_suburb['Reverse_Coord'].apply(eval)

In [91]:
def generate_suburb(reverse):
    '''Function used to generate suburb
    Args:
        reverse: reversed coordinate from GNR_suburb
    Return:
        suburb if it exists
    '''
    if 'suburb' in reverse.keys():
        return reverse['suburb']
    else:
        return np.nan
GNR_suburb['Suburb']= GNR_suburb['Reverse_Coord'].apply(generate_suburb)

In [92]:
def generate_postcode(reverse):
    '''Function used to generate postcode
    Args:
        reverse: reversed coordinate from GNR_suburb
    Return:
        postcode if it exists
    '''
    if 'postcode' in reverse.keys():
        return reverse['postcode']
    else:
        return np.nan
GNR_suburb['postcode']= GNR_suburb['Reverse_Coord'].apply(generate_postcode)

In [93]:
def generate_city(reverse):
    '''Function used to generate city name
    Args:
        reverse: reversed coordinate from GNR_suburb
    Return:
        city if it exists
    '''
    if 'city' in reverse.keys():
        return reverse['city']
    else:
        return np.nan
GNR_suburb['City']= GNR_suburb['Reverse_Coord'].apply(generate_city)

In [94]:
def generate_road(reverse):
    '''Function used to generate road name
    Args:
        reverse: reversed coordinate from GNR_suburb
    Return:
        road if it exists
    '''
    if 'road' in reverse.keys():
        return reverse['road']
    else:
        return np.nan
GNR_suburb['Road']= GNR_suburb['Reverse_Coord'].apply(generate_road)

In [95]:
def generate_city_district(reverse):
    '''Function used to generate city district
    Args:
        reverse: reversed coordinate from GNR_suburb
    Return:
        city_district if it exists
    '''
    if 'city_district' in reverse.keys():
        return reverse['city_district']
    else:
        return np.nan
GNR_suburb['city_district']= GNR_suburb['Reverse_Coord'].apply(generate_city_district)

In [96]:
def generate_municipality(reverse):
    '''Function used to generate municipality
    Args:
        reverse: reversed coordinate from GNR_suburb
    Return:
        city_district if it exists
    '''
    if 'municipality' in reverse.keys():
        return reverse['municipality']
    else:
        return np.nan
GNR_suburb['municipality']= GNR_suburb['Reverse_Coord'].apply(generate_municipality)

In [97]:
def generate_town(reverse):
    '''Function used to generate town
    Args:
        reverse: reversed coordinate from GNR_suburb
    Return:
        town if it exists
    '''
    if 'town' in reverse.keys():
        return reverse['town']
    else:
        return np.nan
GNR_suburb['Town']= GNR_suburb['Reverse_Coord'].apply(generate_town)

In [98]:
# save GNR Data as csv
path = os.getcwd().replace('notebooks','') + 'data/curated/'
GNR_suburb.to_csv(path+'GNR_suburb.csv',index=False)

In [40]:
# read the updated data
GNR_suburb = pd.read_csv('../data/curated/GNR_suburb.csv', low_memory = False)

In [41]:
def null_index(df):
    '''Function to find the null values
    Args:
        df: from GNR_suburb
    Return:
        list of index from dataframe
    '''
    df = df[df['Suburb'].isnull()]
    df = df[['PLACE_NAME', 'FEATURE', 'LONGITUDE', 'LATITUDE', 'geometry','coordinates', 'Reverse_Coord',
             'Suburb', 'postcode','city_district','Town']]
    df = df[df['city_district'].isnull()]
    df = df[df['Town'].isnull()]
    return df.index.to_list()

def fill_with_city_district(df):
    '''Funtion fill the null value of suburb with city_district
    Args:
        df: from GNR_suburb
    Return:
        dataframe after change
    '''
    tem = df.loc[(df['Suburb'].isnull())].copy()
    tem = tem.loc[(tem['city_district'].notnull())]
    suburb_idx = tem.index.to_list()
    for row in suburb_idx:
        df.at[row, 'Suburb'] = df.loc[row, 'city_district']
    return df

def fill_with_town(df):
    '''Function fill the null value of suburb with town
    Args:
        df: from GNR_suburb
    Return:
        dataframe after change
    '''
    tem = df.loc[(df['Suburb'].isnull())].copy()
    tem = tem.loc[(tem['Town'].notnull())]
    suburb_idx = tem.index.to_list()
    for row in suburb_idx:
        df.at[row, 'Suburb'] = df.loc[row, 'Town']
    return df

def reverse_by_google(df):
    '''Funciton to reverse the coordinate by googlemap
    Args:
        df: from GNR_suburb
    Return:
        dataframe after change
    '''
    empty_idx = null_index(df)
    #access google map api
    gmaps = googlemaps.Client(key='AIzaSyAwGu0E8STeETxFXmrL0UjyeF7mFRAn_5k')
    # Look up an address with reverse geocoding
    for row in empty_idx:
        address = gmaps.reverse_geocode(df.loc[row, 'coordinates'])[0]['formatted_address']
        df.at[row, 'Reverse_Coord'] = address
        # request delay
        #time.sleep(2)
    return df

In [43]:
GNR_suburb = fill_with_city_district(GNR_suburb)
GNR_suburb = fill_with_town(GNR_suburb)
GNR_suburb = reverse_by_google(GNR_suburb)

In [45]:
# save GNR Data as csv
GNR_suburb.to_csv('../data/curated/GNR_suburb.csv',index=False)
GNR_suburb

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry,coordinates,Reverse_Coord,Suburb,postcode,City,Road,city_district,municipality,Town
0,MOUNT CLEAR SECONDARY COLLEGE,SECONDARY SCHOOL,143.876600,-37.607000,POINT (2400824.055420277 2431949.3066944666),"-37.607, 143.8766","{'amenity': 'Mount Clear College', 'house_numb...",Mount Clear,3357.0,Ballarat,Olympic Avenue,Mount Clear,City of Ballarat,NaN
1,MOUNT CLEAR TECHNICAL ANNEXE,SECONDARY SCHOOL,143.876600,-37.607000,POINT (2400824.055420277 2431949.3066944666),"-37.607, 143.8766","{'amenity': 'Mount Clear College', 'house_numb...",Mount Clear,3357.0,Ballarat,Olympic Avenue,Mount Clear,City of Ballarat,NaN
2,MOUNT CLEAR COLLEGE,SECONDARY SCHOOL,143.876600,-37.607000,POINT (2400824.055420277 2431949.3066944666),"-37.607, 143.8766","{'amenity': 'Mount Clear College', 'house_numb...",Mount Clear,3357.0,Ballarat,Olympic Avenue,Mount Clear,City of Ballarat,NaN
3,VIEWBANK COLLEGE,SECONDARY SCHOOL,145.086500,-37.741000,POINT (2507631.5373240355 2417744.9461323526),"-37.741, 145.0865","{'amenity': 'Viewbank College', 'house_number'...",Viewbank,3084.0,Melbourne,Warren Road,NaN,City of Banyule,NaN
4,Yarram Secondary College - Devon North Campus,SECONDARY SCHOOL,146.647800,-38.519000,POINT (2643730.207553347 2330161.818601803),"-38.519, 146.6478","{'road': 'Devon North Connection Road', 'city_...",Devon North,NaN,NaN,Devon North Connection Road,Devon North,Shire of Wellington,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33457,Bambara Ct/Wright St (Sunshine West),BUS,144.820117,-37.794654,POINT (2484157.9069770477 2411802.3111409936),"-37.794654, 144.820117","{'road': 'Wright Street', 'suburb': 'Sunshine ...",Sunshine West,3020.0,Melbourne,Wright Street,NaN,City of Brimbank,NaN
33458,Booral Dr/Wright St (Sunshine West),BUS,144.817452,-37.794911,POINT (2483923.243524911 2411773.3364986014),"-37.794911, 144.817452","{'road': 'Wright Street', 'suburb': 'Sunshine ...",Sunshine West,3020.0,Melbourne,Wright Street,NaN,City of Brimbank,NaN
33459,Fairbairn Rd/Wright St (Sunshine West),BUS,144.817129,-37.794707,POINT (2483894.7600113824 2411795.926428672),"-37.794707, 144.817129","{'road': 'Wright Street', 'suburb': 'Sunshine ...",Sunshine West,3020.0,Melbourne,Wright Street,NaN,City of Brimbank,NaN
33460,Dalpura Dr/Wright St (Sunshine West),BUS,144.811894,-37.794700,POINT (2483433.6928691547 2411795.8072749656),"-37.7947, 144.811894","{'road': 'Wright Street', 'suburb': 'Sunshine ...",Sunshine West,3020.0,Melbourne,Wright Street,NaN,City of Brimbank,NaN
33461,Moonee Ponds PS/Wilson St (Moonee Ponds),BUS,144.933267,-37.763414,POINT (2494120.7824581033 2415282.4073143965),"-37.763414, 144.933267",{'highway': 'Moonee Ponds Primary School/Wilso...,Moonee Ponds,3039.0,Melbourne,Wilson Street,NaN,City of Moonee Valley,NaN

In [52]:
# read the updated data
GNR_suburb = pd.read_csv('../data/curated/GNR_suburb.csv', low_memory = False)

In [53]:
def get_suburb_long(address):
    '''Funciton used to find suburb from long address
    Args:
        address: from GNR_suburb
    Return:
        suburb after change
    '''
    suburb = address[-2].split(' ')
    return suburb[:(len(suburb)-2)]

def get_suburb_short(address):
    '''Funciton used to find suburb from short address
    Args:
        address: from GNR_suburb
    Return:
        suburb after change
    '''
    suburb = address[-2].split(' ')
    return suburb[1:(len(suburb)-1)]

def extract_suburb(df):
    '''Function to extract suburb
    Args:
        df: GNR_suburb
    Return:
        dataframe after change
    '''    
    empty_idx = df.loc[(df['Suburb'].isnull())].index.to_list()
    for row in empty_idx:
        address = df.loc[row, 'Reverse_Coord'].split(',')
        # if address is long address
        if len(address) > 2:
            lis = get_suburb_long(address)
            suburb = ' '.join(lis)
            df.at[row, 'Suburb'] = suburb.replace('  ','')
        # if address is short address
        elif len(address) == 2:
            lis = get_suburb_short(address)
            suburb = ' '.join(lis)
            df.at[row, 'Suburb'] = suburb.replace('  ','')
        else:
            df.at[row, 'Suburb'] = np.nan
    return df

In [54]:
# extract the suburb 
GNR_suburb = extract_suburb(GNR_suburb)

# remove the duplicate according to coordinates
GNR_suburb = GNR_suburb.drop_duplicates(subset='coordinates', keep='first')

GNR_suburb = GNR_suburb[['PLACE_NAME', 'FEATURE', 'LONGITUDE', 'LATITUDE', 'geometry', 'Suburb', 'postcode']]
GNR_suburb = GNR_suburb[GNR_suburb['Suburb'].notna()]

# make all suburb in upper case
GNR_suburb['Suburb'] = GNR_suburb['Suburb'].str.upper()
GNR_suburb['Suburb'] = GNR_suburb['Suburb'].str.replace(' ','')

# rename the columns
GNR_suburb.columns = ['PLACE_NAME', 'FEATURE', 'LONGITUDE', 'LATITUDE', 'geometry', 'suburb','postcode']
GNR_suburb = GNR_suburb.reset_index(drop=True)

In [56]:
GNR_suburb.head(10)

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry,suburb,postcode
0,MOUNT CLEAR SECONDARY COLLEGE,SECONDARY SCHOOL,143.8766,-37.607,POINT (2400824.055420277 2431949.3066944666),MOUNTCLEAR,3357.0
1,VIEWBANK COLLEGE,SECONDARY SCHOOL,145.0865,-37.741,POINT (2507631.5373240355 2417744.9461323526),VIEWBANK,3084.0
2,Yarram Secondary College - Devon North Campus,SECONDARY SCHOOL,146.6478,-38.519,POINT (2643730.207553347 2330161.818601803),DEVONNORTH,NaN
3,Bass Coast College - San Remo Campus,SECONDARY SCHOOL,145.3905,-38.532,POINT (2534061.1052171467 2329809.2720654747),SANREMO,3925.0
4,SANDRINGHAM SECONDARY COLLEGE BEAUMARIS CAMPUS,SECONDARY SCHOOL,145.0312,-37.978,POINT (2502746.435917485 2391445.676364539),BEAUMARIS,3193.0
5,SANDRINGHAM SECONDARY COLLEGE HIGHETT CAMPUS,SECONDARY SCHOOL,145.0212,-37.955,POINT (2501868.406406302 2393912.2221767586),SANDRINGHAM,3188.0
6,SANDRINGHAM SECONDARY COLLEGE SANDRINGHAM CAMPUS,SECONDARY SCHOOL,145.0254,-37.956,POINT (2502233.993617093 2393881.0541395023),SANDRINGHAM,3191.0
7,BEAUMARIS SECONDARY COLLEGE,SECONDARY SCHOOL,145.0340,-37.978,POINT (2502994.186749523 2391421.1723456345),BEAUMARIS,3193.0
8,PENOLA CATHOLIC COLLEGE,SECONDARY SCHOOL,144.9079,-37.709,POINT (2491880.327970704 2421254.8904169593),GLENROY,3041.0
9,SUNSHINE NORTH SECONDARY COLLEGE,SECONDARY SCHOOL,144.8434,-37.774,POINT (2486211.2802575794 2414064.5974380244),SUNSHINENORTH,3020.0

In [57]:
# read postcode match suburb
with open('../data/raw/postcode_match_suburb.json') as json_data:
    data = json.load(json_data)
postcode_match = pd.DataFrame.from_dict({'postcode':data.keys(), 'suburb':data.values()})
postcode_match['postcode'] = pd.to_numeric(postcode_match['postcode'])

In [58]:
def similar(a, b):
    '''Calculate the similarity percentage 
    Args:
        a: standard suburb name
        b: suburb name from address
    Return:
        match ratio of a and b string
    '''
    return SequenceMatcher(None, a, b).ratio()

def most_similar(df,suburb):
    '''Find the most similar suburb
    Args:
        df: property dataframe
        suburb: standard suburb name
    Return:
        most matchable suburb name
    '''
    if df['suburb'].shape[0] == 1:
        current_match = [100,df['suburb'].iloc[0][0]]
    else:
        # initialize the most similar suburb
        current_match = [0,'None']
        # check similarity for each suburb
        for sub in df['suburb']:
            # get the similarity percentage
            simi_percent = similar(suburb, sub)
            # update most similar suburb
            if simi_percent > current_match[0]:
                current_match = [simi_percent, sub]
    # return the most similar suburb
    return current_match[1]

def correct_suburb(suburb_df, df):
    '''Find the most similar suburb names for rental data
    Args:
        suburb_df: standard postcode suburb match dataframe
        property_df: property dataframe
    Return:
        property dataframe with correct suburb name
    '''
    # check property_df each row's suburb
    for row in range(df.shape[0]):
        # all the suburb names
        sub_lis = list(set(suburb_df.suburb.sum()))
        # if the suburb matched, don't change it
        if df.loc[row, 'suburb'] in sub_lis:
            pass
        # if the suburb don't matched, replace by the most similar suburb by postcode
        else:
            most_match = most_similar(pd.DataFrame.from_dict({'suburb':sub_lis}), df.loc[row, 'suburb'])
            df.at[row, 'suburb'] = most_match
    return df

In [59]:
GNR_suburb = correct_suburb(postcode_match,GNR_suburb)

In [60]:
GNR_suburb

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry,suburb,postcode
0,MOUNT CLEAR SECONDARY COLLEGE,SECONDARY SCHOOL,143.876600,-37.607000,POINT (2400824.055420277 2431949.3066944666),MOUNT CLEAR,3357.0
1,VIEWBANK COLLEGE,SECONDARY SCHOOL,145.086500,-37.741000,POINT (2507631.5373240355 2417744.9461323526),VIEWBANK,3084.0
2,Yarram Secondary College - Devon North Campus,SECONDARY SCHOOL,146.647800,-38.519000,POINT (2643730.207553347 2330161.818601803),DEVON NORTH,NaN
3,Bass Coast College - San Remo Campus,SECONDARY SCHOOL,145.390500,-38.532000,POINT (2534061.1052171467 2329809.2720654747),SAN REMO,3925.0
4,SANDRINGHAM SECONDARY COLLEGE BEAUMARIS CAMPUS,SECONDARY SCHOOL,145.031200,-37.978000,POINT (2502746.435917485 2391445.676364539),BEAUMARIS,3193.0
...,...,...,...,...,...,...,...
32247,Bambara Ct/Wright St (Sunshine West),BUS,144.820117,-37.794654,POINT (2484157.9069770477 2411802.3111409936),SUNSHINE WEST,3020.0
32248,Booral Dr/Wright St (Sunshine West),BUS,144.817452,-37.794911,POINT (2483923.243524911 2411773.3364986014),SUNSHINE WEST,3020.0
32249,Fairbairn Rd/Wright St (Sunshine West),BUS,144.817129,-37.794707,POINT (2483894.7600113824 2411795.926428672),SUNSHINE WEST,3020.0
32250,Dalpura Dr/Wright St (Sunshine West),BUS,144.811894,-37.794700,POINT (2483433.6928691547 2411795.8072749656),SUNSHINE WEST,3020.0
32251,Moonee Ponds PS/Wilson St (Moonee Ponds),BUS,144.933267,-37.763414,POINT (2494120.7824581033 2415282.4073143965),MOONEE PONDS,3039.0

In [61]:
# save GNR Data as csv
GNR_suburb.to_csv('../data/curated/GNR_cleaned.csv',index=False)

In [62]:
# read the updated data
GNR = pd.read_csv('../data/curated/GNR_cleaned.csv', low_memory = False)

In [63]:
GNR

,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry,suburb,postcode
0,MOUNT CLEAR SECONDARY COLLEGE,SECONDARY SCHOOL,143.876600,-37.607000,POINT (2400824.055420277 2431949.3066944666),MOUNT CLEAR,3357.0
1,VIEWBANK COLLEGE,SECONDARY SCHOOL,145.086500,-37.741000,POINT (2507631.5373240355 2417744.9461323526),VIEWBANK,3084.0
2,Yarram Secondary College - Devon North Campus,SECONDARY SCHOOL,146.647800,-38.519000,POINT (2643730.207553347 2330161.818601803),DEVON NORTH,NaN
3,Bass Coast College - San Remo Campus,SECONDARY SCHOOL,145.390500,-38.532000,POINT (2534061.1052171467 2329809.2720654747),SAN REMO,3925.0
4,SANDRINGHAM SECONDARY COLLEGE BEAUMARIS CAMPUS,SECONDARY SCHOOL,145.031200,-37.978000,POINT (2502746.435917485 2391445.676364539),BEAUMARIS,3193.0
...,...,...,...,...,...,...,...
32247,Bambara Ct/Wright St (Sunshine West),BUS,144.820117,-37.794654,POINT (2484157.9069770477 2411802.3111409936),SUNSHINE WEST,3020.0
32248,Booral Dr/Wright St (Sunshine West),BUS,144.817452,-37.794911,POINT (2483923.243524911 2411773.3364986014),SUNSHINE WEST,3020.0
32249,Fairbairn Rd/Wright St (Sunshine West),BUS,144.817129,-37.794707,POINT (2483894.7600113824 2411795.926428672),SUNSHINE WEST,3020.0
32250,Dalpura Dr/Wright St (Sunshine West),BUS,144.811894,-37.794700,POINT (2483433.6928691547 2411795.8072749656),SUNSHINE WEST,3020.0
32251,Moonee Ponds PS/Wilson St (Moonee Ponds),BUS,144.933267,-37.763414,POINT (2494120.7824581033 2415282.4073143965),MOONEE PONDS,3039.0

In [64]:
GNR = GNR[['PLACE_NAME','suburb', 'FEATURE', 'LONGITUDE', 'LATITUDE', 'geometry']]
GNR

,PLACE_NAME,suburb,FEATURE,LONGITUDE,LATITUDE,geometry
0,MOUNT CLEAR SECONDARY COLLEGE,MOUNT CLEAR,SECONDARY SCHOOL,143.876600,-37.607000,POINT (2400824.055420277 2431949.3066944666)
1,VIEWBANK COLLEGE,VIEWBANK,SECONDARY SCHOOL,145.086500,-37.741000,POINT (2507631.5373240355 2417744.9461323526)
2,Yarram Secondary College - Devon North Campus,DEVON NORTH,SECONDARY SCHOOL,146.647800,-38.519000,POINT (2643730.207553347 2330161.818601803)
3,Bass Coast College - San Remo Campus,SAN REMO,SECONDARY SCHOOL,145.390500,-38.532000,POINT (2534061.1052171467 2329809.2720654747)
4,SANDRINGHAM SECONDARY COLLEGE BEAUMARIS CAMPUS,BEAUMARIS,SECONDARY SCHOOL,145.031200,-37.978000,POINT (2502746.435917485 2391445.676364539)
...,...,...,...,...,...,...
32247,Bambara Ct/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.820117,-37.794654,POINT (2484157.9069770477 2411802.3111409936)
32248,Booral Dr/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.817452,-37.794911,POINT (2483923.243524911 2411773.3364986014)
32249,Fairbairn Rd/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.817129,-37.794707,POINT (2483894.7600113824 2411795.926428672)
32250,Dalpura Dr/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.811894,-37.794700,POINT (2483433.6928691547 2411795.8072749656)
32251,Moonee Ponds PS/Wilson St (Moonee Ponds),MOONEE PONDS,BUS,144.933267,-37.763414,POINT (2494120.7824581033 2415282.4073143965)

In [65]:
# count the number of different feature in different suburb
freq = GNR[['FEATURE','suburb']].copy()
freq['count'] = 0
count = freq.groupby(['FEATURE','suburb']).agg('count')
count

                           count
FEATURE   suburb
AGED CARE BAYSWATER NORTH      1
AIRPORT   AVALON               1
          BAIRNSDALE           1
          BENALLA              1
          CASHMORE             1
...                          ...
WINERY    SMYTHESDALE          1
          STAUGHTON VALE       1
          TAMINICK             1
          WAHGUNYAH            2
          WONGA PARK           1

[6230 rows x 1 columns]

In [66]:
# creating the full count table as dataframe
feature_lis = list(GNR['FEATURE'].unique())
suburb_lis = list(GNR['suburb'].unique())
count_table = pd.DataFrame(columns=feature_lis, index=suburb_lis)

In [67]:
count_table

,SECONDARY SCHOOL,PRIMARY AND SECONDARY SCHOOL,PRIMARY SCHOOL,SHOPPING CENTRE,PARK,KINDERGARTEN,POST OFFICE,SPECIAL SCHOOL,CHILD CARE,BAR,...,COAST,GOLF COURSE,HELIPORT,AIRPORT,IRON ORE PROCESSOR,MILL/TIMBER OPERATIONS,BEACH,TRAIN STATION,TRAM STATION,BUS
MOUNT CLEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VIEWBANK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEVON NORTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAN REMO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEAUMARIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TARRAWARRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLIND BIGHT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JUNCTION VILLAGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GOWANBRAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WARRANDYTE SOUTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
def get_names(df):
    '''Function used to collect the feature names and suburb names
    Args:
        df: dataframe from count
    Return:
        feature list and suburb list together
    '''    
    multi_index = df.index.to_list()
    feature_lis =[]
    suburb_lis = []
    for idx in multi_index:
        feature_lis.append(idx[0])
        suburb_lis.append(idx[1])
        print(idx)
    list(set(feature_lis))
    list(set(suburb_lis))
    return feature_lis, suburb_lis

def fill_count(init_df,count_df):
    '''Function used to fill in the count_table
    Args:
        init_df: datafram from count
        count_df: datafram from count table
    Return:
        count_df after change
    '''       
    multi_index = init_df.index.to_list()
    for idx in multi_index:
        val = init_df.loc[idx[0],idx[1]]['count']
        count_df.at[idx[1],idx[0]] = val
    return count_df

In [69]:
# fill in the number of count into the table
count_table = fill_count(count, count_table)
count_table = count_table.fillna(0)
count_table

,SECONDARY SCHOOL,PRIMARY AND SECONDARY SCHOOL,PRIMARY SCHOOL,SHOPPING CENTRE,PARK,KINDERGARTEN,POST OFFICE,SPECIAL SCHOOL,CHILD CARE,BAR,...,COAST,GOLF COURSE,HELIPORT,AIRPORT,IRON ORE PROCESSOR,MILL/TIMBER OPERATIONS,BEACH,TRAIN STATION,TRAM STATION,BUS
MOUNT CLEAR,1,0,2,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
VIEWBANK,2,0,1,0,6,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,26
DEVON NORTH,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAN REMO,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
BEAUMARIS,3,0,3,1,2,6,0,0,1,0,...,0,0,0,0,0,0,0,0,0,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TARRAWARRA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
BLIND BIGHT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
JUNCTION VILLAGE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
GOWANBRAE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
WARRANDYTE SOUTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [70]:
# create new colunm name, 'suburb'
count_table = count_table.reset_index()

In [71]:

count_table

,index,SECONDARY SCHOOL,PRIMARY AND SECONDARY SCHOOL,PRIMARY SCHOOL,SHOPPING CENTRE,PARK,KINDERGARTEN,POST OFFICE,SPECIAL SCHOOL,CHILD CARE,...,COAST,GOLF COURSE,HELIPORT,AIRPORT,IRON ORE PROCESSOR,MILL/TIMBER OPERATIONS,BEACH,TRAIN STATION,TRAM STATION,BUS
0,MOUNT CLEAR,1,0,2,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,VIEWBANK,2,0,1,0,6,2,0,0,1,...,0,0,0,0,0,0,0,0,0,26
2,DEVON NORTH,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SAN REMO,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,5,0,0,0
4,BEAUMARIS,3,0,3,1,2,6,0,0,1,...,0,0,0,0,0,0,0,0,0,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,TARRAWARRA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1832,BLIND BIGHT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
1833,JUNCTION VILLAGE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1834,GOWANBRAE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
1835,WARRANDYTE SOUTH,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [72]:
# Rename the column names
count_table.columns = ['suburb', 'SECONDARY SCHOOL', 'PRIMARY AND SECONDARY SCHOOL',
       'PRIMARY SCHOOL', 'SHOPPING CENTRE', 'PARK', 'KINDERGARTEN',
       'POST OFFICE', 'SPECIAL SCHOOL', 'CHILD CARE', 'BAR', 'SPORTS COMPLEX',
       'EDUCATION COMPLEX', 'CEMETERY', 'LIBRARY', 'UNIVERSITY',
       'GENERAL HOSPITAL', 'POLICE STATION', 'FURTHER EDUCATION', 'PLAYGROUND',
       'PLANTATION', 'WINERY', 'FARM', 'VINEYARD', 'TENNIS COURT', 'BAY',
       'PIER', 'SWIMMING POOL', 'ART GALLERY', 'HARBOUR',
       'COMMUNITY HEALTH CENTRE', 'MARKET', 'PRISON', 'BOTANIC GARDENS',
       'SPECIALISED HOSPITAL', 'BANK', 'AGED CARE', 'SURFING SPOT', 'COAST',
       'GOLF COURSE', 'HELIPORT', 'AIRPORT', 'IRON ORE PROCESSOR',
       'MILL/TIMBER OPERATIONS', 'BEACH', 'TRAIN STATION', 'TRAM STATION',
       'BUS']
count_table

,suburb,SECONDARY SCHOOL,PRIMARY AND SECONDARY SCHOOL,PRIMARY SCHOOL,SHOPPING CENTRE,PARK,KINDERGARTEN,POST OFFICE,SPECIAL SCHOOL,CHILD CARE,...,COAST,GOLF COURSE,HELIPORT,AIRPORT,IRON ORE PROCESSOR,MILL/TIMBER OPERATIONS,BEACH,TRAIN STATION,TRAM STATION,BUS
0,MOUNT CLEAR,1,0,2,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,VIEWBANK,2,0,1,0,6,2,0,0,1,...,0,0,0,0,0,0,0,0,0,26
2,DEVON NORTH,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SAN REMO,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,5,0,0,0
4,BEAUMARIS,3,0,3,1,2,6,0,0,1,...,0,0,0,0,0,0,0,0,0,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,TARRAWARRA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1832,BLIND BIGHT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
1833,JUNCTION VILLAGE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1834,GOWANBRAE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
1835,WARRANDYTE SOUTH,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [73]:
# save the count table as csv
count_table.to_csv('../data/curated/count_table.csv',index=False)

In [74]:
feature_lis, suburb_lis = get_names(count)

('AGED CARE', 'BAYSWATER NORTH')
('AIRPORT', 'AVALON')
('AIRPORT', 'BAIRNSDALE')
('AIRPORT', 'BENALLA')
('AIRPORT', 'CASHMORE')
('AIRPORT', 'EAST BENDIGO')
('AIRPORT', 'ECHUCA')
('AIRPORT', 'ESSENDON FIELDS')
('AIRPORT', 'FULHAM')
('AIRPORT', 'HENSLEY PARK')
('AIRPORT', 'HOPETOUN')
('AIRPORT', 'KELLALAC')
('AIRPORT', 'KIALLA')
('AIRPORT', 'LEONGATHA SOUTH')
('AIRPORT', 'LOVELY BANKS')
('AIRPORT', 'MANGALORE')
('AIRPORT', 'MARYBOROUGH')
('AIRPORT', 'MARYVALE')
('AIRPORT', 'MELBOURNE AIRPORT')
('AIRPORT', 'MILDURA')
('AIRPORT', 'MOORABBIN AIRPORT')
('AIRPORT', 'MOUNT DUNEED')
('AIRPORT', 'NHILL')
('AIRPORT', 'PARWAN')
('AIRPORT', 'SUNBURY')
('AIRPORT', 'TYABB')
('AIRPORT', 'WELSHPOOL')
('AIRPORT', 'YARPTURK')
('AIRPORT', 'YARRAM')
('ART GALLERY', 'BALLARAT CENTRAL')
('ART GALLERY', 'COTTLES BRIDGE')
('ART GALLERY', 'MILDURA')
('ART GALLERY', 'RINGWOOD')
('ART GALLERY', 'SALE')
('ART GALLERY', 'WARRNAMBOOL')
('BANK', 'GIPSY POINT')
('BANK', 'MALLACOOTA')
('BANK', 'POOWONG')
('BAR', 'BOOLE POOLE')
('BAR', 'CAPE WOOLAMAI')
('BAR', 'HEDLEY')
('BAR', 'LORNE')
('BAR', 'MALLACOOTA')
('BAR', 'OCEAN GRANGE')
('BAR', 'POINT LONSDALE')
('BAR', 'PORT ALBERT')
('BAR', 'PORT WELSHPOOL')
('BAR', 'PORTSEA')
('BAR', 'QUEENSCLIFF')
('BAR', 'SNAKE ISLAND')
('BAR', 'SUMMERLANDS')
('BAR', 'SWAN BAY')
('BAR', 'VENTNOR')
('BAR', 'WINGAN RIVER')
('BAR', 'WOOD WOOD')
('BAR', 'YARRAWONGA')
('BAY', 'ALTONA')
('BAY', 'APOLLO BAY')
('BAY', 'BANKSIA PENINSULA')
('BAY', 'BARINGHUP')
('BAY', 'BEARII')
('BAY', 'BEAUMARIS')
('BAY', 'BEMM RIVER')
('BAY', 'BITTERN')
('BAY', 'BLACK ROCK')
('BAY', 'BLAIRGOWRIE')
('BAY', 'BONNIE DOON')
('BAY', 'BOOLE POOLE')
('BAY', 'BREAMLEA')
('BAY', 'BROADLANDS')
('BAY', 'CAPE BRIDGEWATER')
('BAY', 'CAPE CONRAN')
('BAY', 'CAPE OTWAY')
('BAY', 'CAPE PATERSON')
('BAY', 'CAPE SCHANCK')
('BAY', 'CAPE WOOLAMAI')
('BAY', 'CHESHUNT SOUTH')
('BAY', 'CHURCHILL ISLAND')
('BAY', 'COONGULLA')
('BAY', 'CORINELLA')
('BAY', 'CORIO')
('BAY', 'COWES')
('BAY', 'DERRINAL')
('BAY', 'DEVILS RIVER')
('BAY', 'DUTSON')
('BAY', 'EILDON')
('BAY', 'EPPALOCK')
('BAY', 'FLINDERS')
('BAY', 'FORGE CREEK')
('BAY', 'GELLIBRAND LOWER')
('BAY', 'GENOA')
('BAY', 'GLENAIRE')
('BAY', 'GLENMAGGIE')
('BAY', 'GOON NURE')
('BAY', 'GOUGHS BAY')
('BAY', 'HOLLANDS LANDING')
('BAY', 'HOWES CREEK')
('BAY', 'INDENTED HEAD')
('BAY', 'INVERLOCH')
('BAY', 'JAN JUC')
('BAY', 'KIMBOLTON')
('BAY', 'KNOWSLEY')
('BAY', 'LAKE EILDON')
('BAY', 'LAKE EPPALOCK')
('BAY', 'LAKE WELLINGTON')
('BAY', 'LOCH SPORT')
('BAY', 'LORNE')
('BAY', 'MALLACOOTA')
('BAY', 'MANSFIELD')
('BAY', 'MEERLIEU')
('BAY', 'METUNG')
('BAY', 'MOOLAP')
('BAY', 'MORNINGTON')
('BAY', 'MOUNT ELIZA')
('BAY', 'MOUNT MARTHA')
('BAY', 'MOUNTAIN BAY')
('BAY', 'NELSON')
('BAY', 'NEWLANDS ARM')
('BAY', 'NICHOLSON')
('BAY', 'NORTH SHORE')
('BAY', 'NYERIMILANG')
('BAY', 'PERRY BRIDGE')
('BAY', 'PETERBOROUGH')
('BAY', 'POINT LONSDALE')
('BAY', 'PORT ALBERT')
('BAY', 'PORT CAMPBELL')
('BAY', 'PORT FAIRY')
('BAY', 'PORT MELBOURNE')
('BAY', 'PORTLAND')
('BAY', 'PORTLAND WEST')
('BAY', 'PORTSEA')
('BAY', 'QUEENSCLIFF')
('BAY', 'RHYLL')
('BAY', 'SAFETY BEACH')
('BAY', 'SAN REMO')
('BAY', 'SANDY POINT')
('BAY', 'SHOREHAM')
('BAY', 'SILVERLEAVES')
('BAY', 'SNAKE ISLAND')
('BAY', 'SORRENTO')
('BAY', 'SUMMERLANDS')
('BAY', 'SUNDERLAND BAY')
('BAY', 'SWAN BAY')
('BAY', 'SWAN ISLAND')
('BAY', 'TALGARNO')
('BAY', 'TAYLOR BAY')
('BAY', 'THE COVE')
('BAY', 'TIDAL RIVER')
('BAY', 'TOORA')
('BAY', 'TOORADIN')
('BAY', 'TOORLOO ARM')
('BAY', 'TORQUAY')
('BAY', 'TOWER HILL')
('BAY', 'VENTNOR')
('BAY', 'WARNEET')
('BAY', 'WARRNAMBOOL')
('BAY', 'WATTLE HILL')
('BAY', 'WELSHMANS REEF')
('BAY', 'WERRIBEE SOUTH')
('BAY', 'WILLOW GROVE')
('BAY', 'WILSONS PROMONTORY')
('BAY', 'WINGAN RIVER')
('BAY', 'WONGARRA')
('BAY', 'YALLOURN')
('BAY', 'YALLOURN NORTH')
('BAY', 'YAMBUK')
('BAY', 'YUULONG')
('BEACH', 'APOLLO BAY')
('BEACH', 'BAROOGA')
('BEACH', 'BELLS BEACH')
('BEACH', 'BEMM RIVER')
('BEACH', 'BLAIRGOWRIE')
('BEACH', 'BOOMAHNOOMOONAH')
('BEACH', 'BOORT')
('BEACH', 'BOOSEY')
('BEACH', 'BURRAMINE')
('BEACH', 'CAMPERDOWN')
('BEACH', 'CAPE BRIDGEWATER')
('BEACH', 'CAPE CONRAN')
('BEACH', 'CAPE PATERSON')
('BEACH', 'CAPE SCHANCK')
('BEACH', 'CAPE WOOLAMAI')
('BEACH', 'CATUMNAL')
('BEACH', 'COBRAM')
('BEACH', 'COBRAM EAST')
('BEACH', 'CONNEWARRE')
('BEACH', 'CRIB POINT')
('BEACH', 'DALYSTON')
('BEACH', 'DARRIMAN')
('BEACH', 'DRUMCONDRA')
('BEACH', 'EAST GEELONG')
('BEACH', 'ELWOOD')
('BEACH', 'FLINDERS')
('BEACH', 'FOSTER')
('BEACH', 'FRENCH ISLAND')
('BEACH', 'GEELONG')
('BEACH', 'GELLIBRAND LOWER')
('BEACH', 'GENOA')
('BEACH', 'GLENAIRE')
('BEACH', 'GLOMAR BEACH')
('BEACH', 'GOLDEN BEACH')
('BEACH', 'HARMERS HAVEN')
('BEACH', 'HMAS CERBERUS')
('BEACH', 'HORDERN VALE')
('BEACH', 'INVERLOCH')
('BEACH', 'JAM JERRUP')
('BEACH', 'JEPARIT')
('BEACH', 'KILCUNDA')
('BEACH', 'KILLARNEY')
('BEACH', 'KOONOOMOO')
('BEACH', 'LAKE BOLAC')
('BEACH', 'LAKE TYERS BEACH')
('BEACH', 'LAKE WELLINGTON')
('BEACH', 'LAKES ENTRANCE')
('BEACH', 'LANGSBOROUGH')
('BEACH', 'LOCH SPORT')
('BEACH', 'LORNE')
('BEACH', 'MALLACOOTA')
('BEACH', 'MARLO')
('BEACH', 'MORNINGTON')
('BEACH', 'MOUNT ELIZA')
('BEACH', 'MOUNT MARTHA')
('BEACH', 'MUMBANNAR')
('BEACH', 'MYWEE')
('BEACH', 'OCEAN GRANGE')
('BEACH', 'PAYNESVILLE')
('BEACH', 'PETTICOAT CREEK')
('BEACH', 'POINT LEO')
('BEACH', 'PORT ALBERT')
('BEACH', 'PORT CAMPBELL')
('BEACH', 'PORT FAIRY')
('BEACH', 'PORT MELBOURNE')
('BEACH', 'PORTLAND')
('BEACH', 'PORTSEA')
('BEACH', 'PRINCETOWN')
('BEACH', 'RIPPLESIDE')
('BEACH', 'ROBERTSONS BEACH')
('BEACH', 'RYE')
('BEACH', 'SAFETY BEACH')
('BEACH', 'SAN REMO')
('BEACH', 'SHOREHAM')
('BEACH', 'SMITHS BEACH')
('BEACH', 'SOMERS')
('BEACH', 'SORRENTO')
('BEACH', 'ST ANDREWS BEACH')
('BEACH', 'SUMMERLANDS')
('BEACH', 'TARWIN LOWER')
('BEACH', 'TIDAL RIVER')
('BEACH', 'TOORA')
('BEACH', 'TOORLOO ARM')
('BEACH', 'TORQUAY')
('BEACH', 'ULUPNA')
('BEACH', 'VENTNOR')
('BEACH', 'WALLAGARAUGH')
('BEACH', 'WARRNAMBOOL')
('BEACH', 'WILSONS PROMONTORY')
('BEACH', 'WONTHAGGI')
('BEACH', 'WOODSIDE')
('BEACH', 'WOODSIDE BEACH')
('BEACH', 'YALLOURN')
('BEACH', 'YANAKIE')
('BEACH', 'YARRAWONGA')
('BEACH', 'YUULONG')
('BOTANIC GARDENS', 'BERWICK')
('BOTANIC GARDENS', 'CRANBOURNE')
('BOTANIC GARDENS', 'KIALLA')
('BOTANIC GARDENS', 'MELBOURNE')
('BOTANIC GARDENS', 'MELTON')
('BOTANIC GARDENS', 'ST KILDA')
('BOTANIC GARDENS', 'WHITE HILLS')
('BUS', 'ABBOTSFORD')
('BUS', 'ABERFELDIE')
('BUS', 'ACHERON')
('BUS', 'AINTREE')
('BUS', 'AIRPORT WEST')
('BUS', 'ALBANVALE')
('BUS', 'ALBERT PARK')
('BUS', 'ALBION')
('BUS', 'ALEXANDRA')
('BUS', 'ALPHINGTON')
('BUS', 'ALTONA')
('BUS', 'ALTONA MEADOWS')
('BUS', 'ALTONA NORTH')
('BUS', 'ARDEER')
('BUS', 'ARMADALE')
('BUS', 'ASCOT VALE')
('BUS', 'ASHBURTON')
('BUS', 'ASHWOOD')
('BUS', 'ASPENDALE')
('BUS', 'ASPENDALE GARDENS')
('BUS', 'ATTWOOD')
('BUS', 'AVONDALE HEIGHTS')
('BUS', 'BADGER CREEK')
('BUS', 'BALACLAVA')
('BUS', 'BALNARRING')
('BUS', 'BALWYN')
('BUS', 'BALWYN NORTH')
('BUS', 'BANGHOLME')
('BUS', 'BAXTER')
('BUS', 'BAYSWATER')
('BUS', 'BAYSWATER NORTH')
('BUS', 'BEACONSFIELD')
('BUS', 'BEAUMARIS')
('BUS', 'BELGRAVE')
('BUS', 'BELGRAVE HEIGHTS')
('BUS', 'BELGRAVE SOUTH')
('BUS', 'BELLFIELD')
('BUS', 'BENTLEIGH')
('BUS', 'BENTLEIGH EAST')
('BUS', 'BERWICK')
('BUS', 'BEVERIDGE')
('BUS', 'BITTERN')
('BUS', 'BLACK ROCK')
('BUS', 'BLACKBURN')
('BUS', 'BLACKBURN NORTH')
('BUS', 'BLACKBURN SOUTH')
('BUS', 'BLAIRGOWRIE')
('BUS', 'BLIND BIGHT')
('BUS', 'BONBEACH')
('BUS', 'BORONIA')
('BUS', 'BOTANIC RIDGE')
('BUS', 'BOX HILL')
('BUS', 'BOX HILL NORTH')
('BUS', 'BOX HILL SOUTH')
('BUS', 'BRAESIDE')
('BUS', 'BRAYBROOK')
('BUS', 'BRIAR HILL')
('BUS', 'BRIGHTON')
('BUS', 'BRIGHTON EAST')
('BUS', 'BROADMEADOWS')
('BUS', 'BROOKFIELD')
('BUS', 'BROOKLYN')
('BUS', 'BRUNSWICK')
('BUS', 'BRUNSWICK EAST')
('BUS', 'BRUNSWICK WEST')
('BUS', 'BULLA')
('BUS', 'BULLEEN')
('BUS', 'BUNDOORA')
('BUS', 'BURNSIDE')
('BUS', 'BURNSIDE HEIGHTS')
('BUS', 'BURWOOD')
('BUS', 'BURWOOD EAST')
('BUS', 'BUXTON')
('BUS', 'CAIRNLEA')
('BUS', 'CAMBERWELL')
('BUS', 'CAMPBELLFIELD')
('BUS', 'CANNONS CREEK')
('BUS', 'CANTERBURY')
('BUS', 'CAPEL SOUND')
('BUS', 'CARLTON')
('BUS', 'CARLTON NORTH')
('BUS', 'CARNEGIE')
('BUS', 'CAROLINE SPRINGS')
('BUS', 'CARRUM')
('BUS', 'CARRUM DOWNS')
('BUS', 'CAULFIELD')
('BUS', 'CAULFIELD EAST')
('BUS', 'CAULFIELD NORTH')
('BUS', 'CAULFIELD SOUTH')
('BUS', 'CHADSTONE')
('BUS', 'CHELSEA')
('BUS', 'CHELSEA HEIGHTS')
('BUS', 'CHELTENHAM')
('BUS', 'CHIRNSIDE PARK')
('BUS', 'CHUM CREEK')
('BUS', 'CLARINDA')
('BUS', 'CLAYTON')
('BUS', 'CLAYTON SOUTH')
('BUS', 'CLEMATIS')
('BUS', 'CLIFTON HILL')
('BUS', 'CLYDE')
('BUS', 'CLYDE NORTH')
('BUS', 'COBBLEBANK')
('BUS', 'COBURG')
('BUS', 'COBURG NORTH')
('BUS', 'COCKATOO')
('BUS', 'COLDSTREAM')
('BUS', 'COLLINGWOOD')
('BUS', 'COOLAROO')
('BUS', 'CRAIGIEBURN')
('BUS', 'CRANBOURNE')
('BUS', 'CRANBOURNE EAST')
('BUS', 'CRANBOURNE NORTH')
('BUS', 'CRANBOURNE SOUTH')
('BUS', 'CRANBOURNE WEST')
('BUS', 'CRIB POINT')
('BUS', 'CROYDON')
('BUS', 'CROYDON HILLS')
('BUS', 'CROYDON NORTH')
('BUS', 'CROYDON SOUTH')
('BUS', 'DALLAS')
('BUS', 'DANDENONG')
('BUS', 'DANDENONG NORTH')
('BUS', 'DANDENONG SOUTH')
('BUS', 'DEANSIDE')
('BUS', 'DEER PARK')
('BUS', 'DELAHEY')
('BUS', 'DERRIMUT')
('BUS', 'DEVON MEADOWS')
('BUS', 'DIAMOND CREEK')
('BUS', 'DIGGERS REST')
('BUS', 'DINGLEY VILLAGE')
('BUS', 'DOCKLANDS')
('BUS', 'DONCASTER')
('BUS', 'DONCASTER EAST')
('BUS', 'DONNYBROOK')
('BUS', 'DONVALE')
('BUS', 'DOREEN')
('BUS', 'DOVETON')
('BUS', 'DROMANA')
('BUS', 'EAGLEMONT')
('BUS', 'EAST MELBOURNE')
('BUS', 'EAST WARBURTON')
('BUS', 'EDITHVALE')
('BUS', 'EILDON')
('BUS', 'ELSTERNWICK')
('BUS', 'ELTHAM')
('BUS', 'ELTHAM NORTH')
('BUS', 'ELWOOD')
('BUS', 'EMERALD')
('BUS', 'ENDEAVOUR HILLS')
('BUS', 'EPPING')
('BUS', 'ESSENDON')
('BUS', 'ESSENDON FIELDS')
('BUS', 'ESSENDON NORTH')
('BUS', 'ESSENDON WEST')
('BUS', 'EUMEMMERRING')
('BUS', 'FAIRFIELD')
('BUS', 'FAWKNER')
('BUS', 'FERNSHAW')
('BUS', 'FERNTREE GULLY')
('BUS', 'FERNY CREEK')
('BUS', 'FITZROY')
('BUS', 'FITZROY NORTH')
('BUS', 'FLEMINGTON')
('BUS', 'FLINDERS')
('BUS', 'FOOTSCRAY')
('BUS', 'FOREST HILL')
('BUS', 'FRANKSTON')
('BUS', 'FRANKSTON NORTH')
('BUS', 'FRANKSTON SOUTH')
('BUS', 'FRASER RISE')
('BUS', 'GARDENVALE')
('BUS', 'GEMBROOK')
('BUS', 'GLADSTONE PARK')
('BUS', 'GLEN IRIS')
('BUS', 'GLEN WAVERLEY')
('BUS', 'GLENROY')
('BUS', 'GOWANBRAE')
('BUS', 'GRANGEFIELDS')
('BUS', 'GREENSBOROUGH')
('BUS', 'GREENVALE')
('BUS', 'HADFIELD')
('BUS', 'HALLAM')
('BUS', 'HAMPTON')
('BUS', 'HAMPTON EAST')
('BUS', 'HAMPTON PARK')
('BUS', 'HARKNESS')
('BUS', 'HASTINGS')
('BUS', 'HAWTHORN')
('BUS', 'HAWTHORN EAST')
('BUS', 'HEALESVILLE')
('BUS', 'HEATHERTON')
('BUS', 'HEATHMONT')
('BUS', 'HEIDELBERG')
('BUS', 'HEIDELBERG HEIGHTS')
('BUS', 'HEIDELBERG WEST')
('BUS', 'HIGHETT')
('BUS', 'HILLSIDE')
('BUS', 'HMAS CERBERUS')
('BUS', 'HOPPERS CROSSING')
('BUS', 'HUGHESDALE')
('BUS', 'HUMEVALE')
('BUS', 'HUNTINGDALE')
('BUS', 'HURSTBRIDGE')
('BUS', 'IVANHOE')
('BUS', 'IVANHOE EAST')
('BUS', 'JACANA')
('BUS', 'JUNCTION VILLAGE')
('BUS', 'KALKALLO')
('BUS', 'KALLISTA')
('BUS', 'KALORAMA')
('BUS', 'KANGAROO GROUND')
('BUS', 'KEALBA')
('BUS', 'KEILOR')
('BUS', 'KEILOR DOWNS')
('BUS', 'KEILOR EAST')
('BUS', 'KEILOR LODGE')
('BUS', 'KEILOR NORTH')
('BUS', 'KEILOR PARK')
('BUS', 'KENSINGTON')
('BUS', 'KEW')
('BUS', 'KEW EAST')
('BUS', 'KEYSBOROUGH')
('BUS', 'KILSYTH')
('BUS', 'KILSYTH SOUTH')
('BUS', 'KINGLAKE')
('BUS', 'KINGLAKE CENTRAL')
('BUS', 'KINGLAKE WEST')
('BUS', 'KINGS PARK')
('BUS', 'KINGSBURY')
('BUS', 'KINGSVILLE')
('BUS', 'KNOXFIELD')
('BUS', 'KURUNJANG')
('BUS', 'LALOR')
('BUS', 'LANGWARRIN')
('BUS', 'LANGWARRIN SOUTH')
('BUS', 'LAUNCHING PLACE')
('BUS', 'LAVERTON')
('BUS', 'LAVERTON NORTH')
('BUS', 'LILYDALE')
('BUS', 'LOWER PLENTY')
('BUS', 'LYNBROOK')
('BUS', 'LYNDHURST')
('BUS', 'LYSTERFIELD')
('BUS', 'MACLEOD')
('BUS', 'MAIDSTONE')
('BUS', 'MALVERN')
('BUS', 'MALVERN EAST')
('BUS', 'MANOR LAKES')
('BUS', 'MARIBYRNONG')
('BUS', 'MARYSVILLE')
('BUS', 'MCCRAE')
('BUS', 'MCKINNON')
('BUS', 'MEADOW HEIGHTS')
('BUS', 'MELBOURNE')
('BUS', 'MELBOURNE AIRPORT')
('BUS', 'MELTON')
('BUS', 'MELTON SOUTH')
('BUS', 'MELTON WEST')
('BUS', 'MENTONE')
('BUS', 'MENZIES CREEK')
('BUS', 'MERNDA')
('BUS', 'MICKLEHAM')
('BUS', 'MIDDLE PARK')
('BUS', 'MILL PARK')
('BUS', 'MILLGROVE')
('BUS', 'MITCHAM')
('BUS', 'MONBULK')
('BUS', 'MONT ALBERT')
('BUS', 'MONT ALBERT NORTH')
('BUS', 'MONTMORENCY')
('BUS', 'MONTROSE')
('BUS', 'MOONEE PONDS')
('BUS', 'MOORABBIN')
('BUS', 'MOORABBIN AIRPORT')
('BUS', 'MOOROOLBARK')
('BUS', 'MORDIALLOC')
('BUS', 'MORNINGTON')
('BUS', 'MOUNT DANDENONG')
('BUS', 'MOUNT ELIZA')
('BUS', 'MOUNT EVELYN')
('BUS', 'MOUNT MARTHA')
('BUS', 'MOUNT WAVERLEY')
('BUS', 'MULGRAVE')
('BUS', 'MURRUMBEENA')
('BUS', 'NARBETHONG')
('BUS', 'NARRE WARREN')
('BUS', 'NARRE WARREN EAST')
('BUS', 'NARRE WARREN NORTH')
('BUS', 'NARRE WARREN SOUTH')
('BUS', 'NEWPORT')
('BUS', 'NIDDRIE')
('BUS', 'NOBLE PARK')
('BUS', 'NOBLE PARK NORTH')
('BUS', 'NORTH MELBOURNE')
('BUS', 'NORTH WARRANDYTE')
('BUS', 'NORTHCOTE')
('BUS', 'NOTTING HILL')
('BUS', 'NUNAWADING')
('BUS', 'OAK PARK')
('BUS', 'OAKLEIGH')
('BUS', 'OAKLEIGH EAST')
('BUS', 'OAKLEIGH SOUTH')
('BUS', 'OFFICER')
('BUS', 'OLINDA')
('BUS', 'ORMOND')
('BUS', 'PAKENHAM')
('BUS', 'PAKENHAM UPPER')
('BUS', 'PARK ORCHARDS')
('BUS', 'PARKDALE')
('BUS', 'PARKVILLE')
('BUS', 'PASCOE VALE')
('BUS', 'PASCOE VALE SOUTH')
('BUS', 'PATTERSON LAKES')
('BUS', 'PEARCEDALE')
('BUS', 'PHEASANT CREEK')
('BUS', 'PLENTY')
('BUS', 'POINT COOK')
('BUS', 'POINT LEO')
('BUS', 'PORT MELBOURNE')
('BUS', 'PORTSEA')
('BUS', 'PRAHRAN')
('BUS', 'PRESTON')
('BUS', 'RAVENHALL')
('BUS', 'RESEARCH')
('BUS', 'RESERVOIR')
('BUS', 'RICHMOND')
('BUS', 'RINGWOOD')
('BUS', 'RINGWOOD EAST')
('BUS', 'RINGWOOD NORTH')
('BUS', 'RIPPONLEA')
('BUS', 'ROCKBANK')
('BUS', 'ROSANNA')
('BUS', 'ROSEBUD')
('BUS', 'ROWVILLE')
('BUS', 'ROXBURGH PARK')
('BUS', 'RYE')
('BUS', 'SAFETY BEACH')
('BUS', 'SANDHURST')
('BUS', 'SANDRINGHAM')
('BUS', 'SASSAFRAS')
('BUS', 'SCORESBY')
('BUS', 'SEABROOK')
('BUS', 'SEAFORD')
('BUS', 'SEAHOLME')
('BUS', 'SEDDON')
('BUS', 'SELBY')
('BUS', 'SEVILLE')
('BUS', 'SEVILLE EAST')
('BUS', 'SHERBROOKE')
('BUS', 'SHOREHAM')
('BUS', 'SILVAN')
('BUS', 'SKYE')
('BUS', 'SOMERS')
('BUS', 'SOMERTON')
('BUS', 'SOMERVILLE')
('BUS', 'SORRENTO')
('BUS', 'SOUTH KINGSVILLE')
('BUS', 'SOUTH MELBOURNE')
('BUS', 'SOUTH MORANG')
('BUS', 'SOUTH YARRA')
('BUS', 'SOUTHBANK')
('BUS', 'SPOTSWOOD')
('BUS', 'SPRINGVALE')
('BUS', 'SPRINGVALE SOUTH')
('BUS', 'ST ALBANS')
('BUS', 'ST ANDREWS BEACH')
('BUS', 'ST HELENA')
('BUS', 'ST KILDA')
('BUS', 'ST KILDA EAST')
('BUS', 'ST KILDA WEST')
('BUS', 'STRATHMORE')
('BUS', 'STRATHMORE HEIGHTS')
('BUS', 'STRATHTULLOH')
('BUS', 'SUNBURY')
('BUS', 'SUNSHINE')
('BUS', 'SUNSHINE NORTH')
('BUS', 'SUNSHINE WEST')
('BUS', 'SURREY HILLS')
('BUS', 'SYDENHAM')
('BUS', 'TAGGERTY')
('BUS', 'TARNEIT')
('BUS', 'TARRAWARRA')
('BUS', 'TAYLORS HILL')
('BUS', 'TAYLORS LAKES')
('BUS', 'TECOMA')
('BUS', 'TEMPLESTOWE')
('BUS', 'TEMPLESTOWE LOWER')
('BUS', 'THE BASIN')
('BUS', 'THE PATCH')
('BUS', 'THOMASTOWN')
('BUS', 'THORNBURY')
('BUS', 'THORNTON')
('BUS', 'TOORADIN')
('BUS', 'TOORAK')
('BUS', 'TOOTGAROOK')
('BUS', 'TOTTENHAM')
('BUS', 'TRAVANCORE')
('BUS', 'TREMONT')
('BUS', 'TRUGANINA')
('BUS', 'TULLAMARINE')
('BUS', 'TYABB')
('BUS', 'UPPER FERNTREE GULLY')
('BUS', 'UPWEY')
('BUS', 'VERMONT')
('BUS', 'VERMONT SOUTH')
('BUS', 'VIEWBANK')
('BUS', 'WANDIN NORTH')
('BUS', 'WANTIRNA')
('BUS', 'WANTIRNA SOUTH')
('BUS', 'WARBURTON')
('BUS', 'WARNEET')
('BUS', 'WARRANDYTE')
('BUS', 'WARRANDYTE SOUTH')
('BUS', 'WARRANWOOD')
('BUS', 'WATERWAYS')
('BUS', 'WATSONIA')
('BUS', 'WATSONIA NORTH')
('BUS', 'WATTLE GLEN')
('BUS', 'WERRIBEE')
('BUS', 'WERRIBEE SOUTH')
('BUS', 'WESBURN')
('BUS', 'WEST FOOTSCRAY')
('BUS', 'WEST MELBOURNE')
('BUS', 'WESTMEADOWS')
('BUS', 'WHEELERS HILL')
('BUS', 'WHITTLESEA')
('BUS', 'WILLIAMS LANDING')
('BUS', 'WILLIAMSTOWN')
('BUS', 'WILLIAMSTOWN NORTH')
('BUS', 'WINDSOR')
('BUS', 'WOLLERT')
('BUS', 'WONGA PARK')
('BUS', 'WOORI YALLOCK')
('BUS', 'WYNDHAM VALE')
('BUS', 'YALLAMBIE')
('BUS', 'YAN YEAN')
('BUS', 'YARRA GLEN')
('BUS', 'YARRA JUNCTION')
('BUS', 'YARRAMBAT')
('BUS', 'YARRAVILLE')
('CEMETERY', 'BALLANGEICH')
('CEMETERY', 'BULLA')
('CEMETERY', 'CANN RIVER')
('CEMETERY', 'CAPE CONRAN')
('CEMETERY', 'CARLTON NORTH')
('CEMETERY', 'CORRYONG')
('CEMETERY', 'EAST GEELONG')
('CEMETERY', 'FRANKSTON')
('CEMETERY', 'FRENCH ISLAND')
('CEMETERY', 'HADFIELD')
('CEMETERY', 'HEALESVILLE')
('CEMETERY', 'HERNE HILL')
('CEMETERY', 'HEYWOOD')
('CEMETERY', 'KEILOR EAST')
('CEMETERY', 'KOONDROOK')
('CEMETERY', 'LAKE MARMAL')
('CEMETERY', 'LEOPOLD')
('CEMETERY', 'MYSIA')
('CEMETERY', 'NARRAWONG')
('CEMETERY', 'PATHO')
('CEMETERY', 'PEECHELBA')
('CEMETERY', 'PENSHURST')
('CEMETERY', 'PRESTON')
('CEMETERY', 'SANDHILL LAKE')
('CEMETERY', 'SPRINGVALE')
('CEMETERY', 'WAL WAL')
('CEMETERY', 'WANGARATTA')
('CEMETERY', 'WATERLOO')
('CEMETERY', 'YALCA')
('CHILD CARE', 'AIRPORT WEST')
('CHILD CARE', 'ALBERT PARK')
('CHILD CARE', 'ALBION')
('CHILD CARE', 'ALEXANDRA')
('CHILD CARE', 'ALFREDTON')
('CHILD CARE', 'ALPHINGTON')
('CHILD CARE', 'ALTONA MEADOWS')
('CHILD CARE', 'ALTONA NORTH')
('CHILD CARE', 'ARARAT')
('CHILD CARE', 'ARMADALE')
('CHILD CARE', 'ASCOT VALE')
('CHILD CARE', 'ATTWOOD')
('CHILD CARE', 'BACCHUS MARSH')
('CHILD CARE', 'BALACLAVA')
('CHILD CARE', 'BALLARAT CENTRAL')
('CHILD CARE', 'BALMORAL')
('CHILD CARE', 'BALNARRING')
('CHILD CARE', 'BALWYN')
('CHILD CARE', 'BALWYN NORTH')
('CHILD CARE', 'BAYSWATER NORTH')
('CHILD CARE', 'BEAUMARIS')
('CHILD CARE', 'BELMONT')
('CHILD CARE', 'BENALLA')
('CHILD CARE', 'BENDIGO')
('CHILD CARE', 'BENTLEIGH')
('CHILD CARE', 'BENTLEIGH EAST')
('CHILD CARE', 'BERWICK')
('CHILD CARE', 'BORONIA')
('CHILD CARE', 'BOX HILL')
('CHILD CARE', 'BOX HILL NORTH')
('CHILD CARE', 'BRIGHTON')
('CHILD CARE', 'BROADMEADOWS')
('CHILD CARE', 'BROOKFIELD')
('CHILD CARE', 'BRUNSWICK')
('CHILD CARE', 'BRUNSWICK WEST')
('CHILD CARE', 'BULLEEN')
('CHILD CARE', 'CAIRNLEA')
('CHILD CARE', 'CAMBERWELL')
('CHILD CARE', 'CAMPBELLS CREEK')
('CHILD CARE', 'CANTERBURY')
('CHILD CARE', 'CARLTON')
('CHILD CARE', 'CARNEGIE')
('CHILD CARE', 'CARRUM')
('CHILD CARE', 'CARRUM DOWNS')
('CHILD CARE', 'CASTLEMAINE')
('CHILD CARE', 'CAULFIELD')
('CHILD CARE', 'CAULFIELD EAST')
('CHILD CARE', 'CAULFIELD NORTH')
('CHILD CARE', 'CAULFIELD SOUTH')
('CHILD CARE', 'CHADSTONE')
('CHILD CARE', 'CHELSEA')
('CHILD CARE', 'CHELTENHAM')
('CHILD CARE', 'CHIRNSIDE PARK')
('CHILD CARE', 'CHURCHILL')
('CHILD CARE', 'CLARINDA')
('CHILD CARE', 'CLAYTON')
('CHILD CARE', 'CLUNES')
('CHILD CARE', 'COBURG')
('CHILD CARE', 'COLAC')
('CHILD CARE', 'COLLINGWOOD')
('CHILD CARE', 'CORIO')
('CHILD CARE', 'CORRYONG')
('CHILD CARE', 'CRAIGIEBURN')
('CHILD CARE', 'CRANBOURNE')
('CHILD CARE', 'CRANBOURNE EAST')
('CHILD CARE', 'CRANBOURNE WEST')
('CHILD CARE', 'CREMORNE')
('CHILD CARE', 'CROYDON')
('CHILD CARE', 'DANDENONG')
('CHILD CARE', 'DANDENONG NORTH')
('CHILD CARE', 'DAYLESFORD')
('CHILD CARE', 'DEEPDENE')
('CHILD CARE', 'DEER PARK')
('CHILD CARE', 'DIAMOND CREEK')
('CHILD CARE', 'DOCKLANDS')
('CHILD CARE', 'DONCASTER')
('CHILD CARE', 'DONCASTER EAST')
('CHILD CARE', 'DOREEN')
('CHILD CARE', 'DOVETON')
('CHILD CARE', 'EAST SALE')
('CHILD CARE', 'ECHUCA')
('CHILD CARE', 'EDITHVALE')
('CHILD CARE', 'ELTHAM')
('CHILD CARE', 'ELTHAM NORTH')
('CHILD CARE', 'EMERALD')
('CHILD CARE', 'ENDEAVOUR HILLS')
('CHILD CARE', 'EPPING')
('CHILD CARE', 'ESSENDON')
('CHILD CARE', 'ESSENDON FIELDS')
('CHILD CARE', 'FAIRFIELD')
('CHILD CARE', 'FALLS CREEK')
('CHILD CARE', 'FAWKNER')
('CHILD CARE', 'FERNTREE GULLY')
('CHILD CARE', 'FITZROY')
('CHILD CARE', 'FITZROY NORTH')
('CHILD CARE', 'FLEMINGTON')
('CHILD CARE', 'FOOTSCRAY')
('CHILD CARE', 'FOREST HILL')
('CHILD CARE', 'FRANKSTON')
('CHILD CARE', 'FRANKSTON NORTH')
('CHILD CARE', 'GEELONG WEST')
('CHILD CARE', 'GISBORNE')
('CHILD CARE', 'GLEN WAVERLEY')
('CHILD CARE', 'GLENROY')

('KINDERGARTEN', 'DELAHEY')
('KINDERGARTEN', 'DENNINGTON')
('KINDERGARTEN', 'DERRIMUT')
('KINDERGARTEN', 'DERRINALLUM')
('KINDERGARTEN', 'DIAMOND CREEK')
('KINDERGARTEN', 'DIGGERS REST')
('KINDERGARTEN', 'DIMBOOLA')
('KINDERGARTEN', 'DINGEE')
('KINDERGARTEN', 'DINGLEY VILLAGE')
('KINDERGARTEN', 'DOCKLANDS')
('KINDERGARTEN', 'DONALD')
('KINDERGARTEN', 'DONCASTER')
('KINDERGARTEN', 'DONCASTER EAST')
('KINDERGARTEN', 'DONNYBROOK')
('KINDERGARTEN', 'DONVALE')
('KINDERGARTEN', 'DOOKIE')
('KINDERGARTEN', 'DOREEN')
('KINDERGARTEN', 'DOVETON')
('KINDERGARTEN', 'DROMANA')
('KINDERGARTEN', 'DROUIN')
('KINDERGARTEN', 'DRYSDALE')
('KINDERGARTEN', 'DUNKELD')
('KINDERGARTEN', 'DUNOLLY')
('KINDERGARTEN', 'EAGLEHAWK')
('KINDERGARTEN', 'EAST BAIRNSDALE')
('KINDERGARTEN', 'EAST BENDIGO')
('KINDERGARTEN', 'EAST GEELONG')
('KINDERGARTEN', 'EAST MELBOURNE')
('KINDERGARTEN', 'EAST SALE')
('KINDERGARTEN', 'EASTWOOD')
('KINDERGARTEN', 'ECHUCA')
('KINDERGARTEN', 'EDENHOPE')
('KINDERGARTEN', 'EDITHVALE')
('KINDERGARTEN', 'EILDON')
('KINDERGARTEN', 'ELLIMINYT')
('KINDERGARTEN', 'ELMORE')
('KINDERGARTEN', 'ELSTERNWICK')
('KINDERGARTEN', 'ELTHAM')
('KINDERGARTEN', 'ELTHAM NORTH')
('KINDERGARTEN', 'ELWOOD')
('KINDERGARTEN', 'EMERALD')
('KINDERGARTEN', 'ENDEAVOUR HILLS')
('KINDERGARTEN', 'EPPING')
('KINDERGARTEN', 'ERICA')
('KINDERGARTEN', 'ESSENDON')
('KINDERGARTEN', 'ESSENDON NORTH')
('KINDERGARTEN', 'EUMEMMERRING')
('KINDERGARTEN', 'EUROA')
('KINDERGARTEN', 'FAIRFIELD')
('KINDERGARTEN', 'FAWKNER')
('KINDERGARTEN', 'FERNTREE GULLY')
('KINDERGARTEN', 'FITZROY')
('KINDERGARTEN', 'FITZROY NORTH')
('KINDERGARTEN', 'FLEMINGTON')
('KINDERGARTEN', 'FLINDERS')
('KINDERGARTEN', 'FLORA HILL')
('KINDERGARTEN', 'FOOTSCRAY')
('KINDERGARTEN', 'FOREST HILL')
('KINDERGARTEN', 'FORREST')
('KINDERGARTEN', 'FOSTER')
('KINDERGARTEN', 'FRANKSTON')
('KINDERGARTEN', 'FRANKSTON NORTH')
('KINDERGARTEN', 'FRANKSTON SOUTH')
('KINDERGARTEN', 'FRESHWATER CREEK')
('KINDERGARTEN', 'GARFIELD')
('KINDERGARTEN', 'GEELONG')
('KINDERGARTEN', 'GEELONG WEST')
('KINDERGARTEN', 'GEMBROOK')
('KINDERGARTEN', 'GIRGARRE')
('KINDERGARTEN', 'GISBORNE')
('KINDERGARTEN', 'GLADSTONE PARK')
('KINDERGARTEN', 'GLEN HUNTLY')
('KINDERGARTEN', 'GLEN IRIS')
('KINDERGARTEN', 'GLEN WAVERLEY')
('KINDERGARTEN', 'GLENGARRY')
('KINDERGARTEN', 'GLENROWAN')
('KINDERGARTEN', 'GLENROY')
('KINDERGARTEN', 'GOLDEN SQUARE')
('KINDERGARTEN', 'GORMANDALE')
('KINDERGARTEN', 'GOROKE')
('KINDERGARTEN', 'GREENSBOROUGH')
('KINDERGARTEN', 'GREENVALE')
('KINDERGARTEN', 'GROVEDALE')
('KINDERGARTEN', 'GUNBOWER')
('KINDERGARTEN', 'HADDON')
('KINDERGARTEN', 'HADFIELD')
('KINDERGARTEN', 'HALLAM')
('KINDERGARTEN', 'HAMILTON')
('KINDERGARTEN', 'HAMLYN HEIGHTS')
('KINDERGARTEN', 'HAMPTON')
('KINDERGARTEN', 'HAMPTON PARK')
('KINDERGARTEN', 'HARKNESS')
('KINDERGARTEN', 'HASTINGS')
('KINDERGARTEN', 'HAWTHORN')
('KINDERGARTEN', 'HAWTHORN EAST')
('KINDERGARTEN', 'HEALESVILLE')
('KINDERGARTEN', 'HEATHCOTE')
('KINDERGARTEN', 'HEATHERTON')
('KINDERGARTEN', 'HEATHMONT')
('KINDERGARTEN', 'HEIDELBERG')
('KINDERGARTEN', 'HEIDELBERG HEIGHTS')
('KINDERGARTEN', 'HEIDELBERG WEST')
('KINDERGARTEN', 'HEPBURN')
('KINDERGARTEN', 'HERNE HILL')
('KINDERGARTEN', 'HEYFIELD')
('KINDERGARTEN', 'HEYWOOD')
('KINDERGARTEN', 'HIGHETT')
('KINDERGARTEN', 'HIGHTON')
('KINDERGARTEN', 'HILLSIDE')
('KINDERGARTEN', 'HMAS CERBERUS')
('KINDERGARTEN', 'HOPETOUN')
('KINDERGARTEN', 'HOPPERS CROSSING')
('KINDERGARTEN', 'HORSHAM')
('KINDERGARTEN', 'HOTHAM HEIGHTS')
('KINDERGARTEN', 'HUGHESDALE')
('KINDERGARTEN', 'HUNTINGDALE')
('KINDERGARTEN', 'HUNTLY')
('KINDERGARTEN', 'HURSTBRIDGE')
('KINDERGARTEN', 'INGLEWOOD')
('KINDERGARTEN', 'INVERLEIGH')
('KINDERGARTEN', 'INVERLOCH')
('KINDERGARTEN', 'IRYMPLE')
('KINDERGARTEN', 'IVANHOE')
('KINDERGARTEN', 'IVANHOE EAST')
('KINDERGARTEN', 'JEPARIT')
('KINDERGARTEN', 'KALLISTA')
('KINDERGARTEN', 'KANGAROO GROUND')
('KINDERGARTEN', 'KANIVA')
('KINDERGARTEN', 'KATAMATITE')
('KINDERGARTEN', 'KATANDRA WEST')
('KINDERGARTEN', 'KEALBA')
('KINDERGARTEN', 'KEILOR')
('KINDERGARTEN', 'KEILOR DOWNS')
('KINDERGARTEN', 'KEILOR EAST')
('KINDERGARTEN', 'KEILOR LODGE')
('KINDERGARTEN', 'KEILOR PARK')
('KINDERGARTEN', 'KENNINGTON')
('KINDERGARTEN', 'KENSINGTON')
('KINDERGARTEN', 'KERANG')
('KINDERGARTEN', 'KERGUNYAH')
('KINDERGARTEN', 'KEW')
('KINDERGARTEN', 'KEW EAST')
('KINDERGARTEN', 'KEYSBOROUGH')
('KINDERGARTEN', 'KIALLA')
('KINDERGARTEN', 'KILMORE')
('KINDERGARTEN', 'KILSYTH')
('KINDERGARTEN', 'KINGS PARK')
('KINDERGARTEN', 'KINGSBURY')
('KINDERGARTEN', 'KINGSVILLE')
('KINDERGARTEN', 'KNOXFIELD')
('KINDERGARTEN', 'KOO WEE RUP')
('KINDERGARTEN', 'KOONDROOK')
('KINDERGARTEN', 'KOROIT')
('KINDERGARTEN', 'KORUMBURRA')
('KINDERGARTEN', 'KURUNJANG')
('KINDERGARTEN', 'KYABRAM')
('KINDERGARTEN', 'KYNETON')
('KINDERGARTEN', 'LAKE BOGA')
('KINDERGARTEN', 'LAKE BOLAC')
('KINDERGARTEN', 'LAKE GARDENS')
('KINDERGARTEN', 'LAKE WENDOUREE')
('KINDERGARTEN', 'LAKES ENTRANCE')
('KINDERGARTEN', 'LALOR')
('KINDERGARTEN', 'LANCEFIELD')
('KINDERGARTEN', 'LANG LANG')
('KINDERGARTEN', 'LANGWARRIN')
('KINDERGARTEN', 'LARA')
('KINDERGARTEN', 'LAUNCHING PLACE')
('KINDERGARTEN', 'LAVERTON')
('KINDERGARTEN', 'LEITCHVILLE')
('KINDERGARTEN', 'LEONGATHA')
('KINDERGARTEN', 'LEOPOLD')
('KINDERGARTEN', 'LILYDALE')
('KINDERGARTEN', 'LINDENOW')
('KINDERGARTEN', 'LISMORE')
('KINDERGARTEN', 'LITTLE RIVER')
('KINDERGARTEN', 'LOCH')
('KINDERGARTEN', 'LOCKINGTON')
('KINDERGARTEN', 'LONG GULLY')
('KINDERGARTEN', 'LONGFORD')
('KINDERGARTEN', 'LONGWARRY')
('KINDERGARTEN', 'LORNE')
('KINDERGARTEN', 'LOWER PLENTY')
('KINDERGARTEN', 'LUCKNOW')
('KINDERGARTEN', 'LYNBROOK')
('KINDERGARTEN', 'MACARTHUR')
('KINDERGARTEN', 'MACEDON')
('KINDERGARTEN', 'MACLEOD')
('KINDERGARTEN', 'MAFFRA')
('KINDERGARTEN', 'MAIDEN GULLY')
('KINDERGARTEN', 'MAIDSTONE')
('KINDERGARTEN', 'MALDON')
('KINDERGARTEN', 'MALLACOOTA')
('KINDERGARTEN', 'MALVERN')
('KINDERGARTEN', 'MALVERN EAST')
('KINDERGARTEN', 'MANANGATANG')
('KINDERGARTEN', 'MANSFIELD')
('KINDERGARTEN', 'MARIBYRNONG')
('KINDERGARTEN', 'MARYBOROUGH')
('KINDERGARTEN', 'MCCRAE')
('KINDERGARTEN', 'MCKINNON')
('KINDERGARTEN', 'MEADOW HEIGHTS')
('KINDERGARTEN', 'MEENIYAN')
('KINDERGARTEN', 'MELBOURNE')
('KINDERGARTEN', 'MELBOURNE AIRPORT')
('KINDERGARTEN', 'MELTON')
('KINDERGARTEN', 'MELTON SOUTH')
('KINDERGARTEN', 'MELTON WEST')
('KINDERGARTEN', 'MENTONE')
('KINDERGARTEN', 'MENZIES CREEK')
('KINDERGARTEN', 'MERBEIN')
('KINDERGARTEN', 'MEREDITH')
('KINDERGARTEN', 'MERNDA')
('KINDERGARTEN', 'MERRIGUM')
('KINDERGARTEN', 'METUNG')
('KINDERGARTEN', 'MIDDLE PARK')
('KINDERGARTEN', 'MILDURA')
('KINDERGARTEN', 'MILL PARK')
('KINDERGARTEN', 'MILLGROVE')
('KINDERGARTEN', 'MINYIP')
('KINDERGARTEN', 'MIRBOO NORTH')
('KINDERGARTEN', 'MITCHAM')
('KINDERGARTEN', 'MITTA MITTA')
('KINDERGARTEN', 'MOE')
('KINDERGARTEN', 'MONBULK')
('KINDERGARTEN', 'MONT ALBERT NORTH')
('KINDERGARTEN', 'MONTMORENCY')
('KINDERGARTEN', 'MONTROSE')
('KINDERGARTEN', 'MOOLAP')
('KINDERGARTEN', 'MOONEE PONDS')
('KINDERGARTEN', 'MOORABBIN')
('KINDERGARTEN', 'MOORABBIN AIRPORT')
('KINDERGARTEN', 'MOOROODUC')
('KINDERGARTEN', 'MOOROOLBARK')
('KINDERGARTEN', 'MOOROOPNA')
('KINDERGARTEN', 'MORDIALLOC')
('KINDERGARTEN', 'MORIAC')
('KINDERGARTEN', 'MORNINGTON')
('KINDERGARTEN', 'MORTLAKE')
('KINDERGARTEN', 'MORWELL')
('KINDERGARTEN', 'MOUNT BEAUTY')
('KINDERGARTEN', 'MOUNT CLEAR')
('KINDERGARTEN', 'MOUNT DANDENONG')
('KINDERGARTEN', 'MOUNT ELIZA')
('KINDERGARTEN', 'MOUNT EVELYN')
('KINDERGARTEN', 'MOUNT HELEN')
('KINDERGARTEN', 'MOUNT MARTHA')
('KINDERGARTEN', 'MOUNT PLEASANT')
('KINDERGARTEN', 'MOUNT WAVERLEY')
('KINDERGARTEN', 'MOYHU')
('KINDERGARTEN', 'MUCKLEFORD')
('KINDERGARTEN', 'MULGRAVE')
('KINDERGARTEN', 'MURCHISON')
('KINDERGARTEN', 'MURRABIT WEST')
('KINDERGARTEN', 'MURRAYVILLE')
('KINDERGARTEN', 'MURRUMBEENA')
('KINDERGARTEN', 'MURTOA')
('KINDERGARTEN', 'MYRTLEFORD')
('KINDERGARTEN', 'NAGAMBIE')
('KINDERGARTEN', 'NAR NAR GOON')
('KINDERGARTEN', 'NARRE WARREN')
('KINDERGARTEN', 'NARRE WARREN NORTH')
('KINDERGARTEN', 'NARRE WARREN SOUTH')
('KINDERGARTEN', 'NATHALIA')
('KINDERGARTEN', 'NATIMUK')
('KINDERGARTEN', 'NEERIM SOUTH')
('KINDERGARTEN', 'NERRINA')
('KINDERGARTEN', 'NEWBOROUGH')
('KINDERGARTEN', 'NEWCOMB')
('KINDERGARTEN', 'NEWPORT')
('KINDERGARTEN', 'NEWSTEAD')
('KINDERGARTEN', 'NEWTOWN')
('KINDERGARTEN', 'NHILL')
('KINDERGARTEN', 'NOBLE PARK')
('KINDERGARTEN', 'NOBLE PARK NORTH')
('KINDERGARTEN', 'NORLANE')
('KINDERGARTEN', 'NORTH BENDIGO')
('KINDERGARTEN', 'NORTH MELBOURNE')
('KINDERGARTEN', 'NORTH WARRANDYTE')
('KINDERGARTEN', 'NORTH WONTHAGGI')
('KINDERGARTEN', 'NORTHCOTE')
('KINDERGARTEN', 'NOWA NOWA')
('KINDERGARTEN', 'NULLAWARRE')
('KINDERGARTEN', 'NUMURKAH')
('KINDERGARTEN', 'NUNAWADING')
('KINDERGARTEN', 'NYAH WEST')
('KINDERGARTEN', 'OAK PARK')
('KINDERGARTEN', 'OAKLEIGH')
('KINDERGARTEN', 'OAKLEIGH EAST')
('KINDERGARTEN', 'OAKLEIGH SOUTH')
('KINDERGARTEN', 'OCEAN GROVE')
('KINDERGARTEN', 'OFFICER')
('KINDERGARTEN', 'OLINDA')
('KINDERGARTEN', 'OMEO')
('KINDERGARTEN', 'ORBOST')
('KINDERGARTEN', 'ORMOND')
('KINDERGARTEN', 'ORRVALE')
('KINDERGARTEN', 'OUYEN')
('KINDERGARTEN', 'PAKENHAM')
('KINDERGARTEN', 'PARK ORCHARDS')
('KINDERGARTEN', 'PARKDALE')
('KINDERGARTEN', 'PARKVILLE')
('KINDERGARTEN', 'PASCOE VALE')
('KINDERGARTEN', 'PASCOE VALE SOUTH')
('KINDERGARTEN', 'PATTERSON LAKES')
('KINDERGARTEN', 'PAYNESVILLE')
('KINDERGARTEN', 'PEARCEDALE')
('KINDERGARTEN', 'PENSHURST')
('KINDERGARTEN', 'PHEASANT CREEK')
('KINDERGARTEN', 'POINT COOK')
('KINDERGARTEN', 'POOWONG')
('KINDERGARTEN', 'PORT FAIRY')
('KINDERGARTEN', 'PORT MELBOURNE')
('KINDERGARTEN', 'PORTARLINGTON')
('KINDERGARTEN', 'PORTLAND')
('KINDERGARTEN', 'PRAHRAN')
('KINDERGARTEN', 'PRESTON')
('KINDERGARTEN', 'PRINCES HILL')
('KINDERGARTEN', 'PURNIM WEST')
('KINDERGARTEN', 'PYALONG')
('KINDERGARTEN', 'PYRAMID HILL')
('KINDERGARTEN', 'RAINBOW')
('KINDERGARTEN', 'RED CLIFFS')
('KINDERGARTEN', 'RED HILL')
('KINDERGARTEN', 'REDAN')
('KINDERGARTEN', 'RESERVOIR')
('KINDERGARTEN', 'RICHMOND')
('KINDERGARTEN', 'RIDDELLS CREEK')
('KINDERGARTEN', 'RINGWOOD')
('KINDERGARTEN', 'RINGWOOD EAST')
('KINDERGARTEN', 'RINGWOOD NORTH')
('KINDERGARTEN', 'ROBINVALE')
('KINDERGARTEN', 'ROCHESTER')
('KINDERGARTEN', 'ROCKBANK')
('KINDERGARTEN', 'ROKEWOOD')
('KINDERGARTEN', 'ROMSEY')
('KINDERGARTEN', 'ROSANNA')
('KINDERGARTEN', 'ROSEBUD')
('KINDERGARTEN', 'ROSEDALE')
('KINDERGARTEN', 'ROWVILLE')
('KINDERGARTEN', 'ROXBURGH PARK')
('KINDERGARTEN', 'RUPANYUP')
('KINDERGARTEN', 'RUTHERGLEN')
('KINDERGARTEN', 'RYE')
('KINDERGARTEN', 'SALE')
('KINDERGARTEN', 'SAN REMO')
('KINDERGARTEN', 'SANDRINGHAM')
('KINDERGARTEN', 'SANDY POINT')
('KINDERGARTEN', 'SASSAFRAS')
('KINDERGARTEN', 'SCORESBY')
('KINDERGARTEN', 'SEA LAKE')
('KINDERGARTEN', 'SEABROOK')
('KINDERGARTEN', 'SEAFORD')
('KINDERGARTEN', 'SEAHOLME')
('KINDERGARTEN', 'SEBASTOPOL')
('KINDERGARTEN', 'SELBY')
('KINDERGARTEN', 'SEVILLE')
('KINDERGARTEN', 'SEYMOUR')
('KINDERGARTEN', 'SHEPPARTON')
('KINDERGARTEN', 'SIMPSON')
('KINDERGARTEN', 'SKIPTON')
('KINDERGARTEN', 'SOLDIERS HILL')
('KINDERGARTEN', 'SOMERS')
('KINDERGARTEN', 'SOMERVILLE')
('KINDERGARTEN', 'SORRENTO')
('KINDERGARTEN', 'SOUTH GEELONG')
('KINDERGARTEN', 'SOUTH KINGSVILLE')
('KINDERGARTEN', 'SOUTH MELBOURNE')
('KINDERGARTEN', 'SOUTH MORANG')
('KINDERGARTEN', 'SOUTH YARRA')
('KINDERGARTEN', 'SOUTHBANK')
('KINDERGARTEN', 'SPOTSWOOD')
('KINDERGARTEN', 'SPRING GULLY')
('KINDERGARTEN', 'SPRINGVALE')
('KINDERGARTEN', 'SPRINGVALE SOUTH')
('KINDERGARTEN', 'ST ALBANS')
('KINDERGARTEN', 'ST ALBANS PARK')
('KINDERGARTEN', 'ST ARNAUD')
('KINDERGARTEN', 'ST HELENA')
('KINDERGARTEN', 'ST KILDA')
('KINDERGARTEN', 'ST KILDA EAST')
('KINDERGARTEN', 'ST KILDA WEST')
('KINDERGARTEN', 'STANHOPE')
('KINDERGARTEN', 'STAWELL')
('KINDERGARTEN', 'STRATFORD')
('KINDERGARTEN', 'STRATHFIELDSAYE')
('KINDERGARTEN', 'STRATHMORE')
('KINDERGARTEN', 'SUNBURY')
('KINDERGARTEN', 'SUNSHINE')
('KINDERGARTEN', 'SUNSHINE NORTH')
('KINDERGARTEN', 'SUNSHINE WEST')
('KINDERGARTEN', 'SURREY HILLS')
('KINDERGARTEN', 'SWAN HILL')
('KINDERGARTEN', 'SWIFTS CREEK')
('KINDERGARTEN', 'SYDENHAM')
('KINDERGARTEN', 'TALGARNO')
('KINDERGARTEN', 'TALLANGATTA')
('KINDERGARTEN', 'TALLYGAROOPNA')
('KINDERGARTEN', 'TANGAMBALANGA')
('KINDERGARTEN', 'TARNEIT')
('KINDERGARTEN', 'TATURA')
('KINDERGARTEN', 'TAWONGA')
('KINDERGARTEN', 'TAYLORS HILL')
('KINDERGARTEN', 'TAYLORS LAKES')
('KINDERGARTEN', 'TECOMA')
('KINDERGARTEN', 'TEESDALE')
('KINDERGARTEN', 'TEMPLESTOWE')
('KINDERGARTEN', 'TEMPLESTOWE LOWER')
('KINDERGARTEN', 'THE BASIN')
('KINDERGARTEN', 'THE PATCH')
('KINDERGARTEN', 'THOMASTOWN')
('KINDERGARTEN', 'THOMSON')
('KINDERGARTEN', 'THORNBURY')
('KINDERGARTEN', 'THORPDALE')
('KINDERGARTEN', 'TIMBOON')
('KINDERGARTEN', 'TONGALA')
('KINDERGARTEN', 'TOOLAMBA')
('KINDERGARTEN', 'TOORA')
('KINDERGARTEN', 'TOORADIN')
('KINDERGARTEN', 'TOORAK')
('KINDERGARTEN', 'TOOTGAROOK')
('KINDERGARTEN', 'TORQUAY')
('KINDERGARTEN', 'TRAFALGAR')
('KINDERGARTEN', 'TRARALGON')
('KINDERGARTEN', 'TRARALGON SOUTH')
('KINDERGARTEN', 'TRAVANCORE')
('KINDERGARTEN', 'TRENTHAM')
('KINDERGARTEN', 'TRUGANINA')
('KINDERGARTEN', 'TULLAMARINE')
('KINDERGARTEN', 'TUNGAMAH')
('KINDERGARTEN', 'TYABB')
('KINDERGARTEN', 'TYERS')
('KINDERGARTEN', 'UNDERBOOL')
('KINDERGARTEN', 'UPPER FERNTREE GULLY')
('KINDERGARTEN', 'UPWEY')
('KINDERGARTEN', 'VERMONT')
('KINDERGARTEN', 'VERMONT SOUTH')
('KINDERGARTEN', 'VIEWBANK')
('KINDERGARTEN', 'VIOLET TOWN')
('KINDERGARTEN', 'WAHGUNYAH')
('KINDERGARTEN', 'WALLACE')
('KINDERGARTEN', 'WALLAN')
('KINDERGARTEN', 'WALWA')
('KINDERGARTEN', 'WANDIN NORTH')
('KINDERGARTEN', 'WANDONG')
('KINDERGARTEN', 'WANGARATTA')
('KINDERGARTEN', 'WANTIRNA')
('KINDERGARTEN', 'WANTIRNA SOUTH')
('KINDERGARTEN', 'WARBURTON')
('KINDERGARTEN', 'WARRACKNABEAL')
('KINDERGARTEN', 'WARRAGUL')
('KINDERGARTEN', 'WARRANDYTE')
('KINDERGARTEN', 'WARRANWOOD')
('KINDERGARTEN', 'WARRNAMBOOL')
('KINDERGARTEN', 'WATSONIA')
('KINDERGARTEN', 'WATSONIA NORTH')
('KINDERGARTEN', 'WAUBRA')
('KINDERGARTEN', 'WEDDERBURN')
('KINDERGARTEN', 'WELSHPOOL')
('KINDERGARTEN', 'WENDOUREE')
('KINDERGARTEN', 'WERRIBEE')
('KINDERGARTEN', 'WEST FOOTSCRAY')
('KINDERGARTEN', 'WEST WODONGA')
('KINDERGARTEN', 'WESTMEADOWS')
('KINDERGARTEN', 'WHEELERS HILL')
('KINDERGARTEN', 'WHITE HILLS')
('KINDERGARTEN', 'WHITFIELD')
('KINDERGARTEN', 'WHITTINGTON')
('KINDERGARTEN', 'WHITTLESEA')
('KINDERGARTEN', 'WHOROULY')
('KINDERGARTEN', 'WILLAURA')
('KINDERGARTEN', 'WILLIAMSTOWN')
('KINDERGARTEN', 'WILLOW GROVE')
('KINDERGARTEN', 'WINCHELSEA')
('KINDERGARTEN', 'WINDSOR')
('KINDERGARTEN', 'WODONGA')
('KINDERGARTEN', 'WONGA PARK')
('KINDERGARTEN', 'WONTHAGGI')
('KINDERGARTEN', 'WOODEND')
('KINDERGARTEN', 'WOOMELANG')
('KINDERGARTEN', 'WOORI YALLOCK')
('KINDERGARTEN', 'WOORINEN SOUTH')
('KINDERGARTEN', 'WY YUNG')
('KINDERGARTEN', 'WYCHEPROOF')
('KINDERGARTEN', 'WYNDHAM VALE')
('KINDERGARTEN', 'YACKANDANDAH')
('KINDERGARTEN', 'YALLAMBIE')
('KINDERGARTEN', 'YALLOURN NORTH')
('KINDERGARTEN', 'YARRA GLEN')
('KINDERGARTEN', 'YARRA JUNCTION')
('KINDERGARTEN', 'YARRAGON')
('KINDERGARTEN', 'YARRAM')
('KINDERGARTEN', 'YARRAMBAT')
('KINDERGARTEN', 'YARRAVILLE')
('KINDERGARTEN', 'YARRAWONGA')
('KINDERGARTEN', 'YEA')
('KINDERGARTEN', 'YINNAR')
('LIBRARY', 'HOPPERS CROSSING')
('LIBRARY', 'RED CLIFFS')
('LIBRARY', 'RINGWOOD')
('LIBRARY', 'ROBINVALE')
('LIBRARY', 'TARNEIT')
('MARKET', 'CROYDON')
('MARKET', 'LILYDALE')
('MARKET', 'MELBOURNE')
('MARKET', 'PRESTON')
('MARKET', 'SOUTH MELBOURNE')
('MARKET', 'SOUTH YARRA')
('MARKET', 'WEST MELBOURNE')
('MILL/TIMBER OPERATIONS', 'ADA')
('MILL/TIMBER OPERATIONS', 'BEARII')
('MILL/TIMBER OPERATIONS', 'BROADFORD')
('MILL/TIMBER OPERATIONS', 'BROOKVILLE')
('MILL/TIMBER OPERATIONS', 'CARINGAL')
('MILL/TIMBER OPERATIONS', 'EAST WARBURTON')
('MILL/TIMBER OPERATIONS', 'ERICA')
('MILL/TIMBER OPERATIONS', 'GENOA')
('MILL/TIMBER OPERATIONS', 'GENTLE ANNIE')
('MILL/TIMBER OPERATIONS', 'MARYVALE')
('MILL/TIMBER OPERATIONS', 'MCMAHONS CREEK')
('MILL/TIMBER OPERATIONS', 'MYRTLEFORD')
('MILL/TIMBER OPERATIONS', 'NARBETHONG')
('MILL/TIMBER OPERATIONS', 'NARIEL VALLEY')
('MILL/TIMBER OPERATIONS', 'NOOJEE')
('MILL/TIMBER OPERATIONS', 'PICOLA')
('MILL/TIMBER OPERATIONS', 'POWELLTOWN')
('MILL/TIMBER OPERATIONS', 'REEDY CREEK')
('MILL/TIMBER OPERATIONS', 'TAGGERTY')
('MILL/TIMBER OPERATIONS', 'TANJIL')
('MILL/TIMBER OPERATIONS', 'WARBURTON')
('PARK', 'ABBOTSFORD')
('PARK', 'ABERFELDIE')
('PARK', 'AINTREE')
('PARK', 'AIRE VALLEY')
('PARK', 'AIREYS INLET')
('PARK', 'AIRPORT WEST')
('PARK', 'ALBANVALE')
('PARK', 'ALBERT PARK')
('PARK', 'ALBERTON')
('PARK', 'ALBERTON WEST')
('PARK', 'ALBION')
('PARK', 'ALEXANDRA')
('PARK', 'ALFREDTON')
('PARK', 'ALLAMBEE SOUTH')
('PARK', 'ALLANSFORD')
('PARK', 'ALPHINGTON')
('PARK', 'ALTONA')
('PARK', 'ALTONA MEADOWS')
('PARK', 'ALTONA NORTH')
('PARK', 'AMPHITHEATRE')
('PARK', 'ANAKIE')
('PARK', 'ANGLESEA')
('PARK', 'ARARAT')
('PARK', 'ARCHERTON')
('PARK', 'ARDEER')
('PARK', 'ARDMONA')
('PARK', 'ARMADALE')
('PARK', 'ARNOLD')
('PARK', 'ARNOLD WEST')
('PARK', 'ARTHURS CREEK')
('PARK', 'ASCOT VALE')
('PARK', 'ASHBURTON')
('PARK', 'ASHWOOD')
('PARK', 'ASPENDALE')
('PARK', 'ASPENDALE GARDENS')
('PARK', 'AVOCA')
('PARK', 'AVONDALE HEIGHTS')
('PARK', 'BACCHUS MARSH')
('PARK', 'BADGER CREEK')
('PARK', 'BAIRNSDALE')
('PARK', 'BAKERY HILL')
('PARK', 'BALLARAT CENTRAL')
('PARK', 'BALLARAT EAST')
('PARK', 'BALMORAL')
('PARK', 'BALNARRING')
('PARK', 'BALNARRING BEACH')
('PARK', 'BALWYN')
('PARK', 'BALWYN NORTH')
('PARK', 'BAMAWM')
('PARK', 'BAMBRA')
('PARK', 'BANDIANA')
('PARK', 'BANGERANG')
('PARK', 'BARANDUDA')
('PARK', 'BARMAH')
('PARK', 'BARRAPORT')
('PARK', 'BARRAPORT WEST')
('PARK', 'BARWON HEADS')
('PARK', 'BASS')
('PARK', 'BATESFORD')
('PARK', 'BAW BAW')
('PARK', 'BAW BAW VILLAGE')
('PARK', 'BAXTER')
('PARK', 'BAYINDEEN')
('PARK', 'BAYSWATER')
('PARK', 'BAYSWATER NORTH')
('PARK', 'BEACONSFIELD')
('PARK', 'BEACONSFIELD UPPER')
('PARK', 'BEALIBA')
('PARK', 'BEAUFORT')
('PARK', 'BEAUMARIS')
('PARK', 'BEECH FOREST')
('PARK', 'BEECHWORTH')
('PARK', 'BEENAK')
('PARK', 'BELGRAVE')
('PARK', 'BELGRAVE SOUTH')
('PARK', 'BELL PARK')
('PARK', 'BELL POST HILL')
('PARK', 'BELLBRAE')
('PARK', 'BELLFIELD')
('PARK', 'BELLS BEACH')
('PARK', 'BELMONT')
('PARK', 'BEMM RIVER')
('PARK', 'BENALLA')
('PARK', 'BENAMBRA')
('PARK', 'BENDIGO')
('PARK', 'BENDOC')
('PARK', 'BENTLEIGH EAST')
('PARK', 'BEREMBOKE')
('PARK', 'BERRIWILLOCK')
('PARK', 'BERWICK')
('PARK', 'BETLEY')
('PARK', 'BIG DESERT')
('PARK', 'BILLABONG')
('PARK', 'BINDI')
('PARK', 'BINGINWARRI')
('PARK', 'BIRCHIP')
('PARK', 'BIRDWOODTON')
('PARK', 'BITTERN')
('PARK', 'BLACK HILL')
('PARK', 'BLACK ROCK')
('PARK', 'BLACKBURN')
('PARK', 'BLACKBURN NORTH')
('PARK', 'BLACKBURN SOUTH')
('PARK', 'BLACKWARRY')
('PARK', 'BLACKWOOD')
('PARK', 'BLAIRGOWRIE')
('PARK', 'BOCHARA')
('PARK', 'BOISDALE')
('PARK', 'BOLTON')
('PARK', 'BOLWARRA')
('PARK', 'BONANG')
('PARK', 'BONBEACH')
('PARK', 'BONEO')
('PARK', 'BONNIE BROOK')
('PARK', 'BOOKAAR')
('PARK', 'BOOLARRA')
('PARK', 'BOORCAN')
('PARK', 'BOORT')
('PARK', 'BORONIA')
('PARK', 'BORUNG')
('PARK', 'BOX HILL')
('PARK', 'BOX HILL NORTH')
('PARK', 'BOX HILL SOUTH')
('PARK', 'BRADVALE')
('PARK', 'BRAESIDE')
('PARK', 'BRANXHOLME')
('PARK', 'BRAYBROOK')
('PARK', 'BREAKAWAY CREEK')
('PARK', 'BREAKWATER')
('PARK', 'BREAMLEA')
('PARK', 'BRENANAH')
('PARK', 'BRIAGOLONG')
('PARK', 'BRIAR HILL')
('PARK', 'BRIDGEWATER')
('PARK', 'BRIDGEWATER ON LODDON')
('PARK', 'BRIGHT')
('PARK', 'BRIGHTON')
('PARK', 'BRIGHTON EAST')
('PARK', 'BRIM')
('PARK', 'BROADMEADOWS')
('PARK', 'BRODRIBB RIVER')
('PARK', 'BROOKFIELD')
('PARK', 'BROOKLYN')
('PARK', 'BROWN HILL')
('PARK', 'BRUMBY')
('PARK', 'BRUNSWICK')
('PARK', 'BRUNSWICK EAST')
('PARK', 'BRUNSWICK WEST')
('PARK', 'BRUTHEN')
('PARK', 'BUANGOR')
('PARK', 'BUCHAN')
('PARK', 'BUDGEREE')
('PARK', 'BULLEEN')
('PARK', 'BULN BULN')
('PARK', 'BUNDOORA')
('PARK', 'BUNINYONG')
('PARK', 'BUNYIP')
('PARK', 'BURKES BRIDGE')
('PARK', 'BURNEWANG')
('PARK', 'BURNLEY')
('PARK', 'BURNSIDE')
('PARK', 'BURNSIDE HEIGHTS')
('PARK', 'BURRUMBEET')
('PARK', 'BURWOOD')

('PARK', 'TYERS')
('PARK', 'TYRENDARRA')
('PARK', 'ULLINA')
('PARK', 'UNDERA')
('PARK', 'UNDERBOOL')
('PARK', 'UPPER FERNTREE GULLY')
('PARK', 'UPWEY')
('PARK', 'VENTNOR')
('PARK', 'VENUS BAY')
('PARK', 'VERMONT')
('PARK', 'VERMONT SOUTH')
('PARK', 'VICTORIA VALLEY')
('PARK', 'VIEWBANK')
('PARK', 'WAIL')
('PARK', 'WAIREWA')
('PARK', 'WAITCHIE')
('PARK', 'WALDARA')
('PARK', 'WALHALLA')
('PARK', 'WALLACE')
('PARK', 'WALLACEDALE')
('PARK', 'WALLINGTON')
('PARK', 'WANDANA HEIGHTS')
('PARK', 'WANDILIGONG')
('PARK', 'WANDOWN')
('PARK', 'WANGANDARY')
('PARK', 'WANGARATTA')
('PARK', 'WANGIE')
('PARK', 'WANNON')
('PARK', 'WANTIRNA')
('PARK', 'WANTIRNA SOUTH')
('PARK', 'WARBURTON')
('PARK', 'WARRACKNABEAL')
('PARK', 'WARRAGUL')
('PARK', 'WARRANDYTE')
('PARK', 'WARRANWOOD')
('PARK', 'WARRNAMBOOL')
('PARK', 'WARTOOK')
('PARK', 'WATCHEM')
('PARK', 'WATSONIA')
('PARK', 'WATSONIA NORTH')
('PARK', 'WATSONS CREEK')
('PARK', 'WATTLE BANK')
('PARK', 'WATTLE GLEN')
('PARK', 'WAUBRA')
('PARK', 'WAURN PONDS')
('PARK', 'WEATHERBOARD')
('PARK', 'WEDDERBURN')
('PARK', 'WEIR VIEWS')
('PARK', 'WELSHPOOL')
('PARK', 'WENDOUREE')
('PARK', 'WERRIBEE')
('PARK', 'WERRIBEE SOUTH')
('PARK', 'WERRIMULL')
('PARK', 'WESBURN')
('PARK', 'WEST FOOTSCRAY')
('PARK', 'WEST MELBOURNE')
('PARK', 'WEST WODONGA')
('PARK', 'WESTMEADOWS')
('PARK', 'WESTMERE')
('PARK', 'WHARPARILLA')
('PARK', 'WHEELERS HILL')
('PARK', 'WHIPSTICK')
('PARK', 'WHITE HILLS')
('PARK', 'WHITTINGTON')
('PARK', 'WHROO')
('PARK', 'WICKLIFFE')
('PARK', 'WILLAURA')
('PARK', 'WILLIAMS LANDING')
('PARK', 'WILLIAMSTOWN')
('PARK', 'WILLIAMSTOWN NORTH')
('PARK', 'WILLOW GROVE')
('PARK', 'WINCHELSEA')
('PARK', 'WINGAN RIVER')
('PARK', 'WINTER VALLEY')
('PARK', 'WODONGA')
('PARK', 'WON WRON')
('PARK', 'WONGA PARK')
('PARK', 'WONGARRA')
('PARK', 'WONNANGATTA')
('PARK', 'WONTHAGGI')
('PARK', 'WONWONDAH')
('PARK', 'WONYIP')
('PARK', 'WOODEND')
('PARK', 'WOODFORD')
('PARK', 'WOODS POINT')
('PARK', 'WOODSIDE')
('PARK', 'WOODSIDE BEACH')
('PARK', 'WOODSTOCK ON LODDON')
('PARK', 'WOODVALE')
('PARK', 'WOOLSTHORPE')
('PARK', 'WOORI YALLOCK')
('PARK', 'WOORINEN')
('PARK', 'WOOSANG')
('PARK', 'WULGULMERANG EAST')
('PARK', 'WUNGHNU')
('PARK', 'WURRUK')
('PARK', 'WY YUNG')
('PARK', 'WYCHEPROOF')
('PARK', 'WYNDHAM VALE')
('PARK', 'WYUNA')
('PARK', 'YALLAMBIE')
('PARK', 'YALLOURN NORTH')
('PARK', 'YANAKIE')
('PARK', 'YARRAGON')
('PARK', 'YARRAM')
('PARK', 'YARRAMBAT')
('PARK', 'YARRAVILLE')
('PARK', 'YARRAWALLA')
('PARK', 'YARRAWONGA')
('PARK', 'YARROWEYAH')
('PARK', 'YEA')
('PARK', 'YELLINGBO')
('PARK', 'YERING')
('PARK', 'YIELIMA')
('PARK', 'YINNAR SOUTH')
('PARK', 'ZUMSTEINS')
('PIER', 'ALBERT PARK')
('PIER', 'ALTONA')
('PIER', 'BRIGHTON')
('PIER', 'CORIO')
('PIER', 'DOCKLANDS')
('PIER', 'DROMANA')
('PIER', 'DRUMCONDRA')
('PIER', 'FOOTSCRAY')
('PIER', 'GEELONG')
('PIER', 'LAKES ENTRANCE')
('PIER', 'MOOLAP')
('PIER', 'MORNINGTON')
('PIER', 'NEWPORT')
('PIER', 'NORTH GEELONG')
('PIER', 'POINT WILSON')
('PIER', 'PORT MELBOURNE')
('PIER', 'PORT WELSHPOOL')
('PIER', 'PORTLAND')
('PIER', 'QUEENSCLIFF')
('PIER', 'RIPPLESIDE')
('PIER', 'ROSEBUD')
('PIER', 'RYE')
('PIER', 'SORRENTO')
('PIER', 'ST KILDA')
('PIER', 'WEST MELBOURNE')
('PIER', 'WILLIAMSTOWN')
('PIER', 'YARRAVILLE')
('PLANTATION', 'BAMBRA')
('PLANTATION', 'BARKERS CREEK')
('PLANTATION', 'BEECH FOREST')
('PLANTATION', 'BRIGHT')
('PLANTATION', 'BUCKLAND')
('PLANTATION', 'BUFFALO RIVER')
('PLANTATION', 'COBRAM EAST')
('PLANTATION', 'DARTMOOR')
('PLANTATION', 'DIGBY')
('PLANTATION', 'EUROBIN')
('PLANTATION', 'GLENISLA')
('PLANTATION', 'GREENWALD')
('PLANTATION', 'GRENVILLE')
('PLANTATION', 'HOTSPUR')
('PLANTATION', 'KILLARA')
('PLANTATION', 'LAKE EILDON')
('PLANTATION', 'LOCH VALLEY')
('PLANTATION', 'LUCYVALE')
('PLANTATION', 'MERRIANG SOUTH')
('PLANTATION', 'MITTA MITTA')
('PLANTATION', 'MOUNT DRYDEN')
('PLANTATION', 'MOUNT MERCER')
('PLANTATION', 'MOUNT RICHMOND')
('PLANTATION', 'MURRINDINDI')
('PLANTATION', 'MYRTLEFORD')
('PLANTATION', 'NARBETHONG')
('PLANTATION', 'POREPUNKAH')
('PLANTATION', 'RAGLAN')
('PLANTATION', 'SANDFORD')
('PLANTATION', 'YEODENE')
('PLAYGROUND', 'BRIGHTON EAST')
('PLAYGROUND', 'CANTERBURY')
('PLAYGROUND', 'CHELTENHAM')
('PLAYGROUND', 'CREMORNE')
('PLAYGROUND', 'DALLAS')
('PLAYGROUND', 'EAGLEHAWK')
('PLAYGROUND', 'ELTHAM')
('PLAYGROUND', 'GLEN WAVERLEY')
('PLAYGROUND', 'GOROKE')
('PLAYGROUND', 'HOPPERS CROSSING')
('PLAYGROUND', 'INVERLEIGH')
('PLAYGROUND', 'MALVERN EAST')
('PLAYGROUND', 'MENTONE')
('PLAYGROUND', 'PANTON HILL')
('PLAYGROUND', 'RINGWOOD')
('PLAYGROUND', 'SANDRINGHAM')
('PLAYGROUND', 'SEBASTOPOL')
('PLAYGROUND', 'ST ALBANS')
('PLAYGROUND', 'VERMONT SOUTH')
('PLAYGROUND', 'WENDOUREE')
('POLICE STATION', 'ABBOTSFORD')
('POLICE STATION', 'ALEXANDRA')
('POLICE STATION', 'ALTONA NORTH')
('POLICE STATION', 'ANGLESEA')
('POLICE STATION', 'APOLLO BAY')
('POLICE STATION', 'APSLEY')
('POLICE STATION', 'ARARAT')
('POLICE STATION', 'ASHBURTON')
('POLICE STATION', 'AVOCA')
('POLICE STATION', 'AVONDALE HEIGHTS')
('POLICE STATION', 'AXEDALE')
('POLICE STATION', 'BACCHUS MARSH')
('POLICE STATION', 'BAIRNSDALE')
('POLICE STATION', 'BALLAN')
('POLICE STATION', 'BALLARAT CENTRAL')
('POLICE STATION', 'BALMORAL')
('POLICE STATION', 'BALWYN')
('POLICE STATION', 'BANNOCKBURN')
('POLICE STATION', 'BARWON HEADS')
('POLICE STATION', 'BASS')
('POLICE STATION', 'BAW BAW VILLAGE')
('POLICE STATION', 'BEAUFORT')
('POLICE STATION', 'BEAUMARIS')
('POLICE STATION', 'BEEAC')
('POLICE STATION', 'BEECH FOREST')
('POLICE STATION', 'BEECHWORTH')
('POLICE STATION', 'BELGRAVE')
('POLICE STATION', 'BENALLA')
('POLICE STATION', 'BENAMBRA')
('POLICE STATION', 'BENDIGO')
('POLICE STATION', 'BENDOC')
('POLICE STATION', 'BENTLEIGH')
('POLICE STATION', 'BENTLEIGH EAST')
('POLICE STATION', 'BERWICK')
('POLICE STATION', 'BEULAH')
('POLICE STATION', 'BIRCHIP')
('POLICE STATION', 'BIRREGURRA')
('POLICE STATION', 'BLACK ROCK')
('POLICE STATION', 'BOOLARRA')
('POLICE STATION', 'BOORT')
('POLICE STATION', 'BORONIA')
('POLICE STATION', 'BOX HILL')
('POLICE STATION', 'BRANXHOLME')
('POLICE STATION', 'BRIAGOLONG')
('POLICE STATION', 'BRIDGEWATER ON LODDON')
('POLICE STATION', 'BRIGHT')
('POLICE STATION', 'BRIGHTON')
('POLICE STATION', 'BROADFORD')
('POLICE STATION', 'BROADMEADOWS')
('POLICE STATION', 'BRUNSWICK')
('POLICE STATION', 'BRUTHEN')
('POLICE STATION', 'BUCHAN')
('POLICE STATION', 'BUNINYONG')
('POLICE STATION', 'BUNYIP')
('POLICE STATION', 'BURWOOD')
('POLICE STATION', 'CAMBERWELL')
('POLICE STATION', 'CAMPERDOWN')
('POLICE STATION', 'CANN RIVER')
('POLICE STATION', 'CARLTON')
('POLICE STATION', 'CASTERTON')
('POLICE STATION', 'CAULFIELD')
('POLICE STATION', 'CAVENDISH')
('POLICE STATION', 'CHARLTON')
('POLICE STATION', 'CHELSEA')
('POLICE STATION', 'CHELTENHAM')
('POLICE STATION', 'CHILTERN')
('POLICE STATION', 'CHURCHILL')
('POLICE STATION', 'CLAYTON')
('POLICE STATION', 'CLUNES')
('POLICE STATION', 'COBDEN')
('POLICE STATION', 'COBRAM')
('POLICE STATION', 'COBURG')
('POLICE STATION', 'COHUNA')
('POLICE STATION', 'COLAC')
('POLICE STATION', 'CORRYONG')
('POLICE STATION', 'COWES')
('POLICE STATION', 'CRANBOURNE')
('POLICE STATION', 'CREMORNE')
('POLICE STATION', 'CRESSY')
('POLICE STATION', 'CRESWICK')
('POLICE STATION', 'CROYDON')
('POLICE STATION', 'CULGOA')
('POLICE STATION', 'DANDENONG')
('POLICE STATION', 'DARTMOOR')
('POLICE STATION', 'DAYLESFORD')
('POLICE STATION', 'DEDERANG')
('POLICE STATION', 'DIAMOND CREEK')
('POLICE STATION', 'DIMBOOLA')
('POLICE STATION', 'DOCKLANDS')
('POLICE STATION', 'DONALD')
('POLICE STATION', 'DONCASTER EAST')
('POLICE STATION', 'DOOKIE')
('POLICE STATION', 'DOVETON')
('POLICE STATION', 'DROMANA')
('POLICE STATION', 'DROUIN')
('POLICE STATION', 'DRYSDALE')
('POLICE STATION', 'DUNKELD')
('POLICE STATION', 'DUNOLLY')
('POLICE STATION', 'EAGLEHAWK')
('POLICE STATION', 'EAST MELBOURNE')
('POLICE STATION', 'ECHUCA')
('POLICE STATION', 'EDENHOPE')
('POLICE STATION', 'EILDON')
('POLICE STATION', 'ELMHURST')
('POLICE STATION', 'ELSTERNWICK')
('POLICE STATION', 'ELTHAM')
('POLICE STATION', 'ELWOOD')
('POLICE STATION', 'EMERALD')
('POLICE STATION', 'EPPING')
('POLICE STATION', 'ERICA')
('POLICE STATION', 'ESSENDON')
('POLICE STATION', 'EUROA')
('POLICE STATION', 'FAWKNER')
('POLICE STATION', 'FERNTREE GULLY')
('POLICE STATION', 'FITZROY')
('POLICE STATION', 'FLEMINGTON')
('POLICE STATION', 'FOOTSCRAY')
('POLICE STATION', 'FORREST')
('POLICE STATION', 'FOSTER')
('POLICE STATION', 'FRANKSTON')
('POLICE STATION', 'GEELONG')
('POLICE STATION', 'GISBORNE')
('POLICE STATION', 'GLEN HUNTLY')
('POLICE STATION', 'GLEN WAVERLEY')
('POLICE STATION', 'GLENROWAN')
('POLICE STATION', 'GLENROY')
('POLICE STATION', 'GOORNONG')
('POLICE STATION', 'GORDON')
('POLICE STATION', 'GOROKE')
('POLICE STATION', 'GREENSBOROUGH')
('POLICE STATION', 'GRITJURK')
('POLICE STATION', 'GUNBOWER')
('POLICE STATION', 'HAMILTON')
('POLICE STATION', 'HARROW')
('POLICE STATION', 'HASTINGS')
('POLICE STATION', 'HAWTHORN')
('POLICE STATION', 'HEALESVILLE')
('POLICE STATION', 'HEATHCOTE')
('POLICE STATION', 'HEIDELBERG')
('POLICE STATION', 'HEIDELBERG HEIGHTS')
('POLICE STATION', 'HEYFIELD')
('POLICE STATION', 'HEYWOOD')
('POLICE STATION', 'HOPETOUN')
('POLICE STATION', 'HORSHAM')
('POLICE STATION', 'HURSTBRIDGE')
('POLICE STATION', 'INGLEWOOD')
('POLICE STATION', 'INVERLEIGH')
('POLICE STATION', 'INVERLOCH')
('POLICE STATION', 'JAMIESON')
('POLICE STATION', 'JEPARIT')
('POLICE STATION', 'KANIVA')
('POLICE STATION', 'KATAMATITE')
('POLICE STATION', 'KERANG')
('POLICE STATION', 'KEW')
('POLICE STATION', 'KILMORE')
('POLICE STATION', 'KOO WEE RUP')
('POLICE STATION', 'KOONDROOK')
('POLICE STATION', 'KOROIT')
('POLICE STATION', 'KORONG VALE')
('POLICE STATION', 'KORUMBURRA')
('POLICE STATION', 'KYABRAM')
('POLICE STATION', 'KYNETON')
('POLICE STATION', 'LAKE BOGA')
('POLICE STATION', 'LAKE BOLAC')
('POLICE STATION', 'LAKES ENTRANCE')
('POLICE STATION', 'LANCEFIELD')
('POLICE STATION', 'LANDSBOROUGH')
('POLICE STATION', 'LANG LANG')
('POLICE STATION', 'LARA')
('POLICE STATION', 'LAVERTON')
('POLICE STATION', 'LEARMONTH')
('POLICE STATION', 'LEXTON')
('POLICE STATION', 'LILYDALE')
('POLICE STATION', 'LINDENOW')
('POLICE STATION', 'LINTON')
('POLICE STATION', 'LISMORE')
('POLICE STATION', 'LOCH')
('POLICE STATION', 'MACARTHUR')
('POLICE STATION', 'MACEDON')
('POLICE STATION', 'MAFFRA')
('POLICE STATION', 'MAIDSTONE')
('POLICE STATION', 'MALDON')
('POLICE STATION', 'MALLACOOTA')
('POLICE STATION', 'MALMSBURY')
('POLICE STATION', 'MALVERN')
('POLICE STATION', 'MANANGATANG')
('POLICE STATION', 'MANSFIELD')
('POLICE STATION', 'MARNOO')
('POLICE STATION', 'MARYBOROUGH')
('POLICE STATION', 'MARYSVILLE')
('POLICE STATION', 'MEENIYAN')
('POLICE STATION', 'MELBOURNE')
('POLICE STATION', 'MELTON')
('POLICE STATION', 'MENTONE')
('POLICE STATION', 'MERBEIN')
('POLICE STATION', 'MEREDITH')
('POLICE STATION', 'MERINO')
('POLICE STATION', 'MILDURA')
('POLICE STATION', 'MINYIP')
('POLICE STATION', 'MIRBOO NORTH')
('POLICE STATION', 'MITTA MITTA')
('POLICE STATION', 'MOE')
('POLICE STATION', 'MONBULK')
('POLICE STATION', 'MOONEE PONDS')
('POLICE STATION', 'MOORABBIN')
('POLICE STATION', 'MOOROOLBARK')
('POLICE STATION', 'MOOROOPNA')
('POLICE STATION', 'MORDIALLOC')
('POLICE STATION', 'MORNINGTON')
('POLICE STATION', 'MORTLAKE')
('POLICE STATION', 'MORWELL')
('POLICE STATION', 'MOUNT BEAUTY')
('POLICE STATION', 'MOUNT EVELYN')
('POLICE STATION', 'MOUNT WAVERLEY')
('POLICE STATION', 'MOYHU')
('POLICE STATION', 'MURCHISON')
('POLICE STATION', 'MURRAYVILLE')
('POLICE STATION', 'MURRUMBEENA')
('POLICE STATION', 'MURTOA')
('POLICE STATION', 'MYRTLEFORD')
('POLICE STATION', 'NAGAMBIE')
('POLICE STATION', 'NATHALIA')
('POLICE STATION', 'NATIMUK')
('POLICE STATION', 'NEERIM SOUTH')
('POLICE STATION', 'NELSON')
('POLICE STATION', 'NEWPORT')
('POLICE STATION', 'NEWSTEAD')
('POLICE STATION', 'NHILL')
('POLICE STATION', 'NORLANE')
('POLICE STATION', 'NORTHCOTE')
('POLICE STATION', 'NUMURKAH')
('POLICE STATION', 'NUNAWADING')
('POLICE STATION', 'NYAH WEST')
('POLICE STATION', 'OAKLEIGH')
('POLICE STATION', 'OCEAN GROVE')
('POLICE STATION', 'OLINDA')
('POLICE STATION', 'OMEO')
('POLICE STATION', 'ORBOST')
('POLICE STATION', 'OUYEN')
('POLICE STATION', 'PAKENHAM')
('POLICE STATION', 'PARKVILLE')
('POLICE STATION', 'PASCOE VALE SOUTH')
('POLICE STATION', 'PENSHURST')
('POLICE STATION', 'PETERBOROUGH')
('POLICE STATION', 'PIANGIL')
('POLICE STATION', 'PORT CAMPBELL')
('POLICE STATION', 'PORT FAIRY')
('POLICE STATION', 'PORT MELBOURNE')
('POLICE STATION', 'PORTARLINGTON')
('POLICE STATION', 'PORTLAND')
('POLICE STATION', 'PRESTON')
('POLICE STATION', 'PYALONG')
('POLICE STATION', 'PYRAMID HILL')
('POLICE STATION', 'QUAMBATOOK')
('POLICE STATION', 'QUEENSCLIFF')
('POLICE STATION', 'RAINBOW')
('POLICE STATION', 'RAWSON')
('POLICE STATION', 'RAYWOOD')
('POLICE STATION', 'RED CLIFFS')
('POLICE STATION', 'RESERVOIR')
('POLICE STATION', 'RICHMOND')
('POLICE STATION', 'RIDDELLS CREEK')
('POLICE STATION', 'RINGWOOD')
('POLICE STATION', 'ROBINVALE')
('POLICE STATION', 'ROCHESTER')
('POLICE STATION', 'ROKEWOOD')
('POLICE STATION', 'ROSEBUD')
('POLICE STATION', 'ROSEDALE')
('POLICE STATION', 'RUPANYUP')
('POLICE STATION', 'RUSHWORTH')
('POLICE STATION', 'RYE')
('POLICE STATION', 'SALE')
('POLICE STATION', 'SANDRINGHAM')
('POLICE STATION', 'SEA LAKE')
('POLICE STATION', 'SEAFORD')
('POLICE STATION', 'SEYMOUR')
('POLICE STATION', 'SHEPPARTON')
('POLICE STATION', 'SKIPTON')
('POLICE STATION', 'SMYTHESDALE')
('POLICE STATION', 'SORRENTO')
('POLICE STATION', 'SOUTH MELBOURNE')
('POLICE STATION', 'SOUTH YARRA')
('POLICE STATION', 'SPEED')
('POLICE STATION', 'SPRINGVALE')
('POLICE STATION', 'ST ALBANS')
('POLICE STATION', 'ST ARNAUD')
('POLICE STATION', 'ST JAMES')
('POLICE STATION', 'ST KILDA')
('POLICE STATION', 'STANHOPE')
('POLICE STATION', 'STAWELL')
('POLICE STATION', 'STRATFORD')
('POLICE STATION', 'SUNBURY')
('POLICE STATION', 'SUNSHINE NORTH')
('POLICE STATION', 'SWAN HILL')
('POLICE STATION', 'SWIFTS CREEK')
('POLICE STATION', 'TALLANGATTA')
('POLICE STATION', 'TALLAROOK')
('POLICE STATION', 'TANGAMBALANGA')
('POLICE STATION', 'TARNAGULLA')
('POLICE STATION', 'TATURA')
('POLICE STATION', 'TERANG')
('POLICE STATION', 'TIMBOON')
('POLICE STATION', 'TONGALA')
('POLICE STATION', 'TOORA')
('POLICE STATION', 'TORQUAY')
('POLICE STATION', 'TOWAN')
('POLICE STATION', 'TRAFALGAR')
('POLICE STATION', 'TRARALGON')
('POLICE STATION', 'TRENTHAM')
('POLICE STATION', 'TUNGAMAH')
('POLICE STATION', 'UNDERBOOL')
('POLICE STATION', 'VIOLET TOWN')
('POLICE STATION', 'WALLAN')
('POLICE STATION', 'WALWA')
('POLICE STATION', 'WANGARATTA')
('POLICE STATION', 'WARBURTON')
('POLICE STATION', 'WARRACKNABEAL')
('POLICE STATION', 'WARRAGUL')
('POLICE STATION', 'WARRANDYTE')
('POLICE STATION', 'WARRNAMBOOL')
('POLICE STATION', 'WEDDERBURN')
('POLICE STATION', 'WERRIBEE')
('POLICE STATION', 'WERRIMULL')
('POLICE STATION', 'WEST FOOTSCRAY')
('POLICE STATION', 'WESTMEADOWS')
('POLICE STATION', 'WHEELERS HILL')
('POLICE STATION', 'WHITFIELD')
('POLICE STATION', 'WHITTLESEA')
('POLICE STATION', 'WILLAURA')
('POLICE STATION', 'WILLIAMSTOWN')
('POLICE STATION', 'WINCHELSEA')
('POLICE STATION', 'WODONGA')
('POLICE STATION', 'WONTHAGGI')
('POLICE STATION', 'WOODEND')
('POLICE STATION', 'WOODS POINT')
('POLICE STATION', 'WOOMELANG')
('POLICE STATION', 'WYCHEPROOF')
('POLICE STATION', 'YACKANDANDAH')
('POLICE STATION', 'YARRA GLEN')
('POLICE STATION', 'YARRA JUNCTION')
('POLICE STATION', 'YARRAGON')
('POLICE STATION', 'YARRAM')
('POLICE STATION', 'YARRAVILLE')
('POLICE STATION', 'YARRAWONGA')
('POLICE STATION', 'YEA')
('POST OFFICE', 'ABBOTSFORD')
('POST OFFICE', 'ALBERT PARK')
('POST OFFICE', 'ALBERTON')
('POST OFFICE', 'ALEXANDRA')
('POST OFFICE', 'ALLANS FLAT')
('POST OFFICE', 'ALTONA')
('POST OFFICE', 'ALTONA NORTH')
('POST OFFICE', 'APOLLO BAY')
('POST OFFICE', 'ARARAT')
('POST OFFICE', 'ARMADALE')
('POST OFFICE', 'ASCOT VALE')
('POST OFFICE', 'ASHBURTON')
('POST OFFICE', 'AVOCA')
('POST OFFICE', 'AVONDALE HEIGHTS')
('POST OFFICE', 'BACCHUS MARSH')
('POST OFFICE', 'BAIRNSDALE')
('POST OFFICE', 'BAKERY HILL')
('POST OFFICE', 'BALACLAVA')
('POST OFFICE', 'BALLAN')
('POST OFFICE', 'BALLARAT CENTRAL')
('POST OFFICE', 'BALWYN')
('POST OFFICE', 'BALWYN NORTH')
('POST OFFICE', 'BANDIANA')
('POST OFFICE', 'BAYSWATER')
('POST OFFICE', 'BEAUFORT')
('POST OFFICE', 'BEECHWORTH')
('POST OFFICE', 'BELGRAVE')
('POST OFFICE', 'BELMONT')
('POST OFFICE', 'BENALLA')
('POST OFFICE', 'BENDIGO')
('POST OFFICE', 'BENTLEIGH')
('POST OFFICE', 'BENTLEIGH EAST')
('POST OFFICE', 'BERRINGAMA')
('POST OFFICE', 'BERWICK')
('POST OFFICE', 'BETHANGA')
('POST OFFICE', 'BEULAH')
('POST OFFICE', 'BIRCHIP')
('POST OFFICE', 'BLACK ROCK')
('POST OFFICE', 'BLACKBURN')
('POST OFFICE', 'BLACKBURN SOUTH')
('POST OFFICE', 'BLACKWOOD')
('POST OFFICE', 'BOOLARRA')
('POST OFFICE', 'BOORT')
('POST OFFICE', 'BORONIA')
('POST OFFICE', 'BOX HILL')
('POST OFFICE', 'BRAYBROOK')
('POST OFFICE', 'BRIAGOLONG')
('POST OFFICE', 'BRIGHT')
('POST OFFICE', 'BRIGHTON')
('POST OFFICE', 'BRIM')
('POST OFFICE', 'BROADFORD')
('POST OFFICE', 'BROADMEADOWS')
('POST OFFICE', 'BRUNSWICK')
('POST OFFICE', 'BRUNSWICK EAST')
('POST OFFICE', 'BRUNSWICK WEST')
('POST OFFICE', 'BRUTHEN')
('POST OFFICE', 'BULLEEN')
('POST OFFICE', 'BUNDOORA')
('POST OFFICE', 'BUNINYONG')
('POST OFFICE', 'BUNYIP')
('POST OFFICE', 'CAMBERWELL')
('POST OFFICE', 'CAMPERDOWN')
('POST OFFICE', 'CANN RIVER')
('POST OFFICE', 'CANTERBURY')
('POST OFFICE', 'CARAMUT')
('POST OFFICE', 'CARISBROOK')
('POST OFFICE', 'CARLTON')
('POST OFFICE', 'CARLTON NORTH')
('POST OFFICE', 'CARNEGIE')
('POST OFFICE', 'CASTERTON')
('POST OFFICE', 'CASTLEMAINE')
('POST OFFICE', 'CAULFIELD')
('POST OFFICE', 'CHARLTON')
('POST OFFICE', 'CHELSEA')
('POST OFFICE', 'CHELTENHAM')
('POST OFFICE', 'CHILTERN')
('POST OFFICE', 'CLAYTON')
('POST OFFICE', 'CLUNES')
('POST OFFICE', 'COBDEN')
('POST OFFICE', 'COBRAM')
('POST OFFICE', 'COBURG')
('POST OFFICE', 'COLAC')
('POST OFFICE', 'COLERAINE')
('POST OFFICE', 'COLLINGWOOD')
('POST OFFICE', 'CORIO')
('POST OFFICE', 'CORRYONG')
('POST OFFICE', 'COSTERFIELD')
('POST OFFICE', 'COWANGIE')
('POST OFFICE', 'COWES')
('POST OFFICE', 'CRANBOURNE')
('POST OFFICE', 'CRESWICK')
('POST OFFICE', 'CROYDON')
('POST OFFICE', 'CUDGEWA')
('POST OFFICE', 'DANDENONG')
('POST OFFICE', 'DARGO')
('POST OFFICE', 'DAYLESFORD')
('POST OFFICE', 'DERRINALLUM')
('POST OFFICE', 'DIMBOOLA')
('POST OFFICE', 'DOCKLANDS')
('POST OFFICE', 'DONALD')
('POST OFFICE', 'DONCASTER')
('POST OFFICE', 'DONCASTER EAST')
('POST OFFICE', 'DROMANA')
('POST OFFICE', 'DROUIN')
('POST OFFICE', 'DRYSDALE')
('POST OFFICE', 'DUNOLLY')
('POST OFFICE', 'EAGLEHAWK')
('POST OFFICE', 'EAST MELBOURNE')
('POST OFFICE', 'EAST SALE')
('POST OFFICE', 'ECHUCA')
('POST OFFICE', 'EDENHOPE')
('POST OFFICE', 'EILDON')
('POST OFFICE', 'ELDORADO')
('POST OFFICE', 'ELMORE')
('POST OFFICE', 'ELSTERNWICK')
('POST OFFICE', 'ELTHAM')
('POST OFFICE', 'ELWOOD')
('POST OFFICE', 'EPSOM')
('POST OFFICE', 'ESSENDON')
('POST OFFICE', 'ESSENDON NORTH')
('POST OFFICE', 'EUROA')
('POST OFFICE', 'EUROBIN')
('POST OFFICE', 'FAIRFIELD')
('POST OFFICE', 'FAWKNER')
('POST OFFICE', 'FERNTREE GULLY')
('POST OFFICE', 'FITZROY')
('POST OFFICE', 'FITZROY NORTH')
('POST OFFICE', 'FLEMINGTON')
('POST OFFICE', 'FOOTSCRAY')
('POST OFFICE', 'FOREST HILL')
('POST OFFICE', 'FOSTER')
('POST OFFICE', 'FRANKSTON')
('POST OFFICE', 'GARFIELD')
('POST OFFICE', 'GEELONG')
('POST OFFICE', 'GISBORNE')
('POST OFFICE', 'GLEN IRIS')
('POST OFFICE', 'GLEN WAVERLEY')
('POST OFFICE', 'GLENROY')
('POST OFFICE', 'GLENTHOMPSON')
('POST OFFICE', 'GOLDEN SQUARE')
('POST OFFICE', 'GORDON')
('POST OFFICE', 'GOROKE')
('POST OFFICE', 'GRASSMERE')
('POST OFFICE', 'GREENSBOROUGH')
('POST OFFICE', 'GUILDFORD')
('POST OFFICE', 'HAMILTON')
('POST OFFICE', 'HAMPTON')
('POST OFFICE', 'HASTINGS')
('POST OFFICE', 'HAWTHORN')
('POST OFFICE', 'HEALESVILLE')
('POST OFFICE', 'HEATHCOTE')
('POST OFFICE', 'HEIDELBERG')
('POST OFFICE', 'HEIDELBERG WEST')

('PRIMARY SCHOOL', 'GEMBROOK')
('PRIMARY SCHOOL', 'GENOA')
('PRIMARY SCHOOL', 'GERANG GERUNG')
('PRIMARY SCHOOL', 'GERANGAMETE')
('PRIMARY SCHOOL', 'GILLIESTON')
('PRIMARY SCHOOL', 'GIRGARRE')
('PRIMARY SCHOOL', 'GIRGARRE EAST')
('PRIMARY SCHOOL', 'GISBORNE')
('PRIMARY SCHOOL', 'GLADSTONE PARK')
('PRIMARY SCHOOL', 'GLADYSDALE')
('PRIMARY SCHOOL', 'GLEN ALVIE')
('PRIMARY SCHOOL', 'GLEN FORBES')
('PRIMARY SCHOOL', 'GLEN IRIS')
('PRIMARY SCHOOL', 'GLEN WAVERLEY')
('PRIMARY SCHOOL', 'GLENBURN')
('PRIMARY SCHOOL', 'GLENGARRY')
('PRIMARY SCHOOL', 'GLENGARRY WEST')
('PRIMARY SCHOOL', 'GLENLYON')
('PRIMARY SCHOOL', 'GLENORCHY')
('PRIMARY SCHOOL', 'GLENROWAN')
('PRIMARY SCHOOL', 'GLENROY')
('PRIMARY SCHOOL', 'GLENTHOMPSON')
('PRIMARY SCHOOL', 'GNARWARRE')
('PRIMARY SCHOOL', 'GOLDEN POINT')
('PRIMARY SCHOOL', 'GOLDEN SQUARE')
('PRIMARY SCHOOL', 'GOORAM')
('PRIMARY SCHOOL', 'GOORAMBAT')
('PRIMARY SCHOOL', 'GOORNONG')
('PRIMARY SCHOOL', 'GORAE')
('PRIMARY SCHOOL', 'GORDON')
('PRIMARY SCHOOL', 'GORMANDALE')
('PRIMARY SCHOOL', 'GRAHAMVALE')
('PRIMARY SCHOOL', 'GRAND RIDGE')
('PRIMARY SCHOOL', 'GRANYA')
('PRIMARY SCHOOL', 'GRASS FLAT')
('PRIMARY SCHOOL', 'GRASSMERE')
('PRIMARY SCHOOL', 'GRE GRE SOUTH')
('PRIMARY SCHOOL', 'GREAT WESTERN')
('PRIMARY SCHOOL', 'GREENSBOROUGH')
('PRIMARY SCHOOL', 'GREENVALE')
('PRIMARY SCHOOL', 'GREENWALD')
('PRIMARY SCHOOL', 'GRETA')
('PRIMARY SCHOOL', 'GRETA SOUTH')
('PRIMARY SCHOOL', 'GRETA WEST')
('PRIMARY SCHOOL', 'GROVEDALE')
('PRIMARY SCHOOL', 'GRUYERE')
('PRIMARY SCHOOL', 'GUILDFORD')
('PRIMARY SCHOOL', 'GUNBOWER')
('PRIMARY SCHOOL', 'HADFIELD')
('PRIMARY SCHOOL', 'HALLAM')
('PRIMARY SCHOOL', 'HALLORA')
('PRIMARY SCHOOL', 'HALLS GAP')
('PRIMARY SCHOOL', 'HALLSTON')
('PRIMARY SCHOOL', 'HAMILTON')
('PRIMARY SCHOOL', 'HAMLYN HEIGHTS')
('PRIMARY SCHOOL', 'HAMPTON')
('PRIMARY SCHOOL', 'HAMPTON EAST')
('PRIMARY SCHOOL', 'HAMPTON PARK')
('PRIMARY SCHOOL', 'HANSONVILLE')
('PRIMARY SCHOOL', 'HARCOURT')
('PRIMARY SCHOOL', 'HARCOURT NORTH')
('PRIMARY SCHOOL', 'HARKAWAY')
('PRIMARY SCHOOL', 'HARKNESS')
('PRIMARY SCHOOL', 'HARRIETVILLE')
('PRIMARY SCHOOL', 'HARROW')
('PRIMARY SCHOOL', 'HARSTON')
('PRIMARY SCHOOL', 'HASTINGS')
('PRIMARY SCHOOL', 'HAVEN')
('PRIMARY SCHOOL', 'HAWKESDALE')
('PRIMARY SCHOOL', 'HAWTHORN')
('PRIMARY SCHOOL', 'HAWTHORN EAST')
('PRIMARY SCHOOL', 'HAZELWOOD')
('PRIMARY SCHOOL', 'HAZELWOOD NORTH')
('PRIMARY SCHOOL', 'HEALESVILLE')
('PRIMARY SCHOOL', 'HEATHCOTE')
('PRIMARY SCHOOL', 'HEATHERTON')
('PRIMARY SCHOOL', 'HEATHMONT')
('PRIMARY SCHOOL', 'HEDLEY')
('PRIMARY SCHOOL', 'HEIDELBERG')
('PRIMARY SCHOOL', 'HEIDELBERG HEIGHTS')
('PRIMARY SCHOOL', 'HEIDELBERG WEST')
('PRIMARY SCHOOL', 'HENTY')
('PRIMARY SCHOOL', 'HEPBURN')
('PRIMARY SCHOOL', 'HERNE HILL')
('PRIMARY SCHOOL', 'HESKET')
('PRIMARY SCHOOL', 'HEXHAM')
('PRIMARY SCHOOL', 'HEYFIELD')
('PRIMARY SCHOOL', 'HEYWOOD')
('PRIMARY SCHOOL', 'HIGHETT')
('PRIMARY SCHOOL', 'HIGHLANDS')
('PRIMARY SCHOOL', 'HIGHTON')
('PRIMARY SCHOOL', 'HILL END')
('PRIMARY SCHOOL', 'HILLSIDE')
('PRIMARY SCHOOL', 'HODDLES CREEK')
('PRIMARY SCHOOL', 'HOPETOUN')
('PRIMARY SCHOOL', 'HOPPERS CROSSING')
('PRIMARY SCHOOL', 'HORSHAM')
('PRIMARY SCHOOL', 'HUGHESDALE')
('PRIMARY SCHOOL', 'HUNTLY')
('PRIMARY SCHOOL', 'HURSTBRIDGE')
('PRIMARY SCHOOL', 'INDIGO VALLEY')
('PRIMARY SCHOOL', 'INGLEWOOD')
('PRIMARY SCHOOL', 'INVERGORDON')
('PRIMARY SCHOOL', 'INVERLEIGH')
('PRIMARY SCHOOL', 'INVERLOCH')
('PRIMARY SCHOOL', 'INVERMAY')
('PRIMARY SCHOOL', 'IONA')
('PRIMARY SCHOOL', 'IRONBARK')
('PRIMARY SCHOOL', 'IRREWARRA')
('PRIMARY SCHOOL', 'IRREWILLIPE EAST')
('PRIMARY SCHOOL', 'IRYMPLE')
('PRIMARY SCHOOL', 'IVANHOE')
('PRIMARY SCHOOL', 'IVANHOE EAST')
('PRIMARY SCHOOL', 'JACANA')
('PRIMARY SCHOOL', 'JAMIESON')
('PRIMARY SCHOOL', 'JANCOURT')
('PRIMARY SCHOOL', 'JEPARIT')
('PRIMARY SCHOOL', 'JINDIVICK')
('PRIMARY SCHOOL', 'JOHNSONVILLE')
('PRIMARY SCHOOL', 'JUMBUNNA')
('PRIMARY SCHOOL', 'JUNG')
('PRIMARY SCHOOL', 'KADNOOK')
('PRIMARY SCHOOL', 'KALIMNA WEST')
('PRIMARY SCHOOL', 'KALKALLO')
('PRIMARY SCHOOL', 'KALKEE')
('PRIMARY SCHOOL', 'KANGAROO FLAT')
('PRIMARY SCHOOL', 'KANGAROO GROUND')
('PRIMARY SCHOOL', 'KATAMATITE')
('PRIMARY SCHOOL', 'KATAMATITE EAST')
('PRIMARY SCHOOL', 'KATANDRA WEST')
('PRIMARY SCHOOL', 'KATUNGA')
('PRIMARY SCHOOL', 'KAWARREN')
('PRIMARY SCHOOL', 'KEALBA')
('PRIMARY SCHOOL', 'KEILOR')
('PRIMARY SCHOOL', 'KEILOR DOWNS')
('PRIMARY SCHOOL', 'KEILOR EAST')
('PRIMARY SCHOOL', 'KEILOR PARK')
('PRIMARY SCHOOL', 'KENMARE')
('PRIMARY SCHOOL', 'KENNINGTON')
('PRIMARY SCHOOL', 'KENSINGTON')
('PRIMARY SCHOOL', 'KERANG')
('PRIMARY SCHOOL', 'KERGUNYAH')
('PRIMARY SCHOOL', 'KERRIE')
('PRIMARY SCHOOL', 'KEW')
('PRIMARY SCHOOL', 'KEW EAST')
('PRIMARY SCHOOL', 'KEWELL')
('PRIMARY SCHOOL', 'KEYSBOROUGH')
('PRIMARY SCHOOL', 'KIALLA')
('PRIMARY SCHOOL', 'KIALLA WEST')
('PRIMARY SCHOOL', 'KILMANY')
('PRIMARY SCHOOL', 'KILMORE')
('PRIMARY SCHOOL', 'KILSYTH')
('PRIMARY SCHOOL', 'KILSYTH SOUTH')
('PRIMARY SCHOOL', 'KINGLAKE')
('PRIMARY SCHOOL', 'KINGLAKE CENTRAL')
('PRIMARY SCHOOL', 'KINGS PARK')
('PRIMARY SCHOOL', 'KINGSBURY')
('PRIMARY SCHOOL', 'KINGSTON')
('PRIMARY SCHOOL', 'KIRKSTALL')
('PRIMARY SCHOOL', 'KNEBSWORTH')
('PRIMARY SCHOOL', 'KNOWSLEY')
('PRIMARY SCHOOL', 'KNOXFIELD')
('PRIMARY SCHOOL', 'KOETONG')
('PRIMARY SCHOOL', 'KOLORA')
('PRIMARY SCHOOL', 'KONGWAK')
('PRIMARY SCHOOL', 'KOO WEE RUP')
('PRIMARY SCHOOL', 'KOONDROOK')
('PRIMARY SCHOOL', 'KOONWARRA')
('PRIMARY SCHOOL', 'KOORLONG')
('PRIMARY SCHOOL', 'KOROIT')
('PRIMARY SCHOOL', 'KORONG VALE')
('PRIMARY SCHOOL', 'KORUMBURRA')
('PRIMARY SCHOOL', 'KORWEINGUBOORA')
('PRIMARY SCHOOL', 'KOTUPNA')
('PRIMARY SCHOOL', 'KROWERA')
('PRIMARY SCHOOL', 'KURUNJANG')
('PRIMARY SCHOOL', 'KYABRAM')
('PRIMARY SCHOOL', 'KYNETON')
('PRIMARY SCHOOL', 'KYVALLEY')
('PRIMARY SCHOOL', 'LAANECOORIE')
('PRIMARY SCHOOL', 'LAANG')
('PRIMARY SCHOOL', 'LABERTOUCHE')
('PRIMARY SCHOOL', 'LAHARUM')
('PRIMARY SCHOOL', 'LAKE BOGA')
('PRIMARY SCHOOL', 'LAKE BOLAC')
('PRIMARY SCHOOL', 'LAKE CHARM')
('PRIMARY SCHOOL', 'LAKE WENDOUREE')
('PRIMARY SCHOOL', 'LAKES ENTRANCE')
('PRIMARY SCHOOL', 'LAL LAL')
('PRIMARY SCHOOL', 'LALBERT')
('PRIMARY SCHOOL', 'LALOR')
('PRIMARY SCHOOL', 'LANCASTER')
('PRIMARY SCHOOL', 'LANCEFIELD')
('PRIMARY SCHOOL', 'LANDSBOROUGH')
('PRIMARY SCHOOL', 'LANDSBOROUGH WEST')
('PRIMARY SCHOOL', 'LANG LANG')
('PRIMARY SCHOOL', 'LANGLEY')
('PRIMARY SCHOOL', 'LANGSBOROUGH')
('PRIMARY SCHOOL', 'LANGWARRIN')
('PRIMARY SCHOOL', 'LARA')
('PRIMARY SCHOOL', 'LARDNER')
('PRIMARY SCHOOL', 'LARPENT')
('PRIMARY SCHOOL', 'LAUNCHING PLACE')
('PRIMARY SCHOOL', 'LAVERTON')
('PRIMARY SCHOOL', 'LEARMONTH')
('PRIMARY SCHOOL', 'LEICHARDT')
('PRIMARY SCHOOL', 'LEITCHVILLE')
('PRIMARY SCHOOL', 'LEMNOS')
('PRIMARY SCHOOL', 'LENEVA')
('PRIMARY SCHOOL', 'LEONGATHA')
('PRIMARY SCHOOL', 'LEONGATHA SOUTH')
('PRIMARY SCHOOL', 'LEOPOLD')
('PRIMARY SCHOOL', 'LETHBRIDGE')
('PRIMARY SCHOOL', 'LEXTON')
('PRIMARY SCHOOL', 'LICOLA')
('PRIMARY SCHOOL', 'LILYDALE')
('PRIMARY SCHOOL', 'LINDENOW')
('PRIMARY SCHOOL', 'LINDENOW SOUTH')
('PRIMARY SCHOOL', 'LINTON')
('PRIMARY SCHOOL', 'LISMORE')
('PRIMARY SCHOOL', 'LITTLE RIVER')
('PRIMARY SCHOOL', 'LOCH')
('PRIMARY SCHOOL', 'LOCH SPORT')
('PRIMARY SCHOOL', 'LOCKINGTON')
('PRIMARY SCHOOL', 'LOCKWOOD')
('PRIMARY SCHOOL', 'LOCKWOOD SOUTH')
('PRIMARY SCHOOL', 'LONDRIGAN')
('PRIMARY SCHOOL', 'LONG GULLY')
('PRIMARY SCHOOL', 'LONGFORD')
('PRIMARY SCHOOL', 'LONGLEA')
('PRIMARY SCHOOL', 'LONGWARRY')
('PRIMARY SCHOOL', 'LONGWARRY NORTH')
('PRIMARY SCHOOL', 'LONGWOOD')
('PRIMARY SCHOOL', 'LORQUON')
('PRIMARY SCHOOL', 'LOVELY BANKS')
('PRIMARY SCHOOL', 'LOWER PLENTY')
('PRIMARY SCHOOL', 'LUBECK')
('PRIMARY SCHOOL', 'LUCAS')
('PRIMARY SCHOOL', 'LURG')
('PRIMARY SCHOOL', 'LYNBROOK')
('PRIMARY SCHOOL', 'LYNDHURST')
('PRIMARY SCHOOL', 'LYONS')
('PRIMARY SCHOOL', 'LYSTERFIELD')
('PRIMARY SCHOOL', 'MACARTHUR')
('PRIMARY SCHOOL', 'MACCLESFIELD')
('PRIMARY SCHOOL', 'MACEDON')
('PRIMARY SCHOOL', 'MACLEOD')
('PRIMARY SCHOOL', 'MACORNA')
('PRIMARY SCHOOL', 'MAFEKING')
('PRIMARY SCHOOL', 'MAFFRA')
('PRIMARY SCHOOL', 'MAGPIE')
('PRIMARY SCHOOL', 'MAIDEN GULLY')
('PRIMARY SCHOOL', 'MAIDSTONE')
('PRIMARY SCHOOL', 'MAILORS FLAT')
('PRIMARY SCHOOL', 'MAJORCA')
('PRIMARY SCHOOL', 'MALDON')
('PRIMARY SCHOOL', 'MALLACOOTA')
('PRIMARY SCHOOL', 'MALMSBURY')
('PRIMARY SCHOOL', 'MALVERN')
('PRIMARY SCHOOL', 'MALVERN EAST')
('PRIMARY SCHOOL', 'MANDURANG')
('PRIMARY SCHOOL', 'MANDURANG SOUTH')
('PRIMARY SCHOOL', 'MANIFOLD HEIGHTS')
('PRIMARY SCHOOL', 'MANOR LAKES')
('PRIMARY SCHOOL', 'MANSFIELD')
('PRIMARY SCHOOL', 'MARCUS HILL')
('PRIMARY SCHOOL', 'MARDAN')
('PRIMARY SCHOOL', 'MARIBYRNONG')
('PRIMARY SCHOOL', 'MARKWOOD')
('PRIMARY SCHOOL', 'MARLO')
('PRIMARY SCHOOL', 'MARNOO')
('PRIMARY SCHOOL', 'MARONG')
('PRIMARY SCHOOL', 'MAROONA')
('PRIMARY SCHOOL', 'MARYBOROUGH')
('PRIMARY SCHOOL', 'MARYSVILLE')
('PRIMARY SCHOOL', 'MAUDE')
('PRIMARY SCHOOL', 'MEAD')
('PRIMARY SCHOOL', 'MEADOW HEIGHTS')
('PRIMARY SCHOOL', 'MEENIYAN')
('PRIMARY SCHOOL', 'MEERLIEU')
('PRIMARY SCHOOL', 'MELTON')
('PRIMARY SCHOOL', 'MELTON SOUTH')
('PRIMARY SCHOOL', 'MELTON WEST')
('PRIMARY SCHOOL', 'MELVILLE FOREST')
('PRIMARY SCHOOL', 'MENTONE')
('PRIMARY SCHOOL', 'MENZIES CREEK')
('PRIMARY SCHOOL', 'MEPUNGA EAST')
('PRIMARY SCHOOL', 'MERBEIN')
('PRIMARY SCHOOL', 'MERBEIN SOUTH')
('PRIMARY SCHOOL', 'MEREDITH')
('PRIMARY SCHOOL', 'MERINGUR')
('PRIMARY SCHOOL', 'MERINO')
('PRIMARY SCHOOL', 'MERNDA')
('PRIMARY SCHOOL', 'MERRIGUM')
('PRIMARY SCHOOL', 'MERRIJIG')
('PRIMARY SCHOOL', 'MERTON')
('PRIMARY SCHOOL', 'METCALFE')
('PRIMARY SCHOOL', 'METUNG')
('PRIMARY SCHOOL', 'MICKLEHAM')
('PRIMARY SCHOOL', 'MIDDLE TARWIN')
('PRIMARY SCHOOL', 'MILAWA')
('PRIMARY SCHOOL', 'MILDURA')
('PRIMARY SCHOOL', 'MILL PARK')
('PRIMARY SCHOOL', 'MILLBROOK')
('PRIMARY SCHOOL', 'MILLGROVE')
('PRIMARY SCHOOL', 'MINCHA WEST')
('PRIMARY SCHOOL', 'MINERS REST')
('PRIMARY SCHOOL', 'MINHAMITE')
('PRIMARY SCHOOL', 'MINYIP')
('PRIMARY SCHOOL', 'MIRBOO NORTH')
('PRIMARY SCHOOL', 'MITCHAM')
('PRIMARY SCHOOL', 'MITIAMO')
('PRIMARY SCHOOL', 'MITRE')
('PRIMARY SCHOOL', 'MITTA MITTA')
('PRIMARY SCHOOL', 'MODEWARRE')
('PRIMARY SCHOOL', 'MOE')
('PRIMARY SCHOOL', 'MOLYULLAH')
('PRIMARY SCHOOL', 'MONBULK')
('PRIMARY SCHOOL', 'MONT ALBERT')
('PRIMARY SCHOOL', 'MONT ALBERT NORTH')
('PRIMARY SCHOOL', 'MONTMORENCY')
('PRIMARY SCHOOL', 'MONTROSE')
('PRIMARY SCHOOL', 'MOOLAP')
('PRIMARY SCHOOL', 'MOONAMBEL')
('PRIMARY SCHOOL', 'MOONDARRA')
('PRIMARY SCHOOL', 'MOONEE PONDS')
('PRIMARY SCHOOL', 'MOORABBIN')
('PRIMARY SCHOOL', 'MOOROODUC')
('PRIMARY SCHOOL', 'MOOROOLBARK')
('PRIMARY SCHOOL', 'MOOROOPNA')
('PRIMARY SCHOOL', 'MOOROOPNA NORTH WEST')
('PRIMARY SCHOOL', 'MORDIALLOC')
('PRIMARY SCHOOL', 'MORIAC')
('PRIMARY SCHOOL', 'MORNINGTON')
('PRIMARY SCHOOL', 'MORTLAKE')
('PRIMARY SCHOOL', 'MORWELL')
('PRIMARY SCHOOL', 'MOSSIFACE')
('PRIMARY SCHOOL', 'MOUNT BEAUTY')
('PRIMARY SCHOOL', 'MOUNT BEST')
('PRIMARY SCHOOL', 'MOUNT CLEAR')
('PRIMARY SCHOOL', 'MOUNT DANDENONG')
('PRIMARY SCHOOL', 'MOUNT DUNEED')
('PRIMARY SCHOOL', 'MOUNT EGERTON')
('PRIMARY SCHOOL', 'MOUNT ELIZA')
('PRIMARY SCHOOL', 'MOUNT EVELYN')
('PRIMARY SCHOOL', 'MOUNT HELEN')
('PRIMARY SCHOOL', 'MOUNT LONARCH')
('PRIMARY SCHOOL', 'MOUNT MACEDON')
('PRIMARY SCHOOL', 'MOUNT MARTHA')
('PRIMARY SCHOOL', 'MOUNT MERCER')
('PRIMARY SCHOOL', 'MOUNT MORIAC')
('PRIMARY SCHOOL', 'MOUNT PLEASANT')
('PRIMARY SCHOOL', 'MOUNT TAYLOR')
('PRIMARY SCHOOL', 'MOUNT WALLACE')
('PRIMARY SCHOOL', 'MOUNT WAVERLEY')
('PRIMARY SCHOOL', 'MOYHU')
('PRIMARY SCHOOL', 'MOYSTON')
('PRIMARY SCHOOL', 'MUDGEGONGA')
('PRIMARY SCHOOL', 'MULGRAVE')
('PRIMARY SCHOOL', 'MUMBANNAR')
('PRIMARY SCHOOL', 'MURCHISON')
('PRIMARY SCHOOL', 'MURCHISON EAST')
('PRIMARY SCHOOL', 'MURRABIT')
('PRIMARY SCHOOL', 'MURRAYDALE')
('PRIMARY SCHOOL', 'MURRAYVILLE')
('PRIMARY SCHOOL', 'MURROON')
('PRIMARY SCHOOL', 'MURRUMBEENA')
('PRIMARY SCHOOL', 'MURTOA')
('PRIMARY SCHOOL', 'MUSK')
('PRIMARY SCHOOL', 'MUSK VALE')
('PRIMARY SCHOOL', 'MUSKERRY')
('PRIMARY SCHOOL', 'MYALL')
('PRIMARY SCHOOL', 'MYRNIONG')
('PRIMARY SCHOOL', 'MYRRHEE')
('PRIMARY SCHOOL', 'MYRTLE CREEK')
('PRIMARY SCHOOL', 'MYRTLEBANK')
('PRIMARY SCHOOL', 'MYRTLEFORD')
('PRIMARY SCHOOL', 'MYWEE')
('PRIMARY SCHOOL', 'NAGAMBIE')
('PRIMARY SCHOOL', 'NAMBROK')
('PRIMARY SCHOOL', 'NANDALY')
('PRIMARY SCHOOL', 'NANNEELLA')
('PRIMARY SCHOOL', 'NAPOLEONS')
('PRIMARY SCHOOL', 'NAR NAR GOON')
('PRIMARY SCHOOL', 'NARBETHONG')
('PRIMARY SCHOOL', 'NARINGAL')
('PRIMARY SCHOOL', 'NARRACAN')
('PRIMARY SCHOOL', 'NARRAWONG')
('PRIMARY SCHOOL', 'NARRE WARREN')
('PRIMARY SCHOOL', 'NARRE WARREN EAST')
('PRIMARY SCHOOL', 'NARRE WARREN NORTH')
('PRIMARY SCHOOL', 'NARRE WARREN SOUTH')
('PRIMARY SCHOOL', 'NATHALIA')
('PRIMARY SCHOOL', 'NATIMUK')
('PRIMARY SCHOOL', 'NATTE YALLOCK')
('PRIMARY SCHOOL', 'NAVARRE')
('PRIMARY SCHOOL', 'NAYOOK')
('PRIMARY SCHOOL', 'NEERIM SOUTH')
('PRIMARY SCHOOL', 'NELSON')
('PRIMARY SCHOOL', 'NERRINA')
('PRIMARY SCHOOL', 'NETHERBY')
('PRIMARY SCHOOL', 'NEW GISBORNE')
('PRIMARY SCHOOL', 'NEWBOROUGH')
('PRIMARY SCHOOL', 'NEWBRIDGE')
('PRIMARY SCHOOL', 'NEWCOMB')
('PRIMARY SCHOOL', 'NEWHAM')
('PRIMARY SCHOOL', 'NEWHAVEN')
('PRIMARY SCHOOL', 'NEWINGTON')
('PRIMARY SCHOOL', 'NEWLYN')
('PRIMARY SCHOOL', 'NEWLYN NORTH')
('PRIMARY SCHOOL', 'NEWMERELLA')
('PRIMARY SCHOOL', 'NEWPORT')
('PRIMARY SCHOOL', 'NEWSTEAD')
('PRIMARY SCHOOL', 'NEWTOWN')
('PRIMARY SCHOOL', 'NHILL')
('PRIMARY SCHOOL', 'NICHOLS POINT')
('PRIMARY SCHOOL', 'NICHOLSON')
('PRIMARY SCHOOL', 'NIDDRIE')
('PRIMARY SCHOOL', 'NILMA')
('PRIMARY SCHOOL', 'NIRRANDA')
('PRIMARY SCHOOL', 'NIRRANDA SOUTH')
('PRIMARY SCHOOL', 'NOBLE PARK')
('PRIMARY SCHOOL', 'NOBLE PARK NORTH')
('PRIMARY SCHOOL', 'NOOJEE')
('PRIMARY SCHOOL', 'NOORAT')
('PRIMARY SCHOOL', 'NOORINBEE')
('PRIMARY SCHOOL', 'NORADJUHA')
('PRIMARY SCHOOL', 'NORLANE')
('PRIMARY SCHOOL', 'NORMANVILLE')
('PRIMARY SCHOOL', 'NORTH BENDIGO')
('PRIMARY SCHOOL', 'NORTH BLACKWOOD')
('PRIMARY SCHOOL', 'NORTH MELBOURNE')
('PRIMARY SCHOOL', 'NORTH WONTHAGGI')
('PRIMARY SCHOOL', 'NORTHCOTE')
('PRIMARY SCHOOL', 'NOTTING HILL')
('PRIMARY SCHOOL', 'NOWA NOWA')
('PRIMARY SCHOOL', 'NULLAWARRE')
('PRIMARY SCHOOL', 'NULLAWARRE NORTH')
('PRIMARY SCHOOL', 'NULLAWIL')
('PRIMARY SCHOOL', 'NUMURKAH')
('PRIMARY SCHOOL', 'NUNAWADING')
('PRIMARY SCHOOL', 'NUNGURNER')
('PRIMARY SCHOOL', 'NURRABIEL')
('PRIMARY SCHOOL', 'NYAH')
('PRIMARY SCHOOL', 'NYAH WEST')
('PRIMARY SCHOOL', 'NYORA')
('PRIMARY SCHOOL', 'OAK PARK')
('PRIMARY SCHOOL', 'OAKLEIGH')
('PRIMARY SCHOOL', 'OAKLEIGH EAST')
('PRIMARY SCHOOL', 'OAKLEIGH SOUTH')
('PRIMARY SCHOOL', 'OCEAN GROVE')
('PRIMARY SCHOOL', 'OFFICER')
('PRIMARY SCHOOL', 'OLINDA')
('PRIMARY SCHOOL', 'OMEO')
('PRIMARY SCHOOL', 'ORBOST')
('PRIMARY SCHOOL', 'ORMOND')
('PRIMARY SCHOOL', 'ORRVALE')
('PRIMARY SCHOOL', 'OSBORNES FLAT')
('PRIMARY SCHOOL', 'OUTTRIM')
('PRIMARY SCHOOL', 'OUYEN')
('PRIMARY SCHOOL', 'OXLEY')
('PRIMARY SCHOOL', 'PAKENHAM')
('PRIMARY SCHOOL', 'PANMURE')
('PRIMARY SCHOOL', 'PANTON HILL')
('PRIMARY SCHOOL', 'PARK ORCHARDS')
('PRIMARY SCHOOL', 'PARKDALE')
('PRIMARY SCHOOL', 'PASCOE VALE')
('PRIMARY SCHOOL', 'PASCOE VALE SOUTH')
('PRIMARY SCHOOL', 'PATCHEWOLLOCK')
('PRIMARY SCHOOL', 'PATHO')
('PRIMARY SCHOOL', 'PATTERSON LAKES')
('PRIMARY SCHOOL', 'PAYNESVILLE')
('PRIMARY SCHOOL', 'PEARCEDALE')
('PRIMARY SCHOOL', 'PEARSONDALE')
('PRIMARY SCHOOL', 'PENSHURST')
('PRIMARY SCHOOL', 'PHEASANT CREEK')
('PRIMARY SCHOOL', 'PIANGIL')
('PRIMARY SCHOOL', 'PICOLA')
('PRIMARY SCHOOL', 'PIGEON PONDS')
('PRIMARY SCHOOL', 'PIMPINIO')
('PRIMARY SCHOOL', 'PIPERS CREEK')
('PRIMARY SCHOOL', 'PIRRON YALLOCK')
('PRIMARY SCHOOL', 'PLENTY')
('PRIMARY SCHOOL', 'PLUMPTON')
('PRIMARY SCHOOL', 'POINT COOK')
('PRIMARY SCHOOL', 'POINT LONSDALE')
('PRIMARY SCHOOL', 'POMBORNEIT')
('PRIMARY SCHOOL', 'POMBORNEIT NORTH')
('PRIMARY SCHOOL', 'POMONAL')
('PRIMARY SCHOOL', 'POOLAIJELO')
('PRIMARY SCHOOL', 'POOTILLA')
('PRIMARY SCHOOL', 'POOWONG')
('PRIMARY SCHOOL', 'POOWONG NORTH')
('PRIMARY SCHOOL', 'POREPUNKAH')
('PRIMARY SCHOOL', 'PORT FAIRY')
('PRIMARY SCHOOL', 'PORT MELBOURNE')
('PRIMARY SCHOOL', 'PORTARLINGTON')
('PRIMARY SCHOOL', 'PORTLAND')
('PRIMARY SCHOOL', 'PORTLAND NORTH')
('PRIMARY SCHOOL', 'PORTLAND WEST')
('PRIMARY SCHOOL', 'POWELLTOWN')
('PRIMARY SCHOOL', 'PRAHRAN')
('PRIMARY SCHOOL', 'PRAIRIE')
('PRIMARY SCHOOL', 'PRESTON')
('PRIMARY SCHOOL', 'PRINCES HILL')
('PRIMARY SCHOOL', 'PUCKAPUNYAL')
('PRIMARY SCHOOL', 'PURNIM')
('PRIMARY SCHOOL', 'PYALONG')
('PRIMARY SCHOOL', 'PYRAMID HILL')
('PRIMARY SCHOOL', 'QUAMBATOOK')
('PRIMARY SCHOOL', 'QUANTONG')
('PRIMARY SCHOOL', 'QUARRY HILL')
('PRIMARY SCHOOL', 'QUEENSCLIFF')
('PRIMARY SCHOOL', 'RAGLAN')
('PRIMARY SCHOOL', 'RAINBOW')
('PRIMARY SCHOOL', 'RAVENSWOOD SOUTH')
('PRIMARY SCHOOL', 'RAWSON')
('PRIMARY SCHOOL', 'RAYWOOD')
('PRIMARY SCHOOL', 'RED CLIFFS')
('PRIMARY SCHOOL', 'RED HILL')
('PRIMARY SCHOOL', 'REDAN')
('PRIMARY SCHOOL', 'REDBANK')
('PRIMARY SCHOOL', 'REDESDALE')
('PRIMARY SCHOOL', 'RESERVOIR')
('PRIMARY SCHOOL', 'RICH AVON WEST')
('PRIMARY SCHOOL', 'RICHMOND')
('PRIMARY SCHOOL', 'RIDDELLS CREEK')
('PRIMARY SCHOOL', 'RINGWOOD')
('PRIMARY SCHOOL', 'RINGWOOD EAST')
('PRIMARY SCHOOL', 'RINGWOOD NORTH')
('PRIMARY SCHOOL', 'RIPPLEBROOK')
('PRIMARY SCHOOL', 'RIPPLESIDE')
('PRIMARY SCHOOL', 'ROBINVALE')
('PRIMARY SCHOOL', 'ROCHESTER')
('PRIMARY SCHOOL', 'ROCKBANK')
('PRIMARY SCHOOL', 'ROKEBY')
('PRIMARY SCHOOL', 'ROKEWOOD')
('PRIMARY SCHOOL', 'ROMSEY')
('PRIMARY SCHOOL', 'ROSANNA')
('PRIMARY SCHOOL', 'ROSEBUD')
('PRIMARY SCHOOL', 'ROSEDALE')
('PRIMARY SCHOOL', 'ROSS CREEK')
('PRIMARY SCHOOL', 'ROSSBRIDGE')
('PRIMARY SCHOOL', 'ROWVILLE')
('PRIMARY SCHOOL', 'ROXBURGH PARK')
('PRIMARY SCHOOL', 'RUFFY')
('PRIMARY SCHOOL', 'RUPANYUP')
('PRIMARY SCHOOL', 'RUSHWORTH')
('PRIMARY SCHOOL', 'RUTHERGLEN')
('PRIMARY SCHOOL', 'RYANSTON')
('PRIMARY SCHOOL', 'RYE')
('PRIMARY SCHOOL', 'SAILORS GULLY')
('PRIMARY SCHOOL', 'SALE')
('PRIMARY SCHOOL', 'SAN REMO')
('PRIMARY SCHOOL', 'SANDRINGHAM')
('PRIMARY SCHOOL', 'SANDY CREEK')
('PRIMARY SCHOOL', 'SARSFIELD')
('PRIMARY SCHOOL', 'SASSAFRAS')
('PRIMARY SCHOOL', 'SCORESBY')
('PRIMARY SCHOOL', 'SCOTSBURN')
('PRIMARY SCHOOL', 'SEA LAKE')
('PRIMARY SCHOOL', 'SEABROOK')
('PRIMARY SCHOOL', 'SEAFORD')
('PRIMARY SCHOOL', 'SEAHOLME')
('PRIMARY SCHOOL', 'SEASPRAY')
('PRIMARY SCHOOL', 'SEAVIEW')
('PRIMARY SCHOOL', 'SEBASTIAN')
('PRIMARY SCHOOL', 'SEBASTOPOL')
('PRIMARY SCHOOL', 'SEDGWICK')
('PRIMARY SCHOOL', 'SELBY')
('PRIMARY SCHOOL', 'SEVILLE')
('PRIMARY SCHOOL', 'SHEEP HILLS')
('PRIMARY SCHOOL', 'SHELBOURNE')
('PRIMARY SCHOOL', 'SHELFORD')
('PRIMARY SCHOOL', 'SHEPPARTON')
('PRIMARY SCHOOL', 'SHEPPARTON EAST')
('PRIMARY SCHOOL', 'SHEPPARTON NORTH')
('PRIMARY SCHOOL', 'SHERBROOKE')
('PRIMARY SCHOOL', 'SILVAN')
('PRIMARY SCHOOL', 'SIMPSON')
('PRIMARY SCHOOL', 'SKIPTON')
('PRIMARY SCHOOL', 'SKYE')
('PRIMARY SCHOOL', 'SMEATON')
('PRIMARY SCHOOL', 'SMYTHESDALE')
('PRIMARY SCHOOL', 'SNAKE VALLEY')
('PRIMARY SCHOOL', 'SOLDIERS HILL')
('PRIMARY SCHOOL', 'SOMERS')
('PRIMARY SCHOOL', 'SOMERVILLE')
('PRIMARY SCHOOL', 'SORRENTO')
('PRIMARY SCHOOL', 'SOUTH MELBOURNE')
('PRIMARY SCHOOL', 'SOUTH MORANG')
('PRIMARY SCHOOL', 'SOUTH PURRUMBETE')
('PRIMARY SCHOOL', 'SOUTH YARRA')
('PRIMARY SCHOOL', 'SOUTHBANK')
('PRIMARY SCHOOL', 'SPEED')
('PRIMARY SCHOOL', 'SPOTSWOOD')
('PRIMARY SCHOOL', 'SPRING GULLY')
('PRIMARY SCHOOL', 'SPRINGHURST')
('PRIMARY SCHOOL', 'SPRINGVALE')
('PRIMARY SCHOOL', 'SPRINGVALE SOUTH')
('PRIMARY SCHOOL', 'ST ALBANS')
('PRIMARY SCHOOL', 'ST ANDREWS')
('PRIMARY SCHOOL', 'ST ARNAUD')
('PRIMARY SCHOOL', 'ST ARNAUD EAST')
('PRIMARY SCHOOL', 'ST GERMAINS')
('PRIMARY SCHOOL', 'ST HELENA')
('PRIMARY SCHOOL', 'ST HELENS')
('PRIMARY SCHOOL', 'ST HELENS PLAINS')
('PRIMARY SCHOOL', 'ST JAMES')
('PRIMARY SCHOOL', 'ST KILDA')
('PRIMARY SCHOOL', 'ST KILDA EAST')
('PRIMARY SCHOOL', 'ST LEONARDS')
('PRIMARY SCHOOL', 'STACEYS BRIDGE')
('PRIMARY SCHOOL', 'STANHOPE')
('PRIMARY SCHOOL', 'STANLEY')
('PRIMARY SCHOOL', 'STAUGHTON VALE')
('PRIMARY SCHOOL', 'STAWELL')
('PRIMARY SCHOOL', 'STEELS CREEK')

('SWIMMING POOL', 'LAKE EPPALOCK')
('SWIMMING POOL', 'LORNE')
('SWIMMING POOL', 'MOONEE PONDS')
('SWIMMING POOL', 'NEWBRIDGE')
('SWIMMING POOL', 'NORLANE')
('SWIMMING POOL', 'OCEAN GROVE')
('SWIMMING POOL', 'ROSEBUD')
('SWIMMING POOL', 'ST KILDA')
('SWIMMING POOL', 'WEDDERBURN')
('TENNIS COURT', 'NORTH GEELONG')
('TRAIN STATION', 'ABBOTSFORD')
('TRAIN STATION', 'ALBION')
('TRAIN STATION', 'ALPHINGTON')
('TRAIN STATION', 'ALTONA')
('TRAIN STATION', 'ARMADALE')
('TRAIN STATION', 'ASCOT VALE')
('TRAIN STATION', 'ASHBURTON')
('TRAIN STATION', 'ASPENDALE')
('TRAIN STATION', 'BALACLAVA')
('TRAIN STATION', 'BAXTER')
('TRAIN STATION', 'BAYSWATER')
('TRAIN STATION', 'BEACONSFIELD')
('TRAIN STATION', 'BELGRAVE')
('TRAIN STATION', 'BENTLEIGH')
('TRAIN STATION', 'BERWICK')
('TRAIN STATION', 'BITTERN')
('TRAIN STATION', 'BLACKBURN')
('TRAIN STATION', 'BONBEACH')
('TRAIN STATION', 'BORONIA')
('TRAIN STATION', 'BOX HILL')
('TRAIN STATION', 'BRIGHTON')
('TRAIN STATION', 'BROADMEADOWS')
('TRAIN STATION', 'BRUNSWICK')
('TRAIN STATION', 'BURNLEY')
('TRAIN STATION', 'CAMBERWELL')
('TRAIN STATION', 'CAMPBELLFIELD')
('TRAIN STATION', 'CANTERBURY')
('TRAIN STATION', 'CARNEGIE')
('TRAIN STATION', 'CARRUM')
('TRAIN STATION', 'CAULFIELD EAST')
('TRAIN STATION', 'CHELSEA')
('TRAIN STATION', 'CHELTENHAM')
('TRAIN STATION', 'CLAYTON')
('TRAIN STATION', 'CLAYTON SOUTH')
('TRAIN STATION', 'CLIFTON HILL')
('TRAIN STATION', 'COBURG')
('TRAIN STATION', 'COBURG NORTH')
('TRAIN STATION', 'COOLAROO')
('TRAIN STATION', 'CRAIGIEBURN')
('TRAIN STATION', 'CRANBOURNE')
('TRAIN STATION', 'CRANBOURNE NORTH')
('TRAIN STATION', 'CREMORNE')
('TRAIN STATION', 'CRIB POINT')
('TRAIN STATION', 'CROYDON')
('TRAIN STATION', 'DANDENONG')
('TRAIN STATION', 'DIAMOND CREEK')
('TRAIN STATION', 'DIGGERS REST')
('TRAIN STATION', 'DOCKLANDS')
('TRAIN STATION', 'EAGLEMONT')
('TRAIN STATION', 'EAST MELBOURNE')
('TRAIN STATION', 'EDITHVALE')
('TRAIN STATION', 'ELSTERNWICK')
('TRAIN STATION', 'ELTHAM')
('TRAIN STATION', 'EPPING')
('TRAIN STATION', 'ESSENDON')
('TRAIN STATION', 'FAIRFIELD')
('TRAIN STATION', 'FERNTREE GULLY')
('TRAIN STATION', 'FITZROY NORTH')
('TRAIN STATION', 'FLEMINGTON')
('TRAIN STATION', 'FOOTSCRAY')
('TRAIN STATION', 'FRANKSTON')
('TRAIN STATION', 'GLEN HUNTLY')
('TRAIN STATION', 'GLEN IRIS')
('TRAIN STATION', 'GLEN WAVERLEY')
('TRAIN STATION', 'GLENROY')
('TRAIN STATION', 'GREENSBOROUGH')
('TRAIN STATION', 'HADFIELD')
('TRAIN STATION', 'HALLAM')
('TRAIN STATION', 'HAMPTON')
('TRAIN STATION', 'HASTINGS')
('TRAIN STATION', 'HAWTHORN')
('TRAIN STATION', 'HEATHMONT')
('TRAIN STATION', 'HEIDELBERG')
('TRAIN STATION', 'HIGHETT')
('TRAIN STATION', 'HURSTBRIDGE')
('TRAIN STATION', 'IVANHOE')
('TRAIN STATION', 'KENSINGTON')
('TRAIN STATION', 'KOOYONG')
('TRAIN STATION', 'LALOR')
('TRAIN STATION', 'LAVERTON')
('TRAIN STATION', 'LILYDALE')
('TRAIN STATION', 'LYNDHURST')
('TRAIN STATION', 'MACLEOD')
('TRAIN STATION', 'MALVERN')
('TRAIN STATION', 'MALVERN EAST')
('TRAIN STATION', 'MCKINNON')
('TRAIN STATION', 'MELBOURNE')
('TRAIN STATION', 'MENTONE')
('TRAIN STATION', 'MERNDA')
('TRAIN STATION', 'MITCHAM')
('TRAIN STATION', 'MONT ALBERT')
('TRAIN STATION', 'MONTMORENCY')
('TRAIN STATION', 'MOONEE PONDS')
('TRAIN STATION', 'MOORABBIN')
('TRAIN STATION', 'MOOROOLBARK')
('TRAIN STATION', 'MORDIALLOC')
('TRAIN STATION', 'MOUNT WAVERLEY')
('TRAIN STATION', 'MURRUMBEENA')
('TRAIN STATION', 'NARRE WARREN')
('TRAIN STATION', 'NEWPORT')
('TRAIN STATION', 'NOBLE PARK')
('TRAIN STATION', 'NORTH MELBOURNE')
('TRAIN STATION', 'NORTHCOTE')
('TRAIN STATION', 'NUNAWADING')
('TRAIN STATION', 'OAK PARK')
('TRAIN STATION', 'OAKLEIGH')
('TRAIN STATION', 'OFFICER')
('TRAIN STATION', 'ORMOND')
('TRAIN STATION', 'PAKENHAM')
('TRAIN STATION', 'PARKDALE')
('TRAIN STATION', 'PARKVILLE')
('TRAIN STATION', 'PASCOE VALE')
('TRAIN STATION', 'PRAHRAN')
('TRAIN STATION', 'PRESTON')
('TRAIN STATION', 'RESERVOIR')
('TRAIN STATION', 'RICHMOND')
('TRAIN STATION', 'RINGWOOD')
('TRAIN STATION', 'RINGWOOD EAST')
('TRAIN STATION', 'RIPPONLEA')
('TRAIN STATION', 'ROSANNA')
('TRAIN STATION', 'ROXBURGH PARK')
('TRAIN STATION', 'SANDRINGHAM')
('TRAIN STATION', 'SEAFORD')
('TRAIN STATION', 'SEAHOLME')
('TRAIN STATION', 'SEDDON')
('TRAIN STATION', 'SOMERVILLE')
('TRAIN STATION', 'SOUTH MORANG')
('TRAIN STATION', 'SOUTH YARRA')
('TRAIN STATION', 'SPOTSWOOD')
('TRAIN STATION', 'SPRINGVALE')
('TRAIN STATION', 'ST ALBANS')
('TRAIN STATION', 'SUNBURY')
('TRAIN STATION', 'SUNSHINE')
('TRAIN STATION', 'SURREY HILLS')
('TRAIN STATION', 'TAYLORS LAKES')
('TRAIN STATION', 'TECOMA')
('TRAIN STATION', 'THOMASTOWN')
('TRAIN STATION', 'THORNBURY')
('TRAIN STATION', 'TOORAK')
('TRAIN STATION', 'TYABB')
('TRAIN STATION', 'UPPER FERNTREE GULLY')
('TRAIN STATION', 'UPWEY')
('TRAIN STATION', 'WATSONIA')
('TRAIN STATION', 'WATTLE GLEN')
('TRAIN STATION', 'WERRIBEE')
('TRAIN STATION', 'WEST FOOTSCRAY')
('TRAIN STATION', 'WEST MELBOURNE')
('TRAIN STATION', 'WILLIAMS LANDING')
('TRAIN STATION', 'WILLIAMSTOWN')
('TRAIN STATION', 'WINDSOR')
('TRAIN STATION', 'YARRAVILLE')
('TRAM STATION', 'ABBOTSFORD')
('TRAM STATION', 'AIRPORT WEST')
('TRAM STATION', 'ALBERT PARK')
('TRAM STATION', 'ARMADALE')
('TRAM STATION', 'ASCOT VALE')
('TRAM STATION', 'BALACLAVA')
('TRAM STATION', 'BALWYN')
('TRAM STATION', 'BALWYN NORTH')
('TRAM STATION', 'BOX HILL')
('TRAM STATION', 'BRIGHTON EAST')
('TRAM STATION', 'BRUNSWICK')
('TRAM STATION', 'BRUNSWICK EAST')
('TRAM STATION', 'BRUNSWICK WEST')
('TRAM STATION', 'BUNDOORA')
('TRAM STATION', 'BURNLEY')
('TRAM STATION', 'BURWOOD')
('TRAM STATION', 'BURWOOD EAST')
('TRAM STATION', 'CAMBERWELL')
('TRAM STATION', 'CANTERBURY')
('TRAM STATION', 'CARLTON')
('TRAM STATION', 'CARLTON NORTH')
('TRAM STATION', 'CARNEGIE')
('TRAM STATION', 'CAULFIELD')
('TRAM STATION', 'CAULFIELD EAST')
('TRAM STATION', 'CAULFIELD NORTH')
('TRAM STATION', 'CAULFIELD SOUTH')
('TRAM STATION', 'CLIFTON HILL')
('TRAM STATION', 'COBURG')
('TRAM STATION', 'COBURG NORTH')
('TRAM STATION', 'COLLINGWOOD')
('TRAM STATION', 'CREMORNE')
('TRAM STATION', 'DEEPDENE')
('TRAM STATION', 'DOCKLANDS')
('TRAM STATION', 'EAST MELBOURNE')
('TRAM STATION', 'ELSTERNWICK')
('TRAM STATION', 'ELWOOD')
('TRAM STATION', 'ESSENDON')
('TRAM STATION', 'ESSENDON NORTH')
('TRAM STATION', 'FITZROY')
('TRAM STATION', 'FITZROY NORTH')
('TRAM STATION', 'FLEMINGTON')
('TRAM STATION', 'FOOTSCRAY')
('TRAM STATION', 'FOREST HILL')
('TRAM STATION', 'GLEN HUNTLY')
('TRAM STATION', 'GLEN IRIS')
('TRAM STATION', 'HAWTHORN')
('TRAM STATION', 'HAWTHORN EAST')
('TRAM STATION', 'KENSINGTON')
('TRAM STATION', 'KEW')
('TRAM STATION', 'KEW EAST')
('TRAM STATION', 'KINGSBURY')
('TRAM STATION', 'KOOYONG')
('TRAM STATION', 'MAIDSTONE')
('TRAM STATION', 'MALVERN')
('TRAM STATION', 'MALVERN EAST')
('TRAM STATION', 'MARIBYRNONG')
('TRAM STATION', 'MELBOURNE')
('TRAM STATION', 'MIDDLE PARK')
('TRAM STATION', 'MONT ALBERT')
('TRAM STATION', 'MOONEE PONDS')
('TRAM STATION', 'NIDDRIE')
('TRAM STATION', 'NORTH MELBOURNE')
('TRAM STATION', 'NORTHCOTE')
('TRAM STATION', 'PARKVILLE')
('TRAM STATION', 'PASCOE VALE SOUTH')
('TRAM STATION', 'PORT MELBOURNE')
('TRAM STATION', 'PRAHRAN')
('TRAM STATION', 'PRESTON')
('TRAM STATION', 'PRINCES HILL')
('TRAM STATION', 'RESERVOIR')
('TRAM STATION', 'RICHMOND')
('TRAM STATION', 'RIPPONLEA')
('TRAM STATION', 'SOUTH MELBOURNE')
('TRAM STATION', 'SOUTH WHARF')
('TRAM STATION', 'SOUTH YARRA')
('TRAM STATION', 'SOUTHBANK')
('TRAM STATION', 'ST KILDA')
('TRAM STATION', 'ST KILDA EAST')
('TRAM STATION', 'ST KILDA WEST')
('TRAM STATION', 'SURREY HILLS')
('TRAM STATION', 'THORNBURY')
('TRAM STATION', 'TOORAK')
('TRAM STATION', 'TRAVANCORE')
('TRAM STATION', 'VERMONT SOUTH')
('TRAM STATION', 'WEST MELBOURNE')
('TRAM STATION', 'WINDSOR')
('UNIVERSITY', 'BALLARAT CENTRAL')
('UNIVERSITY', 'BUNDOORA')
('UNIVERSITY', 'CARLTON')
('UNIVERSITY', 'CAULFIELD EAST')
('UNIVERSITY', 'FOOTSCRAY')
('UNIVERSITY', 'HOTHAM HEIGHTS')
('UNIVERSITY', 'NEWPORT')
('UNIVERSITY', 'PARKVILLE')
('UNIVERSITY', 'WAURN PONDS')
('UNIVERSITY', 'WERRIBEE')
('VINEYARD', 'ARARAT')
('VINEYARD', 'DRUMBORG')
('VINEYARD', 'GLADYSDALE')
('VINEYARD', 'GRAYTOWN')
('VINEYARD', 'LAMPLOUGH')
('VINEYARD', 'LAURISTON')
('VINEYARD', 'MIDDLE TARWIN')
('VINEYARD', 'MOONAMBEL')
('VINEYARD', 'PICOLA')
('VINEYARD', 'POMONAL')
('VINEYARD', 'RUTHERGLEN')
('VINEYARD', 'VINIFERA')
('VINEYARD', 'WESBURN')
('WINERY', 'ARARAT')
('WINERY', 'BAYINDEEN')
('WINERY', 'BAYNTON')
('WINERY', 'BEVERFORD')
('WINERY', 'ECHUCA')
('WINERY', 'EUROBIN')
('WINERY', 'GOBUR')
('WINERY', 'GREAT WESTERN')
('WINERY', 'IRYMPLE')
('WINERY', 'MANSFIELD')
('WINERY', 'MERBEIN')
('WINERY', 'MILDURA')
('WINERY', 'MOONAMBEL')
('WINERY', 'MOORMBOOL WEST')
('WINERY', 'MYRNIONG')
('WINERY', 'NORONG')
('WINERY', 'PERCYDALE')
('WINERY', 'POMONAL')
('WINERY', 'RED CLIFFS')
('WINERY', 'REDBANK')
('WINERY', 'REDESDALE')
('WINERY', 'ROBINVALE')
('WINERY', 'RUTHERGLEN')
('WINERY', 'SMYTHESDALE')
('WINERY', 'STAUGHTON VALE')
('WINERY', 'TAMINICK')
('WINERY', 'WAHGUNYAH')
('WINERY', 'WONGA PARK')

## Further Feature Engineering for GNR

In [75]:
# read in the cleaned GNR dataset
GNR = pd.read_csv('../data/curated/GNR_cleaned.csv', low_memory = False)
GNR = GNR[['PLACE_NAME','suburb', 'FEATURE', 'LONGITUDE', 'LATITUDE', 'geometry']]
GNR

,PLACE_NAME,suburb,FEATURE,LONGITUDE,LATITUDE,geometry
0,MOUNT CLEAR SECONDARY COLLEGE,MOUNT CLEAR,SECONDARY SCHOOL,143.876600,-37.607000,POINT (2400824.055420277 2431949.3066944666)
1,VIEWBANK COLLEGE,VIEWBANK,SECONDARY SCHOOL,145.086500,-37.741000,POINT (2507631.5373240355 2417744.9461323526)
2,Yarram Secondary College - Devon North Campus,DEVON NORTH,SECONDARY SCHOOL,146.647800,-38.519000,POINT (2643730.207553347 2330161.818601803)
3,Bass Coast College - San Remo Campus,SAN REMO,SECONDARY SCHOOL,145.390500,-38.532000,POINT (2534061.1052171467 2329809.2720654747)
4,SANDRINGHAM SECONDARY COLLEGE BEAUMARIS CAMPUS,BEAUMARIS,SECONDARY SCHOOL,145.031200,-37.978000,POINT (2502746.435917485 2391445.676364539)
...,...,...,...,...,...,...
32247,Bambara Ct/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.820117,-37.794654,POINT (2484157.9069770477 2411802.3111409936)
32248,Booral Dr/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.817452,-37.794911,POINT (2483923.243524911 2411773.3364986014)
32249,Fairbairn Rd/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.817129,-37.794707,POINT (2483894.7600113824 2411795.926428672)
32250,Dalpura Dr/Wright St (Sunshine West),SUNSHINE WEST,BUS,144.811894,-37.794700,POINT (2483433.6928691547 2411795.8072749656)
32251,Moonee Ponds PS/Wilson St (Moonee Ponds),MOONEE PONDS,BUS,144.933267,-37.763414,POINT (2494120.7824581033 2415282.4073143965)

In [76]:
# rename the feature name into summarised name(factors)
GNR['FEATURE'] = GNR['FEATURE'].replace('BUS','Transportation')
GNR['FEATURE'] = GNR['FEATURE'].replace('TRAM STATION','Transportation')
GNR['FEATURE'] = GNR['FEATURE'].replace('TRAIN STATION','Transportation')
GNR['FEATURE'] = GNR['FEATURE'].replace('SECONDARY SCHOOL','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('PRIMARY AND SECONDARY SCHOOL','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('PRIMARY SCHOOL','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('KINDERGARTEN','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('SPECIAL SCHOOL','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('EDUCATION COMPLEX','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('LIBRARY','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('UNIVERSITY','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('FURTHER EDUCATION','Education')
GNR['FEATURE'] = GNR['FEATURE'].replace('CHILD CARE','Medication')
GNR['FEATURE'] = GNR['FEATURE'].replace('GENERAL HOSPITAL','Medication')
GNR['FEATURE'] = GNR['FEATURE'].replace('COMMUNITY HEALTH CENTRE','Medication')
GNR['FEATURE'] = GNR['FEATURE'].replace('SPECIALISED HOSPITAL','Medication')
GNR['FEATURE'] = GNR['FEATURE'].replace('AGED CARE','Medication')
GNR['FEATURE'] = GNR['FEATURE'].replace('POLICE STATION','Secrity')
GNR['FEATURE'] = GNR['FEATURE'].replace('SPORTS COMPLEX','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('PARK','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('PLAYGROUND','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('TENNIS COURT','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('BAY','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('SWIMMING POOL','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('PLANTATION','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('BOTANIC GARDENS','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('SURFING SPOT','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('COAST','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('GOLF COURSE','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('CEMETERY','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('BEACH','Environment')
GNR['FEATURE'] = GNR['FEATURE'].replace('SHOPPING CENTRE','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('POST OFFICE','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('BAR','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('PIER','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('HARBOUR','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('MARKET','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('BANK','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('WINERY','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('VINEYARD','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('ART GALLERY','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('HELIPORT','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('AIRPORT','Commercial')
GNR['FEATURE'] = GNR['FEATURE'].replace('FARM','Industrial')
GNR['FEATURE'] = GNR['FEATURE'].replace('IRON ORE PROCESSOR','Industrial')
GNR['FEATURE'] = GNR['FEATURE'].replace('MILL/TIMBER OPERATIONS','Industrial')

In [77]:
# check the new names or factors
GNR['FEATURE'].unique()

array(['Education', 'Commercial', 'Environment', 'Medication', 'Secrity',
       'Industrial', 'PRISON', 'Transportation'], dtype=object)

In [78]:
# calculate the count of new feature again 
freq = GNR[['FEATURE','suburb']].copy()
freq['count'] = 0
count = freq.groupby(['FEATURE','suburb']).agg('count')
count

                               count
FEATURE        suburb
Commercial     ABBOTSFORD          2
               AIRPORT WEST        1
               ALBERT PARK         2
               ALBERTON            1
               ALEXANDRA           1
...                              ...
Transportation YAN YEAN           12
               YARRA GLEN          4
               YARRA JUNCTION     16
               YARRAMBAT          21
               YARRAVILLE         85

[4277 rows x 1 columns]

In [79]:
# creating a new count table 
feature_lis = list(GNR['FEATURE'].unique())
suburb_lis = list(GNR['suburb'].unique())
count_table = pd.DataFrame(columns=feature_lis, index=suburb_lis)
count_table

,Education,Commercial,Environment,Medication,Secrity,Industrial,PRISON,Transportation
MOUNT CLEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VIEWBANK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEVON NORTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAN REMO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEAUMARIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
TARRAWARRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLIND BIGHT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JUNCTION VILLAGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GOWANBRAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WARRANDYTE SOUTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
def get_names(df):
    '''Function used to collect the feature names and suburb names
    Args:
        df: dataframe from count
    Return:
        feature list and suburb list together
    '''  
    multi_index = df.index.to_list()
    feature_lis =[]
    suburb_lis = []
    for idx in multi_index:
        feature_lis.append(idx[0])
        suburb_lis.append(idx[1])
        print(idx)
    list(set(feature_lis))
    list(set(suburb_lis))
    return feature_lis, suburb_lis

def fill_count(init_df,count_df):
    '''Function used to fill in the count_table
    Args:
        init_df: datafram from count
        count_df: datafram from count table
    Return:
        count_df after change
    '''  
    multi_index = init_df.index.to_list()
    for idx in multi_index:
        val = init_df.loc[idx[0],idx[1]]['count']
        count_df.at[idx[1],idx[0]] = val
    return count_df

In [81]:
# fill in the number of count into the table
count_table = fill_count(count,count_table)
count_table = count_table.fillna(0)
count_table

,Education,Commercial,Environment,Medication,Secrity,Industrial,PRISON,Transportation
MOUNT CLEAR,4,0,2,0,0,0,0,0
VIEWBANK,5,0,6,1,0,0,0,26
DEVON NORTH,2,0,1,0,0,0,0,0
SAN REMO,3,0,6,0,0,0,0,0
BEAUMARIS,12,1,5,1,1,0,0,59
...,...,...,...,...,...,...,...,...
TARRAWARRA,0,0,0,0,0,0,0,2
BLIND BIGHT,0,0,0,0,0,0,0,11
JUNCTION VILLAGE,0,0,0,0,0,0,0,3
GOWANBRAE,0,0,0,0,0,0,0,16
WARRANDYTE SOUTH,0,0,0,0,0,0,0,4

In [84]:
# reset the index for the count table
count_table = count_table.reset_index()

In [89]:
# rename the columns for count table
count_table.columns =['suburb', 'Education', 'Commercial', 'Environment', 'Medication',
       'Secrity', 'Industrial', 'Prison', 'Transportation']

In [90]:
# save the new count table as csv
count_table.to_csv('../data/curated/count_dimension.csv',index=False)