In [31]:
import os
import pandas as pd
from IPython.display import display
import numpy as np
import googlemaps
from datetime import datetime

In [9]:
GNR = pd.read_csv("../data/curated/GNR.csv",low_memory=False)

In [ ]:
def reverse_coord(gmaps,coordinates):
    # Look up an address with reverse geocoding
    reverse_geocode_result = gmaps.reverse_geocode((coordinates))
    return reverse_geocode_result[0]["formatted_address"]
    

def generate_suburb_postcode(df):
    gmaps = googlemaps.Client(key='AIzaSyAwGu0E8STeETxFXmrL0UjyeF7mFRAn_5k')
    df["coordinates"] = df["LATITUDE"].astype(str) + ", " + df["LONGITUDE"].astype(str)
    df["Reverse_Coord"]= df["coordinates"].apply(gmaps,reverse_coord)
    return df

In [ ]:
clean_GNR = generate_suburb_postcode(clean_GNR)

In [35]:
external = pd.read_csv("../data/curated/external.csv",low_memory=False)

In [36]:
external

,postcode,locality,state,LGA,SA3_NAME_2016,SA2_Code,SA2_Name,2001_population,2002_population,2003_population,...,residential,primary_production,community_infrastructure,mix_use,industrial,scenic_spot,commerical,utilities,cemetery_number,Sport&Recreational_facilities_number
0,3000,MELBOURNE,VIC,Melbourne,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,5.0
1,3001,MELBOURNE,VIC,Moonee Valley,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,1.0
2,3002,EAST MELBOURNE,VIC,Yarra,Melbourne City,206041119.0,East Melbourne,3731.0,3859.0,4243.0,...,632.0,0.0,0.0,35.0,0.0,0.0,153.0,33.0,NaN,NaN
3,3003,WEST MELBOURNE,VIC,Melbourne,Melbourne City,206041127.0,West Melbourne,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,81.0,0.0,19.0,74.0,NaN,NaN
4,3004,MELBOURNE,VIC,Yarra,Melbourne City,206041126.0,Southbank,NaN,NaN,NaN,...,2.0,0.0,0.0,186.0,0.0,0.0,3.0,40.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,8111,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN
3530,8120,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN
3531,8205,MELBOURNE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN
3532,8785,DANDENONG,VIC,Monash,Dandenong,212041311.0,Dandenong,NaN,NaN,NaN,...,4846.0,76.0,76.0,27.0,2286.0,24.0,428.0,221.0,NaN,NaN
3533,9999,NORTH POLE,VIC,Yarra,Melbourne City,206041122.0,Melbourne,NaN,NaN,NaN,...,0.0,0.0,0.0,1425.0,0.0,0.0,0.0,0.0,NaN,NaN

In [19]:
gmaps = googlemaps.Client(key='AIzaSyAwGu0E8STeETxFXmrL0UjyeF7mFRAn_5k')

# Look up an address with reverse geocoding
reverse_geocode_result = gmaps.reverse_geocode((-37.798, 144.9613))

In [20]:
reverse_geocode_result[0]["formatted_address"]

'East Wing - Old Quad The University of, Parkville VIC 3010, Australia'

In [ ]:
gmaps.reverse_geocode((-37.8141725, 144.9740049))[0]["formatted_address"]

In [15]:
display(GNR.head(100))

,PLACE_ID,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
0,338,BALLARAT FIRE STATION,FIRE STATION,143.8686,-37.563,POINT (2400054.3815129786 2436830.206961736)
1,1257,BUNINYONG FIRE STATION,FIRE STATION,143.8851,-37.650,POINT (2401628.205143962 2427218.507639693)
2,3728,INVERMAY FIRE STATION,FIRE STATION,143.8724,-37.521,POINT (2400342.014512663 2441487.1685158536)
3,5179,MINERS REST FIRE STATION,FIRE STATION,143.7989,-37.479,POINT (2393779.920422106 2446072.6229931023)
4,8520,WENDOUREE FIRE STATION,FIRE STATION,143.8197,-37.535,POINT (2395699.25464796 2439932.6145284288)
...,...,...,...,...,...,...
95,3803,JANCOURT FIRE STATION,FIRE STATION,143.1356,-38.383,POINT (2337092.004585315 2344897.5992088923)
96,4460,LARPENT FIRE STATION,FIRE STATION,143.4944,-38.343,POINT (2368374.5461518834 2349879.404911465)
97,4482,LAVERS HILL FIRE STATION,FIRE STATION,143.3905,-38.678,POINT (2359918.117991186 2312466.1511624334)
98,4482,OTWAY FIRE STATION,FIRE STATION,143.3905,-38.678,POINT (2359918.117991186 2312466.1511624334)
99,4602,LISMORE FIRE STATION,FIRE STATION,143.3379,-37.953,POINT (2353930.5870489557 2392932.5282143224)

In [16]:
GNR["FEATURE"].unique()

array(['FIRE STATION', 'SECONDARY SCHOOL', 'PRIMARY AND SECONDARY SCHOOL',
       'PRIMARY SCHOOL', 'SHOPPING CENTRE', 'PARK', 'KINDERGARTEN',
       'POST OFFICE', 'SPECIAL SCHOOL', 'CHILD CARE', 'RAILWAY', 'BAR',
       'LOCAL GOVERNMENT AREA', 'SPORTS COMPLEX', 'EDUCATION COMPLEX',
       'CEMETERY', 'LIBRARY', 'UNIVERSITY', 'GENERAL HOSPITAL',
       'POLICE STATION', 'FURTHER EDUCATION', 'PLAYGROUND', 'PLANTATION',
       'WINERY', 'FARM', 'VINEYARD', 'TENNIS COURT', 'BOWLING GREEN',
       'BAY', 'PIER', 'SWIMMING POOL', 'ART GALLERY', 'HARBOUR',
       'COMMUNITY HEALTH CENTRE', 'MATERNAL AND CHILD HEALTH CENTRE',
       'MARKET', 'PRISON', 'BOTANIC GARDENS', 'SPECIALISED HOSPITAL',
       'BANK', 'TERTIARY INSTITUTION', 'AGED CARE', 'SURFING SPOT',
       'AMBULANCE STATION', 'COAST', 'ARBORETUM', 'VELODROME',
       'GOLF COURSE', 'EQUESTRIAN CENTRE', 'LIGHT RAIL STATION',
       'HELIPORT', 'AIRPORT', 'FIRING RANGE', 'IRON ORE PROCESSOR',
       'MILL/TIMBER OPERATIONS', 'FERRY STATION', 'BEACH'], dtype=object)

In [18]:
GNR[GNR["FEATURE"] == 'UNIVERSITY']

,PLACE_ID,PLACE_NAME,FEATURE,LONGITUDE,LATITUDE,geometry
12402,122377,VICTORIA UNIVERSITY - FOOTSCRAY PARK CAMPUS,UNIVERSITY,144.8990,-37.793,POINT (2491111.6333415476 2411958.0506449314)
12403,122387,VICTORIA UNIVERSITY - FOOTSCRAY NICHOLSON CAMPUS,UNIVERSITY,144.8991,-37.804,POINT (2491118.226798252 2410722.776485822)
12404,119049,UNIVERSITY OF BALLARAT -SMB CHILDRENS CENTRE,UNIVERSITY,143.8571,-37.567,POINT (2399047.0812880667 2436474.1220879164)
12405,117856,VICTORIA UNIVERSITY CHILDRENS CENTRE -FOOTSCRA...,UNIVERSITY,144.8976,-37.805,POINT (2490982.6779348888 2410662.69887021)
12406,117857,VICTORIA UNIVERSITY CHILDRENS CENTRE -FOOTSCRA...,UNIVERSITY,144.8994,-37.794,POINT (2491144.3813274084 2411806.033923124)
12407,117858,VICTORIA UNIVERSITY CHILDRENS CENTRE -NEWPORT,UNIVERSITY,144.8764,-37.849,POINT (2489123.114224517 2405712.6481943885)
12408,117859,VICTORIA UNIVERSITY CHILDRENS CENTRE -WERRIBEE...,UNIVERSITY,144.6999,-37.887,POINT (2473606.576880857 2401462.7213097475)
12409,20803,MELBOURNE UNIVERSITY,UNIVERSITY,144.9613,-37.798,POINT (2496599.704307552 2411420.458567459)
12410,28426,UNIVERSITY HIGH SCHOOL,UNIVERSITY,144.9568,-37.797,POINT (2496196.30971597 2411515.7337044207)
12411,21267,MONASH UNIVERSITY,UNIVERSITY,145.0446,-37.877,POINT (2503930.7552352473 2402667.6832818957)
12412,14083,DEAKIN UNIVERSITY,UNIVERSITY,144.3004,-38.198,POINT (2438716.8282463304 2366738.4960863953)
12413,28427,UNIVERSITY LODGE,UNIVERSITY,147.1495,-36.986,POINT (2691326.4217866287 2499305.6520629097)
12414,19130,LA TROBE UNIVERSITY,UNIVERSITY,145.0495,-37.722,POINT (2504371.6634436166 2419839.3183087036)
12415,117177,MELBOURNE UNIVERSITY FAMILY CLUB,UNIVERSITY,144.9659,-37.796,POINT (2497002.9706890984 2411657.0136102494)